[2021-11-08 12:46] Aljullu commented on #5077
Another option is to keep the `woocommerce_sidebar` action but unregister the `woocommerce_get_sidebar` function [associated with it](https://github.com/woocommerce/woocommerce/blob/3611d4643791bad87a0d3e6e73e031bb80447417/plugins/woocommerce/includes/wc-template-hooks.php#L54). This is what WC does for the WP core themes without sidebar:

https://github.com/woocommerce/woocommerce/blob/3611d46437

[2021-11-08 13:13] frontdevde commented on #5077
Agree with your assessment here. Let's remove it for block templates rendered by the Legacy Template block. 👍

[2021-11-08 13:24] mikejolley commented on #5090
Hi there,

It would be great to know more about what you're wanting to customise and where since there are a number of fields in the Blocks Plugin so it's difficult to know which is being referred to here. More information about the use-case would also be welcome.

Since this issue lacks enough detail to action so I'm closing it, but feel free to reopen a new issue with more details and/or screens

[2021-11-08 13:24] #5090 closed, assigned to nobody

[2021-11-08 14:07] #5091 closed, assigned to nielslange

[2021-11-08 14:55] tjcafferkey commented on #5075
This work is in review here (https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5071) do you think we should close this issue?

[2021-11-08 15:25] gigitux commented on #1689
After my investigation, you can find in the following table which block has the edit button and my proposal for the new label.

| Block Name                   | Has Edit Icon | New Label                  |
| ---------------------------- | ------------- | -------------------------- |
| All reviews                  | 🚫            |                            |
| Featured Category            | ❎

[2021-11-08 16:33] #5077 closed, assigned to tjcafferkey

[2021-11-08 16:47] #5092 closed, assigned to Aljullu

[2021-11-08 16:59] Aljullu commented on #1689
Sounds good to me. Much better than what we have now! :slightly_smiling_face:

[2021-11-09 06:33] frontdevde commented on #5075
Yes, let's close this in favor of https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5071.

[2021-11-09 06:33] #5075 closed, assigned to nobody

[2021-11-09 09:02] senadir opened #5101 "Third party blocks can break cart/checkout"
I noticed this when working on Mailpoet/AutomateWoo integration. Any errors or exception thrown in a third party block would break the Cart block, which is dangerous for us to allow.

### How to test
- Insert a third party block in Checkout/Cart like MailPoet, AutomateWoo.
- Load the block in incognito, it should load fine.
- Throw an error in your block.
- the whole cart/checkout should be down.

[2021-11-09 09:49] senadir opened #5102 "Disable Cart/Checkout forcing programmatically"
All of Cart/Checkout inner blocks are forced by default, this will force render them on frontend and editor. They cannot be deleted or replaced or nested.

There might be some unique use cases in which a block should be deleted or nested inside another block, for that, we should allow forcing to be disabled programmatically.

One possible way to do it, while still preserving locking for default ca

[2021-11-09 10:08] senadir opened #5103 "Unify/merge attributes in Cart/Checkout inner blocks."
Several of Cart/Checkout inner blocks define attributes both in `block.json` and an `attributes.js` file, this causes two source of truths and two places to update each time.

We should either:
- Remove `attributes.js` file in favor of block.json. For blocks using `formStepAttributes`, I think we can remove that abstraction in favor of a single source of truth, this:
[code]

Can be replaced with t

[2021-11-09 11:00] DarianDev opened #5106 "Translation Errors since 6.2.0"
## Describe the bug
When you configure the checkout page it is displayed correctly in the editor in german. If you now leave the editor, the page is only displayed in English.

## To reproduce
Update to 6.2.0

## Expected behavior
Correct Translation in Editor and on the normal page

## Screenshots
In Editor:

![1](https://user-images.githubusercontent.com/17782319/140912015-42c2d2d6-5573-4a98-96c

[2021-11-09 11:51] nielslange commented on #5106
Hello @DarianDev 👋 Thanks for reporting this problem. I noticed that this issue is a duplicate of #5005. I already started working on the other issue and the problem that you're facing seems to be related that some translation files are not lazy loaded on the frontend.

Please keep an eye on #5005 for a fix of this problem. And again, thanks for reporting this! 🙌

[2021-11-09 11:51] #5106 closed, assigned to nobody

[2021-11-09 12:27] nerrad opened #5108 "Remove built-in Stripe integration for Cart and Checkout Blocks"
When we first built the Cart and Checkout blocks, the first payment method integrated was Stripe which we built alongside developing the payment method integration API. To help expediate the validation process of the API, we built the integration directly in this plugin rather than in the Stripe extension.

Later on, the Stripe team added support for the Blocks in the extension itself and at the t

[2021-11-09 12:45] Aljullu opened #5109 "It's not possible to move the Legacy Template Block outside of its Group block parent"
This is probably a bug in Gutenberg and not in our codebase, but still it's affecting WC Blocks so I'm logging it here: it's not possible to move the Legacy Template Block out of the group block where it's contained.

## To reproduce

1. Edit any of the WC block templates.
2. Try dragging the WooCommerce Legacy Template out of the Group block.
3. Notice it can't be moved.

## Expected behavior
I s

[2021-11-09 12:58] #2698 closed

[2021-11-09 13:16] dinhtungdu opened #5110 "Template Editor: Empty template content if open plugin block template using edit link"
## To reproduce
Steps to reproduce the behavior:

1. Install a FSE theme, i.e. TT1 Blocks, or Tove.
2. Make make sure you have [this change applied in your WooCommerce plugin](https://github.com/woocommerce/woocommerce/pull/30997/files).
The block theme needs to declare `add_theme_support( 'woocommerce' );` in the `functions.php` file.
3. Update to the latest Gutenberg `trunk`.
1. Make sure there

[2021-11-09 14:34] nerrad commented on #5102
What problem are we trying to solve here?

From what you've described, it sounds like we have default behaviour currently with the blocks for preventing removal/moving of specific blocks with no way to change that behaviour. Whereas there may be some use-cases where removing or moving blocks is needed.

Some further questions:

- What use-cases are there? Having a specific use-case to think throug

[2021-11-09 15:42] senadir commented on #5102
We have two use cases in mind, both I think are for the hosted platform checkout team:
- The need to wrap a block inside another block, for example, having multiple address block would require you to create a new block that has all the radio buttons to select an address and would also show the core address block on demand if you need to. With our current system, there's no way to do that, you can

[2021-11-09 16:01] gigitux commented on #1916
After the investigation, the HTML of the first screenshot is generated by [WC Core](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/f935e4190c3313b0ec25ba01dd1980af6fdb8932/src/BlockTypes/AbstractProductGrid.php#L510), and the other one is generated by [WC Blocks ](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/f935e4190c3313b0ec25ba01dd1980af6fdb

[2021-11-09 22:04] ajgw opened #5116 "Good but needs some work like constant translation"
## What do you like about the Cart & Checkout blocks?
The layout is excellent – I like it.

## What do you think is missing from the Cart & Checkout blocks?
Well with Blocks plugin 6.2.0 installed it is till very buggy: on checkout page edit I see labels in my own language which is german, but on frontend customers and I see them in native english. Editing the terms and conditions text is a wonder

[2021-11-09 22:57] DarianDev commented on #5116
hey this isse is known. Here: [#5005](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5005)
hope that they fix it fast as possible! @nielslange already posted a suggestion

[2021-11-09 22:58] DarianDev commented on #5116
@nielslange

[2021-11-10 03:43] nielslange opened #5119 "Prevent justified texts due to accessibility reasons"
## Is your feature request related to a problem? Please describe.

Currently, the terms and conditions text within the checkout block is justified. This makes the text less accessible as described on https://equalizedigital.com/accessibility-checker/justified-text/.

## Screenshot

<img width="531" alt="Screen Shot 2021-11-10 at 10 34 01" src="https://user-images.githubusercontent.com/3323310/1410

[2021-11-10 04:38] nielslange commented on #5116
Hello @ajgw 👋 Thanks for reporting this.

As @DarianDev mentioned, the untranslated sections have been reported in #5005 and #5106, and I've created a fix for that in #5112.

Regarding aligning the terms and conditions text, I took a brief look and noticed that activating the alignment option for that section will lead to various layout problems. Given the current roadmap and priorities, I'm afrai

[2021-11-10 04:38] #5116 closed, assigned to nobody

[2021-11-10 09:15] DarianDev opened #5121 "Missing possibility to hide the order message"
## Describe the bug
Missing possibility to hide the order message.

## To reproduce
Try to remove the order message option, there is no opporunity.

## Expected behavior
The hiding of the order note should be possible as in previous versions.

## Screenshots
![1](https://user-images.githubusercontent.com/17782319/141084555-ade6f71c-c092-4669-8b1a-5d5673b100ee.PNG)
![2](https://user-images.githubus

[2021-11-10 12:01] alexflorisca commented on #5078
We've investigated this and found that the text is editable because it controls the value of the product search placeholder on the front end. If we stop the text from being editable, it prevents merchants from being able to customize the product search block

[2021-11-10 12:01] #5078 closed, assigned to nobody

[2021-11-10 13:53] #1689 closed

[2021-11-10 19:11] nerrad commented on #5121
Hi @DarianDev, thanks for noticing and making us aware of this. It does look like a regression from previous behaviour.

@senadir or @mikejolley I'm assuming this is a block that should maybe be unlocked so that it can be removed? I tried doing so and was unable to.

Given this is a regression over previous behaviour, I'm going to mark as high priority.

[2021-11-10 19:16] nerrad commented on #4989
Given there hasn't been any response in a couple weeks and I was unable to reproduce, I'm going to go ahead and close this issue. If you have any additional details to provide related to my previous comments in the thread, that can still be left. Otherwise, there's nothing currently actionable here.

[2021-11-10 19:16] #4989 closed, assigned to nobody

[2021-11-11 08:46] ankitguptaindia commented on #5039
Hello, @nerrad Thanks for checking this scenario.

This is a _STRANGE_ issue for me as well. I tried this on 3 new setup and this is working fine on all new setup. But when I use my regular testing setup, I am still getting same Fatal error. I am assuming this is happening due to any setting on my current setup.
After playing here I found one more scenario, if I enabled `WooCommerce Stripe Gateway

[2021-11-11 08:50] #5110 closed, assigned to dinhtungdu

[2021-11-11 09:42] Aljullu opened #5126 "npm run package-plugin:dev should copy blocks.ini"
## To reproduce
1. Run `npm run package-plugin:dev` in the WC Blocks directory.
2. Install the resulting zip in an external site without WC Blocks.
3. Notice some of the gated features are not available (at the time of writing this, the Mini Cart block isn't).

## Expected behavior
I would expect all gated features to be available when running `package-plugin:dev`.

## Describe the bug
This happen

[2021-11-11 10:16] nerrad commented on #5039
Since you're unable to reproduce on new sites and we're also unable to reproduce, this suggests that there may be something specific to your environment that may be broken. It may be that there is an incompletely installed plugin (perhaps WooCommerce Blocks).

[2021-11-11 11:35] ankitguptaindia commented on #5039
It makes sense. I am closing this now, will keep eye on this scenario. I will re-open again if I see this issue again. Thank you!

[2021-11-11 11:35] #5039 closed, assigned to nobody

[2021-11-11 12:42] tjcafferkey opened #5127 "Remove feature gate conditions for Store Editing Templates"
Before releasing the project we need to remove the conditionals [here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/Domain/Bootstrap.php#L105-L107) and [here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/Domain/Bootstrap.php#L234-L241).

[2021-11-11 13:30] senadir opened #5130 "Autofill not working in Cart shipping form"
Like https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/4495, Cart form is also broken for autofill. If you autofill a form, your fields errors won't clear
## To reproduce
Steps to reproduce the behavior:

1. Go to Cart block
2. Open shipping calculator.
3. Autofill an address.
4. Except State and the field you selected, other fields won't actually clear errors.

## Expecte

[2021-11-11 13:48] #5127 closed, assigned to tjcafferkey

[2021-11-11 14:58] kurehiri opened #5136 "All Products block"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Only **All Products** block item button string changes when adding a new item to cart.
Item button string is not translated when there are more

[2021-11-12 05:31] peterlama opened #5131 "StoreAPI wc/store/cart returns address with empty state"
## Describe the bug
The country state validation introduced in pr #4844 is seemingly always incorrect, causing the state to be empty. At least in my case, the value of the state address field is the state code, but `wc()->countries->get_states` returns an array of state names with the state codes as keys. Changing it to use `isset` fixed it in my case.

![image](https://user-images.githubuserconte

[2021-11-12 11:27] mikejolley commented on #5131
I think this is being impacted by a different bug with missing billing data that @senadir @opr and @alexflorisca have been investigating. The code in question is this:

[code]

`wc()->countries->get_states( $billing_country )` returns just the subset of states for the given country. If the country is not set (and null) it returns all states as you're seeing.

I can add a workaround to disable vali

[2021-11-12 12:24] mikejolley commented on #5052
Closed by https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5059

[2021-11-12 12:24] #5052 closed, assigned to nobody

[2021-11-12 12:30] mikejolley commented on #4563
These were in the designs and the original idea was to support upstream in core, which hasn't happened.

[2021-11-12 12:57] #5119 closed, assigned to nobody

[2021-11-12 15:36] peterlama commented on #5131
@mikejolley In my case the country is not empty, but the address state value is the code and not the name. As can be see in this screen from xdebug.
![image](https://user-images.githubusercontent.com/5176612/141492902-04ad81f6-d416-4cdb-a193-3717aa4a3e82.png)

[2021-11-13 10:43] emcgal commented on #5070
@alexflorisca thanks for jumping on this. Didn't get any notification, must see why.

Is this closed / fixed.

What I finally discovered was (after rebuilding the website thinking it wasn't a bug because no one else was able to reproduce it, including myself on this particular build so I assumed some code was corrupt), it was to do with the setting in general on woocommerce, I had the default loca

[2021-11-14 22:39] juliaamosova commented on #5136
Hi @kurehiri,

Thank you for reporting the issue. It seems to be related to the WooCommerce Blocks which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2021-11-15 06:06] Robertght opened #5138 "WooCommerce blocks - Order by Menu not working"
This is a replica of this one: https://github.com/Automattic/wp-calypso/issues/57727

---

### Quick summary

When you add a sortable woocommerce block to a page and select order by menu order from the sidebar options, the order does not match the menu order

### Steps to reproduce

1. add any sortable woocommerce block
2. select sort by menu order
3. see that some other order given

### What you

[2021-11-15 09:38] nielslange commented on #5136
Hello @kurehiri,

Thanks for reaching out.

The translation problem is because this particular translation is missing on https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/fr/default/?filters%5Bterm%5D=%25d+in+cart&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_login%5D=&filter=Apply+Filters&sort%5Bby%5D=priority

[2021-11-15 09:56] kurehiri commented on #5136
Hello @nielslange,

Thank you for your answer, I've just added the translation for plural string `%d in cart`. The translation is in Waiting status now :)
I suppose it will be ok after the next release.

Sorry, I have not understood your asking, which case should I try to reproduce?

[2021-11-15 09:59] alexflorisca commented on #5070
@emcgal We were able to reproduce the bug, even if a default location was set, thanks for pointing it out. It was to do with an internal state of a hook not syncing properly with the the user data coming from the server. We've fixed this in #5129, just waiting for it to get merged and it should be in the next release.

[2021-11-15 11:53] #5044 closed, assigned to mikejolley, ralucaStan, senadir

[2021-11-15 12:56] emcgal commented on #5070
@alexflorisca Super! I honestly was think I was going mad because everyone in others groups firstly couldn't produce it and then I actually had someone tell me that is how it should work 😬 and then tell me I should just use Geolocation (which I have reservations to use since GDPR and if cookies are not accepted, causes problems). Plus Geolocation isn't suitable here because the buyer and send to c

[2021-11-15 13:06] alexflorisca commented on #5070
You're not going mad @emcgal , it was a legit bug!

I'm not quite sure what you mean by this sorry. I'd also like to keep the discussion here relevant to the issue so I would kindly ask that you contact [WooCommerce support](https://woocommerce.com/contact-us/) and they'll be able to help you, they're a friendly bunch!

[2021-11-15 13:17] emsiladnav opened #5141 "Checkout page switches language [bug]?"
Once I preview the checkout page in my editor, it displays the page in my default language [dutch] (which I want), however if I preview the page by url, it switches to English? How can I default it to Dutch?

[2021-11-15 13:21] emsiladnav commented on #5141
Expected result:
<img width="1159" alt="Schermafbeelding 2021-11-15 om 14 20 02" src="https://user-images.githubusercontent.com/74651518/141788883-20bb9bcd-489e-4d1d-afb3-4b9b56e45668.png">

Actual result:
<img width="722" alt="Schermafbeelding 2021-11-15 om 14 20 32" src="https://user-images.githubusercontent.com/74651518/141788902-2defa7c3-3344-419e-9709-226fe58cb03a.png">

[2021-11-15 14:12] kurehiri commented on #5136
Cool it has been approved.

Is it planned to add the same behavior as `All Products` block to other products blocks (e.g. `Products by Category`, `Top Rated Products`, etc.) and to the shop page?

[2021-11-15 16:04] mikejolley commented on #4999
I think the main justification for `__experimental_woocommerce_blocks_hidden` at the time was speed (to get an integration in place for subscriptions) and to avoid changing core designs.

If you compare the core design to the blocks design, you'll see core changes the prices via filters and hides the line item metadata, whereas blocks just shows the metadata.

Core:
![Screenshot 2021-11-15 at 15 5

[2021-11-15 20:01] haszari commented on #4999
@mattallan (porter) Can you take a look at this and feedback on behalf of Helix, or hand-over to someone as appropriate? Thanks 🙇

[2021-11-15 21:57] msroky opened #5144 "Does not collect data properly with checkout"
I've tried using various plugins for "Cart Abandonment Recovery" and none of the plugins work while "WooCommerce Blocks Checkout" is on. It doesn't seem to capture a good email field.

I should stop using your checkout page, to be able to use cart abandonment recovery plugins.

Please fix this and solve this problem.

[2021-11-15 23:08] kra2010 opened #5145 "Not working with the Saferpay WooCommerce Gateway Payment Method"
## Describe the bug
Woocommerce blocks error:
There are no payment methods available. This may be an error on our side. Please contact us if you need any help placing your order.

## To reproduce
Steps to reproduce the behavior:

Installed payment provider (plugin woocommerce): https://www.webshopextension.com/de/saferpay-woocommerce
this works fine with the normal woocommerce checkout, but woocom

[2021-11-16 07:54] grogou commented on #5008
@nerrad sorry but we need to open this ticket again.

Previously it was `__experimental_woocommerce_blocks_checkout_update_order_meta` which was renamed with
`woocommerce_blocks_checkout_update_order_meta`.

The problem is that the purchase event is hooked into `woocommerce_checkout_update_order_meta` which does not fire during block based checkout and the event is not logged to facebook dashboard

[2021-11-16 08:21] budzanowski commented on #5008
@grogou Hi!

I gave it a quick look and I believe that nothing has changed really. Yes, the deprecation notice is there bc the filter was graduated to not `__experimental` version, but the code still calls the old action here https://github.com/woocommerce/woocommerce-gutenberg-products-block/commit/3ebee9ae889d393c388a1a3ac1514337a88ec744#diff-af2c90fa556cc086b780c8fad99b68373d87fd6007e6e2ff1b4c6

[2021-11-16 08:51] bruin2021 opened #5148 "Please add 'account creation' and 'sign in' function to this plugin"
Hi, your plugin is wonderful. However, there is no 'account creation' and 'sign in' functions like what the original Woo checkout has.

Can you consider adding that? Thanks!

## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

[2021-11-16 09:09] dinhtungdu commented on #4954
#5147 also fixes the extra space bug in the notice content:

![image](https://user-images.githubusercontent.com/5423135/141955779-33d4aa2e-5ea1-4899-aa86-9cf5ff001864.png)

[2021-11-16 10:15] rufus87 commented on #5008
@budzanowski many thanks for you response.

Actually, here is the code line from `Facebook for Woocommerce` plugin:
`add_action( 'woocommerce_checkout_update_order_meta', array( $this, 'inject_purchase_event' ) );`

As you can see, the `inject_purchase_event` method is called during `woocommerce_checkout_update_order_meta` action only, which is not triggered during block based checkout order creat

[2021-11-16 10:36] Aljullu opened #5150 "Terms and Conditions block: checkbox not correctly aligned in the editor"
## To reproduce
1. Create a new page and add the Checkout block.
2. Click on the Terms and Conditions inner block and enable the Require checkbox attribute.
3. Notice the checkbox is not vertically aligned correctly in the editor (this issue doesn't affect the frontend).

## Expected behavior
In the editor, the checkbox should be aligned with the first line, like in the frontend.

## Screenshots
_

[2021-11-16 11:08] ralucaStan opened #5152 "Cart block: Visual bug for WooCommerce Points and Rewards"
## Describe the bug
The form for WooCommerce Points and Rewards  in the Cart block does not look as before.

## To reproduce
Steps to reproduce the behaviour:

1. Install WooCommerce Points and Rewards, go to WooCommerce > Points and Rewards and add points to your user.
2. Go to WooCommerce > Points and Rewards > Settings and enable "Allow partial redemption"
3. Go to Cart and see the input to red

[2021-11-16 11:19] #5131 closed, assigned to mikejolley

[2021-11-16 11:30] budzanowski commented on #5008
Hi @rufus87

Whenever `inject_purchase_event` is called during `woocommerce_checkout_update_order_meta` the only thing that happens is storring of the fb order placed meta with the order, the function returns right after that. This is covered by the lines highlighted here:
https://github.com/woocommerce/facebook-for-woocommerce/blob/master/facebook-commerce-events-tracker.php#L863-L888
This is the

[2021-11-16 12:39] #5070 closed, assigned to alexflorisca

[2021-11-16 13:12] #5121 closed, assigned to senadir

[2021-11-16 13:14] #5073 closed, assigned to mikejolley

[2021-11-16 13:24] Aljullu commented on #5148
Hi there @bruin2021, thanks for sharing your feedback with us. The Checkout block already allows what you are looking for:

### Log in

* You need to go to WooCommerce > Settings > Accounts & Privacy and select the option _Allow customers to log into an existing account during checkout_.
* This will show a Log in link next to the _Contact information_ title:

![](https://user-images.githubusercont

[2021-11-16 13:25] #5148 closed, assigned to nobody

[2021-11-16 15:09] budzanowski commented on #5008
Just to make the message clear. I am not saying that you are not experiencing issues, or the problem is not there :) I am merely explaining why I think the explanation you have provided does not describe the source of the problem. I don't exclude the possibility that I am not seeing things correctly and the problem is obviously there. I will be happy to provide fixes for the Facebook plugin; if it

[2021-11-16 17:28] DarianDev commented on #5141
The issue is known, the fix should be released this week. im also waiting for the fix :)

[2021-11-16 17:33] emsiladnav commented on #5141
Thanks for letting me know! :) @DarianDev

[2021-11-16 17:33] #5141 closed, assigned to nobody

[2021-11-16 19:50] opr opened #5159 "Not passing args to `$wpdb->prepare` causes PHP notice to show which breaks API requests"
## Describe the bug
When you have error reporting turned on, calls to `$wpdb->prepare` causes notices to print which breaks API requests, for example:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/a4602f8be133bcc6072cd691693f2ea0fffca0d1/src/StoreApi/Schemas/ProductCategorySchema.php#L115

is missing 2nd...nth arguments, which causes this error: `PHP Notice:  Undefined

[2021-11-17 05:47] rufus87 commented on #5008
@budzanowski thank you so much for clarification. Actually, I've missed `add_action( '__experimental_woocommerce_blocks_checkout_update_order_meta', array( $this, 'inject_order_meta_event_for_checkout_block_flow' ) );` line which does all the required job. The only thing that may require you attention is `__experimental_woocommerce_blocks_checkout_update_order_meta` action name, which is currently

[2021-11-17 08:01] frontdevde commented on #1688
Closing as this issue as the link is now displaying on a white background instead of a grey one, thus negating the original issue.

[2021-11-17 08:01] #1688 closed

[2021-11-17 08:44] gigitux opened #5163 "The `WooCommerce Legacy Template` block can be removed from the template if the user deletes the entire group"
## Describe the bug
`WooCommerce Legacy Template` block can be removed from the template if the user deletes the entire group.

## To reproduce
Steps to reproduce the behavior:

1. Install and activate [Gutenberg plugin](https://wordpress.org/plugins/gutenberg/).
2. Install and activate a FSE enabled theme, such as [the TT1 Blocks theme](https://wordpress.org/themes/tt1-blocks/).
3. Load the Site

[2021-11-17 09:12] #3837 closed, assigned to nobody

[2021-11-17 09:24] budzanowski commented on #5008
I have created an FB Issue to track the deprecation https://github.com/woocommerce/facebook-for-woocommerce/issues/2123

[2021-11-17 11:54] Aljullu commented on #4965
Heads-up that I'm removing the `good first issue` label given that we found that adding global styles to some of the blocks was more complex than anticipated. We are planning to work on this issue in the future, but as part of a bigger project to properly document all challenges we face with current Gutenberg APIs and the way WC blocks work.

[2021-11-17 12:22] senadir commented on #5144
Hi again @msroky!

First of all, I'd like to thank you for the constant feedback you're bringing to the project, all of your feedback is well received!

Cart abandonment has to be supported by said plugin, what plugin are you using? To my knowledge, only AutomateWoo is integrated with our new Checkout block and supports the cart abandonment feature.

[2021-11-17 12:33] frontdevde opened #5166 "Legacy Template block: remove block locking"
We originally introduced block locking to the Legacy Template block because we wanted to protect users from accidentally deleting the block from their template. While prototyping a solution for https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5163, we discovered that locking the block severely limits the creative freedom users have in customizing the templates to their he

[2021-11-17 13:32] tjcafferkey opened #5170 "Prevent WooCommerce block templates from appearing in the Edit Post template dropdown"
## Describe the bug
The WooCommerce block templates (e.g. single-product, archive-product etc) appear in the template selector of the "Edit Post" view. We need to prevent these from appearing there.

[2021-11-17 14:21] bajoski34 commented on #5145
Hi @kra2010  This is because the third party plugin does not support woocommerce blocks.Please kindly take some time to read this https://developer.woocommerce.com/2021/03/15/integrating-your-payment-method-with-cart-and-checkout-blocks/

[2021-11-17 14:40] #5170 closed, assigned to tjcafferkey

[2021-11-17 15:07] tjcafferkey opened #5172 "WooCommerce Theme Block Templates Appear in Template Select Dropdown for Posts and Pages"
## Describe the bug
During the Store Editing Templates project we came across an issue where when we added Core WooCommerce block templates (e.g. `single-product.html`, `archive-product.html`) and made them available for FSE themes these were also appearing in the Template dropdown on the Edit Post page.

For the default block templates (ie. the ones that come with WooCommerce now) we ensured we h

[2021-11-17 15:30] Aljullu opened #5173 "Avoid running enqueue_assets on REST requests"
Initially discussed in this comment: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5051#pullrequestreview-797624158

Every time a post is saved, the `enqueue_assets()` method is called for each block contained in the post. It's not needed to call those methods given that saving a post is a REST request, so there is nothing to enqueue.

This issue is about investigating i

[2021-11-17 15:39] github-actions[bot] opened #5174 "Replace `getColorClassName` and manual style manipulation..."
Replace &#x60;getColorClassName&#x60; and manual style manipulation with &#x60;useColorProps&#x60; once the hook is no longer experimental.

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/04cca3c28e33903d000375bf3b334cba41aae46f/assets/js/blocks/cart-checkout/mini-cart/edit.tsx#L46-L58
---
###### :rocket: This issue was generated by the [automations bot](https://githu

[2021-11-17 15:39] github-actions[bot] opened #5175 "refactor the logic of color class and style using StyleAt..."
refactor the logic of color class and style using StyleAttributesUtils.

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/04cca3c28e33903d000375bf3b334cba41aae46f/src/BlockTypes/MiniCart.php#L238-L249
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in 04cca3c28e33903d000375bf3b33

[2021-11-17 15:51] #5071 closed, assigned to tjcafferkey

[2021-11-17 16:15] #5109 closed, assigned to nobody

[2021-11-17 16:15] #5163 closed, assigned to frontdevde

[2021-11-17 16:15] #5166 closed, assigned to sunyatasattva

[2021-11-17 16:23] Aljullu commented on #5138
Hi there @Robertght, thanks for following up and directing the issue to the correct repo.

By _Menu Order_, it refers to the order products have when viewing them from `/wp-admin/edit.php?post_type=product`. If you go to that page, you will notice there is a _Sorting_ tab that can be used to change the order of products. Rearranging products there will change the order they appear in the Product g

[2021-11-17 16:23] #5138 closed, assigned to nobody

[2021-11-17 16:40] futurowebpl commented on #5138
In my opinion, no sorting method works at all if "Manually select products" is selected in WC Gutenberg Block.

Then - Manually select products it does not react in any way to any reordering,

[2021-11-17 17:23] alexflorisca commented on #4333
Tested and looks like it has been fixed. @Aljullu mind taking another look just to be sure before I close it?
![Screenshot 2021-11-17 at 17 22 07](https://user-images.githubusercontent.com/3966773/142250259-4a0d84ba-ad83-488a-8d2d-045428c4f1d2.png)

[2021-11-17 18:21] ryanhungate opened #5179 "Need a working example for a simple checkbox along with server side hooks with customer and cart data"
## Is your feature request related to a problem? Please describe.
The [Mailchimp for Woocommerce](https://wordpress.org/plugins/mailchimp-for-woocommerce/) plugin needs the ability to inject a checkbox for the "subscriber status" and "GDPR" related fields into the checkout form and save the data on the customer and order records.

## Describe the solution you'd like
1. A working example which show

[2021-11-17 18:58] sunyatasattva opened #5180 "UX improvement on Legacy Blocks deletion"
**For full context and history, cfr:** #5166, #5176

While we are in the process of phasing out the legacy PHP blocks, an interesting UX question arises in the transition period. With the issues linked above, we have decided to revert our previous judgement to make those blocks locked and un-erasable for the user.

The reasoning was that erasing those blocks was probably not something the users wa

[2021-11-17 20:40] DarianDev opened #5181 "Translation Errors still exist in Version 6.3.1"
## Describe the bug
I have reported this bug before, they said it will be fixed in 6.3.0. Unfortunately, the error still exists.

## To reproduce
Use Woocommerce Blocks Checkout

In the wordpress editor is the language right (in this case german) but if you leave the editor and visit the site normally its in english.

## Expected behavior
Display the right language. The Error come with the version

[2021-11-17 20:52] #4958 closed, assigned to nobody

[2021-11-17 20:53] DarianDev commented on #4958
Error was with cloudflare, clear cloudflare cache and reenable rocket loader

[2021-11-18 03:39] choijun commented on #4787
Hello guys,

I found the cause of this problem, it caused by core block api of WooCommerce

 This is an error of WooCommerce block core api. As I mentioned above, $namespace_index variable may return an error ( WP_ERROR ) and in WP_ERROR class there is no get_data() method – [you can see here](https://i.ibb.co/N7qNMGX/Screenshot-at-Nov-17-01-08-41.png)

You need to check the validity of the variab

[2021-11-18 06:16] frontdevde commented on #5180
Thank you for writing this up in such a precise and easy-to-follow way, @sunyatasattva!

Just providing the additional context that while locking the block from being removed (`remove:true`) did still allow the user to move the block on the top level, it prevented the user to move it into other blocks. This limitation is introduced by the block editor as otherwise the block could be removed by sim

[2021-11-18 06:24] frontdevde commented on #5180
Thanks for summarising our conversation and taking a stab at visualizing a potential solution.

While I'd agree that this note is important, I still think that adding a colored background adds too much attention to a shortcoming of what in itself is the first iteration of a new feature that provides merchants with new opportunities.

We could explore removing the background and adding the note bel

[2021-11-18 07:25] Nic-Sevic commented on #5138
Hi @Aljullu, thanks for the explanation! In that case I can reach back out to the user and let them know.

For the future though, perhaps something like "Product Sort Order" would be more intuitive? Or as a feature request even the ability to manually assign a display order from the block itself?

[2021-11-18 07:43] nielslange commented on #5181
Hello @DarianDev 👋

I addressed the problem that you mentioned in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5112. Unfortunately, that fix hasn't been tested yet and was therefore not part of the recent release. I can understand that not being able to see the cart and the checkout pages in the desired language is a dealbreaker.

I'll discuss options internally and hop

[2021-11-18 07:43] #5181 closed, assigned to nobody

[2021-11-18 09:45] alexflorisca commented on #5180
Great write up @sunyatasattva. I don't know much about FSE yet, but I do have some experience with UX, and putting my user hat on, I would agree with you both that there are some issues with displaying a message to a user indicating that the only way to solve their problem is to "delete this template and edit it again". As a user that would make me panic.

I would also suggest either discouraging

[2021-11-18 10:20] vivialice commented on #5180
Hey @sunyatasattva! I agree with you and others that #4 is probably the easiest option for now. I would like to progress from these placeholders as quickly as possible in the following stages, so I think this covers our bases. I also don't mind the modal, but I understand that it takes longer dev time and is a temporary fix.

I have noticed a _lot_ of text in this block with the new notice, so I'd

[2021-11-18 10:26] Aljullu commented on #5180
Thanks for writing this up and summarizing the challenges of this issue @sunyatasattva! I agree with everything that has been said in this thread so I don't have much to add, but will leave my two cents below:

As some have already mentioned, realistically it will take some time until those blocks can be completely phased out, so I agree that we need to find a temporary solution until then.

That

[2021-11-18 10:44] nielslange opened #5182 "Use consistent add to cart logic"
## Describe the bug

When viewing the `All Products` in the frontend and adding a product to the cart, the `Add to cart` button changes to `1 in cart ✓`. When viewing the `Top rated products` in the frontend and adding a product to the cart, the `Add to cart` button changes to `Add to cart ✓` and a second button `View cart ✓` appears next to it.

It's not consistent that the `Add to cart` button b

[2021-11-18 10:45] nielslange commented on #5136
In this case, you should be able to fetch the new translation via `WP Admin → Updates → Translations → Update Translations`:

![Update-Translations](https://user-images.githubusercontent.com/3323310/142389951-55675a73-921f-434a-af66-ef8ea78b0696.png)

Thanks for pointing out the other section. I see what you mean by looking up the `Top rated products` block:

![Update-Translations](https://user-im

[2021-11-18 10:45] #5136 closed, assigned to nobody

[2021-11-18 11:47] senadir commented on #5179
Hey there @ryanhungate

This PR provides a working example for how MailPoet newsletter opt in integration works
https://github.com/mailpoet/mailpoet/pull/3778/files

The gist of it is that you will create a new JS block, that loads both on the editor and frontend (two versions of the same block).
In the editor you register a block with `registerBlockType` from `@wordpress/blocks`, and set its pare

[2021-11-18 12:53] alexflorisca commented on #5152
I've been looking into this but may not get time to fix before next week so updating with progress.

- The bad commit that introduced the layout bug is [76d565b83fba4e6d3ce658275206eeb94cd15510](https://github.com/woocommerce/woocommerce-gutenberg-products-block/commit/76d565b83fba4e6d3ce658275206eeb94cd15510)
- No changes to the immediate points and rewards block computed css so likely not a css

[2021-11-18 13:03] mikejolley commented on #5001
These 3 Slot Fills are designed to allow content to be inserted within certain points of the main order totals Block. The main consumer of these blocks is currently Subscriptions.

| Slot Fill      | Usage |
| ----------- | ----------- |
| `__experimentalOrderMeta`      | [Used by Subscriptions to show recurring totals when subscriptions are in the cart. ](https://github.com/Automattic/woocommerce

[2021-11-18 14:11] ryanhungate commented on #5179
@senadir thank you so much for the help on this... I will get into this today and hopefully you gave me all the clues I needed to finish out our part! :) 👍

I will report back after a few hours and will close this out if we're good.

[2021-11-18 14:47] Aljullu commented on #4333
Yes, it looks like it has been fixed. Thanks for investigating @alexflorisca!

[2021-11-18 14:47] #4333 closed, assigned to nobody

[2021-11-18 14:56] senadir commented on #5179
@ryanhungate this is a working example of a newsletter plugin

https://github.com/opr/newsletter-test/tree/update/to-latest-working-api

It doesn't contain any frontend validation or form blocking, if you're looking for that, take a look at the terms and conditions block

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/fc0eebe2a0701ea6c2706dba5e4e783ac689b13e/assets/js/blo

[2021-11-18 14:57] senadir commented on #5179
From what I understood, you're looking at adding more than just a checkbox right? Are you trying to add text fields as well?

[2021-11-18 15:02] ryanhungate commented on #5179
@senadir our plugin renders out dynamic checkboxes based on the store owner's GDPR fields on the Mailchimp audience... so basically it is not hard coded. We make an API call to the Mailchimp API - and then dynamically render the checkboxes along with the labels on the older checkout screen.

So ideally if there was a way to pass in an array of objects to the component that could add additional che

[2021-11-18 15:05] senadir commented on #5179
Can this condition be evaluated on the server, and then just pass the data with `get_script_data` or `ExtendRestAPI`

[2021-11-18 15:09] ryanhungate commented on #5179
@senadir yeah for sure. That's what we're currently doing in the standard checkout screens, so if there was a way for us to pass in these options to the component registration somehow that's really all we're after...

[2021-11-18 16:24] pluginslab opened #5185 "WooCommerce Box Office product type ticket with wrong Ticket Detail button behaviour inside empty cart block"
## Describe the bug
When visiting a cart page with an empty cart, the "New in Store" is presented with 3 products. If one of those products is a ticket product from WooCommerce Box Office, the button that says Ticket Detail will add it to cart, instead of redirect to product page detail.

## To reproduce
Steps to reproduce the behavior:

1. Install WooCommerce Box Office
2. Create a ticket product

[2021-11-18 16:34] msroky commented on #5144
Hi, I tried using this plugin https://wordpress.org/plugins/woo-cart-abandonment-recovery/

[2021-11-18 16:40] Aljullu opened #5186 "Mini Cart: add link to edit template part from Mini Cart block sidebar"
With #5025, the Mini Cart drawer contents are inside a template part. In order to offer the users an easy way to modify the drawer contents when inserting the Mini Cart block, we would like to offer a link in the sidebar of the Mini Cart block directing to the Mini Cart contents template part.

## To reproduce
1. Create a post or page and add the Mini Cart block.
2. Notice there is no link to edit

[2021-11-18 16:51] sunyatasattva commented on #5180
Thanks everyone for your thoughtful answers.

I especially agree with @vivialice that the copy right now is just too long and should be shortened. I'm absolutely horrible at copywriting, so I'd ask perhaps someone else to come up with a definitive copy for the entire block? Perhaps @nielslange as I see you are marked as a [communication domain expert](Pca54o-2mz-p2) or maybe @vivialice with your U

[2021-11-18 16:53] mikejolley opened #5187 "Unable to type in Quantity Inputs"
## Describe the bug
Typing a value is not possible in a quantity input. It remains at 1.

If the quantity input has a value higher than one, typing resets it to 1.

## To reproduce
Steps to reproduce the behaviour:

1. Go to the cart page or open the mini cart block
2. Click on the plus/minus buttons - qty changes ok
3. Click within the qty input and try to type a numeric value. Nothing happens.

[2021-11-18 17:04] Aljullu commented on #5138
Where do you see the "Manually select products" option, @futurowebpl? If you mean the Hand-Picked Products block, it seems to apply 'Order By' options correctly for me.

[2021-11-18 17:04] Aljullu commented on #5138
Thanks for following-up @Nic-Sevic!

This is covered in: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/4769. :slightly_smiling_face:

The issue only refers to the Hand-Picked Products block, but it can be extended to cover all product grid blocks.

[2021-11-18 17:06] msroky commented on #4614
I totally forgot to answer this topic, sorry.

I had a problem here because most customers don't use their country code, and some of them don't even use zero.

This is a problem for me when I fill their order on another page, or use one of the plugins to automatically fill orders, I have to manually search for their area code on google.

Wordpress order customer
![Capture333](https://user-images.g

[2021-11-18 20:53] DarianDev opened #5190 "Order - address and customer data are not transmitted"
## Describe the bug
Since the update to 6.3.x the customer data are partly not transmitted anymore. The order appears, is paid, but I am missing all information, such as the address, e-mail and co.

This is catastrophic. It is not the case with every order, but with every 10th order.

## To reproduce
Use 6.3.x and receive orders.

## Expected behavior
All data must be correctly transmitted and dis

[2021-11-18 22:53] sunyatasattva opened #5192 "Checkboxes appear squished if paired with longer text"
## Describe the bug
Within certain themes (e.g. TT1), checkboxes paired with a label, will appear squished if the text wraps to a second line. This only happens in the front-end.

## To reproduce
Steps to reproduce the behavior:

1. Add a checkout block
2. Select Terms and Conditions block
3. Enable `Require checkbox` attribute
4. Preview your page
5. Compare the checkbox next to “Add a note to yo

[2021-11-18 23:24] ryanhungate commented on #5179
@senadir i wanted to hold off to say something till I had a chance to get [this thing](https://github.com/opr/newsletter-test/tree/update/to-latest-working-api) implemented in our staging environment - and here's the current findings. Code looks great, very well organized and easy to understand - so thank you very much for this - but I'm seeing some issues that I don't understand yet.

1. This lin

[2021-11-19 07:51] frontdevde opened #5193 "Explore if we can limit the Legacy Template block to only show in the block inserter on Woo block templates"
For full context of the overall issue please take a look at https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5180 first.

Following another round of testing of the 6.3.1 release, we decided to [revert](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5176) our previous decision to prevent the block deletion of the Legacy Template block, as this had

[2021-11-19 07:53] Aljullu commented on #5185
Thanks for creating this issue @pluginslab!

It looks like WooCommerce Box Office is returning true on `$product->supports( 'ajax_add_to_cart' )` when I think it should return `false`. That seems to be the cause that is making those products to be added directly without introducing extra details.

I created an issue in the Box Office repo so I will close this one here.

[2021-11-19 07:53] #5185 closed, assigned to nobody

[2021-11-19 08:04] Aljullu commented on #5190
Hi @DarianDev, thanks for filling this issue.

I tried to reproduce it in my site but wasn't able to do so. In order to further investigate the issue, would you be able to go to WooCommerce > Status, click on _Get System Report_ and share it with us?

In the meantime, I would also suggest you to follow the [WooCommerce Self-Service guide](https://woocommerce.com/document/woocommerce-self-service-g

[2021-11-19 08:19] Aljullu commented on #5010
I can reproduce the same as @nielslange.

I think there are a couple of issues here:

1. Sidebar is inconsistent between Cart (has marging) and Checkout (has no margin). This happens no matter if the blocks are set to full width or have no alignment: you can notice it when switching from Cart to Checkout when following the purchase flow. To make it easier to notice, in this image, you can see both

[2021-11-19 08:23] Aljullu commented on #5145
Hi there @kra2010  👋

Thanks for taking the time to make us aware that Saferpay WooCommerce Gateway isn't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's expected that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

Like @bajoski34 mentioned, currently

[2021-11-19 08:23] #5145 closed, assigned to nobody

[2021-11-19 08:40] frontdevde commented on #5180
Created a related issue for this task https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5193

[2021-11-19 08:43] frontdevde commented on #5180
@sunyatasattva Yes :) Could you please create a follow-up issue to address 4. as proposed in this issue and add it to the Store Editing Templates v2 milestone? Thank you!

Done, see #5193

[2021-11-19 09:12] #4383 closed, assigned to nobody

[2021-11-19 09:12] #4175 closed, assigned to nobody

[2021-11-19 09:26] Aljullu commented on #4787
Thanks for providing more details @litexservice and for suggesting a fix @choijun.

Unfortunately, I'm not used to Elementor and I'm still unable to reproduce the issue. In addition to that, testing steps from this issue and elementor/elementor#16662 are very different, so I don't know which one we should follow (I tried both and wasn't able to reproduce).

Would any of you be able to post new ste

[2021-11-19 09:27] #5074 closed, assigned to mikejolley

[2021-11-19 10:08] Aljullu opened #5194 "Mini Cart: create Mini Cart template part area"
Initially discussed in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5025#issuecomment-973902812.

We would like to create a _Mini Cart_ block template part area, similar to _Header_ and _Footer_. This way, the user can create multiple template parts belonging to the Mini Cart area. In a follow-up issue, we would need to allow selecting a specific template part from the

[2021-11-19 10:13] Aljullu opened #5195 "Mini Cart: allow selecting a specific template part for the Mini Cart block"
Given that it will be possible to have more than one Mini Cart template part (see #5194), we want to allow users to select which Mini Cart template part is used for each Mini Cart block they add to their site.

This issue is about adding some kind of control so users can select from a list of template parts when adding a Mini Cart block.

[2021-11-19 10:16] Aljullu opened #5196 "When creating a template part for the Mini Cart area, it should be created already containing the Mini Cart Contents block"
As described in #5194, we are planning to create a Mini Cart template part area. Users will be able to use the WC core provided template part or create their own. When creating a new one, the template part area should start with a Mini Cart Contents block already included, that's the block responsible of handling the Empty cart / Full cart state so it should be there by default.

[2021-11-19 11:14] mikejolley commented on #4703
@senadir done?

[2021-11-19 11:20] Aljullu opened #5198 "Mini Cart quantity badge doesn't honor thousands separator"
Follow-up of https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5188#pullrequestreview-811051141.

## To reproduce
1. Add 1000 (or more= products to your cart. You can easily do that from any product page.
2. Add the Mini Cart block to a page or post and view it in the frontend.
3. Notice there is no thousands' separator:
![Mini Cart block showing no thousands separator in th

[2021-11-19 11:26] senadir commented on #4703
Yep

[2021-11-19 11:26] #4703 closed, assigned to nobody

[2021-11-19 11:32] mikejolley commented on #5198
@Aljullu Is this a bug? The thousand separator setting in Woo core is only for prices.

Qty in core checkout:
![Screenshot 2021-11-19 at 11 32 13](https://user-images.githubusercontent.com/90977/142616042-8690f110-6622-4693-9a65-2674bf4809fa.png)

[2021-11-19 11:36] Aljullu commented on #5198
Ah... good point. Probably better to be consistent with core.

[2021-11-19 11:36] #5198 closed, assigned to nobody

[2021-11-19 11:58] joashrajin commented on #4111
I'm aware that this is closed, but a customer was really unhappy that the compatibility issues have not been solved yet in 23111200-hc

[2021-11-19 12:05] senadir commented on #4111
Thank you @joashrajin Not much we can do here, we have several extensibility interfaces that can be used and are help to assist plugin developers if they're blocked, but we can't do the integration ourseleves.

[2021-11-19 12:07] DarianDev commented on #5190
@Aljullu sure, here is the system report:

`
### WordPress Environment ###

WC Version: 5.9.0
REST API Version: ✔ 5.9.0
WC Blocks Version: ✔ 6.3.2
Action Scheduler Version: ✔ 3.4.0
WC Admin Version: ✔ 2.8.0
Log Directory Writable: ✔
WP Version: 5.8.2
WP Multisite: –
WP Memory Limit: ❌ 51 MB - Wir empfehlen das PHP Speicher-Limit (memory_limit) auf mindestens 64 MB zu setzen. Siehe: PHP Speicher-Li

[2021-11-19 12:08] senadir commented on #5179
Hey, it seems your editor script is loading on the frontend for some reason? only the frontend script should load there. Can you show me the code you have that enqueues/registers your editor scripts? Preferably, you shouldn't enqueue anything yourself for the editor, `register_block_type` and `block.json` should handle both.

[2021-11-19 12:32] #5018 closed, assigned to mikejolley

[2021-11-19 12:33] senadir commented on #5001
I like this suggestion and believe it's the next logical evolution for Cart/Checkout.
One possible issue (that can be solved) is that totals items design is tightly coupled to line item cells (with borders and all), how would new blocks fit there? should we still enforce dividers from the top level block ([like tailwind `divide` utility for example](https://tailwindcss.com/docs/divide-color)).

[2021-11-19 12:38] mikejolley commented on #5001
@senadir I think we'd nest everything within a top level block and only add dividers between the top levels.

[2021-11-19 12:40] senadir commented on #5001
One other issue I think about is editing those things. Currently, Slot Fills work well with conditional content.
If your website sells subscriptions, pre-orders, points and rewards, just as an example, your editor would end up with all of those blocks present, while an edge case, it's still something to consider.

One possible solution is that we can encourage developers to implement a notice in t

[2021-11-19 12:41] mikejolley commented on #5001
@senadir Can forced blocks be hidden in the editor?

[2021-11-19 12:47] senadir commented on #5001
No, that's the point of `useForceLayout` is to always show them. However, you can emit `force` from what you pass to registerBlockType and only pass it to `registerCheckoutBlock`, however, what would this solve?

[2021-11-19 12:49] mikejolley commented on #5001
@senadir It would allow you to have conditional, fixed position, forced blocks, using the same inner block structure, without adding too much within the editor view. But placeholders are ok also.

[2021-11-19 14:24] Sandstromer opened #5199 "Single Product: all of the product is duplicated in the description tabbed area"
## Describe the bug
With a FSE theme active, the full single product page is being duplicated in the description tabbed area.

## To reproduce
Steps to reproduce the behavior:

1. Activate a FSE theme, e.g. Blockbase, TT1-Blocks etc.
2. View a single product in the frontend
3. See that in the Description tabbed area, the full product content is displayed, complete with image gallery, entry summary

[2021-11-19 14:53] ryanhungate commented on #5179
@senadir i used the exact code in your example repository... :) Changed up a couple names to avoid conflicts but it's the same otherwise.

[2021-11-19 15:04] senadir commented on #5179
Yeah I can see "Scripts that have a dependency" warning, however, it shouldn't break your block? It's working fine for me
![image](https://user-images.githubusercontent.com/6165348/142644329-b96930ac-9f2c-4a54-ad81-c2a21813c396.png)
 I will the first issue a look, I couldn't reproduce it in my code but it seems like a valid issue.

[2021-11-19 15:06] ryanhungate commented on #5179
@senadir it's broken on the front end - not the back end editor if that matters.

[2021-11-19 15:15] Aljullu commented on #5199
Thanks for reporting this issue @Sandstromer!

I'm pretty sure this is happening in WC 5.9, but is fixed in WC 6.0, which will be released in mid-December.

@frontdevde @tjcafferkey what are your thoughts on this issue? Do you have any temporary solution in mind that could prevent this? If not, should we feature-gate all the templates work we did to WC core >= 6.0?

[2021-11-19 15:25] senadir commented on #5179
Yes, I know. It's weird that this is breaking your frontend instead of just a warning.
Try this diff to get rid of that warning
https://github.com/opr/newsletter-test/pull/5

[2021-11-19 15:58] ryanhungate commented on #5179
@senadir yeah the console error went away - but this is what i'm seeing on the checkout screen. Almost like it's still in a loading state. No errors at all, and I also see the newsletter additions in the source - so it looks as if it's loading correctly... this is really odd. Have you seen this before?

<img width="1387" alt="Screen Shot 2021-11-19 at 08 56 32" src="https://user-images.githubuserc

[2021-11-19 16:04] ryanhungate commented on #5179
@senadir i think this had something to do with an addition I had added - but didn't see any error messages so it was invisible.

I need to render out an array of GDPR fields into this component too. Do you have a snippet that shows how to pass in an array to the component so we can load dynamic checkboxes at all? Sorry for all the back and forth - but we're making a lot of headway so It's much app

[2021-11-19 16:36] ryanhungate commented on #5179
@senadir do you happen to know the hook for grabbing the cart when it's updated? This new checkout seems to be bypassing the typical order and cart hooks we're used to getting. Looks like a really nice move forward - but yeah just need to know how to accomplish the same things as the traditional stores did if you have time. Thanks!

[2021-11-19 16:55] senadir commented on #5179
The cart content is passed as `cart` prop to your block (along side other props like text, and checkoutExtensionsData)
https://github.com/opr/newsletter-test/blob/add/script-in-footer/assets/js/checkout-newsletter-subscription-block/block.js#L7

[code]
To pass data from the server to your component, you use `extendRestApi`, see this guide

https://github.com/woocommerce/woocommerce-gutenberg-produ

[2021-11-19 16:57] senadir commented on #5179
The error you're seeing means the Checkout never finished loading, are you seeing any console errors, server errors, scripts not loading?

[2021-11-19 17:05] ryanhungate commented on #5179
@senadir ok - great... this is starting to make sense to me. Thanks. So I guess I would need to just make an ajax request to the server with the cart details inside this component ( to capture the cart and push to Mailchimp as abandoned )... right? There's no pre-built hook that would allow us to use what's currently being pushed to the server for this information?

I didn't want to double up on t

[2021-11-19 17:09] senadir commented on #5179
There's no "cart updated" hook, your `Block` component would re-render each time `cart` is updated and you would get the most up to date value each time.

Preferably, if you can explain to me how you imagine the integration would work, or how does it work with Checkout shortcode, then I can point down all the various extensibility patterns we have.

`setExtensionData` would send data to the server

[2021-11-19 17:24] ryanhungate commented on #5179
@senadir we need to get the cart data on the server side, not the client side. Reason being is that we need to pass over the cart details to Mailchimp so the customers can use the "abandoned cart" mail feature.

Does this use the same woo session for the cart, or is it using an entirely different storage system?

Same thing for the "orders being created" it seems as if the hooks are different as w

[2021-11-19 17:29] senadir commented on #5179
It uses the same, so you can just `wc()->cart`. We provide a `CartController` class, but I'm not sure if it's available, you can try it.

[code]

For hooks, we have new hooks since the interface passed to them changed (WP_Request object instead of $_POST). Those two should do the work ([all of them here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/docs/extensibil

[2021-11-19 17:34] ryanhungate commented on #5179
@senadir ok I think this is where i'm confused because the hook `woocommerce_blocks_checkout_update_order_from_request` only seems to fire when PLACING the order. I'm not seeing any sort of activity in this function until the customer places it.

[2021-11-19 17:45] senadir commented on #5179
Hmm, that's true, it doesn't trigger for `store/update-customer` requests, I remember having a similar issue in AutomateWoo and I just hooked into `woocommerce_before_order_object_save`.

That's the code I used:

[code]

[2021-11-19 17:50] senadir opened #5202 "`woocommerce_blocks_checkout_update_order_from_request` doesn't trigger for customer email."
I'm not sure if this was planned or not, but `woocommerce_blocks_checkout_update_order_from_request` only triggers when order updates, this means all hits to `store/checkout` would trigger it, however, `store/update-customer` (what we use when persisting the customer email) isn't part of that, and so `woocommerce_blocks_checkout_update_order_from_request` won't run.

A workaround for that is to us

[2021-11-19 19:58] ryanhungate commented on #5179
@senadir ok - this last snippet is great... exactly what I needed. Sorry to bother again but is there any chance of getting the extension values in this hook as well? I just realized this could solve another problem we were trying to fix where people only wanted cart messages to go to folks that are marked as subscribed. This would be great if I could access the extension values here too?

[2021-11-20 05:39] dinhtungdu opened #5203 "Add loading indicator to the Product Category List Block."
## Is your feature request related to a problem? Please describe.
For slower hosting, the categories take some seconds to load. It'd be nice if we add a message/spinner to the block placeholder. In my localhost, sometimes it takes about 5s to load.

## Additional context
Screencast:

https://user-images.githubusercontent.com/5423135/142715807-1a11a243-0479-449e-8db9-9e2ac15a7da2.mov

[2021-11-20 10:44] senadir commented on #5179
I'm not sure I understand this question. You can't access the $request object on `woocommerce_before_order_object_save` as it's not yet available, it's only available once you start submitting the order.

[2021-11-20 13:18] nerrad opened #5204 "Fix issues with selecting the container width via the alignment toolbar button in the Cart Block"
I was just running through some testing of the Cart block to prepare for an upcoming demo and I noticed some issues with setting the alignment for the block. I've recorded a video that demonstrates what I'm seeing:

https://user-images.githubusercontent.com/1429108/142727700-1eae0c38-bcc7-4b64-bf8c-c75fc0bde1f0.mp4

I suspect some of this is due to how the views are switched between empty and full

[2021-11-20 13:24] nerrad commented on #5204
Another issue I'm spotting as I play around with this more is that if you click the alignment toolbar when the empty cart is the visible view and you are on the top parent block for the Cart (Document -> Cart), it will switch back to the Filled Cart view.

[2021-11-20 14:22] ryanhungate commented on #5179
@senadir yeah basically the concept is, hook into the `woocommerce_before_order_object_save` event as you had suggested ( which is perfect for us to pass the cart data to Mailchimp )... but i'm missing the properties that could have existed in our extension at this step.

We actually have customers that wanted to limit the cart submissions to the ones that had the checkbox checked. Is there any ot

[2021-11-20 20:08] emcgal opened #5205 "Unable to update Back Order text with blocks but can with classic cart."
Hi @alexflorisca, it is me again :-)

I am not sure if this is another potential issue with blocks, please just close off if it isn't and I will wait for the forum.

I finally got a chance to try and get a stab at changing the text on backorders in the basket this evening. I have logged it on the plugin forum and with Woocommerce Support but I was thinking, it might be an issue as I have it workin

[2021-11-21 17:10] sunyatasattva opened #5207 "Add note to make it clear that removing a legacy block is dangerous"
**Follow-up issue from: #5180**

Following another round of testing of the 6.3.1 release, we decided to revert our previous decision to prevent the block deletion of the Legacy Template block, however if the user deletes the block it is hard for them to know (a) how to revert the change and (b) what consequences does this deletion have.

As such, we are trying to make it more clear for the user th

[2021-11-21 17:11] sunyatasattva commented on #5180
Closing this as we now have #5193 and #5207 to address the discussed points.

[2021-11-21 17:11] #5180 closed, assigned to nobody

[2021-11-21 21:52] seagoat86 commented on #5144
I am also having this problem.

I have tried

[https://wordpress.org/plugins/woo-cart-abandonment-recovery/        and      https://makewebbetter.com/product/mautic-woocommerce-integration-pro/](https://wordpress.org/plugins/woo-cart-abandonment-recovery/        and      [https://makewebbetter.com/product/mautic-woocommerce-integration-pro/)](https://makewebbetter.com/product/mautic-woocommerce-in

[2021-11-21 21:54] seagoat86 commented on #5144
I am having the same problem.

"Mautic WooCommerce Integration" from Makewebbetter is not working with WooCommerce Blocks checkout and neither is "Woo Cart Abandonment Recovery" from CartFlows.

[2021-11-22 01:48] #4954 closed, assigned to dinhtungdu

[2021-11-22 07:33] nielslange commented on #4929
Related: #4725 & #4928

[2021-11-22 07:34] nielslange commented on #4725
Related: #4928 & #4929

[2021-11-22 07:34] nielslange commented on #4928
Related: #4725 & #4929

[2021-11-22 09:38] senadir commented on #5204
This is a known bug on Gutenberg level https://github.com/WordPress/gutenberg/issues/35949, setting alignment from "none" to anything else wraps the block in a div, causing it to unmount/mount and local state to be lost.

We can use a non-persisted attribute to solve this, I will explore this solution later.

[2021-11-22 09:41] #5013 closed, assigned to ralucaStan

[2021-11-22 09:43] #5005 closed, assigned to nobody

[2021-11-22 09:46] senadir commented on #5204
Yes, this is an issue we discovered during Cart i2 migration (reported by Thomas [here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4973#pullrequestreview-787895333)).

The issue is that Cart block is just a wrapper to accommodate for two inner blocks that are actually rendered. Ideally we want to either:
- Have Filled/Empty always stretch to Cart width (I believe Cart

[2021-11-22 09:51] senadir commented on #5179
You can prevent order from being submitted by adding validation to your checkbox, I linked to it before but here's how the terms and conditions checkbox prevent order submitting if it's not checked:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/fc0eebe2a0701ea6c2706dba5e4e783ac689b13e/assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-terms-block/frontend.tsx

[2021-11-22 09:52] alantygel commented on #3963
So simple, and so useful ;)

[2021-11-22 10:12] #5150 closed, assigned to sunyatasattva

[2021-11-22 10:24] gigitux commented on #5190
Hi @DarianDev, thanks for sending us the `System Report`. I tried to reproduce it on my site but wasn’t able to replicate the problem.
I would suggest you follow the steps as described in [Plugin and theme conflicts](https://woocommerce.com/document/woocommerce-self-service-guide/#section-4)

[2021-11-22 10:26] senadir commented on #5205
Hey, this is not yet an option we provide, however, you can filter the translation string with this JS code, this is available as of WordPress 5.7.0.

[code]

[2021-11-22 10:27] #5205 closed, assigned to nobody

[2021-11-22 10:29] senadir commented on #5190
I should note that it's very hard for us to fix this issue without proper reproduction steps.

Any common patterns you notice between those failed orders? Specific items, regions, logged in/logged out? If you have some sort of tracking, what kind of browser maybe?

[2021-11-22 10:50] gigitux commented on #5144
Hi there 👋

Thanks for taking the time to make us aware that Mautic WooCommerce Integration and Woo Cart Abandonment Recovery aren't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's expected that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

We're curr

[2021-11-22 10:51] gigitux commented on #5144
We make note of all feedback we receive and we also close issues with the feedback as active issues are used for bugs or feature/enhancements. It does not mean that we don’t note or review the feedback. Closed issues can also still be commented on.

[2021-11-22 10:51] #5144 closed, assigned to nobody

[2021-11-22 11:12] mikejolley commented on #5202
`woocommerce_before_order_object_save` will run outside of the context of store API. Potentially needs a new hook or we can implement the current one, although naming might be problematic.

Yeah that might be a good solution. We should be able to accept updates via the checkout endpoint.

[2021-11-22 12:09] #5187 closed, assigned to mikejolley

[2021-11-22 15:24] emcgal commented on #5205
Thanks a mil @senadir

Getting an error at the moment (syntax error, unexpected ',', expecting variable (T_VARIABLE)) but will try and get it going.

[2021-11-22 15:38] senadir commented on #5205
Depends on how you're printing the code maybe, I tested the code above and it worked for me.

[2021-11-22 15:39] emcgal commented on #5205
@senadir I just added it to the functions.php, commented out the other and added the domain.
Was I supposed to change anything else?

[2021-11-22 15:42] senadir commented on #5205
This code worked fine for me

[code]

[2021-11-22 15:43] senadir commented on #5205
No changes needed except on the text level. The domain `woo-gutenberg-products-block` is correct.

[2021-11-22 16:00] emcgal commented on #5205
@senadir Super that is working perfectly ..... in the basket, thanks so much but unfortunately not in the checkout. Still marked as back order there :-(
ie: https://prnt.sc/2090krt

Also, it is OK to use with the code I have written to show in the basket notification?
ie this one https://prnt.sc/2090zx4

[2021-11-22 16:13] senadir commented on #5205
Yes, that's because it's only included with `wc-cart-block-frontend`. Duplicate the code and use `wc-checkout-block-frontend`.

Yes, they should work both fine. Once you switch to Mini Cart in the future, make sure to do the same as well.

[2021-11-22 19:23] ryanhungate commented on #5179
@senadir sorry I'm not sure if my question got jumbled - but what I meant is that during the checkout process, while an order is still in a "draft" state, we would consider this "abandoned"... and during this step of creating the draft order, it would be great if we could see the extensions current value as well. Does that make sense?

The newsletter checkbox being checked at this stage ( before t

[2021-11-22 21:19] senadir commented on #5179
If I understand correctly, you want to capture abandoned carts, but also if the user consented to being contacted by checking the checkbox? You can react the email field being filled, but not to the checkbox being checked, not before placing an order.

It also depends if you're going to store the merchant opt it in a persistent place (DB) or just in session until they actually submit the order?

W

[2021-11-22 21:39] emcgal commented on #5205
Sorry for the delay, it was one of those days.

Thanks so much! I have got so rusty with code at this stage an never really got familiar with blocks.

Really appreciate your help.

Thanks again @senadir

[2021-11-22 23:40] #5023 closed, assigned to dinhtungdu

[2021-11-23 00:18] chesterz-afterpay opened #5214 "How to integrate with the Express payment methods?"
Hi, I wonder how one can bundle the frontend element to a server side function, in order to process the data when a customer clicks the express payment button.
The example provided in the [documentation](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/docs/extensibility/payment-method-integration.md) is not very helpful. It just renders a React node on the frontend,

[2021-11-23 09:41] Aljullu opened #5217 "Cart and Mini Cart blocks: error when changing the quantity of a product"
## To reproduce

1. Add the Mini Cart block to a post or page.
2. In the frontend, click on the button and see the drawer open.
3. Try changing the quantity of a product or removing one product.
4. Notice there is an error in the console:

https://user-images.githubusercontent.com/3616980/143001439-d608d277-6a95-4b38-84cd-a6d90f17cdea.mp4

[2021-11-23 12:49] gigitux commented on #5076
After some investigation, I discovered that `stylelint-config-prettier`disables some rules that we adopt with the package `wordpress/stylelint-config`.

At this stage, we will keep `.prettierignore` for disabling prettier for `.scss`files

[2021-11-23 12:49] #5076 closed, assigned to gigitux

[2021-11-23 20:42] DarianDev commented on #5190
Its always paypal orders, but i also dont have more information :(

[2021-11-23 20:44] DarianDev commented on #5190
I have a one product store with only german customers always logged out, dont have user accounts. no tracking :/
phone and desktop orders

its with very payment method, paypal, bank transfer or woocommerce payments

[2021-11-24 00:52] maikunari opened #5224 "Display Categories (not products by category)"
Building a woocommerce store and want to add a subset of categories to the homepage.  Not all of the products in each category, just the category with category featured image.

It would be great if these could be selected just like in the Products by Category block.

I know this can be done with the woocommerce [product_categories] shortcode, but it seems like a natural addition to have this in a

[2021-11-24 09:33] MaggieCabrera opened #5229 "Legacy template Block: add alignment support"
## Describe the solution you'd like
To avoid needing extra wrappers, it would be useful to have alignment supports on the legacy templates, so the themes could implement something like this:

``

Wide and full-width support would be enough for this block, I believe

[2021-11-24 09:39] gigitux commented on #5224
Hi there @maikunari 👋🏻

Thanks so much for taking the time to leave some feedback – much appreciated!

There is an open issue woocommerce/woocommerce#42678 for the creation of this new block.

[2021-11-24 09:39] #5224 closed, assigned to nobody

[2021-11-24 09:40] MaggieCabrera opened #5230 "Legacy template block: themes can't override the archive-product.html only"
## Describe the bug
It seems like a theme can only override the archive product template by overriding the taxonomy category/tag templates.

## To reproduce
Steps to reproduce the behavior:

1. Install Blockbase
2. Create a template inside `block-templates/archive-product.html` with this content:

[code]

3. Go to the frontend and check an archive page, it's loading either taxonomy-product_cat.htm

[2021-11-24 10:36] #5194 closed, assigned to dinhtungdu

[2021-11-24 10:45] dinhtungdu opened #5232 "The Mini Cart template part block should be available inside Mini Cart view only."
## To reproduce
Steps to reproduce the behavior:

1. Check out the latest `trunk` of `woocommerce` or install the [nightly build](https://github.com/woocommerce/woocommerce/releases/tag/nightly).
2. Check out the latest `trunk` of Gutenberg.
3. Go to Appearance > Editor (Beta).
4. Add new block, search for Mini Cart template.
5. See it can be added to the page template.

## Expected behavior
Mini

[2021-11-24 10:47] dinhtungdu commented on #5232
@Aljullu I think we should rename the Mini Cart template part block, right now it's confusing to have two Mini Cart blocks.

[2021-11-24 11:35] gigitux opened #5233 "Recommending VSCode extensions to improve the developer experience"
This can improve the "developer experience” for everyone that opens the project for the first time.

[2021-11-24 11:42] nielslange commented on #4928
@senadir I addressed this issue in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5234 and wanted to let you know that I could not find a `inbox-notifier/` folder, but I excluded the `reports/` folder in addition, as that folder only contains the e2e test report, which is not relevant for the deploy zip.

[2021-11-24 13:00] BackuPs opened #5236 "Fatal error on latest beta 6.0.0 beta 1 in frontend"
I just created a clean wp install with Woocommerce beta 1 V 6.0.0 and going to the frontend of the website shows me a fatal error.

No gutenberg plugin activate. Just installed the latest beta 6.0.0 beta 1 and I get this error in the frontend.   Switching to 5.90 resolves the error. Please fix.

**

**

[2021-11-24 13:01] gigitux commented on #5214
Hi @chesterz-afterpay,
thanks for opening this issue and pointing out what is unclear in the documentation. We are currently looking into improving it and this type of feedback helps us with what to work on next.

The React component that is used for the express payment method in the interface should handle the click. Besides any internal logic it should also call the `onClick` handler that it rec

[2021-11-24 13:21] #5019 closed, assigned to nielslange

[2021-11-24 13:24] gigitux commented on #5236
Hi @BackuPs, thanks for filling this issue.

I tried to reproduce it in my site but wasn't able to do so. In order to further investigate the issue, would you be able to go to WooCommerce > Status, click on Get System Report and share it with us?

In the meantime, I would also suggest you to follow the [WooCommerce Self-Service guide](https://woocommerce.com/document/woocommerce-self-service-guide

[2021-11-24 13:33] BackuPs commented on #5236
Happens in any theme  also storeront

### WordPress Environment ###

WordPress address (URL): http://server.tst
Site address (URL): http://server.tst
WC Version: 6.0.0
REST API Version: ✔ 6.0.0
WC Blocks Version: ✔ 6.3.2
Action Scheduler Version: ✔ 3.3.0
WC Admin Version: ✔ 2.9.0-rc.2
Log Directory Writable: ✔
WP Version: ❌ 5.9-alpha-52231 - There is a newer version of WordPress available (5.9-alp

[2021-11-24 13:36] gigitux commented on #5190
@DarianDev can you write some detailed retro steps? Unfortunately, I am unable to replicate the problem

[2021-11-24 13:36] BackuPs commented on #5236
<font size="1">

Fatal  error: Uncaught Error: Call to undefined function  Automattic\WooCommerce\Blocks\gutenberg_supports_block_templates() in  /var/docs/server.tst/public/wp-content/plugins/woocommerce/packages/woocommerce-blocks/src/BlockTemplatesController.php  on line 135
--

</font>
</body>
</html>

[2021-11-24 13:37] BackuPs commented on #5236
If i activate the Gutenberg plugin of course it works.... But i dont want to activate gutenberg.  The error occurs when gutenberg is turned off

[2021-11-24 14:40] manospsyx opened #5239 "Cart item quantities not re-rendered when new values are passed down via the API"
## Describe the bug

One issue I attempted to tackle [here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4241), is this:

When custom code is used to keep the quantities of two (or more) items in sync, the quantities of "dependent" items fail to render correctly.

## To reproduce

Here's some code you can use to play around with this state-related problem:

[code]

What

[2021-11-24 15:02] Aljullu commented on #5232
@dinhtungdu is there any use-case for having the Mini Cart template part available from the inserter? If not, could we hide it completely? I agree it's easy to get confused and in theory the template part will be accessible from the Mini Cart block parameters (according to #5195), so there would be no need to show it in the inserter, no?

[2021-11-24 15:55] tammullen commented on #5236
This is occurring only with the latest WordPress nightly 5.9 Alpha.
I can reproduce with just WC 6.0 and WP 5.9 5.9-alpha-52236, error goes away if using WP 5.8.2
![Screenshot 2021-11-24 at 15 55 06](https://user-images.githubusercontent.com/24649833/143271733-e9d7fbaa-7009-4e06-86a6-3fbd54814671.png)

[2021-11-24 16:10] kra2010 commented on #5145
Hi @bajoski34 and @Aljullu

Thank you both for your feedback.
As suggested from you both I forwarded the question to my payment gateway Saferpay.
They are looking into it but confirmed already that it is currently not compatible.

I am technically not good enough to help out further.

Best regards and thanks again!

[2021-11-24 16:58] Aljullu commented on #5236
This was fixed in WC Blocks 6.4.0 (see https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5183), however, the version of WC Blocks included in WooCommerce 6.0 is 6.3.2, so that fix was not included.

We will need to do a WC Blocks 6.3.3 release including this fix so it can be merged into WC 6.0.

[2021-11-24 17:33] #5196 closed, assigned to dinhtungdu

[2021-11-24 19:04] BackuPs commented on #5236
Thank you for clearing that up.

[2021-11-24 19:48] maikunari commented on #2380
Is this block still a possibility?

[2021-11-24 20:19] nerrad commented on #2380
Yes, it's still on our radar as something we want to build, but I do not have any ETA for when it'll happen.

[2021-11-25 03:39] dinhtungdu commented on #5232
@Aljullu It makes sense to me! I don't see any other use-case either.

[2021-11-25 10:36] gigitux opened #5244 "Upgrade to webpack 5 and enable HMR"
The goals of this issue are:

- [ ] upgrade to webpack 5
- [ ] enable HMR

[2021-11-25 12:42] grogou opened #5245 "Attribute filter `lexical declaration` error"
## Describe the bug
Attribute filter get crashed and console output is `ReferenceError: can't access lexical declaration 'onSubmit' before initialization`
Not sure, but maybe we need to define `onSubmit` before call.

## To reproduce
Steps to reproduce the behavior:
Just add attribute filter to empty page and check some attribute. After that it get crashed.

## Environment
### WordPress
* Core ver

[2021-11-25 12:59] nerrad opened #5246 "Improving Release process"
This is a placeholder issue to capture the intent to consider a dedicated squad working on improving the release process of WooCommerce Blocks.

There are three outcomes we'd aim for:

- Audit and harden against any potential security issues in the release flow.
- Investigate what can be automated to reduce risk of human error.
- Improve/Establish development processes (PRs/Issue requirements etc)

[2021-11-25 15:17] sunyatasattva opened #5248 "Storybook Resurrection"
## Project summary

[Storybook](https://storybook.js.org/) is a UI visualization tool that helps documenting our component library, visualizing different variations (called “stories”) and making it easy for developers and designers alike to play around with the component properties and test for unintended changes.

We currently have an implementation of Storybook, but it's mostly bare-bones. The g

[2021-11-25 15:18] sunyatasattva opened #5249 "Migrate to latest Storybook best-practices"
Storybook 6 has introduced [various improvements and deprecations](https://medium.com/storybookjs/storybook-6-migration-guide-200346241bb5). The goal of this issue is to migrate our current implementation to take advantage of everything that has been added and streamline the process of component/stories creation.

In particular:

* Deprecation of various `addons` we are currently using in favor of

[2021-11-25 15:23] sunyatasattva opened #5250 "Revise storybook entry for `Button` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `Button` component:

- [ ] Implement controls for all props

### Possible stories

- [ ] Disallow add to cart
- [ ] Adding t

[2021-11-25 15:23] sunyatasattva opened #5251 "Revise storybook entry for `Chip` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `Chip` component:

### Controls

- [ ] Missing radius
- [ ] Fix removable chip

[2021-11-25 15:23] sunyatasattva opened #5252 "Revise storybook entry for `CountryInput` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `CountryInput` component:

### Controls

- [x] Error messages are not shown anywhere

[2021-11-25 15:23] sunyatasattva opened #5253 "Revise storybook entry for `PriceSlider` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `PriceSlider` component:

### Controls

- [x] min/maxPrice
- [x] min/maxConstraint
- [x] step
- [x] currency

[2021-11-25 15:23] sunyatasattva opened #5254 "Revise storybook entry for `ReadMore` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `ReadMore` component:

### Controls

- [x] maxLines
- [x] ellipsis
- [x] more/lessText

[2021-11-25 15:24] sunyatasattva opened #5255 "Revise storybook entry for `ErrorPlaceholder` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `ErrorPlaceholder` component:

### Controls

- [x] Error message

### Possible stories

- [x] Unknown error
- [x] API error

[2021-11-25 15:24] sunyatasattva opened #5256 "Revise storybook entry for `ExternalLinkCard` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `ExternalLinkCard` component:

### Controls

- [x] Href
- [x] Title
- [x] Description

[2021-11-25 15:24] sunyatasattva opened #5257 "Revise storybook entry for `Icon` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `Icon` component:

### Controls

- [x] Size

### Stories

- [x] Gallery
- [x] Base icon

[2021-11-25 19:34] senadir commented on #5245
True, I can even see the inline error in vscode
[code]

And I can confirm the bug.

An easy fix would be to move `onSubmit` just before `useEffect`. A better solution would be to not call `onSubmit` on render (but this might be harder).

[2021-11-25 19:48] leonardola opened #5259 "State has to be filled every time during checkout"
## Describe the bug
When a logged in user enters the checkout the state field is empty and has to be manually filled every time

## To reproduce
- While logged in as a shopper with a address saved go to blocks checkout page.
- The state will not be filled

## Expected behavior
State should be filled when customer has state saved

[2021-11-25 19:57] senadir commented on #5245
I confirmed this bug on trunk, couldn't reproduce it on 6.4.0 or 6.3.3

[2021-11-26 06:42] grogou commented on #5245
@senadir  if you want, I can fix this and open PR.

[2021-11-26 06:52] grogou commented on #5245
But I think the problem is something else, because as you checked the older versions works properly.

[2021-11-26 09:04] grogou commented on #5245
Is there a better solution to remove onSubmit from useEffect dependencies? In my opinion it can be better, the only thing I don't understand why it was in dependencies list.

[2021-11-26 09:33] senadir commented on #5245
Yeah I'm assuming something else changed and just now we're seeing the `useEffect` trigger early, moving the function up would sure fix this up but preferably, we want to know what changed.

`onSubmit` is used on the `useEffect` so we can't just remove it from the array, the issue is why that logic in `useEffect` is reached on first render.

[2021-11-26 09:43] gigitux commented on #5259
Thanks for opening this issue @leonardola! Unfortunately, I'm unable to reproduce the issue. The form fills and there is the same behavior as in the classic checkout page.

If you can reproduce it, it would be great if you could set up a site where we could reproduce the issue as well (ie: Jurassic Ninja or an ephemeral site).

Thanks!

[2021-11-26 14:47] #2487 closed

[2021-11-26 15:06] gigitux opened #5262 "The command `lint:css` checks only the folder `assets`"
After an internal discussion (`p1637936933498200-slack-C8X6Q7XQU`) we noticed that the command `lint:css` checks only the `.scss` files only in the folder `assets`.

The command should check the `.scss` files of the entire project.

[2021-11-27 08:58] lpizzinidev commented on #5250
Hi 🤚 Can I work on this issue?

[2021-11-28 18:37] #5126 closed, assigned to Aljullu

[2021-11-29 09:45] #5173 closed, assigned to Aljullu

[2021-11-29 10:29] Aljullu opened #5266 "Mini Cart: data is not updated when adding the first product to the cart"
## To reproduce
1. Add the Mini Cart block + the Products by Category block to a post or page.
2. In the frontend, use the Products by Category block to add a product to your cart.
3. Notice the Mini Cart block is not updated (still shows the previous number of items).
4. Add another product to your cart.
5. Notice now it works as expected.

https://user-images.githubusercontent.com/3616980/143851

[2021-11-29 10:52] nielslange commented on #5005
@igotdes The problem you reported had been resolved. Would you mind informing the client accordingly?

[2021-11-29 10:54] nielslange commented on #5106
Hello @DarianDev 👋 The translation problem you reported had been resolved in the last release. If you update to the latest version of the WooCommerce Blocks plugin, both the cart and the checkout pages should appear in German.

[2021-11-29 11:03] Aljullu opened #5267 "Global Styles work and exploration"
* We started implementing global styles to several blocks, but some of them proved to be more complex than expected. Those are:
  * Blocks which are rendered in PHP (ie: Product Categories List).
  * Blocks which are rendered in React (ie: Mini Cart).
  * Blocks where we need to style inner components (ie: Mini Cart quantity badge).
* This issue is about investigating what limitations the current

[2021-11-29 11:07] Aljullu opened #5268 "Product element blocks i1"
* Key project to:
  * list products inside the Query Loop block
  * replace some Legacy Templates with individual blocks
  * convert some of the widgets to blocks
* The first iteration would be focused on the Product price and Product rating blocks.

[2021-11-29 13:53] Aljullu opened #5269 "Legacy Template block: use box icon"
## To reproduce

1. With WC 6.0, Gutenberg and a block theme installed, go to Appearance > Editor.
2. Select the Single Product template.
3. Click on the Legacy Template block and notice it has the generic block icon.

## Expected behavior
It should use the `box` icon.

## Screenshots
<img width="1555" alt="Screenshot 2021-11-26 at 10 58 41" src="https://user-images.githubusercontent.com/3616980/1

[2021-11-29 13:57] Aljullu opened #5270 "Legacy Template block: investigate using useForcedLayout() for locking"
In a recent discussion (see p1637925029465400/1637923254.460600-slack-C8X6Q7XQU), @senadir suggested using `useForcedLayout()` to lock the Legacy Template block, that would allow adapting it to our specific needs, like making the block to reappear when deleted.

This issue is about researching if `useForcedLayout()` would be useful for the Legacy Template block and, if it is, make use of it to imp

[2021-11-29 14:24] Aljullu opened #5271 "Ensure WooCommerce is shown as the source of WC templates"
Testing with today's Gutenberg `trunk`, the _Added by_ column of the Templates page correctly shows that some templates are added by WooCommerce. However, that only works if the template has been edited by the user. When the template is coming directly from the plugin, the _Added by_ column is empty.

## To reproduce

1. With WC 6.0, Gutenberg and a block theme installed, go to Appearance > Editor

[2021-11-29 14:26] Aljullu commented on #5271
Heads-up that this is also happening with Template parts:

![imatge](https://user-images.githubusercontent.com/3616980/143885291-a78ff5ef-b922-426d-97f7-d35260e0b40e.png)
(Mini Cart is missing the WooCommerce _Added by_ label)

So if we could fix it there in parallel, that would be awesome! :slightly_smiling_face:

[2021-11-29 14:33] Aljullu opened #5272 "WooCommerce templates: it's not possible to revert them"
## To reproduce

1. With WC 6.0, Gutenberg and a block theme installed, go to Appearance > Editor.
2. Go to the Templates page and edit one of the WooCommerce templates (ie: Single Product Page).
3. Go back to the Templates page and try to _Clear Customizations_ of the template you just edited.
4. See error: _No templates with that id exist._

## Expected behavior
The user-edited template should b

[2021-11-29 14:36] leonardola commented on #5259
I was using a previous version of the plugin. Updating to 6.4 fixed the bug. Closing this

[2021-11-29 14:36] #5259 closed, assigned to nobody

[2021-11-29 15:37] sunyatasattva commented on #5250
Hi @lpizzinidev ! Thanks for offering your help. Feel free to work on this issue, then! And ping me if you need any extra clarification.

[2021-11-29 17:38] Aljullu opened #5274 "Mini Cart block button should be disabled in the editor"
## To reproduce
1. Create a post or page.
2. Add a Mini Cart block.
3. Click on the Mini Cart button.
4. Notice the block border is not shown (blue). You need to click outside of the button to make it appear.

https://user-images.githubusercontent.com/3616980/143916178-f58da793-38d7-41bc-91b3-73a18fb5521b.mp4

## Expected behavior
The block border should become visible when clicking on the Mini Ca

[2021-11-29 22:06] sunyatasattva opened #5276 "PriceSlider IE workaround doesn't work on focus"
In the [`PriceSlider` component](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/components/price-slider/index.js#L123) we have a function to workaround an IE issue based on the mouse position.

This piece of code runs also `onFocus`. However, the mouse coordinates (in this case `clientX` are not available on the focus event).

We should talk about a p

[2021-11-30 01:30] igotdes commented on #5005
Done! I've informed the user.

Thanks for working on this and for keeping me updated too, @nielslange!

[2021-11-30 07:56] #4928 closed, assigned to nielslange

[2021-11-30 07:58] nielslange commented on #5005
_Thank you_ for reaching out to the user, @igotdes! 🙌

[2021-11-30 09:39] #4400 closed, assigned to alexflorisca

[2021-11-30 09:42] #5186 closed, assigned to gigitux

[2021-11-30 11:18] nerrad commented on #4929
Just a few thoughts:

and

@senadir will you clarify the terminology in the description and edit "build" to "source"? I'm pretty sure you meant source files (or files used for building) but a first read-through caused me to trip up a bit because I read it as "built".

----

@niels can you clarify if this issue has been addressed elsewhere - I see a number of linked relevant issues in various place

[2021-11-30 12:15] Aljullu opened #5278 "Mini Cart block: extensibility audit"
Once all other issues related to the Mini Cart block have been finished, we will need to audit if extensions are working fine with it.

Some extensions that we might want to test:
* Subscriptions: are prices shown correctly (ie: `$5/month`)?
* Product Add-Ons: are product addons shown in the cart items.
* ...

This issue involves:

* Getting a list of extensions that integrate with the Cart block.

[2021-11-30 13:25] mcalduch commented on #4989
I can't find the exact procedure to reproduce the problem but you can see at the end of  these two videos as the cpu goes up to 100%.

https://www.loom.com/share/fb62cebc24aa4e77bc7d655e60ba0ce0?sharedAppSource=personal_library

https://www.loom.com/share/fb7cffad0a5445fdaca8c688cfccbe14?sharedAppSource=personal_library

[2021-11-30 13:31] lpizzinidev commented on #5250
@sunyatasattva Thanks! I'll be working on this

[2021-11-30 14:10] ralucaStan opened #5279 "Checkout block: Spacing issue when having different shipping options"
## Describe the bug
The space between the different shipping options is too small

## To reproduce
Steps to reproduce the behavior:

1. Install Woo Blocks and Woo Subscriptions
2. Add Simple subscription product with a subscription price and a signup fee
3. Go to the front-end and add the subscription price to the cart
4. Go to the Checkout block and look at the shipping options, notice that there

[2021-11-30 14:34] mcalduch commented on #4989
hi @nerrad
finaly i found it!
it's simple :

1. Add the gutenberg capability to the products :
function activate_gutenberg_products($can_edit, $post_type){
    if($post_type == 'product'){
        $can_edit = true;
    }

    return $can_edit;
}
add_filter('use_block_editor_for_post_type', 'activate_gutenberg_products', 10, 2);
2. Edit prouct A
3. Add a handpicked block with product B and C
4. Edi

[2021-11-30 14:39] mcalduch commented on #4989
![loop](https://user-images.githubusercontent.com/1370292/144067541-9b692f97-e64f-47c0-a429-49d33937f3c4.png)

this line

[2021-11-30 16:03] sunyatasattva commented on #5250
We currently have an open PR that migrates StoryBook to 6.4.0. Please work off that branch whlle it is not merged and then you'll be able to rebase. https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5264

[2021-11-30 17:00] choijun commented on #4787
Hi @Aljullu

I am sorry for late response, and for this problem - you won't need to reproduce the problem if you have programming knowledge, if you look at the screenshot I sent you will see that the current code will throw an exception.

Also I recorded to reproduce the problem https://somup.com/crXvDd0uDK

I reinstalled the WP site and imported the WC demo data, and add the `Product Category Lis

[2021-11-30 17:19] alexflorisca commented on #5101
Hey @senadir could you be a bit more specific about which blocks you tested with? I'm just trying to replicate this and I'm struggling to find any blocks registered with Automatewoo or Mailpoet. Mailpoet only has one block which is server side rendered. I've returned `<script>throw new Error()</script>` from this block on the server which kills the Mailpoet block but the Checkout seems unaffected.

[2021-11-30 17:28] Aljullu opened #5280 "WooCommerce templates: remove the 'Page' suffix from names"
The name of all WooCommerce templates ends with `Page`, but this is unnecessary and we would like to remove it.

![imatge](https://user-images.githubusercontent.com/3616980/144097099-33106abd-ce98-49c4-a301-a057ffa15673.png)

To the renaming should be:

* `Product Category Page` → `Product Category`
* `Single Product Page` → `Single Product`
* `Product Archive Page` → `Product Archive`
* `Product

[2021-11-30 18:12] alexflorisca opened #5281 "FSE: WooCommerce template names are editable after changes"
## Describe the bug
The core wordpress template names are not editable. The woocommerce templates shouldn't be either. However if one is to edit a template, save it and reload it, the title of the template becomes editable.

## To reproduce
Steps to reproduce the behavior:

1. With WC 6.0, Gutenberg (latest trunk) and a block theme installed, go to Appearance > Editor
2. Go to the Templates page a

[2021-11-30 18:58] nerrad commented on #4989
Thanks for the additional details @mcalduch! I'm still going to leave this issue closed because this Woo doesn't officially support using the block editor in the product editor yet and that is something that you are reproducing this with. If this was reproducible outside of the product editor then we would definitely take a closer look.  Otherwise, for now, the details here will be useful when we

[2021-12-01 08:50] #5233 closed, assigned to gigitux

[2021-12-01 09:10] Aljullu commented on #5195
We decided not to allow users to create additional template parts in the Mini Cart template part area. Because of that, this issue is no longer needed.

[2021-12-01 09:10] #5195 closed, assigned to nobody

[2021-12-01 09:15] Aljullu opened #5284 "Mini Cart: don't allow users to create extra template parts in the Mini Cart template part area"
Having more than one template part registered in the Mini Cart template part area might be confusing by users. Because of that, we won't allow the creation of extra template parts in the Mini Cart template part area.

In order to achieve this we need to:

* Revert the changes included in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5231.
* Find a way so the Mini Cart te

[2021-12-01 09:47] senadir commented on #5101
Hey @alexflorisca, I think Thomas pointed you to using the newsletter plugin? try checking this branch https://github.com/woocommerce/newsletter-test/pull/6/

[2021-12-01 10:21] senadir commented on #4929
and

I'm not sure if I was the one who wrote that, but still, I meant source files, not build files, updated.

If we're to remove them here before they're pushed, that would be great, but using `postinstall` is also a solution.

I was actually having a déjà vu, Darren and I had this same exact convo a year ago, I'm not sure if anything changed from composer side, so it's worth another try.

p15997

[2021-12-01 10:36] Aljullu opened #5285 "Twenty Twenty Two: there is no spacing between Add to cart and View cart buttons in product grids blocks"
## To reproduce
1. With the [Twenty Twenty Two theme](https://wordpress.org/themes/twentytwentytwo/), add the Products by Category block to a product or page.
2. In the frontend, click on _Add to cart_ on one of the products.
3. Notice a _View cart_ link appears, but it's rendered without spacing.

## Expected behavior
Ideally, it should be rendered either in a new line or with some left margin.

[2021-12-01 10:38] Aljullu opened #5286 "Twenty Twenty Two: discounted prices are underlined"
## To reproduce
1. With the [Twenty Twenty Two theme](https://wordpress.org/themes/twentytwentytwo/), add the Products by Category block to a product or page.
2. In the frontend, check how discounted prices are shown.
3. Notice the discounted prices is underlined.

## Expected behavior
There shouldn't be underline under the discounted price.

## Screenshots
![imatge](https://user-images.githubuser

[2021-12-01 10:39] yuvraj-singh08 commented on #5285
I would Like to work on that and will submit a pull request soon

[2021-12-01 11:12] Aljullu commented on #5217
This issue is also happening in the Cart and All Products blocks and seems to be specific to WP 5.9.

[2021-12-01 11:28] #5249 closed, assigned to sunyatasattva

[2021-12-01 14:01] Aljullu commented on #4787
Thanks for sharing the video, @choijun. This was very useful! I _think_ I could reproduce it once, but wasn't able to reproduce it again anymore. :confused:

I will re-open the issue, but I would like a second pair of eyes on this. @mikejolley is that something you could help me with? Some users are reporting a PHP fatal error when using Elementor. According to @choijun, the issue is on [this line

[2021-12-01 14:04] senadir opened #5288 "Cart/Checkout i3"
This is an epic task to track all Cart/Checkout i3 related tasks/enhancements, this includes:
- Doubling down on some inner blocks area.
- Introducing block replacements.
- Exposing more components/APIs.

[2021-12-01 14:11] senadir opened #5289 "Checkout performance benchmarking"
This is an epic task that is meant to:
- Research what kind of metrics we should be tracking (locally in CI, globally in merchants stores).
- Implement tracking locally/globally.

We're not yet to act on the results of this benchmarking yet, just collecting it.

Prior work for local GB tracking:
- https://codehealth.vercel.app/
- https://github.com/youknowriad/codehealth
- https://github.com/WordP

[2021-12-01 14:51] Aljullu opened #5290 "Twenty Twenty Two: items in Attribute Filter and Stock filter are underlined"
## To reproduce
1. With the [Twenty Twenty Two theme](https://wordpress.org/themes/twentytwenty/), create a post or page with these blocks: Filter Products by Attribute, Filter Products by Stock and All Products.
2. Go to the frontend and notice the attribute names and stock label are underlined:

![imatge](https://user-images.githubusercontent.com/3616980/144256418-981ed097-5450-4542-8927-6cacda4

[2021-12-01 16:26] alexflorisca commented on #5101
Thanks @senadir, I'm using the newsletter-test component and I can throw an error inside it and you're right, it kills the whole checkout block. I've tried a few things and talked to @opr briefly but unfortunately couldn't find anything that works. but I'll leave my thinking here for discussion, maybe you have some ideas...

First I thought that if we could detect if the block errors before it's b

[2021-12-02 09:18] #5236 closed, assigned to nobody

[2021-12-02 10:13] Aljullu commented on #5217
After some investigation, this seems to be a bug in the [Query Monitor](https://wordpress.org/plugins/query-monitor/) plugin (I had it active while testing). If I'm not wrong, the issue was introduced in Query Monitor 3.7 and it's still present in Query Monitor 3.7.1. However, I tested with `trunk` from the repo and it seems to have been fixed there.

So closing this issue.

[2021-12-02 10:13] #5217 closed, assigned to nobody

[2021-12-02 14:12] Aljullu commented on #5245
After my testing, I think this was introduced in #5212, when we switched the Babel config. I think for now we should go with the easy solution (moving `onSubmit` above its usage) and work on any refactors in another issue. Thoughts?

[2021-12-02 14:34] grogou commented on #5245
@Aljullu I think it is true for now to fix this, but if we think long term, we need to solve this without moving functions up or down to fix problem. And we need to understand how cases like this works on the Gutenberg ( I am about `@wordpress/babel-preset-default` ).

[2021-12-02 14:44] jameskoster opened #5295 "Add descriptions to Woocommerce templates"
In WooCommerce 6, templates should also have descriptions, see the archive template.

Steps:
1. With WC 6, Gutenberg and a FSE theme installed, go to Appearance > Editor.
2. Click the WP logo in top right to open left hand sidebar, click Templates
3. The Woocommerce templates should have a description similar to the standard Wordpress templates

<img width="816" alt="Screenshot 2021-12-02 at 14 42

[2021-12-02 14:46] senadir commented on #5245
Generally speaking you shouldn't call a function before defining it, so moving it up is a no brainer really, we can also create a follow up issue here to track the actual issue, which is calling onSubmit too early.

@grogou what do you mean with `And we need to understand how cases like this works on the Gutenberg`? Do you mean why would switching babel config surface this issue now?

[2021-12-02 14:56] grogou commented on #5245
I am not guru, but if I am not right sorry. The function declaration causes its identifier to be bound before anything in its code is executed. So this case is strange for me.

Yes I am about that, Maybe they had same problem, idk.

[2021-12-02 14:59] grogou commented on #5245
@senadir I am sorry it is variable ( const ) for JS not function.

[2021-12-02 15:09] senadir commented on #5245
I'm struggling to follow here, but are you saying it's weird that this issue surfaced just now? In JS, there's a concept called [Hoising](https://developer.mozilla.org/en-US/docs/Glossary/Hoisting), it would move declarations before calls in a scope (in our case, the scope is the component). Hoising is disabled in strict mode, I'm guessing updating caused strict mode to kick in on those components

[2021-12-02 16:28] peterlama opened #5296 "Checkout: Selected payment method token gets out of sync with paymentMethodData"
If the payment data context gets reset to pristine status after selecting a saved payment method option, the saved payment method option stays selected but the paymentMethodData sent to the server when submitting the checkout again remains empty.

## To reproduce

Note that I'm using the stripe payment method in this case, but it is the same with any gateway that saves the payment method token.

1

[2021-12-02 16:38] #5256 closed, assigned to sunyatasattva

[2021-12-02 16:56] #5255 closed, assigned to sunyatasattva

[2021-12-02 16:56] #5257 closed, assigned to sunyatasattva

[2021-12-02 17:40] grogou commented on #5245
Yes I am about that.

It's sounds good. If the new update enabled strict mode, this is wrong. Sorry.

[2021-12-02 18:51] #4983 closed, assigned to alexflorisca

[2021-12-03 03:23] sunyatasattva opened #5299 "ReadMore component missing reactivity"
## Describe the bug
The `ReadMore` component is not reacting correctly to its props being changed, as some of them are transformed only once in `componentDidMount` but no update logic is there.

## To reproduce
Steps to reproduce the behavior:

1. Run `npm run storybook` (at the time of writing, you'll need to use branch on #5300)
2. Go to [ReadMore storybook entry](http://localhost:6006/?path=/st

[2021-12-03 07:19] grogou commented on #4395
Sorry for be late, I am working on this now, so if this request is actual for now I can continue work on this.

[2021-12-03 09:07] #5262 closed, assigned to gigitux

[2021-12-03 09:45] #4849 closed, assigned to gigitux

[2021-12-03 10:28] vivialice commented on #5194
@Aljullu Do you want me to write some copy for the description?

[2021-12-03 15:01] laurentdebricon opened #5302 "google analytics loaded twice , conflict with https://github.com/woocommerce/woocommerce-google-analytics-integration"
Hello,
i have https://github.com/woocommerce/woocommerce-google-analytics-integration
and now with your plugin, i have two request to google analytics :
![Screenshot from 2021-12-03 15-56-08](https://user-images.githubusercontent.com/736104/144623518-e8aed987-dc37-490e-8224-6858aa777776.png)

it seems that
[code]
is a great check but it is missing in woocommerce-google-analytics-integration , whic

[2021-12-03 16:27] alexflorisca opened #5303 "MYSQL Syntax error in frontend when using MariaDB"
Kristófer Reykjalín reported a SQL syntax error appearing on the front-end. From Kristófer:

WordPress database error: [You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ') AND meta_key LIKE 'attribute\\_%'' at line 1]

I haven't been able to reproduce this yet, and have reached out to Kristófer on [Slack](p16384

[2021-12-03 19:45] jacoswan opened #5305 "Lazy-loaded translations cannot be customized"
## Describe the bug

It's not possible to translate WooCommerce Payments' "Save payment information to my account for future purchases." text using something like Loco Translate, or via a hook:

<img width="779" alt="Screenshot 2021-12-03 at 19 38 58" src="https://user-images.githubusercontent.com/15178758/144662890-f83c17a0-c692-4a4b-9af2-24dc1efef5cb.png">

## To reproduce
Steps to reproduce the

[2021-12-03 20:43] nerrad commented on #4198
I'm going to close this because I think it's done? (reopen if it isn't).

[2021-12-03 20:43] #4198 closed, assigned to frontdevde

[2021-12-03 20:44] nerrad commented on #4102
@Aljullu, I'm assuming this can be repurposed to address the navigation _screen_ when it comes in a future release of WP (so 6.0). I'm assuming navigation block support is already handled? If not, please prioritize as needed.

[2021-12-04 04:36] dinhtungdu commented on #5284
This issue closes #5232

[2021-12-04 10:26] dinhtungdu commented on #5266
@Aljullu I can't reproduce the issue. The Mini cart works when adding the first product. Tested on Quadrat and Storefront.

https://user-images.githubusercontent.com/5423135/144706156-3785df2c-a695-44a3-a6af-f696d2324c0d.mov

[2021-12-04 13:40] iamgabrielma opened #5309 "Image on WooCommerce Featured Category block cannot be removed"
## Describe the bug
Reported via 4567023-zen , while is possible to change an image when using the WooCommerce Featured Category, is not possible to remove once added and leave the default background.

## To reproduce
1. Add a Featured Category block
2. Add an image to the block
3. See how there's not an option to remove it.

## Expected behavior
There's no button to remove it, just to switch it.

[2021-12-04 14:14] msroky opened #5310 "Description on the cart and checkout page"
I would like you to remove this product description from the cart and checkout page in the next upgrade because I think it is unnecessary and just takes up space.

![Capture4](https://user-images.githubusercontent.com/12650820/144712615-16f843f2-cc6d-42c0-b775-f7739e8d716b.PNG)
![Capture5](https://user-images.githubusercontent.com/12650820/144712621-2331bb25-e538-49cb-8580-43e348fdaeb3.PNG)

I rem

[2021-12-04 14:34] msroky commented on #5011
Loading cart and checkout pages is still very bad, empty space is displayed first (as if the page does not exist) and only after a few seconds everything is loaded, my customers for this reason leave these two pages. Please fix this as soon as possible.

I made a video of what it looks like: https://i.imgur.com/6e8iuQX.mp4

On a mobile phone it looks even worse, the elements move as if falling apa

[2021-12-05 10:54] galapogos01 commented on #4769
Please don't close this, I'm not the only person asking for it :)

[2021-12-05 20:54] sunyatasattva opened #5311 "Storybook and TS migration of cart checkout components"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

As scope of this issue, we should migrate the following small components which already exist in our Storybook:

- [x] `TotalsCoupon`
- [x] `TotalsD

[2021-12-06 03:00] dinhtungdu opened #5314 "Mini Cart block: Edit template part link doesn't work for themes don't have mini cart template part."
## To reproduce
Steps to reproduce the behavior:

1. Make sure the current theme doesn't have`mini-cart` template part.
2. Add Mini Cart block to a page.
3. Select the block.
4. Click on the Edit template part link.
5. See the error.

## Expected behavior
Edit mini-cart template part link should work with any theme.

## Screenshots
![image](https://user-images.githubusercontent.com/5423135/1447800

[2021-12-06 09:05] nielslange commented on #4929
I marked two issues as related:

1. #4725 → This issue affects the zip file that gets created when downloading the repo from GitHub. My fix #5242 **does not affect** the part that gets included into the WooCommerce core.
2. #4928 → This issue affects the zip file that gets created for testing when running the command `npm run package-plugin:deploy`. My fix #4928 **might have solved the problem** t

[2021-12-06 09:14] nielslange commented on #5010
I just checked the wide alignment, and it works perfect. Independent of the screen width, there's always an outer margin visible. I'll go with this solution for now. We can always iterate towards a full-width solution later, if really needed.

[2021-12-06 10:03] #5245 closed, assigned to Aljullu

[2021-12-06 10:37] mikejolley commented on #5276
It works around lack of pointer-events (https://mikejolley.com/2019/08/02/building-a-cross-browser-compatible-multi-handle-range-slider/#supporting-internet-explorer-and-edge).

Since this only impacts the ability to mouse over the handles, I don't expect focus to be affected. What was the problem you saw?

[2021-12-06 10:40] mikejolley commented on #4787
@Aljullu [looks like it can return an error.](https://developer.wordpress.org/reference/classes/wp_rest_server/get_namespace_index/) Not sure why unless the namespace is not registered for whatever reason. Based on the return type `(WP_REST_Response|WP_Error)` we could add an `is_wp_error` check or what you suggested above.

[2021-12-06 12:29] mikejolley commented on #4787
Looks like this is actually a duplicate of https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/4683 so lets tackle it there.

[2021-12-06 12:29] #4787 closed, assigned to nobody

[2021-12-06 14:41] #5271 closed, assigned to gigitux

[2021-12-06 15:00] mikejolley commented on #5202
@senadir [Does this comment mean](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5179#issuecomment-975928014) this is no longer needed for the use case you referenced?

`woocommerce_blocks_checkout_update_order_from_request` action provides the draft order, and the request data from the **checkout route request**. This data sent to the checkout endpoint will differ from

[2021-12-06 15:40] Aljullu commented on #5266
That's very strange because I can consistently reproduce it. I took some time to investigate it and found out the issue was introduced in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5022.

@dinhtungdu do you have Gutenberg installed or are running WP 5.9? I think that might be one of the differences. If not, can you check the source code of the page in the frontend and

[2021-12-06 16:42] senadir commented on #5202
I'm assuming the need to react to the email being filled is going to come back later (express payment methods that checks the email, newsletters) so we might need to provide something better than `woocommerce_before_order_object_save`.

I agree with the rest of your points. Moving email to `store/checkout` also sounds good but the benefits aren't that big now unless we're okay running `woocommerce

[2021-12-06 17:00] #5254 closed, assigned to sunyatasattva

[2021-12-07 00:14] sunyatasattva commented on #5310
Hi there @msroky !

Thank you for reaching out to us with your request!

~I believe your issue is dependent on the theme you are currently using and is not specific to us. Which theme are you currently using? It would be great if you could share your current System Status Report. You can get it by navigating to the `WooCommerce / Status` section of your site. Once there, click on the `Get system r

[2021-12-07 01:21] reykjalin commented on #5303
## Some relevant version numbers

Nginx and MariaDB, installed via [`valet install`](https://laravel.com/docs/8.x/valet#installation).

[code]

[code]

PHP, installed via `brew install php@7.4`.

[code]

WordPress: 5.8.2
WooCommerce: 5.9.0
WooCommerce Blocks: 6.4.0 (or 6.3.x)

MacOS: Monterey Version 12.0.1 (21A559)
My mac is an M1 MacBook Pro.

## Reproduction steps

1. Install WordPress.
2. Inst

[2021-12-07 05:18] dinhtungdu commented on #5266
@Aljullu I tested again with WP 5.8.2, Gutenberg `trunk` and WC nightly build; still can't reproduce the issue. So I'm unassigning myself from this issue.

I'm using WP 5.9 beta. I attached my site health information below for more detailed environment.

I can find that code on the front end. Copying it here for reference.

<details>
<summary>Details</summary>

[code]
</details>

<details>
<summar

[2021-12-07 05:20] #5284 closed, assigned to dinhtungdu

[2021-12-07 05:20] #5232 closed, assigned to dinhtungdu

[2021-12-07 05:21] #5175 closed, assigned to dinhtungdu

[2021-12-07 07:22] dinhtungdu opened #5325 "Mini Cart: Unexpected error trying to reset the template part."
## To reproduce
Steps to reproduce the behavior:

1. Edit Mini Cart template part.
2. Try to reset the customization by clicking on the Document actions arrow on the center top of the Site Editor header.
3. See error.

## Expected behavior
The mini-cart template part should be able to reset as other template parts.

## Screenshots
https://user-images.githubusercontent.com/5423135/144984117-bf91cf3

[2021-12-07 10:22] Aljullu commented on #5266
Thanks for the details @dinhtungdu! I just tested it in another site and there I'm unable to reproduce it. :confused:

@gigitux, if you have some time, can you try to reproduce this issue? If you aren't able to reproduce either, I think we can close it. If at some point there is another instance where it's reproducible, we can always reopen.

[2021-12-07 10:42] ralucaStan opened #5328 "Twenty Twenty-Two & Quadrat: Adding a variable product to cart does not work"
**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
Adding a variable product to cart on the Twenty Twenty-Two theme fails.

**Expected behavior**
On the product page, when the user selects the va

[2021-12-07 10:49] Aljullu opened #5327 "WooCommerce templates: two 404 requests when loading the templates list"
WP makes two 404 requests when loading the Templates list (in Appearance > Editor > Templates). Those requests are:

* `/wp-json/wp/v2/themes/woocommerce`
* `/wp-json/wp/v2/plugins/WooCommerce`

While nothing seems to break because of that, we should try to avoid making unnecessary requests.

## To reproduce
Steps to reproduce the behavior:

1. Go to Appearance > Editor > Templates with your brows

[2021-12-07 10:53] ralucaStan opened #5329 "Twenty Twenty-Two & Quadrat: the image for a product variation does not get filtered after selecting variation"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-12-07 13:02] #5042 closed, assigned to mikejolley

[2021-12-07 13:11] grogou opened #5331 "Price filter `Error: debouncedUpdateQuery is not a function`"
## Describe the bug
The problem is on the price filter we have `const debouncedUpdateQuery = useDebouncedCallback( onSubmit, 500 );` on line 72 but we need `const [ debouncedUpdateQuery ] = useDebouncedCallback( onSubmit, 500 );` I guess.

## To reproduce
Steps to reproduce the behavior:
Just add price filter to empty page.

## Environment
### WordPress
* Core version: latest
* Gutenberg version:

[2021-12-07 13:46] #5331 closed, assigned to nobody

[2021-12-07 13:47] grogou commented on #5331
Error comes from my side. The problem is non updated npm dependencies.  Go to close this.

[2021-12-07 14:07] #4857 closed, assigned to dinhtungdu

[2021-12-07 14:29] #5274 closed, assigned to dinhtungdu

[2021-12-07 14:38] #5310 closed, assigned to nobody

[2021-12-07 14:39] sunyatasattva commented on #5310
Duplicate of #4045

[2021-12-07 15:03] #4683 closed, assigned to mikejolley

[2021-12-07 15:07] #5252 closed, assigned to sunyatasattva

[2021-12-07 15:47] #4533 closed, assigned to mikejolley

[2021-12-07 16:06] mz-mee opened #5332 "Additional form in shipping"
Hi,
I use this plugin for choosing some pickup places (it´s very popular delivery company in Czech republic). But it´s not working with your plugin.

Your plugin just output shipping text, but not add form and button which is needed by this plugin. You can visit screen, with default woocommerce checkout page and your plugins checkout - https://ctrlv.cz/LFO6. There is some possibility to solve this

[2021-12-07 16:26] Aljullu commented on #4102
There are still some improvements we want to make to the Navigation block independently of the Navigation screen: making it easy to add WooCommerce Endpoints links, allowing to add the Product Search and Mini Cart blocks, etc.

For now, we prioritized other projects which had a bigger impact; that's specially true considering that the Navigation screen hadn't been enabled in classic themes. In any

[2021-12-08 08:59] gigitux commented on #5266
@Aljullu @dinhtungdu I was able to replicate the problem (see the video). After reading the entire discussion, I update the  Gutenberg trunk and now everything works correctly.

You can replicate the problem if you checkout on this commit `93393d09e8`

https://user-images.githubusercontent.com/4463174/145178675-82e9bc20-1b81-41bd-b543-0bfd3930aac7.mp4

[2021-12-08 09:53] Aljullu commented on #5266
Thanks for testing @gigitux and @dinhtungdu! I was trying again with WP 5.9 beta 2 and with the latest version in Gutenberg `trunk` and I can't reproduce it anymore either.

[2021-12-08 09:53] #5266 closed, assigned to nobody

[2021-12-08 10:29] tjcafferkey opened #5336 "WooCommerce block templates do not load without Gutenberg plugin in WP 5.9"
## Describe the bug
WooCommerce templates don't load in the Site Editor on WP 5.9 unless you have the Gutenberg plugin installed and active.

## To reproduce
Steps to reproduce the behavior:

1. Ensure you're running WP 5.9 or later.
2. Install a block theme such as [TT1](https://en-gb.wordpress.org/themes/tt1-blocks/)
3. Ensure you also _do not_ have Gutenberg installed
4. Go to URL `/wp-admin/si

[2021-12-08 11:21] #5336 closed, assigned to tjcafferkey

[2021-12-08 12:17] #5251 closed, assigned to alexflorisca

[2021-12-08 12:31] mikejolley commented on #5190
I double-checked the StoreAPI implementation for new orders and confirmed:

- Orders cannot be created or placed without an address
- The route updates the customer object first, and then the order based on customer data
- Before payment, there is a final validation routine to ensure addresses are set. If not, the endpoint returns `woocommerce_rest_invalid_address`

So from the API perspective, I

[2021-12-08 13:48] tjcafferkey commented on #5328
Can confirm this happens when using the Block Template. When using the Core PHP template this works as expected. Going to investigate further.

[2021-12-08 13:54] ralucaStan opened #5339 "Handle select from @wordpress/data-controls deprecation warning"
The `select`, `syncSelect` and `dispatch` exports from @wordpress/data-controls [have been deprecated](https://github.com/WordPress/gutenberg/pull/26509) and we see this type of warnings:

[code]

We should fix this by switching to the corresponding controls. (For example: built-in `resolveSelect` control in `@wordpress/data`)

Things to take into consideration: see p1634809299040100-slack-C8X6Q7X

[2021-12-08 14:03] sunyatasattva commented on #5332
Hi there Martina!

Thank you for reaching out to our team with your suggestion. Let me see if I understood you correctly: you are using a 3rd party plugin from WPify (could you point out the exact plugin, please?) and, with this plugin, on the shipping section there will be some extra actions added which are required for the plugin to work, but they don't show up in our blocks, is that correct?

H

[2021-12-08 14:34] sunyatasattva commented on #5305
So, here is a summary of what was discovered in extensive troubleshooting:

The way common translation plugins usually work is by generating a `.pot` file (if not present) by gathering all the correctly marked strings to allow for easy localization by translators. Once a translation is done, `.po` and (possibly) `.mo` files are generated, which are then used by PHP plugins in the required contexts

[2021-12-08 14:38] DarianDev commented on #5190
it is really strange, in the order confirmation, which is sent by mail to the customer, the address is listed normally but when you call the order in the backend it says that no data was given. @mikejolley

[2021-12-08 14:40] sunyatasattva commented on #5179
Hi @ryanhungate,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-12-08 14:40] #5179 closed, assigned to nobody

[2021-12-08 14:42] sunyatasattva commented on #5214
Hi @chesterz-afterpay,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2021-12-08 14:42] #5214 closed, assigned to nobody

[2021-12-08 15:19] mz-mee commented on #5332
Hello,
that´s exactly it.
The plugin you can download here -
https://cs.wordpress.org/plugins/wpify-woo/ and the modul is called Packeta
(Zásilkovna).

I found plugin, that works with this shipping button, there is -
https://cs.wordpress.org/plugins/fluid-checkout/. You can visit our website
cart to see the html output (it´s only in czech, shop catalog is here -
https://tvprodeti.cz/kramek/).

I s

[2021-12-08 15:31] mikejolley commented on #5190
Sounds like something is deleting or hiding the data after the order is placed? Do the order notes reveal any hints? If the order goes through I don't see how this is related to the checkout process in Blocks.

[2021-12-08 15:34] DarianDev commented on #5190
@mikejolley i myself have not yet managed to reproduce the error, it always occurs with real customer orders, unfortunately there are no clues.

[2021-12-08 16:16] mikejolley commented on #4768
I did some digging into this and found that:

- Testing as far back as Stripe 5.4.1 (before the issue was reported), the wrappers no longer render. Neither does the `-- or --` line. This looks to have been something resolved in Checkout i2.
- There are no console errors reported or caught
- [This line is responsible for not adding methods where `canPay` is false](https://github.com/woocommerce/woo

[2021-12-08 16:16] #4768 closed, assigned to mikejolley

[2021-12-08 16:55] sunyatasattva commented on #5276
First of all, a huge thanks for the link to the blog post. It's amazing that you wrote a rundown of your experience developing this specific component, that was a fascinating read.

I didn't see any specific problem because I'm not sure how it's supposed to behave. However, if you see [here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/components/pr

[2021-12-08 17:02] sunyatasattva commented on #5332
Hello Martina,

Thanks for your reply. Unfortunately, this seems to be an issue with the plugin author, as it's their responsibility to provide compatibility with our blocks. We do provide opportunities for such plugins to extend our functionality like it is shown in the screenshot you provided.

You could point the plugin author specifically to [this documentation](https://github.com/woocommerce/

[2021-12-08 17:02] #5332 closed, assigned to nobody

[2021-12-08 17:20] tjcafferkey commented on #5328
This is occurring because the code that [enqueues the required script ](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/wc-template-functions.php#L1710) is running _before_ the code that [registers the required script](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-frontend-scripts.php#L169).

This is only an issue for

[2021-12-08 19:49] ralucaStan commented on #5339
After the change some tests might be failing, like [this one ](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/8ef356f341aadb0858b4325d4d05dc8e9f4a1ce9/assets/js/blocks/cart-checkout/payment-methods/test/payment-methods.js#L102-L103), so the assertion should be removed. Just search in the project for
[code]

[2021-12-08 22:52] Stella13x commented on #5296
Similar issue with sales tax/Blocks. Is it related??

I'm still on Blocks 6.0.1 & Woo 5.8.0 specifically because of this CC issue. Thank you for solving it because people thought I was crazy for weeks!!!

Here's what I think may be a related issue because it happens apparently based on user behavior in their cart but I have yet to nail down how/what they are doing.

I just had a user check out twi

[2021-12-09 09:21] Aljullu opened #5343 "Update the path of WooCommerce templates to match the new Gutenberg folders"
In https://github.com/WordPress/gutenberg/pull/36647, Gutenberg changed the folder names of block themes to use `templates` and `parts` instead of `block-templates` and `block-template-parts`. In WooCommerce, [we are using the old ones](https://github.com/woocommerce/woocommerce-gutenberg-products-block/tree/de2dd8e9b5584ea9e7d79972b9ff3ec13d166556/templates), it's not a big deal because we are no

[2021-12-09 09:35] #5272 closed, assigned to Aljullu

[2021-12-09 09:52] Robertght opened #5344 "Featured Product block breaks when product is out of stock + hidden from catalog"
This is a replica of https://github.com/Automattic/wp-calypso/issues/58595

----

### Quick summary

'Featured Product' block breaks in the editor when the product is out of stock _and_ the Inventory is set to hide out of stock items from the catalog. Selecting `edit` results in `This block has encountered an error and cannot be previewed.`

### Steps to reproduce

1. Open a WooCommerce Site
2. Ad

[2021-12-09 10:23] gigitux commented on #5325
With the [current changes](https://github.com/woocommerce/woocommerce-gutenberg-products-block/commit/eb6261983f49af42c868d553890598039dc85ef1#diff-cfaa24e1b12af6f8b27e25520ede2cb24607c3e27d1035f6874af82280a59453L147-L153), I'm not able to replicate the problem anymore.

Can you check again?

[2021-12-09 12:05] mz-mee commented on #5332
Ok, I understand. Thanks for your time! If developer of plugin contact me,
I resend him the links.

Martina

st 8. 12. 2021 v 18:03 odesílatel M. L. Giannotta ***@***.***>
napsal:

[2021-12-09 13:54] dinhtungdu commented on #5325
@gigitux Thanks for testing! I can confirm the issue can't be reproduced with the latest changes.

[2021-12-09 13:54] #5325 closed, assigned to gigitux

[2021-12-09 13:58] #5314 closed, assigned to dinhtungdu

[2021-12-09 15:26] gigitux opened #5351 "Editor: On the sidebar - list view, when the user clicks on a block related to a different status, the editor doesn't render the block with the new status"
## Describe the bug
For an improved UX the editor should render the block with the new status.

## To reproduce
Steps to reproduce the behavior:

1. Open template parts.
2. Edit the Mini Cart template.
3. Be sure that in the editor the block state is set to `Filled`
4. Open the list view and click on `Empty Mini Cart`.
5. Check that in the editor the block state doesn't change

https://user-images

[2021-12-09 16:57] alexflorisca opened #5353 "`npm run storybook` is broken"
## Describe the bug
On the latest [trunk](ffc42ecb748b932ad67c47be0258699985e03233), `npm run storybook` is broken due to a dependency conflict with the `@emotion/styled` package. A [recent PR](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5223) upgraded a lot of packages, including the `@wordpress/components` package, which now relies on `@emotion/styled@11.6.0`. Storyb

[2021-12-09 17:38] Stella13x commented on #5296
@mikejolley Thank you so much! You have no idea how happy I am to see that.

[2021-12-09 23:28] sunyatasattva commented on #5303
Hey @reykjalin !

Thanks for the further instructions. I was able to reproduce the error, and stripped away a few extra steps of the post you shared that are not strictly required to reproduce, but only if one wants to setup a full dev environment. I'll bring this to the backlog.

Fastest setup I could come up with is the following:

1. `brew install mariadb`
2. `mysql.server start`
3. In the Mari

[2021-12-10 08:14] #4926 closed, assigned to frontdevde, tjcafferkey

[2021-12-10 08:29] nielslange opened #5355 "Limit CSS styles to WooCommerce Block icons only"
## Describe the bug

In https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5317, I added the following CSS definition that ensures that the icon remains readable when being selected in the list view:

[code]

In https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5317#discussion_r765857807, @Aljullu pointed out that this CSS definition should only affect

[2021-12-10 10:04] Aljullu opened #5356 "Use native forEach in SearchListControl utils"
SearchListControl utils file is [importing `forEach` from lodash](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/ffc42ecb748b932ad67c47be0258699985e03233/assets/js/editor-components/search-list-control/utils.tsx#L4). However, the [`forEach` native equivalent ](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach) is well-supported

[2021-12-10 10:07] #5269 closed, assigned to nielslange

[2021-12-10 10:19] tjcafferkey commented on #5230
@MaggieCabrera I'm unable to replicate this issue, I've added added the `archive-product.html` template to the Blockbase theme and added some additional text to the markup you provided, which does get rendered on the frontend by overriding the Woo plugin templates. Can you please confirm if you're still experiencing this issue, or if I have misunderstood the problem?

Just for context, it is [here

[2021-12-10 10:21] Aljullu opened #5357 "Mini Cart: make it so the link to the template part works on WP 5.8 + GB and WP 5.9"
Issue surfaced by @dinhtungdu in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5348#pullrequestreview-828545463. The template editor URL is different in WP 5.8 + GB and WP 5.9, so we can't reliably link to it without doing a WP version check.

Ideally, instead of adding the logic to check the WP version in WC Blocks, we can contribute upstream in Gutenberg and create a `

[2021-12-10 10:28] MaggieCabrera commented on #5230
@tjcafferkey it's still happening to me. I'm using [this branch](https://github.com/Automattic/themes/pull/5079) of Blockbase that has the edited templates (basically I make them wide width). Using the following plugins:

<img width="1299" alt="Screenshot 2021-12-10 at 11 25 33" src="https://user-images.githubusercontent.com/3593343/145559135-0670384f-0a8a-4a31-bc8b-de8152eb2fb6.png">

After I upd

[2021-12-10 10:51] #5328 closed, assigned to tjcafferkey

[2021-12-10 10:51] #5329 closed, assigned to tjcafferkey

[2021-12-10 10:56] Aljullu opened #5359 "Mini Cart: investigate if 'Edit template part' link should be available only to users with certain capabilities"
The Site editor is not available to all users, only those with `current_user_can( 'edit_theme_options' )` can access it, if I'm not wrong. Because of that, the link to edit the template part should only be visible to users that can edit it.

This issue is about:

* Researching which permission level is needed to edit template parts.
* Update the Mini Cart block code so the link to edit the templat

[2021-12-10 11:09] dinhtungdu commented on #5359
I think it's better to set the edit link from the backend. So in the editor, we just need to check for a single variable.

[2021-12-10 11:12] #4674 closed, assigned to gigitux

[2021-12-10 11:18] Aljullu commented on #5359
Agree, I was thinking about this too, we would need to pass less variables from PHP to JS.

[2021-12-10 13:49] Aljullu commented on #5305
Right, the way some WC Blocks strings are loaded differs from the rest of the strings in WP, so translation plugins need to update to support that. What's strange is that Loco Translate reports to support [JSON translation files](https://localise.biz/wordpress/plugin/manual/json), so I would expect it to work.

@senadir what are your thoughts on this one? Should we add it to the backlog and do som

[2021-12-10 14:32] #5355 closed, assigned to nobody

[2021-12-10 14:35] senadir commented on #5305
It is to my understanding that we're not doing anything new around translations, WordPress would enqueue and then its json translation and we would lazy load a script and its lazy loaded translation.

A more practical example would be to test LocoTranslate with a script that is loaded via WP (so core blocks like Cart, Checkout, and even payment methods).

If all fails, you can still filter JS tran

[2021-12-10 14:36] mikejolley opened #5365 "Blocks have too many different loading states and should be consolodated"
## Describe the bug

[Related to this issue with loading skeletons](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5011) and [this PR which adds inline skeletons while content is loading](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5026) (needs refresh), blocks currently have 3 different loading states.

### 1: Loading skeleton before render

[2021-12-10 15:26] #5296 closed, assigned to mikejolley, senadir

[2021-12-10 15:26] #5239 closed, assigned to senadir

[2021-12-10 15:52] brettshumaker opened #5366 "Updating shipping method at checkout doesn't update the draft order that's been created."
## Describe the bug
During checkout, changing the selected shipping method updates the data in the session, but does not update the draft order that has been created.

## To reproduce
Steps to reproduce the behavior:

1. Make sure at least 2 shipping methods are enabled for your store.
2. Add products to your cart.
2. Go to the block checkout page.
3. In a new window/tab, open the 'Edit' screen fo

[2021-12-10 16:08] #5353 closed, assigned to alexflorisca

[2021-12-10 16:25] sunyatasattva commented on #5305
From LocoTranslate docs:

Bear with my ignorance here, but could it be that since, e.g., the French translation is half there, Loco will not look further for the rest of the strings provided by the user?

Indeed, but not very user friendly, especially on a large scale. Maybe one or two strings are alright, but, say you want to translate the entire thing in Armenian or whatnot, it would become unwi

[2021-12-10 16:37] gigitux commented on #5327
After some investigation, I will summarize what I discovered.

The request `/wp-json/wp/v2/plugins/WooCommerce` is done when the user lands on `Template` section, instead the request `/wp-json/wp/v2/themes/woocommerce` is done when the user lands on `Template Parts` section.

The first request [is done by this component on GB](https://github.com/WordPress/gutenberg/blob/98295006774a9bfdeaad452dd16

[2021-12-10 18:52] sunyatasattva opened #5367 "Storybook migration of `QuantitySelector` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `QuantitySelector` component:

### Controls

- Missing all controls

[2021-12-10 18:52] sunyatasattva opened #5368 "Storybook migration of `ProductPrice` component"
As part of the [Storybook resurrection](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5248) project, we intend to revise our currently implemented components to add full control and, where applicable, a few useful stories.

In particular, for the `ProductPrice` component:

### Controls

- All controls are missing

### Stories

- [x] Default
- [x] Sale
- [x] Range

[2021-12-10 21:31] frosso opened #5369 "Export of checkout UI base components"
## Is your feature request related to a problem? Please describe.
It would be awesome if some of the base UI components on the checkout page were exported/exposed to be available for consumers.
This way consumers can leverage them in custom UC flows, ensuring that their behavior matches the one of the "default" elements.

![Screen Shot 2021-12-10 at 3 24 26 PM](https://user-images.githubuserconten

[2021-12-13 10:05] Mte90 commented on #4338
Stale for the third time...

[2021-12-13 13:26] alexflorisca opened #5374 "Duplicate actions and filters generate duplicate hook docs"
## Describe the bug
When running the hook-docs script, `npm run build:docs`, if there are two actions in the same file (e.g. `woocommerce_after_main_content` action in [this file](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/BlockTypes/LegacyTemplate.php), the docs will output the same action twice.

## To reproduce
Steps to reproduce the behavior:

1. run `np

[2021-12-13 13:34] mikejolley commented on #5366
@senadir we need to decide which cart endpoints update orders too, since this has come up twice now. Other endpoints that could affect orders, but currently only affect the cart include _line item_ endpoints (e.g. add to cart/remove from cart/coupons). These only persist cart data to the order when the checkout page is loaded, and when the order is placed. There is a helper which converts and sync

[2021-12-13 13:57] #5202 closed, assigned to mikejolley

[2021-12-13 14:07] senadir commented on #5366
It would make that sense that all of them update the order or none of them updates it, I'm leaning toward all of them updating order but I feel like this isn't an outcome you're looking to get @mikejolley? Also, is there performance issues if they all updated an order?

[2021-12-13 14:26] mikejolley commented on #5366
@senadir I'm not in favour of that. We shouldn't treat orders as the storage mechanism for cart data, and yes, there is an overhead to syncing cart data to order data.

I would prefer that the data collected during checkout is only persisted when you place the order, like a traditional form submit, with the initial cart->order sync on entry. If certain things need to be updated during checkout flo

[2021-12-13 14:48] brettshumaker commented on #5366
@mikejolley This just came up during the development of the platform checkout. I don't know that it's specifically "needed" for what we're building, but it seemed like a bug since only _some_ cart data is synced with the draft order so I reported it.

@frosso - is this something we would need for the platform checkout? My initial thought is "no" but want to check with you as well.

[2021-12-13 14:52] frosso commented on #5366
I agree with you @brettshumaker - I don't think it's not needed, just a little inconsistency we noticed.

Thanks for the explanation on the functionality!

[2021-12-13 15:19] senadir commented on #5366
I agree.

I think this would be at odds with what we're doing right now, and would cycle us back to the same API we had a year ago with shipping being a separate endpoint.

We also update coupons and select shipping during checkout, which are done via cart and reflect cart.
We update shipping and billing addresses which are a shipping property but reflect cart, as they update totals.

Are you sugg

[2021-12-13 15:29] mikejolley commented on #5366
I forgot about those. So you're suggesting whenever cart updates, we update checkout/order too then?

In theory I guess we'd have to if certain things, like line items, ever had the ability to update/remove during checkout itself.

Let me ponder this some more. Perhaps we could solve this across all routes by always running a sync after a cart update, if a draft order is in session.

[2021-12-13 15:31] #4894 closed, assigned to mikejolley

[2021-12-13 15:34] senadir commented on #5366
I'm actually okay with not updating the order until its placed, with the only exception is persisting the email.

Take your time, however, if we still feel like updating order is going to cause a performance issues, we can just work with the premise that its only going to be updated three times:
- On checkout load.
- On entering email.
- On placing order.

Other updates are all handled by cart (co

[2021-12-13 16:06] Aljullu commented on #5327
Thanks for investigating this @gigitux and for posting links to the code, that was very useful. Hope you don't mind that I continued your research. It turns out the REST endpoint already exists, it's provided by WordPress core. However it must be called in the form `/wp-json/wp/v2/plugins/woocommerce/woocommerce`. I found it out debugging the code from here:

https://github.com/WordPress/wordpress

[2021-12-13 16:44] #5130 closed, assigned to mikejolley

[2021-12-13 20:20] sunyatasattva opened #5376 "PriceSlider bugs out when both ranges are deleted"
## Describe the bug
When both the minimum and maximum are manually deleted from the `PriceSlider` component text inputs, the minimum becomes a negative number.

## To reproduce
Steps to reproduce the behavior:

1. Add a `Filter by price` and `All products` blocks
2. Go to the frontend
3. Focus the min price → erase
4. Focus the max price → erase
5. Blur the inputs

## Expected behavior
Both minimu

[2021-12-14 00:46] #5351 closed, assigned to dinhtungdu

[2021-12-14 00:54] #5359 closed, assigned to dinhtungdu

[2021-12-14 04:27] dinhtungdu opened #5377 "Mini Cart: Default content for empty state"
## Is your feature request related to a problem? Please describe.
The content of the empty mini cart view is different from the design.

## Describe the solution you'd like
The current design for the empty view:
![Screen Shot 2021-12-14 at 10 01 04](https://user-images.githubusercontent.com/5423135/145933020-9651383f-a0a0-43f5-ba7f-a7b318cd423b.png)

[2021-12-14 11:26] madeincosmos opened #5378 "Cart block: confusing info when no shipping options are available"
## Describe the bug
When no shipping options are available for the given address, WooCommerce Cart Block still displays shipping cost as $0. This adds visual noise and can be confusing to some customers.

## To reproduce
Steps to reproduce the behavior:

1. Go to **WooCommerce > Settings > General**
2. Under **Shipping locations** select **Ship to specific countries only** and choose US underneath

[2021-12-15 10:13] gigitux commented on #5357
In accordance with [this comment](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5372#issuecomment-992298108), I think that we can close this issue. What do you think? @Aljullu

[2021-12-15 11:18] Aljullu commented on #5357
Right!

[2021-12-15 11:18] #5357 closed, assigned to gigitux

[2021-12-15 11:19] dinhtungdu opened #5387 "Mini Cart: only allow Mini Cart Contents block in the `mini-cart` template part"
## Is your feature request related to a problem? Please describe.
With changes introduced in #5386, the title of the `<Drawer>` is converted to an inner block. To style the filled view correctly with the footer fixed to bottom, the products table is scrollable and expands to the remaining vertical space of the `<Drawer>`, we need to make the Mini Cart Contents block full height.

Adding other bloc

[2021-12-15 12:05] dinhtungdu commented on #5387
At this point, if we decide to only allow Mini Cart Contents block in the `mini-cart` template part, then do we even need the template part?

If the template part makes it easier for themes to customize the mini cart content block, how theme authors can do that with our current implementation? Note that we use `useForcedLayout` and a hard-coded set of blocks in [here](https://github.com/woocommerc

[2021-12-15 14:46] chrismademe opened #5388 "Checkout Block ignores woocommerce_available_payment_gateways hook"
## Describe the bug
When using the WooCommerce Checkout block, the `woocommerce_available_payment_gateways` hook is not respected and so any payment gateways added/removed here are not reflected at checkout.

## To reproduce
Steps to reproduce the behavior:

1. Enable a payment gateway in WooCommerce settings, bank transfer for example.
2. Add this code to your theme's `functions.php`:

[code]

3.

[2021-12-15 16:03] #5367 closed, assigned to sunyatasattva

[2021-12-15 16:30] #5311 closed, assigned to sunyatasattva

[2021-12-15 16:54] #5253 closed, assigned to sunyatasattva

[2021-12-15 16:55] github-actions[bot] opened #5391 "Description of this currently unknown"
Description of this currently unknown

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/509bede1c950d3426ab3819fed81c5349642c106/assets/js/types/type-defs/currency.ts#L11-L25
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in 509bede1c950d3426ab3819fed81c5349642c106 when #5293 wa

[2021-12-15 16:55] github-actions[bot] opened #5392 "create a list of allowed currency codes String which sep..."
create a list of allowed currency codes

String which separates the decimals from the integer

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/509bede1c950d3426ab3819fed81c5349642c106/assets/js/types/type-defs/currency.ts#L5-L18
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in

[2021-12-15 16:55] github-actions[bot] opened #5393 "create a list of allowed currency symbols String which s..."
create a list of allowed currency symbols

String which separates the thousands

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/509bede1c950d3426ab3819fed81c5349642c106/assets/js/types/type-defs/currency.ts#L29-L35
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in 509bede1c950

[2021-12-15 18:07] #5368 closed, assigned to sunyatasattva

[2021-12-15 19:03] sunyatasattva opened #5395 "`PriceSlider` turns into a skeleton when loading"
The `PriceSlider` component disappears and turns into its skeleton form in its loading state. Specifically, in the context of the `Filter by price` block, the loading state is whenever the change event is fired as the user releases one of the handles.

## Video

https://user-images.githubusercontent.com/1847066/146248331-a04fb31b-01ce-4270-8d63-19429f5d9bc1.mov

## Proposal

This issue was [discus

[2021-12-15 19:10] sunyatasattva opened #5396 "Module aliases conflict with eslint `dependency-group` rule"
We currently use this custom ESLint rule: eslint(@woocommerce/dependency-group) which makes us group internal and external dependencies in import statements separately.

The rule, however, considers our aliased module starting with `@woocommerce/` to be external, which not only defeats the purpose of the rule, but it actually makes it worse, because now people reading the code are explicitly told

[2021-12-15 19:19] sunyatasattva opened #5397 "Improve Currency type documentation"
As part of TypeScript migration and Storybook docs, we have made and documented a few TS interfaces. Currently, the currency interface accepts any `string` as currency code, which would not be exact. A stricter type would mean allowing only available currency codes.

The same, arguably, should be done for allowed currency symbols, though perhaps it would be less important.

Also, during the docume

[2021-12-15 19:19] #5391 closed, assigned to nobody

[2021-12-15 19:20] sunyatasattva commented on #5391
Duplicate of #5397

[2021-12-15 19:20] sunyatasattva commented on #5392
Duplicate of #5397

[2021-12-15 19:20] #5392 closed, assigned to nobody

[2021-12-15 19:20] sunyatasattva commented on #5393
Duplicate of #5397

[2021-12-15 19:20] #5393 closed, assigned to nobody

[2021-12-15 19:25] nerrad commented on #5305
Ultimately, the issue stems from third-party translation plugins needing to support newer JS-based translation options for WordPress (or lazy loaded translations which is something WordPress core doesn't currently support out of the box). We have mechanisms that _work out of the box_ for translation files either created manually (from po files created by something like `wp i18n make-json`) or Glot

[2021-12-15 19:25] #5305 closed, assigned to nobody

[2021-12-16 01:18] dinhtungdu commented on #5387
With https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/4856, yes, we need a template part.

[2021-12-16 06:42] wyter opened #5398 "All Products Block not cropping product images at 1:1"
## Description
When displaying products on a page with the WooCommerce All Products block, portrait images are not getting cropped to the 1:1 setting. This leads to some products being displayed with varying heights wherever the block is used.

## To reproduce
1. Switch to Storefront
2. In Appearance → Customize → WooCommerce → Product Images, set cropping to 1:1
3. Create a product with a product

[2021-12-16 09:27] nielslange commented on #5398
Hello @wyter 👋

Thanks for reporting this problem. I took a brief look and this problem seems to affect all cropping options and all themes. I'll look closer into this case now.

[2021-12-16 10:35] gigitux opened #5399 "FSE - Template: Template changes are not saved"
## Describe the bug
If you save a `WooCommerce` template and refresh the page, you don't see any changes.

## To reproduce
Steps to reproduce the behavior:

Be sure that you have: `WordPress 5.9`, `Gutenberg trunk version`, `WooCommerce 6.0.0`, and `WooCommerce Blocks trunk`

1. Go to `Template Page` on `Full Site Editor`.
2. Click on one of the `WooCommerce template` like `Single Product Page`.
3

[2021-12-16 11:05] ralucaStan opened #5401 "Our custom Eslint rules for correct usage of feature flag don't work"
## Describe the bug
We have custom Eslint rules for correct usage of feature flag that don't work.
They were introduced by [this PR](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/1696), and they live in this file `bin/eslint-plugin-woocommerce/` and are an extension of the `eslint-plugin-woocommerce` package. See the  `"eslint-plugin-woocommerce": "file:bin/eslint-plugin

[2021-12-16 11:55] Aljullu opened #5402 "Templates can't be saved in WP 5.9 beta 3 with Gutenberg disabled"
## To reproduce
1. With WP 5.9 beta 3 and Gutenberg disabled, go to Appearance > Editor.
2. Edit one of the WooCommerce templates and try to save it.
3. Notice you get a 404 error: `No templates exist with that id.`.

The problem seems to be that we [check for the existence of `gutenberg_get_block_template()`](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/64246a7a651a84b

[2021-12-16 12:30] nielslange opened #5403 "Replace `fireEvent.click()` with `userEvent.click()`"
A few tests are still using `fireEvent.click()`. https://testing-library.com/docs/ecosystem-user-event/ states:

Given that `@testing-library/user-event` is already a `devDependency`, we should replace the occurrences of`fireEvent.click()` with corresponding `userEvent.click()`.

I checked for other `fireEvent` methods and the only other call is `fireEvent.load()` for which no corresponding `userE

[2021-12-16 13:44] senadir opened #5404 "checkout route validating against existing payments, not available ones"
When posting an order to checkout post, we run some schema validation for the payment method.
The route would validate against registered payment methods, which could differ from available payment methods:

[code]

This means if a payment is removed via this filter, checkout will not catch and the order would process (a different bug, because `get_request_payment_method` isn't running).

I don't s

[2021-12-16 14:14] senadir opened #5405 "Attempting to pay with a non-available payment method doesn't throw an error."
Related to https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5404, when attempting to pay with a payment method that is not available, you don't get an error, the order isn't placed, but is set to pending payment.

Payments can be registered but not available, using a code like this:

[code]

This was protected using `get_request_payment_method`, but in a recent refactor,

[2021-12-16 17:28] Aljullu commented on #5387
Just to add on this, there are a couple of reasons we want to have the Mini Cart drawer contents in a template part:
* It adds a focused editing experience. The editing experience from Appearance > Editor > Template parts removes all the clutter around the Mini Cart. The alternative would be having the Mini Cart drawer contents being editable from the Header template part, the widgets screen, or w

[2021-12-16 17:48] sunyatasattva commented on #5250
@lpizzinidev Do you still want to work on this issue?

[2021-12-17 13:13] lpizzinidev commented on #5250
@sunyatasattva
I'm sorry I've been busy lately working on other projects and I didn't have the time to work on this.
Feel free to assign the issue to somebody else.

[2021-12-17 13:46] ralucaStan opened #5410 "E2E tests: Add a manual way of tearing down the attributes"
See https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4562#discussion_r688413063 for details

[2021-12-17 15:38] gigitux opened #5411 "FSE - Templates - Revert theme name"
After some investigation, we discovered that #5375 introduces a bug on saving template (#5399). So we need partial revert #5375

[2021-12-17 15:52] gigitux commented on #5327
I'm reopening this issue because this bug will be reintroduced with #5412

First, we should be sure that `woocommerce/woocommerce` is the right endpoint.

When we are sure of this, we should check if the best option is change the theme value in our codebase (more info #5399 #5409)

[2021-12-17 16:07] gigitux commented on #5399
This issue is fixed with #5412

[2021-12-17 16:07] #5399 closed, assigned to gigitux

[2021-12-17 16:17] #5411 closed, assigned to gigitux

[2021-12-17 18:33] dinhtungdu opened #5413 "Add text color and link support to Mini Cart Contents block"
## Is your feature request related to a problem? Please describe.
https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5386 added background support to the Mini Cart Contents block. To make the block more usable, we should allow the admin to control the text and link color as well.

The admin only needs to set the colors for the Mini Cart Contents block. The inner blocks should

[2021-12-19 15:07] codewp opened #5414 "Cart Items changes track"
The cart block can not track changes in cart items, for example, quantity changes of an item.

In the below screenshot, the user changes the first item quantity for "3" to "4" and the second item quantity will change in the backend by an auto-add plugin, which automatically adds items to the cart like in the BOGO deals.

![5](https://user-images.githubusercontent.com/10684451/146679523-7d1dff62-bc

[2021-12-19 15:14] codewp opened #5415 "Enable read only items in the cart block"
## Is your feature request related to a problem? Please describe.
Add ability to lock a specific item in the Cart block so the user can't change its quantity or delete it using the "Remove item" link.

It is possible to do the above feature in the WooCommerce cart shortcode with hooks but it is not possible in the cart block.

More details about the use-case in this comment https://github.com/wooc

[2021-12-20 04:53] dinhtungdu opened #5416 "Mini Cart Contents: background doesn't work on the frontend with Gutenberg disabled"
## Describe the bug
Using WordPress 5.9 beta, with the Gutenberg disabled, admins can still edit and save the background color of the Mini Cart Contents block in the site editor. But the color doesn't apply on the front-end.

## To reproduce
Steps to reproduce the behavior:

1. Update to WordPress 5.9 beta.
2. Disable Gutenberg.
3. Go to Appearance > Site Editor > Template Parts > Mini Cart.
4. Se

[2021-12-20 07:27] wuspum opened #5417 "[On Sale Products] Mysql error when no variable products are displayed, since WC 6.0"
## Describe the bug
On Sale Products & Best Selling Products blocks throw Mysql error since Woocommerce 6.0 when no variable products are present.

`[20-Dec-2021 07:21:16 UTC] Chyba databáze WordPressu: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') AND meta_key LIKE 'attribute\\_%'' at line 1. Konkrétní dota

[2021-12-20 07:57] #4855 closed, assigned to dinhtungdu

[2021-12-20 07:58] github-actions[bot] opened #5418 "Review the class naming convention for Mini Cart inner bl..."
Review the class naming convention for Mini Cart inner blocks.

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/8d08c6056afede0f97ac204e6add679bc8d6e0d1/assets/js/blocks/cart-checkout/mini-cart/style.scss#L79-L90
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in 8d08c6056afede0

[2021-12-20 07:58] github-actions[bot] opened #5419 "The `div` wrapper of RawHTML isn't removed on the front e..."
The &#x60;div&#x60; wrapper of RawHTML isn&#x27;t removed on the front end. */ }

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/8d08c6056afede0f97ac204e6add679bc8d6e0d1/assets/js/blocks/cart-checkout/mini-cart/block.tsx#L197-L200
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment

[2021-12-20 09:55] nielslange commented on #5398
Hello @wyter 👋

After investigating this problem, I noticed that it's not trivial to fix. Therefore, I have added this issue to our backlog. I cannot tell you when it will be fixed, but I'll ping you when it will be picked up.

[2021-12-20 09:58] #5402 closed, assigned to Aljullu

[2021-12-20 10:46] #5281 closed, assigned to Aljullu

[2021-12-20 11:27] #5010 closed, assigned to nobody

[2021-12-20 12:53] #5230 closed, assigned to tjcafferkey

[2021-12-20 13:35] MaggieCabrera commented on #5230
Thank you @tjcafferkey! This fixes the issue I had on Blockbase

[2021-12-20 15:14] tjcafferkey opened #5423 "Store Editing Templates: Currently using the incorrect slug for WooCommerce"
## Describe the bug

Amongst the code for the WooCommerce Store Editing Templates we are using the id/slug `woocommerce` or `WooCommerce` for our block templates. We've recently discovered the correct value should possibly be `woocommerce/woocommerce`and have noticed a number of issues because of this:

* On the frontend when the component tries to [fetch the WooCommerce plugin data by slug](https

[2021-12-20 16:16] gigitux commented on #5423
I agree with double-checking this.

If we are sure that the structure is `plugin-slug//template-slug` and our plugin slug is `woocoommerce/woocommerce` we are ready to go.

My concern is that `woocoommerce/woocommerce//${slug}` could be not very clear if it is checked by someone that doesn't have context,  it can be a little bit tricky.

[2021-12-21 07:18] MichaelBengtsson opened #5424 "Allow Gateways to set billing address fields in the checkout, and other changes to better support embeded checkouts."
## Is your feature request related to a problem? Please describe.
We are trying to integrate Klarna Checkout with the Checkout Blocks logic and have run into a couple of problems.

**Background**
Embedded (iFrame based) checkouts are very popular in the Nordics and this solution is offered by the majority of the biggest payment providers here. At Krokedil we have for quite some time developed solu

[2021-12-21 10:55] gigitux opened #5426 "On WordPress 5.8 an error will be display if the user after save the template refresh the page"
## Describe the bug
On WordPress 5.8 the error `You attempted to edit an item that doesn't exist. Perhaps it was deleted?` when the user after saving the template, keeps staying in the template editor and refresh the page.

## To reproduce
Steps to reproduce the behavior:

1. Open the FSE editor
2. From the sidebar on the left click on `Templates`.
3. Click on one of these templates `Product Categ

[2021-12-21 10:57] nielslange opened #5427 "Switch to correct view if parent block is selected"
## Describe the bug

When adding the cart block to a page and opening the list view, the view between the `Filled Cart` and the `Empty Cart` can only be switched by clicking on an inner block within these blocks, e.g. the `Cart Items block` or the `Image block`. When clicking on the parent blocks itself (`Filled Cart` or `Empty Cart`) within the list view, the view does not change.

## To reproduc

[2021-12-21 11:22] nielslange opened #5428 "Form autofill doesn't work when using 1Password"
## Describe the bug

In #4561, we ensured that autofill within the checkout blocks works as expected. While testing the WooCommerce Blocks 6.6.0 release, I discovered that the autofill functionality is working when using the native autofill functionality of Chrome, but not when using 1Password.

## To reproduce

1. Create a test page with the checkout block.
2. Go to the shop page and add a produc

[2021-12-21 11:55] mikejolley commented on #5428
cc @senadir

[2021-12-21 13:11] #5366 closed, assigned to mikejolley

[2021-12-21 13:19] davidhealey commented on #891
I'm hitting this issue now too. I have two sites, one using blocks, one not using them. I am making use of the `woocommerce_loop_add_to_cart_link` filter to change the Select Options button to an Add to cart button for variable products that only have two variations.

[2021-12-21 13:54] opr commented on #5152
Closed when merging accidentally. Reopened as this is not solved yet.

[2021-12-21 15:32] opr commented on #5428
This works ok on non-localhost sites - set up a JN site to test this and you'll see it's not reproducible there. The error that _seems_ to be happening locally is
[code]
from the 1Password JS files.

I created a post on their forums to see if we can get more info about this.

[2021-12-21 17:09] github-actions[bot] opened #5432 "Revise Storybook entries for `Checkout Blocks/totals` com..."
Revise Storybook entries for &#x60;Checkout Blocks/totals&#x60; components

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/c805af2903b488c82bc43109fc8d8eab3352828e/packages/checkout/components/totals/fees/stories/index.tsx#L41
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in

[2021-12-21 18:05] opr commented on #5414
Hi there, I'm unable to reproduce this, but I'll ask some other members of the team to try as well.

Using this code to add 1 to the quantity of every other item in the cart when the quantity of any item is updated.

I added this to my theme's `functions.php` file

[code]

Here's a video of the cart updating correctly.
https://www.loom.com/share/8e34c728ab0a41e2bfbea9b145aebbfa

In the meantime co

[2021-12-21 18:59] mikejolley commented on #5414
I think support for this was added in 6.6.0?

[2021-12-21 22:49] vg-robin commented on #5417
Yep, either this needs opening or #31402 re-opening. There's clearly a need to check that prime_product_variations() is actually checking for product variations...

[2021-12-22 08:33] #5290 closed, assigned to nobody

[2021-12-22 11:03] #5377 closed, assigned to dinhtungdu

[2021-12-22 12:53] mikejolley commented on #5404
@senadir This is actually intentional. We want to accept all possible IDs via the API endpoint because `get_available_payment_gateways` may be influenced by certain contexts unavailable when doing the OPTIONS request to the Store API. For example, a payment method might be enabled for certain customer types.

Therefore, this should be left alone. What we need to do (and this is covered by the othe

[2021-12-22 12:53] #5404 closed, assigned to mikejolley

[2021-12-22 14:21] tjcafferkey opened #5441 "Store Editing Templates: Added By template information incorrect for customised template based off product-archive.html"
## Describe the bug

This appears to be a fairly niche bug and is related to https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5380 however this wasn't an issue at the time of merging.

If we are using the `product-archive.html` template from the theme also for the product categories/tags (because templates for these dont exist in the theme), when we customise one of the pro

[2021-12-22 14:50] gigitux commented on #5387
I think that we should wait that https://github.com/WordPress/gutenberg/issues/36008 is resolved

[2021-12-22 14:56] mikejolley commented on #5388
For anyone reviewing this issue, this is not a straightforward swap to `get_available_payment_gateways`. The example above is simplistic and doesn't factor in more advanced use cases where payment method availability could be based on cart items, customer, address, etc etc. Therefore the ideal solution would be to return available methods via the API, potentially on both the `cart` and `checkout`

[2021-12-22 15:47] tjcafferkey commented on #5441
Whilst having an initial look with @sunyatasattva we've narrowed it down so far to this piece of logic which is responsible for it https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/BlockTemplatesController.php#L178-L189

And because of this, it doesn't have the required data `theme_has_file` [which the `added-by.js` component is expecting](https://github.com/WordPr

[2021-12-22 20:01] sunyatasattva commented on #5441
So, I did some more research and I have also a proposed fix. However, since the intended purpose is a bit obscure to me, I am not going to take any decision just yet. I'll post a little graph of the way I understand the problem: I know it's a bit overkill and I usually wouldn't do that, but since we were pairing and—again—I am not sure whether I understand the problem correctly, I thought it could

[2021-12-23 03:10] dinhtungdu commented on #5387
Good catch! I strongly agree.

[2021-12-23 07:16] dinhtungdu opened #5445 "Mini Cart Contents block improvements"
## Is your feature request related to a problem? Please describe.
There are some enhancements we should address to make the Mini Cart Contents block more usable:

- [ ] With the Block Navigation opened, the view doesn't change if users select the view block (not inner blocks). This applies to both Cart and Mini Cart.
- [ ] The empty view is using forced layout, which is unnecessary. Because of tha

[2021-12-23 10:59] codewp commented on #5414
@opr and @mikejolley

Thank you for your feedback.

Yes, it seems that it is fixed in 6.6.0
I tested it on 6.5 before the 6.6 release.

Thanks

[2021-12-23 10:59] #5414 closed, assigned to nobody

[2021-12-23 11:02] chrismademe commented on #5388
Thanks for the response. I appreciate it's probably not as straight forward as it seems.
With that said, is there currently a way to filter available methods on the frontend?

[2021-12-23 13:24] #5378 closed, assigned to opr

[2021-12-23 14:54] gigitux commented on #5172
After some investigation, I think it is not our responsibility to hide templates.

For FSE themes, [the theme developer can hide them via the `theme.json`](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-json/#customtemplates)

For classic themes, [the theme developer can hide them via a comment on PHP code](https://developer.wordpress.org/themes/template-files-section/page

[2021-12-23 15:01] tjcafferkey commented on #5172
I am inclined to agree with you!

[2021-12-23 15:18] tjcafferkey opened #5450 "Store Editing Templates: Consider new block templates & block-template-parts directories"
## Describe the bug
The new naming conventions set for FSE enabled themes now look for the templates html files in `templates` and `parts`. [Tove](https://en-gb.wordpress.org/themes/tove/) is an example of a theme that uses these now.

We need to also check these directories in [our code](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/Utils/BlockTemplateUtils.ph

[2021-12-23 15:26] tjcafferkey commented on #5343
Closing as this is a duplicate of https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/5450 and I believe has now become more important as we are checking theme files for the existence of templates before loading our own.

[2021-12-23 16:20] #5280 closed, assigned to sunyatasattva

[2021-12-23 16:26] #4643 closed, assigned to nobody

[2021-12-23 19:24] opr opened #5451 "Country is required error on Checkout block"
## Describe the bug
When on the Checkout block, entering an email and moving to the next input causes an error: `Country is required` - this happens before the user even has chance to enter the country.

Introduced in #5394

## To reproduce
**Do this in an incognito/private window**
1. Add something to your cart.
2. Go to the Checkout block.
3. Enter an email and blur the input.
4. See the error.

[2021-12-24 07:06] nielslange opened #5452 "Translation of "Proceed to Checkout" button isn't working"
## Describe the bug
In https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5112, we added missing lazy loaded translations files. In 4629379-zd-woothemes, a customer reported that the Norwegian translation of the "Proceed to Checkout" button isn't working.

I looked up this problem and found out that it’s caused by the following section:

https://github.com/woocommerce/woocomm

[2021-12-24 13:38] nielslange opened #5454 "FSEO: Keep an eye on the customizer settings"
In #30044, the link Customize WooCommerce had been added to Apperance section and the back button of the WooCommerce settings within Apperance » Customize had been removed. This change had been applied assuming that when using a block theme, the Customizer would no longer be visible.

In WordPress/gutenberg#35877, a switch had been added to Gutenberg, to show the Customizer for block themes, when

[2021-12-24 15:04] sunyatasattva commented on #5192
Fixed by #5206

[2021-12-24 15:04] #5192 closed, assigned to sunyatasattva

[2021-12-24 15:15] #5441 closed, assigned to sunyatasattva

[2021-12-24 18:40] namiokuzono opened #5456 "Checkout Block fields are not pre-filled via Customer payment page link for Subscription Renewal Orders"
## Describe the bug
WC Block's Checkout block does not pre-fill the Checkout Block fields upon sharing the "Customer payment page" link.

## To reproduce
Steps to reproduce the behavior:

Make sure the Checkout page has a Checkout block.
Make sure to have WC SUB and SUB product.
Make sure to have a Subscriber to assign.

1. Create an order with a subscription product (WooCommerce > Order > Create

[2021-12-24 19:05] namiokuzono opened #5457 "Checkout Block not updating Subscription billing/shipping information upon renewal order (when new billing/shipping information is entered)"
## Describe the bug

When you create a renewal subscription order, share the link "Create a pending renewal order" with the Subscriber, then Subcriber enters new billing address (and/or shipping address), this information is not updated in the Subscription order. (Which should be, because all the renewal orders honor the Subscription order)

## To reproduce
Steps to reproduce the behavior:

Make s

[2021-12-24 19:11] namiokuzono commented on #5457
4633346-zen

[2021-12-24 19:11] namiokuzono commented on #5456
4633346-zen

[2021-12-26 13:29] #4449 closed, assigned to nobody

[2021-12-26 13:33] #3805 closed, assigned to nobody

[2021-12-26 13:33] #3943 closed, assigned to nobody

[2021-12-26 13:33] #3963 closed, assigned to nobody

[2021-12-26 13:33] #4031 closed, assigned to nobody

[2021-12-26 13:33] #4045 closed, assigned to nobody

[2021-12-26 18:25] tjcafferkey commented on #5343
Reopening this issue. It's not quite the same as #5450 where we need to update the paths of the theme file locations we are checking. This PR should just be scoped to renaming the Woo Block directories where we are storing Core block templates

[2021-12-26 18:47] Aljullu commented on #5172
+1 from my side. :slightly_smiling_face:

[2021-12-27 09:48] gigitux commented on #5172
@tjcafferkey @Aljullu
Thanks for the feedback, I will close this issue 👍

[2021-12-27 09:48] #5172 closed, assigned to gigitux

[2021-12-27 18:09] sunnyjain15699 commented on #5286
Hi @Aljullu . I would like to work on this issue. Can you guide me through it ?

[2021-12-27 18:10] sunnyjain15699 commented on #5299
Hi @sunyatasattva . I would like to work on this issue. Can you guide me through it ?

[2021-12-27 18:11] sunnyjain15699 commented on #5356
Hi @Aljullu . I would like to work on this issue. Can you guide me through it ?

[2021-12-27 19:33] sunyatasattva commented on #5299
Hello there @sunnyjain15699 ! Cool that you want to work on this issue.

In a nutshell, if you see the `ReadMore` component, you'll see that the clamping calculation is only done on `componentDidMount`:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/9a8f27fcd72ddfce7c75eaa681ac271732da5e94/assets/js/base/components/read-more/index.tsx#L113-L144

As such, whenever the pro

[2021-12-28 13:37] ralucaStan commented on #5417
Hello @wuspum,

Thank you for reaching out to us with your request!

From what I was able to gather, you are having issues with the On Sale Products block, after you have switched to WC 6.0. Is that correct?

I tried using the block with WC Blocks 6.6.0 & WC 6.0 and I didn't receive any error.

Would you mind providing some testing steps.
It would be great if you could share your current System St

[2021-12-28 14:30] ralucaStan commented on #5415
Hello @codewp,
Thanks for taking the time to leave your feature request. We really appreciate you sharing your idea with us.

This enhancement is something that we are working on at the moment, in [this PR](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5406). Please follow our future releases to find out when this will be added.

I am gonna close this issue for now; this

[2021-12-28 14:53] codewp commented on #5415
Hi @ralucaStan

Thanks for your feedback.

In the pull request that you mentioned, I see there is only locking the quantity change field but it seems that there is not a filter to lock the "remove product" field too.

Please let me know does that pull request supports locking the "remove product" field too?

Thanks

[2021-12-28 15:48] Aljullu commented on #5356
Sure @sunnyjain15699, let me know if you have any questions. The issue description already has a link to the file you will need to modify, but expanding it a bit more.

First, you will need to clone this repo and build it. You can follow [these instructions](https://github.com/woocommerce/woocommerce-gutenberg-products-block#installing-the-development-version). After that, you are ready to start m

[2021-12-28 15:53] ralucaStan commented on #5456
Thank you @namiokuzono for taking the time and reporting this.
I was able to reproduce this. WC Subscriptions is an extension supported by the C&C Blocks. Looks like the issue is coming from the block's side.
I am moving this to Needs Leads Triage in order to help with deciding the priority/next steps.

[2021-12-28 15:54] ralucaStan commented on #5457
Thank you @namiokuzono for taking the time and reporting this.
I was able to reproduce this. WC Subscriptions is an extension supported by the C&C Blocks. Looks like the issue is coming from the block's side.
I am moving this to Needs Leads Triage in order to help with deciding the priority/next steps.

[2021-12-28 15:54] Aljullu commented on #5286
Sure @sunnyjain15699! First, you will need to clone this repo and build it. You can follow [these instructions](https://github.com/woocommerce/woocommerce-gutenberg-products-block#installing-the-development-version). After that, you are ready to start making changes to the code.

In this case, you will need to add a CSS ruleset to [`assets/css/style.scss`](https://github.com/woocommerce/woocommerc

[2021-12-28 22:32] #5450 closed, assigned to sunyatasattva

[2021-12-29 06:02] wuspum commented on #5417
Hey @ralucaStan ,

Like reported in connected issue from woocommerce repo (https://github.com/woocommerce/woocommerce/issues/31402) it happens when none of the products in block are variable type and `$product_variations` is assigned and empty array, causing error in SQL clause.  `IN()` without values.

[2021-12-29 12:47] ralucaStan commented on #5415
Hi @codewp ,
thank you for the fast reply. Indeed the PR does not remove the "Remove item" link, as the use case it tries to fix, unique products, does not require this change.

We would need to hear more about your use case in order to understand the particular need you have on your store. Based on it we will decide the next steps.

[2021-12-29 12:51] ralucaStan commented on #5415
From what I'm able to understand from the picture you attached the need would be to offer free gifts. What are the properties of the free gift? Could there be more than 1 item of the same free gift? Does it get shipping costs? Does it get added to the order after checkout or during cart? Does it need to be a cart item, or just displayed in the cart somewhere?

[2021-12-29 13:01] codewp commented on #5415
Hi @ralucaStan

Thank you for your reply and for your explanation.

A plugin that implements BOGO deals, needs this requirement.

For example, a Buy One Get One deal will automatically add a product to the cart, and based on it the customer cannot remove that product or edit that free product quantities.

Remove or edit quantities of the free gift is controller by the BOGO deals plugin.

The gift

[2021-12-29 13:10] sunnyjain15699 commented on #5286
Do I need to set up wordpress locally, using some local server software like MAMP and then install the plugin there in my local wordpress site ? Also how will I connect my locally setup code of Node and Composer with that setted up local website ?

[2021-12-29 13:25] ralucaStan commented on #5415
@codewp I've reopened the issue and edited it for more clarity.
Thank you for the helpful answer. One more question, what can you tell me about shipping for this free gifts?

[2021-12-29 13:45] codewp commented on #5415
@ralucaStan

Thanks for your time and for editing the issue.

Actually, I don't decide about the shipping and the plugin has not had such a feature yet to edit the shipping cost of free products yet.

We have a [shipping discount for WooCommerce](https://www.asanaplugins.com/product/shipping-discount-woocommerce/) plugin that supports shipping discounts, maybe it can help us to discount the shippi

[2021-12-29 16:45] ralucaStan commented on #5424
Hello Team Krokedil, :wave:
Thank you for reaching out. We are more than happy to assist you with your WooCommerce Blocks integration.

We have carefully read through your request and we are afraid that our understanding of your current flow and the scope/target audience is not fully understood. Ideally, before you can offer our best advices we need to have a clear understanding of:

- The embedde

[2021-12-29 22:17] Aljullu commented on #5286
Yes, I would recommend setting up a WordPress installation locally. How you do that, will depend on your preferences. One tool you could try is [LocalWP](https://localwp.com/), which is quite simple to use. But MAMP or anything similar should work as well.

Once you have your WordPress site set up, you will just need to clone this repo into the `/wp-content/plugins/` folder and then build it as ex

[2021-12-30 00:34] Stella3 commented on #5456
This appears to be more widespread than just subscriptions!

I am seeing this behavior with ALL signed in users. Our site is wholesale only and all users have saved contact info/addresses.

Today all are reporting that the checkout page is not populated at all except for their saved CC info.

This is causing CC processing failures because the users are accustomed to skipping the contact/shipping i

[2021-12-30 01:40] Stella3 commented on #5457
It's more than just subscription renewals. I am seeing it with ALL logged in users.

Their contact and address info is not being populated.

Users are also saying their CC trans are then failing because they are not noticing that it is all blank and they aren't filling it in.

All of our users are wholesale with accounts and they have to log in to buy.

[2021-12-30 12:03] msroky commented on #5144
I contacted several plugin owners regarding "cart abandonment" plugins, I got answers like this:

"If you do something to change the name or class on your checkout page that is different from the WooCommerce standard checkout page, our plugin will be unable to detect and collect the emails."

They don’t want to customize their plugin to be compatible with your woocommerce blocks plugin.

This prob

[2021-12-30 12:23] #5452 closed, assigned to nobody

[2021-12-30 13:53] #5417 closed, assigned to ralucaStan

[2021-12-30 17:37] gigitux opened #5474 "Investigate why `get_block_template` creates problem on WP 5.8"
We discovered that the function `get_block_template` on WordPress 5.8 doesn't work correctly (#5416, #5425).

Apparently, the two functions are the same, so we need to investigate.

Related #5448

[2021-12-30 17:55] malithsen opened #5475 "Duplicate error notices in checkout when payment fails"
Following issue was originally reported https://github.com/Automattic/woocommerce-payments/issues/3373
and as far as I can see is a result of `StoreNoticesProvider` wrappers in [here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/blocks/cart-checkout/checkout/inner-blocks/checkout-payment-block/frontend.tsx#L51) and [here](https://github.com/woocommerce/w

[2021-12-31 14:50] mikejolley commented on #5451
This looks to also have been fixed by https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5473

[2021-12-31 14:50] #5451 closed, assigned to nobody

[2021-12-31 14:56] mikejolley commented on #5397
@sunyatasattva The list of allowed currency codes is filterable and therefore can vary from store to store making typing difficult. See https://github.com/woocommerce/woocommerce/blob/77917a2de31d76f90b4380815a48b4efcef543a8/plugins/woocommerce/includes/wc-core-functions.php#L475

[2021-12-31 15:10] #5456 closed, assigned to nobody

[2021-12-31 16:26] nerrad commented on #5144
Hi @msroky 👋🏻

It's unfortunate you got that response from the developers of extensions you use. However, as noted earlier, we are diligently [providing ways for extension developers to integrate](https://developer.woocommerce.com/2021/11/09/available-extensibility-interfaces-for-the-cart-and-checkout-blocks/). We have also written quite a bit of documentation and are responsive to extension devel

[2022-01-03 03:59] nielslange commented on #5066
Hello @VasekS 👋 I was wondering if you're still working on this issue?

[2022-01-03 07:40] MichaelBengtsson commented on #5424
Hi @ralucaStan ! Thank you for your reply.

I will try to clarify as much as possible, if there are any things you want further clarification on please let me know!

### Checkout flow
1. The customer place items in their cart as normal and proceeds to the checkout page where they are shown and iframe/embedded checkout or are able to select the the payment method for the embedded checkout which wil

[2022-01-04 08:40] deinstern24 opened #5514 "Slot fill for cart items - Insert link into cart below arcticle name"
Hey there,
is there any way, like a hook or something, how I can add a simple link below each article name when using the new cart block?
I need this to enable a cart edit addon, so that a customer is able to click this link and then edit the article. The only other way would be to force the user to actually delete an item and then go over the customization again and add it to the cart again, whic

[2022-01-04 12:39] #5057 closed, assigned to frontdevde

[2022-01-04 13:21] ralucaStan commented on #5417
The fix is now part of the new release. Please update to WooCommerce Blocks 6.7.0.

[2022-01-04 13:21] ralucaStan commented on #5456
The fix is now part of the new release. Please update to WooCommerce Blocks 6.7.0.

[2022-01-04 13:27] wuspum commented on #5417
How do I update this inside woocommerce? (Not using the separate plugin)

[2022-01-04 13:37] ralucaStan commented on #5417
@wuspum You will need to wait until the next version of WC appears. The fix will be included there as well.

[2022-01-04 14:12] #5374 closed, assigned to nobody

[2022-01-04 14:20] tjcafferkey commented on #5050
Im not sure it's wise to do this yet. The function `_get_block_templates_files` is prefixed with an `_` meaning its not intended for public usage. Adding filters in for third party plugins might incorrectly encourage public usage.

[2022-01-04 17:37] #5475 closed, assigned to malithsen

[2022-01-04 18:04] #5405 closed, assigned to mikejolley

[2022-01-04 20:14] nerrad commented on #4706
See the internal post I published around this here: pcShBQ-8H-p2

[2022-01-05 09:21] tjcafferkey commented on #5199
This doesn't happen in WC 6.0 and above. And since the feature is now only available on WC 6.0 and above (https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/5210) we can close this issue.

[2022-01-05 09:21] #5199 closed, assigned to tjcafferkey

[2022-01-05 12:53] #5416 closed, assigned to gigitux

[2022-01-05 14:33] gigitux commented on #4965
I'm editing the issue description. The `Product Title` block has the global style enabled for the background, so we should enable the global style for the text color too.

[2022-01-05 15:56] Aljullu opened #5520 "Edits to Product Archive template are not visible in the Product Category and Product Tag pages"
I might be understanding this wrong, but I think that if Product Category and Product Tag templates haven't been customized and don't have a custom template set by the theme, but the Product Archive has been customized by the user, the Product Archive template should take priority.

## To reproduce
1. With WP 5.9 and a Twenty Twenty Two, go to Appearance > Editor > Templates.
2. Edit the Product A

[2022-01-05 16:20] gigitux commented on #4965
The `Product Price` block has a more granular level of customization for font style and text color that we can't reach with global style API. For now, we will not migrate the `Product Price` block to global style.

[2022-01-05 18:18] #5207 closed, assigned to sunyatasattva

[2022-01-05 18:28] #5343 closed, assigned to sunyatasattva

[2022-01-05 18:34] sunyatasattva commented on #5397
That's great that we already have a list, though. I understand we can't precisely type everything, but already having a union type of all those codes would be better than just `string`. Because, while we don't know if `CLP` is a valid code for a specific store in a specific moment (and that's a runtime issue), we know that `CLO` is probably a typo somewhere and things like this. I mean, we know th

[2022-01-06 01:54] Stella3 opened #5522 "Error with saved credit cards Blocks 6.7.0"
Since update to Blocks 6.7.0 I have had 5 users report the same credit card issue while using saved cards. They are getting error "payment_data[0] [value] is not of type string.boolean."

## To reproduce
1. Check out as a logged-in user using a saved card
2.  ![cc](https://user-images.githubusercontent.com/19824054/148314350-f99c6a87-b515-452f-afc6-f7aaa765e640.jpg) this error and there is no reco

[2022-01-06 02:31] nicdwilson commented on #5522
Reported in zen-4643869, and replicated

It should be noted that the payment_data token is being put through as an integer.

This is a regression - see here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3618

![image](https://user-images.githubusercontent.com/3624025/148318365-f9d50842-a80c-42a3-93ab-eefd8115085a.png)

[2022-01-06 10:08] tjcafferkey commented on #5050
Closing because the filter which would have removed code duplication is no longer needed as the code has evolved over time to solve a specific issue for our use case.

[2022-01-06 10:08] #5050 closed, assigned to nobody

[2022-01-06 10:22] tjcafferkey commented on #5520
I can see an argument for it working the way you've described in this PR _and_ the way it currently works. It's worth noting as well that if we decide it should behave the way you've outlined above then this should also apply to themes who only have the `archive-product.html` file. Should they edit this file from the theme in the Site Editor it should also be applied to Category and Tag pages if t

[2022-01-06 14:17] gigitux commented on #4965
After an internal discussion, I'm updating the issue description related the `Tag List`block. We will enable global style for link color too.