[2020-11-30 13:02] budzanowski commented on #3319
- **Reviews by Category**: just deprecation warnings - issue created https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3485
 - **Product Search**: warning when adding the block to the page - issue created https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3486

I have not noticed any broken functionality.

[2020-11-30 13:02] budzanowski commented on #3438
Adding https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3485 for Reviews by Category.

[2020-11-30 13:23] senadir opened #3487 "WP 5.6 - Filter By Price"
This is a meta bug for all deprecation notices of the Filter Products by Price block with WP 5.6.

None of these warnings affect the block functionality, it still works as expected.

## To reproduce
Steps to reproduce the behavior:

1. Add the Filter Products by Price block to a new page.
2. You should see the following console messages.
 - `Button isDefault prop is deprecated. Please use isSecond

[2020-11-30 13:24] senadir commented on #3438
Added Filter by Price https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3487

[2020-11-30 13:26] senadir commented on #3319
**- Filter by price**: deprecation warnings - issue created https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3487
**- Filter by attribute**: no issues
**- Active filters**: no issues

[2020-11-30 14:32] Aljullu commented on #3008
@nerrad was this closed in #2847?

[2020-11-30 14:42] Aljullu commented on #3470
Thanks for the follow-up @kosiew, this issue seems to be a consequence of https://github.com/woocommerce/woocommerce/issues/23796 and it will need to be fixed in WooCommerce core.

I will close this issue since there is nothing actionable we can do in WC Blocks repo, but you can follow the issue in WooCommerce Core to track any development in that area.

[2020-11-30 14:42] #3470 closed, assigned to nobody

[2020-11-30 15:10] nerrad commented on #3008
Yup!

[2020-11-30 15:10] #3008 closed

[2020-11-30 17:00] opr commented on #3437
I've just tested this on a fresh site, and it worked fine for me when using Google Pay.
- Added two items with a price of £0.18 to my cart, making the total £0.36
- Went to the checkout block and used the express payment method for Google Pay.
- Selected my shipping address and free shipping rate.
- Selected my Google pay account as the payment method.
- Successful checkout

 However, using my deb

[2020-11-30 17:38] FixingIssues commented on #3179
Hello nerrad.  I'm having this same issue with Mailchimp and the Cart/Checkout blocks. I would like to request the hook to use for the opt in checkbox.  Is it possible to get this from you?

[2020-11-30 18:52] nerrad commented on #3179
There is no hook available yet, that's what this issue is primarily for (which is to add extensibility for Mailchimp). This is in our roadmap of things to look into but current ETA is Q12021.

[2020-12-01 10:47] danielcharrua commented on #3466
Thank you both for your thoughts, I agree that I can manage this trough categories, but as a standard WooCommerce feature I think that would be great to have a product grid block just for showing featured products.

@nerrad I’m talking exactly of the screenshot you’ve posted. This also can be selected when listing all products and select the star icon.

As I see it from now, the featured product c

[2020-12-01 13:43] FixingIssues commented on #3179
Ok.  Thank you.  I will continue to follow this discussion for future developments.

[2020-12-01 14:53] nerrad commented on #2322
This is covered by #3173 so am closing.

[2020-12-01 14:53] #2322 closed

[2020-12-01 16:02] #1443 closed

[2020-12-01 16:12] webdeveloperplus2 commented on #2468
How do I fix my site?  This just started happening to me.

[2020-12-01 16:13] senadir commented on #2468
Hey, this should have been fixed in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/2469, what version are you running

[2020-12-01 16:15] #2313 closed

[2020-12-01 16:20] #2363 closed

[2020-12-01 16:23] nerrad commented on #2442
The motivation behind this issue is sound. However I think the actionable item here is to watch for inconsistencies in code reviews and fix as we come across them.

[2020-12-01 16:23] #2442 closed

[2020-12-01 16:29] nerrad commented on #2583
Thanks for the suggestion. This is not something currently on our roadmap as what we will support.

[2020-12-01 16:29] #2583 closed

[2020-12-01 16:34] nerrad commented on #1705
The request in this issue would be solved by #2373 so I'm going to close this one.

[2020-12-01 16:34] #1705 closed

[2020-12-01 16:36] nerrad commented on #2045
This is definitely a valid feature request. On our roadmap we have plans for converting our existing blocks to use inner blocks and this would in turn mean that the various inner blocks would have the controls mentioned here. No ETA on when this will happen but since this will be covered by that work I'm going to close this issue.

[2020-12-01 16:36] #2045 closed

[2020-12-02 09:34] anteksiler opened #3495 "Add Filter for Products data"
## Is your feature request related to a problem? Please describe.
We would like to add custom data to the Products block

## Describe the solution you'd like
Filter the data given here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/f3b2b53435ffbc9ac49215846bad08ce74c7124b/src/BlockTypes/AbstractProductGrid.php#L318

## Describe alternatives you've considered
Using the HT

[2020-12-02 10:10] kamitey opened #3496 "checkout page"
## What do you like about the Cart & Checkout blocks?
compact and clean

## What do you think is missing from the Cart & Checkout blocks?

In europe you have to confirm the terms and conditions before you sending the order.
A chekbox over the butten 'order now' with the text: 'I agree and confirm the terms and conditions.'

THX.

[2020-12-02 10:34] Aljullu commented on #3496
Hi @kamitey, thanks for your suggestion! We have an open issue to track adding a checkbox for "I have read and agree to terms" (#3258), which seems to be your request, so I will close this issue as a duplicate. You can follow #3258 to be aware of the progress.

[2020-12-02 10:34] #3496 closed, assigned to nobody

[2020-12-02 10:38] Aljullu commented on #3258
Heads-up that in the last couple of days we received two duplicates of this issue #3482 and #3496.

[2020-12-02 10:49] kamitey commented on #3258
hello everyone, is there a solution to this problem?

[2020-12-02 10:49] nerrad commented on #3258
@kamitey no not yet.

[2020-12-02 10:51] kamitey commented on #3258
is it difficult to implement this function in code? or is it not wanted by the developer!

[2020-12-02 10:54] nerrad commented on #3258
It's a matter of priority in relation to all the other things we're working on. This issue will be updated when there's more information.

[2020-12-02 10:55] kamitey commented on #3258
i understand, thank you for your work

[2020-12-02 12:08] Aljullu commented on #3495
Hi @anteksiler, thanks for opening this issue.

Can you clarify what you mean here? The [filter](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/BlockTypes/AbstractProductGrid.php#L328-L342) gets the `$product` object, so from there you should be able to extract the category.

[2020-12-02 12:18] anteksiler commented on #3495
That was just an example, I am sure there is a workaround for that.

But let's say I want to add a button that depends on a plugin. It would be great to able to add additional data.

[2020-12-02 12:22] #3363 closed, assigned to haszari

[2020-12-02 12:23] github-actions[bot] opened #3497 "OrderController (and CartController) should be injected i..."
OrderController (and CartController) should be injected into Checkout Route Class.

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/a206209f58080a33ff17cc084c2d2385fa5fe469/src/StoreApi/Routes/Checkout.php#L548-L560
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in a206209f5808

[2020-12-02 14:43] Aljullu commented on #3495
Thanks for following up on this @anteksiler. WooCommerce Blocks are quite different to shortcodes in how they can be extended and we acknowledge there might be some cases where the current approach makes things different. In #891 we have been gathering some feedback from the community and there are some nice code snippets that can be used as an example. I will close this issue for now, since I thi

[2020-12-02 14:43] #3495 closed, assigned to nobody

[2020-12-02 16:03] #2843 closed

[2020-12-02 16:34] IsraPaya opened #3499 "VAT number field"
It woudl be great that you add a VAT number field in the checkout form in WooCommerce Blocks.

[2020-12-02 20:38] nerrad commented on #3497
I think this is something that should be done before StoreAPI goes public.

[2020-12-02 20:40] nerrad commented on #3499
Hi there @IsraPaya

Thanks for taking the time to leave this request. This is a duplicate of #3096 so I'm going to close this in favor of the other issue.

[2020-12-02 20:40] #3499 closed, assigned to nobody

[2020-12-02 20:42] nerrad commented on #3319
Looks like this issue has been addressed. Thanks everyone for the help in getting things tested 👏

[2020-12-02 20:42] #3319 closed

[2020-12-02 21:44] nerrad commented on #3259
I agree with Mike here. There's a few approaches we could take here:

- Leave things as is for now and see if this is a significant enough problem for merchants and/or stores to address.
- Submit a patch to Core to clarify exactly where that option setting is applied. However, getting the messaging correct could be hard given how many places this setting is applied - including add to cart form on

[2020-12-02 23:19] haszari commented on #3252
I've implemented a start on this in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3500 - just firing the existing [core hook (`woocommerce_available_payment_gateways `)](https://github.com/woocommerce/woocommerce/blob/02cf0dfaed5923513de0c88add597d1560c2cfd2/includes/class-wc-payment-gateways.php#L160) for now.

This doesn't work yet, because of the way we handle dynamic

[2020-12-03 03:33] haszari commented on #3252
Update - did some more research to understand how this works, and if we should implement this in JS.

## TLDR
We might need to implement a new extensibility interface to control which payment methods are shown in checkout (dependent on order, e.g. cart contents or shipping method).

### How WC Subscriptions filters out payment methods
Payment methods declare what features they support via a [`supp

[2020-12-03 11:46] budzanowski opened #3501 "CustomerPaymentMethods shows empty array for stored methods that have their gateway disabled."
## Describe the bug
If there are stored payment methods, and they were saved for a payment gateway that is now disabled the `customerPaymentMethods` from `PaymentMethodDataContext` can return the payments object with the sored method key and a value of an empty array.

This was found while working on https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3439 . Disabling Stripe i

[2020-12-03 13:04] #2140 closed

[2020-12-03 13:04] #3146 closed

[2020-12-03 13:04] #3311 closed

[2020-12-03 13:04] #3313 closed

[2020-12-03 14:36] CreativeArtDesign opened #3504 "HI i can not find the accept the agreement checkbox.. i need it."
## What do you like about the Cart & Checkout blocks?
It is good better design but missing some functions.

## What do you think is missing from the Cart & Checkout blocks?
I can not find the accept the agreement checkbox.. i need it.
I can not add date and time delivery the plugins i have does not work

[2020-12-03 17:17] Aljullu commented on #3437
I spent some more time debugging this, these were my findings:

* I could reproduce the issue in a fresh install with WC 4.7.1, WC Blocks `trunk` and Stripe Gateway 4.5.5.
* When I changed the currency from Pound sterling to Euro or USD I got a clear error message stating that the minimum amount is `€0.50` or `$0.50`.
* I tested with the Cart shortcode and I could reproduce the issue as well.

Giv

[2020-12-03 17:17] #3437 closed, assigned to nobody

[2020-12-03 18:33] #3501 closed, assigned to budzanowski

[2020-12-03 18:49] senadir commented on #3252
I think the suggestions you made here Rua are good, to give a summary of I have in mind:
- Make supports part of the registered payment methods, and somehow accessible.
- Provide some sort of global payment control, that can filter out methods, we might want to move ordering to it as well.
- That interface can be extended by third-party code (like subs) to introduce new filters.

We still need to

[2020-12-03 19:13] haszari commented on #3441
@senadir Is this good to close now that https://github.com/woocommerce/woocommerce-subscriptions/pull/3904 is merged?

[2020-12-03 19:38] nerrad commented on #3252
Great research here Rua!

Ideally we'd implement this in a way that the `supports` feature is something that we simply need to implement as a part of the passed through data to the client so we end up with an object structure somewhat like this:

[code]
Then we can introduce a new filterable `order_type` key on the checkout endpoint response that would be an array of canonical "types" describing t

[2020-12-04 01:39] haszari commented on #3252
**Update** I've prototyped a lean approach in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3500. It's not quite what was proposed in above comments – those approaches didn't quite pan out initially (though we may come back to them).

@senadir and @nerrad (if you like) can you take a look at that PR and feedback? Most of the info is in the PR description, but the code wo

[2020-12-04 08:23] #3441 closed, assigned to senadir

[2020-12-04 08:23] senadir commented on #3441
Yes, updated estimation to 5 because it took 2 developers 3 days to get done.

[2020-12-04 09:06] Aljullu commented on #3504
Hi @CreativeArtDesign,

Right, the checkbox is not available in Blocks, we have an open issue to track its addition, you can find it here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3258.

We are currently working on expanding extensibility options of WooCommerce Blocks, so it's to be expected that some extensions might not work yet.

Thanks for the feedback, I will

[2020-12-04 09:06] #3504 closed, assigned to nobody

[2020-12-04 09:38] garymurray commented on #3259
I think the wording `Never show quantity remaining in stock` of the core setting creates confusion and is misleading here - it is not a case of `Never` as even if you select that - it still shows that there is "stock" of the item - it just does not show the quantity - see screenshot below of setting in action:

<img width="817" alt="Screenshot 2020-12-04 at 09 26 44" src="https://user-images.githu

[2020-12-04 09:52] #3442 closed, assigned to senadir

[2020-12-04 12:42] mikejolley commented on #3241
@senadir I'm not sure if Ill be able to solve this issue, but I'll start looking into how this is exposed to the cart.

[2020-12-04 12:44] senadir commented on #3241
One useful information I can give you is that WCS creates several carts for each subscription and those packages might be able to hold the shipping info.

[2020-12-04 14:25] nerrad commented on #1603
Mike if you end up doing this as a Github Action, it would be good to do it in the https://github.com/woocommerce/automations repo and then it can just be pulled in here via workflow. That would save you a bunch of boilerplate for action setup and the repo is already setup with a build process etc (I can do a quick walkthrough with you when you start this).

[2020-12-04 16:59] mikejolley commented on #3241
For my reference:

- https://www.figma.com/file/n90hX6hG3wwQbYwsYsrJnj/Gutenberg-based-cart-%26-checkout?node-id=5036%3A0
- https://www.figma.com/file/n90hX6hG3wwQbYwsYsrJnj/Gutenberg-based-cart-%26-checkout?node-id=4862%3A7236

I've made some progress (merging the recurring shipping packages with main cart packages before serving the API response) but I'm struggling with how Subscriptions calls `

[2020-12-07 10:29] Aljullu opened #3507 "Featured Product/Category blocks: button is not centered with recent Gutenberg releases"
The button in the Featured Product and Featured Category blocks is not centered in recent versions of Gutenberg:

_Gutenberg 9.5:_
![imatge](https://user-images.githubusercontent.com/3616980/101339212-67984800-387e-11eb-944f-ad4904f5bf2f.png)

_WP 5.6 RC4 with Gutenberg disabled:_
![imatge](https://user-images.githubusercontent.com/3616980/101339972-66b3e600-387f-11eb-930b-fbbf25dd1ea2.png)

[2020-12-07 14:34] nerrad opened #3510 "Fix `isDefault` deprecations for supporting WordPress 5.4+"
WordPress 5.4 included an update to the `@wordpress/components` package that deprecates the usage of the `isDefault` prop in the `Button` component. The recommended replacement is to use the `isSecondary` prop instead.

Since we can bump the minimum WordPress version support from WordPress 5.3 to 5.4 as a part of the WooCommerce Blocks 4.1.0 release (in line with our L2 support policy), we should

[2020-12-07 14:39] nerrad opened #3511 "Fix `IconButton` deprecations for supporting WordPress 5.4+"
WordPress 5.4 included an update to the `@wordpress/components` package that deprecates the usage of the `IconButton` component. The recommended replacement is to use `Button` instead.

Since we can bump the minimum WordPress version support from WordPress 5.3 to 5.4 as a part of the WooCommerce Blocks 4.1.0 release (in line with our L2 support policy), we should take care of these deprecations.

[2020-12-07 14:48] nerrad opened #3512 "Investigate usage of @wordpress/icons in place of our current @woocommerce/icons aliased package."
We implemented our own icons aliased package because at the time `@wordpress/icons` was not available. I think we should consider:

- Can we use `@wordpress/icons` directly and just enhance with our own icons? What impact does this make to bundle size?
- Should we submit our icons upstream in a pr on the `@wordpress/icons` package as additional icons for that package?
- Are there icons we can use

[2020-12-07 15:04] nerrad opened #3513 "Remove workarounds for `@wordpress/components` update no longer needed with required WP 5.4 version update."
With WooCommerce Blocks 4.1.0 release we are able to bump our minimum required version of WP to 5.4 due to our L2 support policy. As a result, some workarounds we have implemented in our Webpack builds as a part of #3457 are no longer necessary. Specifically related to the workarounds for:

- `@wordpress/primitives`
- `@wordpress/warning`

And _possibly_ `@wordpress/compose` (should be verified).

[2020-12-07 15:10] nerrad opened #3514 "Audit our components and note where we can use components from `@wordpress/primitives`"
Once we've bumped our minimum required WordPress version to 5.4, we get access to the `@wordpress/primitives` package as a WordPress external. As a result, we should start using these primitives in our components to get the benefit they bring for cross browser and mobile app support.

Going forward we should also always check this package when creating low-level components to ensure we're using an

[2020-12-07 15:23] nerrad opened #3515 "Import ServerSideRender from the `@wordpress/server-side-render` package."
In WordPress 5.3, the `ServerSideRender` component was moved to the `@wordpress/server-side-render` package (and external). We should make sure all our imports of this component come from the correct package.

[2020-12-07 15:32] nerrad opened #3516 "Update minimum required WordPress version to 5.4"
In line with our L2 support policy, with the release of WooCommerce Blocks 4.1.0 we can update the minimum required WordPress version to 5.4.

[2020-12-07 15:35] Aljullu opened #3517 "Fees not shown in Cart & Checkout blocks for orders that don't need shipping"
## Describe the bug
Fees amount is not displayed in Cart & Checkout blocks sidebar if the order doesn't need shipping.

Discovered while working on #2712.

## To reproduce
Add this code snippet to any PHP file, for example, `woocommerce-gutenberg-products-block.php`:

[code]

1. Add a product that doesn't need shipping (ie: Album) and a product that needs shipping (ie: Cap) to your cart.
2. Go to

[2020-12-07 16:00] Aljullu opened #3518 "Twenty Twenty One: selects are barely visible in dark mode"
## To reproduce
1. Install and activate Twenty Twenty One.
2. Go to Customize > Colors & Dark mode and check the Dark mode support checkbox.
3. In the frontend, make sure the dark mode is enabled and go to a page with the Checkout block.
4. Open any select and notice the text is barely visible:

![imatge](https://user-images.githubusercontent.com/3616980/101373657-7f3af500-38ad-11eb-8efa-9447964c7

[2020-12-07 16:52] budzanowski commented on #2407
Updating `@woocommerce/components` to 5.1.2 fixed the problem. Closing.
![image](https://user-images.githubusercontent.com/17271089/101379814-ffb12400-38b4-11eb-8b2c-def38063de03.png)

[2020-12-07 16:52] #2407 closed

[2020-12-08 10:09] Aljullu opened #3519 "Fees are groupped under a 'Fees' row, instead of being listed individually in the Cart and Checkout blocks"
## To reproduce
1. Add this code snippet to `woocommerce-gutenberg-products-block.php`:
[code]
2. Go to a page with the Checkout shortcode and notice fees are listed individually:
![imatge](https://user-images.githubusercontent.com/3616980/101469824-80b7fc00-3945-11eb-92a5-09b294788b56.png)
3. Go to a page with the Checkout block and notice fees are added up and listed in a 'Fees' row:
![imatge](h

[2020-12-08 16:17] #2786 closed

[2020-12-08 16:19] nerrad commented on #2879
This is controlled indirectly by how many products are picked so not something we will implement for now.

[2020-12-08 16:19] #2879 closed

[2020-12-08 16:22] #2905 closed

[2020-12-08 16:24] #2963 closed

[2020-12-08 16:26] mikejolley opened #3523 "Button Styles Conflicting with inline Link styling in the editor"
I noticed that the buttons seem to be conflicting with link styles making the text invisible. This is only apparent in the editor. I tested this on Twenty Nineteen.

![Screenshot 2020-12-08 at 16 22 04](https://user-images.githubusercontent.com/90977/101510552-fe91fc80-3971-11eb-911a-bd2d3a2599e4.png)

I'm not sure why, but even though that link style is crossed out in the inspector, it's still th

[2020-12-08 16:26] nerrad commented on #2985
This is definitely something to support but we'll implement once we have a use-case.

[2020-12-08 16:26] #2985 closed

[2020-12-08 16:32] nerrad commented on #3003
This is a great idea, but we're going to address this on an as needed basis given the availability of GB tools/components like the `Guide` component.

[2020-12-08 16:32] #3003 closed

[2020-12-08 16:37] nerrad commented on #2197
At some point this got fixed. It's now possible to set a custom url for the button link with the featured product block.

[2020-12-08 16:37] #2197 closed

[2020-12-08 16:42] nerrad commented on #2656
The current blocks are intentionally designed to _not_ be replacements for archive pages which have pagination. So pagination is not something we will add to the current product grid blocks. In our roadmap, as a part of building for the future of WordPress themes (block based themes) there will likely be a base product grid type block that will have various options for setting default query parame

[2020-12-08 16:42] #2656 closed

[2020-12-08 16:49] nerrad commented on #2716
This came up in our triage of issues and this is something that we're not going to be addressing in the current plans for the Checkout and Cart blocks. While I understand the technical implementations described above, the use-case from a shopper/merchant perspective still is not clear or apparent. Having more insight into that use-case could help with potentially addressing it in more a more holis

[2020-12-08 16:49] #2716 closed

[2020-12-08 20:48] theritesite opened #3525 "WooCommerce Checkout Block Validation"
I noticed while using the WooCommerce Checkout Block that if a user fills in billing & shipping information, chooses a shipping method, then changes the zip code to something invalid (space, completely invalid text) shipping options often no longer appear, and the order can be submit and payment captured with invalid shipment details (literally, a space as the zip code).

Seems that due to the ord

[2020-12-08 22:44] theritesite commented on #3525
Additional circumstances:
New users with no saved addresses were never presented with shipping options, and order valid with missing city and zip code. On inspection of the database, there are no rows in the database associated to the order with '_shipping_postcode'.
The person who ran into this scenario didn't give me any more information on fields presented to them or anything, but rather report

[2020-12-09 00:10] theritesite commented on #3525
Another update, it seems that sometimes customers are no longer getting the end point 'update-customer' ran, which may be causing most of the issues present.
It seems primarily present in new customers who have not yet saved a shipping address. The problems described above are either far less prevalent, or not an issue if there was previously a saved shipping address.

[2020-12-09 07:29] #2712 closed

[2020-12-09 10:17] senadir opened #3532 "Abstract Payments/API class to be used by other plugins"
Based on the discussion in https://github.com/woocommerce/woocommerce-subscriptions/pull/3906#discussion_r537126352 we want to:

The new interface should allow extensions to:
- Load data via `wcSettings` and `AssetDataRegistry`.
- enqueue styles and scripts for Cart and Checkout.

Some of the core functionality of this file [`src/Payments/Api.php`](https://github.com/woocommerce/woocommerce-gutenb

[2020-12-09 10:18] senadir commented on #3532
cc @nerrad and @opr

[2020-12-09 10:30] Aljullu opened #3534 "Update e2e tests in Travis to cover WP versions from 5.4 to 5.6"
We are planning to update the minimum required version of WP to 5.4 in WC Blocks 4.1 (https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3516), so we need to update the e2e tests to exclude WP 5.3 and include WP 5.6.

[2020-12-09 15:58] mikejolley commented on #1603
So some initial observations:

- ZenHub API lets you retrieve the pipeline of an issue, but it doesn't let you query by pipeline
- We could workaround with labels, but ZenHub workflows don't currently let you assign a label based on pipeline (e.g. Icebox label)
- Regardless of pipeline, it may be beneficial to expose issues (even in the backlog) of being stale. Priorities change.

I'm going to sug

[2020-12-09 16:09] #3534 closed, assigned to Aljullu

[2020-12-09 16:16] mikejolley commented on #1603
If we go with the suggestion above, we could actually just use https://github.com/actions/stale which is an existing stale issue handler. We would just set `days-before-close` to `-1` (never close) and handle issue closing ourselves via a new automation.

So to clarify:

`https://github.com/actions/stale` marks issues and PRs stale, with a message, after X days in all pipelines.
`https://github.co

[2020-12-09 18:47] nerrad commented on #1603
Thanks for your investigation here and suggestions!

Correct, but it is possible to [retrieve a Zenhub board](https://github.com/ZenHubIO/API#get-a-zenhub-board-for-a-repository) which is grouped by the pipelines and then issues in the board. The issue objects in the response don't have full data, but you could probably use it to get the initial list of issue numbers to do a regular Github query w

[2020-12-09 21:19] theritesite commented on #3525
This morning I found what seems to be part of the above described issue(s) (default customer location), but may be indicative of another bug. Feedback and guidance would be appreciated!

I found that on the test website I had setup, I had entered the WC Setting "Default Customer Location" as "**no default address**" rather than the default, Geolocation. This caused the address in the checkout scre

[2020-12-10 09:49] zdenys opened #3539 "All Products Block: Buttons Size Inconsistent"
## Describe the bug
For All Products Block, the size of the `Add to cart`/`Selected options` buttons is inconsistent and depends on the number of columns. Buttons become uncomfortably smaller when the number of columns is increased.

## To reproduce
Steps to reproduce the behavior:

1. Add All Products Block
2. Change the number of Columns to 3, 4, 5, 6 in the right-hand-side Layout Settings panel

[2020-12-10 09:51] mikejolley commented on #1603
Makes sense to me, and avoids over-engineering something now that may not be needed. I'll setup the stale action in that case. If we set it up initially as 60 days stale, close in 10 days, that gives plenty of time to act on issues if needed. Numbers can be tweaked when the PR is up.

[2020-12-10 14:09] opr opened #3542 "Move tests from Travis to GitHub actions"
Travis recently announced that it will no longer be free for open source projects (https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing).

At the moment Travis runs our tests and builds and deploys Storybook. Since we are already running a few actions on GitHub it makes sense to migrate our tests (and Storybook build) to GitHub actions.

We may be able to use the workflow configs they're us

[2020-12-10 14:39] #3516 closed, assigned to Aljullu

[2020-12-10 20:31] nerrad commented on #3507
This sounds like it _might_ be a bug in Gutenberg (if the button is relying on alignment related things). We should verify that and report upstream if needed.

[2020-12-10 20:34] nerrad commented on #3523
Mike can you add more details about your environment please?

- What WP version?
- Is the GB plugin active?
- is Twenty Nineteen up to date?

[2020-12-10 20:37] nerrad commented on #3525
Thanks for reporting this!

@haszari can you please investigate this and see if it's something you can reproduce. Offhand this seems like a high priority issue if it's reproducible and is something we should address soon.

[2020-12-10 20:54] nerrad commented on #3539
Thanks for the report!

@mikejolley would this be related to work done in #3443?

[2020-12-10 20:54] haszari commented on #3525
@nerrad I can reproduce the first issue – changing zip code/postcode to a space submits an order with an empty postcode field.

Looks like our validation is not catching whitespace as empty. So this is worth following up IMO 👍

[2020-12-10 21:40] nerrad commented on #3525
Can we confirm this is an issue specific to Blocks, is this also something that occurs in the shortcode checkout flow?

[2020-12-11 02:17] haszari commented on #3525
Just retested with checkout shortcode. Shortcode complains if the postcode is a space, so looks like this is gap in our validation.

<img width="877" alt="Screen Shot on 2020-12-11 at 15-16-41" src="https://user-images.githubusercontent.com/4167300/101853095-f0d3b580-3bc3-11eb-84e5-4f3990b52398.png">

[2020-12-11 12:05] companyofwords commented on #854
This is really poor for customer service and experience - considering Woocommerce have charged for paid extensions which only work using Gutenburg blocks. This inflexibility means we have to choose a free alternative and abandon our paid for extension....can we get a refund?

[2020-12-11 15:28] Aljullu commented on #3228
Posting this comment that will serve as a summary of my in-progress work.

### Set up
* You need to install Gutenberg, ideally the latest version in `master`.
* The widgets editor can be accessed from Appearance > Widgets.
* There is an alternative view from Appearance > Customize > Widgets, but according to [this post](https://make.wordpress.org/core/2020/11/18/hallway-hangout-summary-managing-bl

[2020-12-11 17:13] mikejolley commented on #3523
I seem to be on an old version of WP. Ill follow up and test this Monday.

[2020-12-12 10:36] webdados commented on #2906
@nerrad Any developments on this?

[2020-12-12 12:44] nerrad commented on #2906
Nothing new, it is still something we will consider adding at some point. Don't be alarmed by the `stale` bot - one of the reasons we added it was to surface issues that we haven't looked at in a while.

[2020-12-12 16:08] helgatheviking commented on #2792
don't close

[2020-12-12 16:08] helgatheviking commented on #2701
don't close

[2020-12-12 23:00] nerrad commented on #2792
We added the stale bot to help surface issues we haven't looked at in a while to assist with triaging and making sure they aren't forgotten. Rest assured we will be reviewing issues before anything is automatically closed.

[2020-12-12 23:32] helgatheviking commented on #2792
Sounds good. thank you, Darren. I just didn't want them to disappear into the ether. :)

[2020-12-13 15:17] GeoJunkie commented on #3539
Reported in 3566521-zd

[2020-12-13 15:34] GeoJunkie commented on #3539
I was able to narrow it down to this block:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/f8ee9daf762abfa8ff0c3b2155e06a03a48dd693/assets/js/base/components/product-list/style.scss#L78-L80

As a workaround, I targeted the specific button in CSS using the defaults that showed when unchecking the property in the browser inspector:

![](https://d.pr/i/1ltCLb+)
Image Link:

[2020-12-14 01:00] haszari commented on #2200
To clarify the impact of this … I'm assuming the missing sourcemap means it's more painful debugging styles. Does this affect both release and builds @senadir ? Let's tweak the title so it highlights the problem/impact (rather than the technical details).

[2020-12-14 01:09] haszari commented on #2911
@nerrad can you clarify what screenshots/examples you're referring to? Are these displayed on WPORG somewhere – I couldn't find them browsing here: https://wordpress.org/plugins/woo-gutenberg-products-block/

If we are updating screenshots / walkthroughs / docs, we should consider [WCCOM](https://woocommerce.com/products/woocommerce-gutenberg-products-block) and [docs](https://docs.woocommerce.com

[2020-12-14 01:12] haszari commented on #3060
@opr I see you have been storybooking 🏅 . Is this still a problem? Feel free to close if you don't see the error.

[2020-12-14 01:19] haszari commented on #3041
I'd love it if we could start using MDX for our stories and/or automatically power our `controls` (new improved `knobs`) from our component source. The goals are:

- use the latest / greatest tech from storybook - `controls`
- reduce the boilerplate / repetition needed to set up interactivity (i.e. no extra code to tell knobs/controls about component props)

@opr I'm keen for your thoughts / ideas

[2020-12-14 09:53] Aljullu opened #3546 "Layout looks broken in All Products block edit screen"
## Describe the bug
For some reason it looks like the All Products block edit screen is not loading the styles, so it looks completely off.

## To reproduce
1. Add the All Products block to a page.
2. Click the edit button (pencil icon):
![imatge](https://user-images.githubusercontent.com/3616980/102066515-35489680-3dfa-11eb-972d-420d9eeeb3f0.png)
3. Notice bottom buttons are not vertically center

[2020-12-14 09:56] Aljullu commented on #3479
I wasn't able to reproduce `wp.components.IconButton is deprecated. Please use wp.components.Button instead.` anymore. Maybe it was fixed when we updated `@woocommerce/components`?

[2020-12-14 09:57] Aljullu commented on #3485
I wasn't able to reproduce `wp.components.IconButton is deprecated. Please use wp.components.Button instead.` anymore. Maybe it was fixed when we updated `@woocommerce/components`?

[2020-12-14 10:02] budzanowski commented on #3485
That makes sense. Closing. If it still the issue then we will stumble on it anyhow.

[2020-12-14 10:09] Aljullu commented on #3485
@budzanowski I'm still able to reproduce these two errors:

![imatge](https://user-images.githubusercontent.com/3616980/102068352-a12bfe80-3dfc-11eb-9bd8-1fe6ebc603a7.png)

I think only the `IconButton` warning was fixed. Reopening the issue for now, but feel free to close it if you feel that was a mistake.

[2020-12-14 10:24] Aljullu commented on #3475
`wp.components.IconButton is deprecated. Please use wp.components.Button instead.` is fixed in #3547.

[2020-12-14 10:24] Aljullu commented on #3438
`wp.components.IconButton is deprecated. Please use wp.components.Button instead.` is fixed in #3547.

[2020-12-14 10:38] Aljullu commented on #3507
I'm unable to reproduce this anymore, so it might have been fixed already. Closing for now.

[2020-12-14 10:38] #3507 closed, assigned to nobody

[2020-12-14 11:54] #1761 closed

[2020-12-14 11:55] #3513 closed, assigned to mikejolley

[2020-12-14 11:55] #3515 closed, assigned to mikejolley

[2020-12-14 12:03] #1603 closed

[2020-12-14 12:19] mikejolley commented on #2690
I'm no longer able to reproduce this one—closing.

[2020-12-14 12:19] #2690 closed

[2020-12-14 12:26] mikejolley commented on #3523
- WP 5.6
- Latest 2019 theme
- No GB plugin active

Impacts a tags, not button elements. Caused by `.editor-styles-wrapper a` but for some reason even though that rule is applying, it's ruled out in the inspector. @Aljullu this happen for you as well?

[2020-12-14 12:28] mikejolley commented on #3539
@nerrad yes it is; as more columns are added, text wraps and buttons spill from the containers. This style was added so that more columns would decrease the font size. I think thats worse tbh — proper solution would be customisable font size for the products as a whole right?

[2020-12-14 13:44] Aljullu commented on #3523
I can reproduce the issue: some buttons of the product grid blocks have the same color for the text and the background, making the text invisible. The issue seems to be specific to editor with Twenty Nineteen, correct?

![imatge](https://user-images.githubusercontent.com/3616980/102087854-68028700-3e1a-11eb-9b8f-fc7f623668b8.png)

For this specific issue, we could try to upstream a fix to Twenty N

[2020-12-14 17:24] senadir commented on #2200
Sourcemaps are not included in production builds, they're a development tool so they're only available in `npm start`.

I'm not sure I understand, this is a purely technical problem that affects the development team on a technical level, so I think the title is fine, how would you change it?

[2020-12-14 18:56] haszari commented on #2200
I'm thinking something like `Debugging SCSS is broken - minified css, source maps broken`. Focusing on the outcome that we want - debugging SCSS should be easy, the SCSS should show in the dev tools.

Anyway I might take a look at this in cooldown :)

[2020-12-14 23:19] aguatye opened #3549 "Run Woocommerce Blocks through filters"
## Is your feature request related to a problem? Please describe.
I'm always frustrated when I add a filter but it doesn't seem to work on the All Products Block.

## Describe the solution you'd like
a) Allow Woocommerce Blocks to run through the existing filters.
b) Supply new filters for Woocommerce Blocks.
c) Add excerpt & quantity options to the All Products block (and possibly other elements

[2020-12-15 10:04] mikejolley commented on #3326
Woo core (on the php side) has several country specific postcode formats which limit input and format appropriately. We should port this to the client.

[2020-12-15 12:23] nerrad commented on #3228
I'm sure you are already planning this Albert, but make sure you surface the WooCommerce core widget issues to Proton. I think that's something we can safely handoff to them to work on and we'll focus on the extensions we own along with Storefront and blocks compatibility with the new feature.

[2020-12-15 12:25] turansadri commented on #3467
@mikejolley is there a workaround for this? I'd like to be able to use the search also in larger catalogs.

[2020-12-15 13:17] nerrad commented on #2718
Looks like #2800 got the ball rolling on this issue so I think we can close it. Improving and iterating on docs is an ongoing thing.

[2020-12-15 13:17] #2718 closed

[2020-12-15 13:20] nerrad commented on #2674
Cart and Checkout blocks are mentioned in the readme.txt now, so it must have got added at some point.

[2020-12-15 13:20] #2674 closed

[2020-12-15 13:41] nerrad commented on #3031
I'm going to close this issue because we're not really doing a focused sprint/work on adding stories but rather just including it as continued ongoing work across cooldowns and/or new work.

[2020-12-15 13:41] #3031 closed

[2020-12-15 14:02] mikejolley commented on #3525
If fixed the whitespace issue, but the other is different. It seems when the shipping country changes which in turn changes the state input (from select to text for example), this is when rates stop updating. Investigating.

[2020-12-15 16:09] mikejolley commented on #3525
Ok, that one might be my PR :) It loses some values if the API fails to update a field due to validation. Ill tackle this in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3552

[2020-12-15 16:28] nerrad commented on #2911
Looks like the wordpress.org screenshots have been removed since the time I created this issue. We could update the WCCom page but I think that's also something the Docs Guild team is on top of thus not something we need to track in this repository. Going to close this issue.

[2020-12-15 16:28] #2911 closed

[2020-12-15 16:29] nerrad commented on #3539
To clarify, are you saying this behaviour is worse:

If so, I think I agree. It's clear to me what you mean by "customisable font size for the products as a whole" though. Will you elaborate on that please?

[2020-12-15 16:31] nerrad commented on #3479
Not sure about why the deprecation notice wouldn't be appearing but I do notice via a search of the codebase that there are instances of `IconButton` being imported from `@wordpress/components`. We could probably just convert those to use `Button`?

[2020-12-15 17:47] nerrad commented on #2629
I just tested with the latest version of twenty twenty and it doesn't look like the product title sizes are an issue anymore:

![Image 2020-12-15 at 12 46 29 PM](https://user-images.githubusercontent.com/1429108/102252078-9f813a00-3ed3-11eb-872f-4ce056951ef7.jpg)

[2020-12-15 17:47] #2629 closed

[2020-12-15 17:47] nerrad commented on #2630
Still an issue with the latest version of the twenty twenty theme.

[2020-12-15 17:49] nerrad commented on #2660
@woocommerce/rubik I think we'll want to consider this for inclusion in our `/docs` folder. Thoughts?

[2020-12-15 17:51] nerrad commented on #2556
Looks like we've already removed the custom class dependency.

[2020-12-15 17:51] #2556 closed

[2020-12-15 17:52] nerrad commented on #2560
Problem still confirmed to exist.

[2020-12-15 17:57] nerrad commented on #2561
I think we need to work out what we want to happen in this scenario. Should there be a message notifying the merchant that the product is draft and will not show in the frontend?

Still leaving this issue open but will need thought on the above before implementation.

[2020-12-15 18:00] nerrad commented on #2602
I'm closing this issue because there's nothing actionable in this repository. The request is known and there is opportunity for payment methods/gateways to integrate with the Checkout blocks using the current available API interfaces. Best next step is to ask the individual payment method extension developers to build the integration.

[2020-12-15 18:00] #2602 closed

[2020-12-15 18:03] nerrad commented on #2631
To me this looks like an issue specific to the theme in use. Since it's not clear to me from the report what theme is being tested with I'm going to have to just close this.

[2020-12-15 18:03] #2631 closed

[2020-12-15 18:07] nerrad commented on #2633
I'm just confirming this still exists with the latest version of the Astra theme (and any product grid type block):

![Image 2020-12-15 at 1 06 31 PM](https://user-images.githubusercontent.com/1429108/102254234-61394a00-3ed6-11eb-9c21-0c3c8c9a9eee.jpg)

Note that there are also other styling issues related to the theme too. I think this is something that likely should be resolved at the theme leve

[2020-12-15 18:15] nerrad commented on #2695
Can reproduce still.

[2020-12-15 18:20] nerrad commented on #2729
Looks like this todo comment isn't in the codebase anymore.

[2020-12-15 18:20] #2729 closed

[2020-12-15 18:28] nerrad commented on #2752
This was addressed in #2784

[2020-12-15 18:28] #2752 closed

[2020-12-15 18:29] juliaamosova commented on #2633
Thanks for doing a check on this issue @nerrad!

[2020-12-15 18:29] nerrad commented on #2767
I'm going to close this because changelog is currently built by the release pull request automation (which in turn lifted code from the changelog script in GB - which isn't in a package).

[2020-12-15 18:29] #2767 closed

[2020-12-15 18:32] nerrad commented on #2776
I'm not longer able to reproduce this in the latest version of Twenty Twenty so it appears it's been fixed somewhere along the way.

[2020-12-15 18:32] #2776 closed

[2020-12-15 18:33] nerrad commented on #2812
Due to lack of response there's nothing actionable here so I'm going to close.

[2020-12-15 18:33] #2812 closed

[2020-12-15 18:41] nerrad commented on #3549
Hi there @aguatye 👋

Thanks for taking the time to create this issue. WooCommerce Blocks are not using WooCommerce templates or filters and actions because the content is being generated differently than existing WooCommerce views. In the case of the All Products block, the content is entirely rendered via React components and isn't even served from PHP.

For some explanation why the Blocks are no

[2020-12-15 18:41] #3549 closed, assigned to nobody

[2020-12-15 18:48] nerrad commented on #2819
I spent a few minutes trying my darndest to reproduce this in Safari unsuccessfully (using the steps outlined in the oc and extrapolating to intentionally try to break):

![Screen Recording 2020-12-15 at 01 46 58 PM](https://user-images.githubusercontent.com/1429108/102258620-1ae6e980-3edc-11eb-8f80-d0f69a3f031a.gif)

I'm going to close this for now as it's possible it's been fixed via some other

[2020-12-15 18:48] #2819 closed

[2020-12-15 18:54] nerrad commented on #2882
Looks like this is something that is best handled in WC core so I'm closing the issue here.

[2020-12-15 18:54] #2882 closed

[2020-12-15 18:55] nerrad commented on #2922
This has been fixed so can be closed.

[2020-12-15 18:55] #2922 closed

[2020-12-15 18:59] nerrad commented on #3019
Going to add this to the Porter requested pipeline we're up to Blocks 4.1.0 now so that's plenty of time in deprecation. We should be able to safely remove now.

[2020-12-15 19:07] nerrad commented on #3091
I'm going to close this issue because we're describing a solution without a problem here. When we encounter a specific use case that having a filter on settings would solve we can create the issue. I'm wary of simply adding a filter because it "would offer huge wins for a small investment." What trade-offs would we be making for adding the filter? Are there other ways to solve a use-case without a

[2020-12-15 19:07] #3091 closed

[2020-12-15 19:08] nerrad commented on #3079
Just noting this may be out of date (and has since been fixed). Also, it does sound like something that should be fixed at the theme level.

[2020-12-15 19:13] nerrad commented on #3081
I'm not able to reproduce this. When I try, I only get one notice - it's possible this might have been fixed since it was first reported or as noted an issue with cookie/state during testing.

[2020-12-15 19:13] #3081 closed

[2020-12-15 19:18] nerrad commented on #3096
Extensibility is something we're currently working on. Once we have a way for extension developers to extend the Cart and Checkout blocks we will be publicising that fairly broadly. For now, there is nothing actionable for us with this issue so I'm going to close it. Closing it does not mean that the feedback or the need has not been received, it has :) We have a process in place to review all the

[2020-12-15 19:18] #3096 closed

[2020-12-15 19:20] nerrad commented on #3097
Can still reproduce.

[2020-12-15 19:21] nerrad commented on #3105
Without a response to the clarification questions, this issue isn't actionable.

[2020-12-15 19:21] #3105 closed

[2020-12-15 19:23] #3160 closed

[2020-12-15 19:24] nerrad commented on #3033
I'm going to close this because I think this is something that would be better handled by the Stripe payment extension team once we migrate the code to the extension.

[2020-12-15 19:24] #3033 closed

[2020-12-15 19:26] nerrad commented on #2651
This must have got fixed somewhere along the way because I'm not seeing the padding anymore.

[2020-12-15 19:26] #2651 closed

[2020-12-15 19:29] nerrad commented on #3006
@senadir at some point can you take some time to break out these things, verify if they are still valid, and put into individual issues. The current format makes it difficult to scan titles to work out what needs addressed and the full content of the issue needs to be parsed (along with reading through the comment log to see if any pull requests fixed any of these).

Thanks!

[2020-12-15 19:32] nerrad commented on #3063
Just noting that there's nothing specifically actionable for this issue and we we are currently working on making the blocks more extensible (along with considering requests like yours here). As a result I'm going to close this but it does not mean your requests are being ignored or aren't heard.

[2020-12-15 19:32] #3063 closed

[2020-12-15 19:52] nerrad commented on #3218
Due to lack of response there's nothing actionable on this issue.

[2020-12-15 19:52] #3218 closed

[2020-12-15 19:55] nerrad commented on #3243
I'm going to close this issue because it is super generic and best tackled at a higher planning level for our cycles. Likely we'll create an Epic when we're ready to dive into FSE.

[2020-12-15 19:55] #3243 closed

[2020-12-15 19:58] nerrad commented on #3282
I'm unable to reproduce after trying for a few minutes. It's _possible_ this issue got fixed recently.

[2020-12-15 19:58] #3282 closed

[2020-12-15 20:01] nerrad commented on #3279
Moving this into the Porters requested pipeline. Whoever picks this up, please see if you can still reproduce this given the work we've done on improving various shipping related and order processing logic that _might_ have fixed this. If it's still an issue, please assign high priority and let me know! Otherwise it can be closed.

[2020-12-15 20:03] nerrad commented on #3288
Given the [comment I left above](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3288#issuecomment-709264573) and that other extensions work as expected, this looks like something that the Box Office extension needs to resolve.

[2020-12-15 20:03] #3288 closed

[2020-12-16 01:05] haszari commented on #3265
Reproduced the issue using a new [scaffolded theme based on underscores](https://developer.wordpress.org/cli/commands/scaffold/underscores/). After generating the theme, I deleted the screen-reader styles, then viewed checkout block and I see the bug:

<img width="338" alt="Screen Shot 2020-12-16 at 2 04 35 PM" src="https://user-images.githubusercontent.com/4167300/102291264-a24d5f00-3fa7-11eb-802

[2020-12-16 10:16] Aljullu commented on #3479
@nerrad did you search in `trunk` or in the branch of https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3547? We had some components which directly imported `IconButton` from `@wordpress/components` but they are being updated in that pull.

[2020-12-16 10:27] nerrad commented on #3479
`trunk` not #3547. Sorry I didn't realize #3547 was addressing this :)

[2020-12-16 10:36] senadir commented on #3091
I agree, this is an old issue and was in a time when I thought filters would solve problems without giving it a deep thought.

[2020-12-16 13:57] mikejolley commented on #3539
Sorry, let me answer more clearly.

We added a style that would decrease the font size based on the number of columns used. That was done to mitigate (as best as possible) buttons being too large for the container and either spilling out of the container, or wrapping the text in an unreadable way.

I think the smaller buttons appear better, and are easier to read, than the buttons we had previousl

[2020-12-16 14:26] nerrad commented on #3539
Ahh, 👍

So his would be a block inspector control? If so, I think I agree and this sounds like something that would fit in with the Gutenberg Global styles work (in which case we may want to delay implementation).

So what do you suggest as the next steps for this issue Mike?

[2020-12-16 15:09] mikejolley commented on #3539
I don't think we should change or take action on this right now. I think we should revisit with the global styles work you mention, since that puts font size in the user's control.

Right now, custom CSS can increase the button size if the use case needs it.

[2020-12-16 15:45] nerrad commented on #3539
Thanks Mike, I agree.

[2020-12-16 16:01] #3518 closed, assigned to opr

[2020-12-16 17:00] gglobalstep opened #3560 "[GlobalStep - WooCommerce 4.8 + WPB 3.9] The "Hide shipping costs until an address is entered" block level option is available even when if we set the radio button Settings > Shipping > Shipping Options, turn on the option to require an address."
## Bug Description:
The "Hide shipping costs until an address is entered" block level option is available even when if we set the radio button Settings > Shipping > Shipping Options, turn on the option to require an address.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari:

[2020-12-16 17:07] gglobalstep opened #3561 "[GlobalStep - WooCommerce 4.8 + WPB 3.9] The Product Element blocks (i.e. Product Price) are available in the feature plugin."
## Bug Description:
The Product Element blocks (i.e. Product Price) are available in the feature plugin.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version  87.0.4280.88 (64-bit))
                 Firefox(Version 83.0)(64-bit)
                 Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate al

[2020-12-16 18:27] nerrad commented on #3561
Thanks for the exhaustive testing. However for the purpose of testing 3.9.0 what we're actually looking for is that the Product Element blocks are not available from the global block picker. It _is_ expected that some of the product element blocks would be available within the All Products block edit view.

[2020-12-16 18:27] #3561 closed, assigned to nobody

[2020-12-16 21:09] dashkevych opened #3563 "Cart Block: Missing some styles and scripts"
## Describe the bug
When a cart page is created using the Cart block, WordPress displays script and style issues (see screenshots below).

Script Handles:

1. wc-cart
2. selectWoo

Style Handles:

1. select2

## To reproduce
Steps to reproduce the behavior:

1. Create a page using the Cart block.
2. Set this page as a cart page in WooCommerce settings.
3. Open the cart page on your site.

## Scree

[2020-12-16 23:25] alantygel opened #3564 "Hide categories with no visible products"
## Describe the bug
Currently, the Product Categories block has an option to hide empty categories. However, this option doesn't work as expected.

To consider a category empty, it only checks whether there are products associated to this category. However, these products might not be visible (hidden or outofstock, if the don't show out of stock products is on). Thus, the category shows on the lis

[2020-12-17 10:17] Aljullu commented on #2404
This seems to be the same as #3507, which I couldn't reproduce again, so closing.

[2020-12-17 10:17] #2404 closed

[2020-12-17 10:53] #1679 closed

[2020-12-17 11:00] #1657 closed

[2020-12-17 11:14] nerrad commented on #1475
I'm going to close this. Expanding our test coverage is an ongoing thing that we need to be watching for as we work on code.

[2020-12-17 11:14] #1475 closed

[2020-12-17 11:56] nerrad opened #3565 "When Checkout and Cart blocks are used instead of checkout flow shortcodes - SSR report shows error for relevant pages."
The Woo Site Status Report does checks on whether shortcodes for Checkout and Cart and will show an error if the designated page for those does not contain the relevant shortcode. However, with the advent of the Checkout and Cart blocks, it's entirely feasible for some stores to be using the blocks instead of the shortcodes and this error could be alarming to store merchants. It could also contrib

[2020-12-17 14:50] opr commented on #3564
Thanks a lot for reporting this, I was able to replicate this and I've added it to our backlog of issues.

I've edited your original comment to give more information to the developer who picks this up.

For reference, these areas of the codebase seem to be where the items are added to the list/select:

- https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/7a6accdabaad6b51b6e44

[2020-12-17 14:52] #3525 closed, assigned to mikejolley

[2020-12-17 18:15] nerrad commented on #3563
Hmm, this _looks like_ it may be more of an issue with Storefront than the Cart block. The Cart block doesn't use `select2` and should [actually be `deregistering` those scripts](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/df7da548af75f31030e5f41eb2690965b6045556/src/BlockTypes/Cart.php#L54-L57).

[2020-12-17 18:29] dashkevych commented on #3563
Hmmm... it's strange. Personally, I do not think that it's an issue with Storefront because I am getting the same errors with other themes.

First, I've tested it with with the [Matthew](https://woocommerce.com/products/matthew/) theme. I've got the same issue. Then I've thought that it could be the theme issue. So, I've activated Storefront but I've got the same issues in Storefront.

I've just t

[2020-12-17 19:05] #3265 closed

[2020-12-17 19:30] haszari commented on #3565
See also https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3224 (I think same issue)

[2020-12-17 20:16] nerrad commented on #3563
Yup it is strange. Blocks _is_ supposed to be de-registering those scripts. I see you're using Query monitor, it's not clear to me from the screenshot but is that notifying you about script handles being requested as dependencies of _other_ scripts that are registering that can't because of missing dependencies? If so, that would make sense. Either way, thanks for creating the issue, we'll look in

[2020-12-17 20:52] opr opened #3566 "Cart block does not show the correct preview when shipping calculator is false and core -> require address is true"
## Describe the bug
When **WooCommerce > Settings > Shipping > Hide shipping costs until an address is entered** is true and the cart block's **Shipping calculator** is false, the preview of the cart block should reflect what will be displayed on the front-end.

## To reproduce
Steps to reproduce the behavior:
1. Tick **WooCommerce > Settings > Shipping > Hide shipping costs until an address is en

[2020-12-17 20:53] opr commented on #3560
Hi, thanks for the report. It looks like a similar issue was addressed in #3383 and the issue you're reporting here is semi-related to that.

When "Hide shipping costs until an address is entered" is true in core settings, the block-level "Shipping calculator" toggles whether the customer is allowed to enter their address at the cart level to get a shipping estimate. If "Shipping calculator" is to

[2020-12-17 21:02] haszari commented on #3066
Most of this was already done/started. Tidied up a few things in this PR: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3567

I've left the slugs (github repo, WCCOM url) for follow up, they should only be changed with care (if safe to do so!).

[2020-12-17 21:15] #3560 closed, assigned to nobody

[2020-12-18 17:25] zdenys commented on #3539
Another user report on the forums https://wordpress.org/support/topic/block-all-products-woocommerce/

[2020-12-19 02:41] MTraveller opened #3570 "Woocommerce Checkout Block Suggestion"
## Is your feature request related to a problem? Please describe.
I get frustrated when I go to a shop and see something I like and decide to buy. When arriving to the checkout page I see an old, messy page with lot's of inputs screaming - run away!

## Describe the solution you'd like
Now the new woocommerce checkout block is awesome, a big leap towards greatness, but it is not there yet. I am dr

[2020-12-19 23:16] dashkevych commented on #3563
Yes, I agree with you that it does not impact anything in the Cart block. At least, I've not seen any problems in the Cart block caused by this issue.

I have thought that you would like to know about this missing assets issue :)

[2020-12-20 15:58] albertkp opened #3571 "Delete All Cart Items Endpoint returns woocommerce_rest_cart_error"
## Delete All Cart Items not working
Hi,
I'am calling the delete all cart items endpoint  with the X-WC-Store-API-Nonce. But I'am getting back woocommerce_rest_cart_error error. I have tried the add-item and remove-items endpoints. Both are working fine when triggered with nonce. But the delete endpoint is failing. I have checked in code and found the get_cart_instance() function is returning null

[2020-12-20 20:42] kentsor commented on #2656
I'm not understanding the logic here. The block is _useless_ as it is without pagination.

[2020-12-20 20:48] kentsor opened #3572 "Products by Category block: no pagination followup"
## Is your feature request related to a problem? Please describe.
This is following up to issue 2656, which was closed by saying that the blocks were deliberately designed not to have pagination.

I'm really not understanding that. Pagination and being able to display an unlimited number of results is indispensable. The block is _useless_ (at least to me) if it cannot display more than a screenful

[2020-12-20 21:11] haszari commented on #2200
Confirmed the issue - when debugging using `npm start` the css files have no source maps in dev tools, you can only see minified CSS. I was looking at our 3 css files - `editor.css` `style.css` `vendors-style.css`.

I noticed two issues:

1. The css files don't reference a source map at all (the issue mentioned in description). I think there should be a comment something like this: `/*# sourceMapp

[2020-12-20 21:23] haszari commented on #2200
Saw this warning that might be relevant:

[code]

[2020-12-20 21:54] haszari commented on #2200
Maybe just missing `sourceMap: devtool` option in a few places?? https://stackoverflow.com/questions/52422220/sourcemap-with-sass-loader-and-postcss-loader-in-webpack

Update - added this (https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3573) and now the sourceMaps are getting correctly generated:

<img width="1174" alt="Screen Shot 2020-12-21 at 11 10 57 AM" src="https://

[2020-12-21 03:10] haszari commented on #3438
Took a dive into `Warning] Using custom components as toolbar controls is deprecated. Please use ToolbarItem or ToolbarButton components instead.` for `Featured Category`.

The [custom component we're using is `MediaUpload` (etc)](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/blocks/featured-category/block.js#L98-L116); this must be a deprecated pattern n

[2020-12-21 11:22] budzanowski opened #3574 "Fix paymentData.paymentMethods used as a wrong data type."
`paymentData.paymentMethods` is an `Object` but it was used as an `Array` in following places:
- https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/context/cart-checkout/payment-methods/payment-method-data-context.js#L88
- https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/context/cart-checkout/payment-methods/pa

[2020-12-21 13:11] #3511 closed, assigned to Aljullu

[2020-12-21 13:11] #3546 closed, assigned to Aljullu

[2020-12-21 13:15] #3517 closed, assigned to Aljullu

[2020-12-21 15:06] senadir commented on #3438
Same problem affects Featured Product.

[2020-12-21 15:33] #3574 closed, assigned to budzanowski

[2020-12-21 15:56] #3486 closed, assigned to senadir

[2020-12-21 16:03] #3487 closed, assigned to senadir

[2020-12-21 16:03] #3438 closed, assigned to senadir

[2020-12-21 16:03] #3475 closed, assigned to senadir

[2020-12-21 16:03] #3479 closed, assigned to senadir

[2020-12-21 16:03] #3481 closed, assigned to senadir

[2020-12-21 16:03] #3485 closed, assigned to senadir

[2020-12-21 16:03] #3510 closed, assigned to senadir

[2020-12-21 18:12] opr commented on #3542
FYI: [This PR](https://github.com/docker-library/wordpress/pull/551) on `docker-library/wordpress` will let us test against PHP8 when is it merged.

[2020-12-21 19:26] haszari commented on #3438
@senadir does your PR fix all these warnings or should we reopen this issue?

[2020-12-21 22:25] senadir commented on #3438
All that was reported yeah, did I miss anything?

[2020-12-21 22:30] haszari commented on #3438
Looks like you got 'em all! If there are any more we can fix them as they come up 👍

[2020-12-21 23:43] alantygel commented on #3564
Well, I would rather act over

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/7a6accdabaad6b51b6e446adf73b6e88e1928b6d/src/BlockTypes/ProductCategories.php#L121-L137

If `$attributes['hasEmpty']` is True, I would make a query checking if there are products which are not outofstock neither hidden from catalog. However, this approach seems to add a significant burden (one a

[2020-12-22 00:02] ghost opened #3583 "Checkbox Privacy Policy"
The woocommerce blocks checkout form does not show the acceptance box for the privacy policy or terms and conditions.

[2020-12-22 19:49] #3066 closed

[2020-12-22 19:52] #2919 closed

[2020-12-23 10:30] senadir opened #3592 ""Country is required" error when doing a digital checkout."
## Describe the bug
#3552 introduced validation for our API, it seems this validation is running on shipping fields even if we don't have shipping in that order (shipping not set/digital order).

## To reproduce

1. disable shipping or checkout a digital order.
2. try to checkout, you would get a "country is required" error, even if you have country set.

## Expected behavior
The error shouldn't b

[2020-12-23 10:31] senadir commented on #3592
I'm going to try and get this done today, but if it proves to be too much work, I'm going to revert #3552, release 4.1 and finish this after it.

[2020-12-23 15:10] #3592 closed, assigned to senadir

[2020-12-23 15:54] senadir opened #3595 "X-WC-Store-API-Nonce is invalid errors because of inconsistent nonce"
## Describe the bug
When you try to add a product after a checkout, you get a nonce error.

## To reproduce
Steps to reproduce the behavior:

1. In a private window, add and checkout, without creating an account.
2. Go back to all products, try adding a product
3. you get a nonce error, this seems to happen with all products only, works fine in cart requests.

You can also reproduce it by:
1. In a

[2020-12-23 16:41] senadir commented on #3595
I give this a run but didn't get anywhere with this
deleting this line `$response->header( 'X-WC-Store-API-Nonce', wp_create_nonce( 'wc_store_api' ) );` fixes it but would create a regression when people log in.
I'm not sure at all why removing this line fixes the issue.

[2020-12-23 16:44] senadir commented on #3595
After some digging, I found that `/store/products` returns a different nonce from cart and checkout endpoints, not sure why.

[2020-12-23 22:44] dashkevych opened #3596 "Load theme-specific styles only if the theme is active"
I've noticed that some blocks [include styles](https://github.com/woocommerce/woocommerce-gutenberg-products-block/search?l=SCSS&q=.theme-twentytwenty) for default WordPress themes. Since not everyone who uses WooCommerce has an active default WordPress theme, these styles are useless.

It would be great if WooCommerce loaded just base styles needed for its core blocks by default, and additional s

[2020-12-24 11:00] #3595 closed, assigned to nobody

[2020-12-25 10:39] senadir commented on #3596
Hey there @dashkevych
Thank you for your suggestion, on a personal note, I don't see much value in complicating the build process for very little gain, most extra styles are a single or double rule at best, meaning the added overhead is very negligible, and those styles are scoped so that they don't leak.

If we ever found ourselves doing full-fledged support for a theme ranging all of our compone

[2020-12-28 01:17] dashkevych opened #3601 "Products grid: Alignment issues of the sale badge in smaller screens"
## Describe the bug
It looks like the [following styles](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/components/product-list/style.scss#L133) cause an alignment issue of the sale badge in smaller screens when the badge is aligned to the center. Also, these styles cause an alignment issue of the sale badge when the badge is aligned to the right. See

[2020-12-28 06:48] budzanowski commented on #3279
I was not able to reproduce the problem, but honestly, I have not tested with the exact site setup as for example I am still waiting for activation of my DHL XML test credentials. I have tried with other shipping plugins that offer live rates ( I suspected that this could be the culprit of the problem ). I have tried a couple of testing setups but I was not able to

I am closing this for now - pro

[2020-12-28 06:48] #3279 closed

[2020-12-28 14:34] Aljullu opened #3603 "Tasks to do when updating `@woocommerce/components`"
Recently, I pushed a couple of PRs that change the styling of `SearchListControl` and `SearchListItem` (https://github.com/woocommerce/woocommerce-admin/pull/5809 and https://github.com/woocommerce/woocommerce-admin/pull/5901). Some of it was in preparation for the widgets editor (#3228) and to fix some styling issues that we got in recent versions of WP. This issue should be used as a list of the

[2020-12-28 14:52] budzanowski commented on #3224
Closing in favor of #3565

[2020-12-28 14:52] #3224 closed

[2020-12-28 21:07] dashkevych commented on #3601
Also, it would be great if all products blocks had the same functionality for the sale badge. Currently, only the _All Products_ block allows to set a position of the sale badge while other block do not have this functionality. It may raise questions from users who set alignment of this section in the _All Products_ block and want to mimic the same layout for other product blocks.

Additionally, w

[2020-12-29 09:51] Aljullu opened #3605 "Allow extensions to modify how the product price from cart line items is displayed"
Some extensions need to tweak how the price of cart line items is displayed. For example, Subscriptions needs to display a `Due today` label in some cases:

<img width="512" alt="screen-shot-2020-11-30-at-8 27 23-pm" src="https://user-images.githubusercontent.com/3616980/103274899-18e45680-49c3-11eb-9ce2-5219c09eac5e.png">

[2020-12-29 10:33] senadir commented on #3571
I'm not seeing this error, can you update to the latest version and try again?

[2020-12-29 11:33] cds1991 opened #3606 "New Cart & Checkout Blocks don't load content for users"
## Describe the bug
- Aim is to replace default cart & checkout with new block based Woocommerce cart & checkout
- Cart and Checkout load and work as expected for user logged in as WP-Admin
- Cart and Checkout load and work as expected for all other visitors if accessed by URL and **not** set as WC Cart and Checkout Page in WC -> Settings -> Advanced
- If Cart and Checkout are set as WC Cart and C

[2020-12-29 13:57] senadir commented on #3606
Hey there, this happens when JS fails to load/run, are you seeing any console errors?

[2020-12-29 14:21] zdenys commented on #2918
Another case on the forums https://wordpress.org/support/topic/login-redirect-to-wp-admin-page/

[2020-12-29 15:17] zdenys commented on #3539
Another user report on the forums https://wordpress.org/support/topic/how-to-increase-the-font-size-price-and-button/

[2020-12-29 15:38] cds1991 commented on #3606
Hi Seghir,

- When logged into WP-admin (page displays as expected): "DevTools failed to load SourceMap: Could not load content for chrome-extension://eakacpaijcpapndcfffdgphdiccmpknp/scripts/content_page.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME"

- When not logged into wp-admin with cart page set in WC - settings - advanced (page doesn't display): LOADS!

<img width="962" alt

[2020-12-29 15:52] senadir commented on #3264
Closed by https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3503

The selected option was

[2020-12-29 15:52] #3264 closed

[2020-12-29 15:57] senadir commented on #3232
The work that Thomas did in 3906-gh-woocommerce/woocommerce-subscriptions is great example of a generic build process, so we should try and use that as we go.

It can also include this issue #3532 but it's neither a requirement nor a blocker.

[2020-12-29 15:58] senadir commented on #3262
This is closed by 3839-gh-woocommerce/woocommerce-subscriptions

[2020-12-29 15:59] #3262 closed

[2020-12-29 16:00] senadir commented on #3233
This is closed by 3825-gh-woocommerce/woocommerce-subscriptions

[2020-12-29 16:00] #3233 closed

[2020-12-29 16:04] senadir commented on #3245
We're still not sure how to implement this, a suggestion by Darren was to pass this Data as a prop, which can be done if we go slotFills ways.

[2020-12-30 02:13] dashkevych opened #3612 "Filter Products by Attribute: Add a CSS class to the heading element"
Currently, the Filter Products by Attribute block comes with a title ("Filter by size") which is shown above the product attribute section. Also, this block allows to change a heading level in the Editor. It would be great it the block had a special CSS class for the heading element in order to avoid using complex selectors. For example, we can add the following class to the heading element in thi

[2020-12-30 13:48] senadir opened #3613 "Integration Tracking (WC Subscriptions): Export components to a global checkout"
In order to get #3246 out, we need to a way to export components globally so that they're consumable by other plugins.
Getting an npm package is not a priority right now so getting them to the global `wc` variable should be enough.
The new package should be named checkout and is accessed globally from `wc.checkout`.
When implemented, a new rule should be added to [@woocommerce/dependency-extractio

[2020-12-30 15:55] senadir opened #3614 "Integration Tracking (WC Subscriptions): Indicate whether a Switch Subscription product is downgrade/upgrade/crossgrade in REST API"
WC Subscriptions offers the ability to upgrade/downgrade or crossgrade a Subscription, it achieves this by creating a pseudo Subscription Product with new data.
In classic Checkout, the original Subscription is updated with new information.

For this issue, we want to indicate whether an item is a downgrade, upgrade, or crossgrade pseudo subscription product, we can inspire from this function.
The

[2020-12-30 17:06] zdenys commented on #3175
User request about this lacking feature: https://wordpress.org/support/topic/google-analytics-conversion-tracking-4/

[2020-12-30 17:37] itielsefer14 opened #3615 "Checkout Block doesn't support PayPal Express"
## Hello! the error is that it does not accept other forms of payment, such as PayPal express etc.
## hola! el error es que no acepta otras formas de pago, como por ejemplo PayPal express etc

[2020-12-30 19:53] senadir opened #3616 "Integration Tracking (WC Subscriptions): Allow zero orders to checkout without payment."
It's very common of Subscriptions to be initially zero dollars, this happens if you crossgrade a subscription and your payment details and method is already saved.
This means checkout wouldn't have any totals ($0) and doesn't need to capture any payment method, checking out, in this case, would return an error (no payment method selected).

This is needed for Subscription and only happen there, if

[2020-12-30 20:09] senadir opened #3617 "Integration Tracking (WC Subscriptions): Provide a way for plugins to still capture and process payment even if cart value is $0"
This is a second use case compared to https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3616. It's very common for WCSubs to create an order with $0 value (free trial) and still capture payment for when a renewal date is up.

Currently in Checkout block, if the cart value is $0, you don't get any payment method (because `cart->needs_payment() = false`) but you still need t

[2020-12-30 20:20] senadir commented on #3615
Hi @itielsefer14 ,

The Cart and Checkout blocks are still in preview and there are a number of extensions and payment methods that are not integrated yet. Paypal Express is one of those extensions. You can follow [this document](https://docs.woocommerce.com/document/cart-checkout-blocks-support-status/) to keep up to date with the latest status of the blocks.

I'm going to close this issue as the

[2020-12-30 20:20] #3615 closed, assigned to nobody

[2020-12-30 20:29] theritesite opened #3618 "Saved payment validation returns error"
## Describe the bug
When using saved payments on the checkout block, the checkout process errors out visibly to front end users. The error is:
payment_data[1][value] is not of type string,boolean.

## To reproduce
1. In my account, add a payment method, mark it as default or the only one.
2. Add any product type to the cart
3. Checkout regularly using the saved card as payment type, don't change t

[2020-12-30 20:39] senadir opened #3619 "Integration Tracking (WC Subscriptions): Indicate if the cart/summary item is a downgrade/upgrade/crossgrade"
When a customer switches his subscription, some sort of indication should be shown on Cart and Order Summary that the current item is a switch, Checkout shortcode appends (downgrade/upgrade/crossgrade) to the item subtotal, in our case we have "Due today" prepended to the subtotal, so I'm not sure what's the best place to add the switch keyword.

pinging @LevinMedia

[2020-12-30 20:49] senadir commented on #3618
I'm not able to reproduce this issue, but I'm still going to investigate it.

What I did:
- I have several testing cards saved to my account.
- I added a regular product to my cart and tried to checkout.
- I left the first credit card that was selected and placed order: ✅ It worked.
- I selected a different credit card and placed order: ✅ It worked.

[2020-12-30 20:51] senadir commented on #3618
Also, do you happen to have a live website where I can test this and see the network payload.

[2020-12-30 20:56] theritesite commented on #3618
Yeah! https://test-cranksports.pantheonsite.io/

[2020-12-30 21:17] senadir commented on #3618
I managed to reproduce the issue on your website, I'm not fully sure why it's happening for you.

**What happens:**
- `payment_data` contains the selected payment method, between those are `wc-stripe-payment-token`.
- In our code, we ensure that value is a string, and we validate it in the server as a string.
- In your website, that value is an integer and not a string
![image](https://user-images

[2020-12-30 21:18] senadir commented on #3618
I'd also suggest you update WooCommerce and WooCommerce Stripe Gateway to the latest versions.

[2020-12-30 21:21] senadir commented on #3618
So I managed to scope down the issue, payment methods added from my-account suffer from this issue, payment methods saved directly from checkout doesn't have this issue.

I'm going to update the testing steps for this issue.

[2020-12-30 21:22] theritesite commented on #3618
Awesome! Thank you for the quick response and debugging!
As a side note, I have a staging server with updated versions and the error persists

[2020-12-30 21:53] senadir opened #3620 "Integration Tracking (WC Subscriptions): Switching a subscription creates a new one instead of updating the existing one"
When switching a subscription, your is updated with the new details, however, if you checkout via our blocks, this doesn't happen, and a new subscription is created instead.

## To reproduce
Steps to reproduce the behavior:

- In WooCommerce Settings, go to Subscriptions and scroll to Switching and check Allow Switching | Between Subscription Variations.
- Create a variable Subscription Product wi

[2020-12-31 10:05] senadir commented on #3572
Hey there @kentsor

As Darren said in the original issue, we're not trying to replace the archive loop with a block, this block is intended to be a drop-in block in a larger page, and so pagination for it doesn't make sense.

Not only that, but we already have plans for building other blocks that are going to replace the archive loop and contain pagination, so your use case is going to get handled

[2020-12-31 11:03] senadir commented on #3583
Hi @gaolbu ,

Thanks for taking the time to leave the feedback.

This report is a duplicate of #3258.

[2020-12-31 11:03] #3583 closed, assigned to nobody

[2020-12-31 13:30] senadir commented on #3271
Another update to this, your card is always saved, but there's no checkbox to decide if you want to save it and there's no list to select saved payment methods.

[2020-12-31 16:26] cds1991 commented on #3606
bump

[2020-12-31 20:23] senadir opened #3622 "Integration Tracking (WC Subscriptions): Indicate whether a Subscription product is synchronized in REST API"
WC Subscriptions offers the ability to sync payments of all subscriptions that belong to a subscription product to a specific day, it achieves this by prorating payment, delaying capturing payment, and fixing the next payment date.

For this issue, we want to indicate whether a cart item is a synchronized subscription product, and to what schedule it belongs.
The code should live in WCSubs repo.

[2021-01-01 10:19] budzanowski commented on #3606
Hi, Charlie ( @cds1991 )
I have tried to reproduce your issue but I was not able to. I see that you have a lot of plugins installed. This suggests that there may be an issue with one of them. If you don't mind, could you please try [Test for Plugins and Themes Conflicts](https://docs.woocommerce.com/document/how-to-test-for-conflicts/) . Since you are seeing the grey boxes instead of the content I

[2021-01-01 13:26] senadir opened #3623 "Integration Tracking (WC Subscriptions): Indicate if the cart/summary item is synchronized"
When a customer adds a synchronized subscription product to his cart, some sort of indication should be shown on Cart and Order Summary that the current item is synchronized, Checkout shortcode appends this info to the item price, we're moving away from appending all recurring info to the product price so we need to figure if we want this or not.

[2021-01-01 15:23] senadir opened #3624 "Integration Tracking (WC Subscriptions): Indicate whether a Subscription Product is a resubscribe in REST API"
WC Subscriptions offers the ability to resubscribe a Subscription, it achieves this by creating a pseudo Subscription Product based on the previous product but without sign-up fees or trial periods.
If your previous subscription contains several products, all of them are going to be added to your cart.

For this issue, we want to indicate whether an item is a resubscribe pseudo subscription produc

[2021-01-01 15:30] senadir opened #3625 "Integration Tracking (WC Subscriptions): Indicate if the cart/summary item is a resubscribe"
When a customer tries to resubscribe to a subscription, a (or several) pseudo-elements are added to his cart. There should be some sort of indication should be shown on Cart and Order Summary that the current item is a resubscribe. Checkout shortcode doesn't show anything about this so we could probably not handle this case all together.

[2021-01-03 19:58] nerrad commented on #3228
@Aljullu it looks like most (if not all) of the things you found either have a tracking issue or are already have a fix merged. Can you confirm that? Do we need to keep this issue open or are there other things that should be considered as a part of doing work for Cycle 1?

I'm moving this issue to the backlog for now but will pull back into the cycle anything that needs addressed depending on you

[2021-01-03 20:14] nerrad commented on #3542
@opr is this issue done or is there still ongoing work related to it needing done?

[2021-01-04 09:06] opr commented on #3542
@nerrad it is pretty much done, #3544 just needs a review, then @senadir needs to disable the Travis integration for this repo (or anyone else who has the correct access level to do this)

[2021-01-04 09:08] Aljullu opened #3626 "Full site editor renders blank page with WooCommerce activated"
Full Site Editor renders blank when WooCommerce is enabled. This issue was reported by a user in GB repo (https://github.com/WordPress/gutenberg/issues/27938) and according to the discussion there, the cause might be the work-around introduced in this PR: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3219.

### Steps to reproduce

1. Install a FSE compatible theme (ie, [

[2021-01-04 09:16] Aljullu commented on #3626
I can confirm reverting the changes from #3219 fixes the issue.

FSE is probably a more important feature than the visual glitch https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3219 was fixing, so as a quick solution might be reverting those changes.

[2021-01-04 10:38] nerrad commented on #3542
Alrighty, I moved #3544 to the Code Review pipeline and applied the appropriate label.

[2021-01-04 10:53] cds1991 commented on #3606
Thank you so much for your help. I've fixed it now.

The conflict was with SG Optimizer. I disabled Minify JS and Combine JS Files and it seems to work now.

[2021-01-04 10:53] #3606 closed, assigned to nobody

[2021-01-04 11:57] mikejolley commented on #3617
This might be tricky because some gateways are not going to allow a 0 payment - stripe for example has a min amount of 0.30p. Whilst we can work around this by using `needs_payment ` instead of the order total, I don't see how we can make gateways process the non-payment...

[2021-01-04 12:21] senadir commented on #3617
Subscription has a way around this I think, they sometimes charge and refund $0.5 or can disable completely if it doesn't work.
Core checkout allows this currently, so it's possible and we just need to allow payment collection.

[2021-01-04 13:40] Aljullu commented on #3228
@nerrad yes, it's ok to close this issue. Everything that could be fixed on our end has been fixed and follow-up discussions are taking place in pca54o-KL-p2.

[2021-01-04 13:40] #3228 closed

[2021-01-04 16:12] senadir opened #3628 "Product title in Cart should inherit link styles"
Based on the new design iteration for Cart, the product title is going to inherit link styles.

figma file: n90hX6hG3wwQbYwsYsrJnj-fi-5119%3A0

screenshot
![image](https://user-images.githubusercontent.com/6165348/103554772-ba7e1300-4eaf-11eb-886c-d8b5c639a8a4.png)
![image](https://user-images.githubusercontent.com/6165348/103554886-e4cfd080-4eaf-11eb-8d25-0c1317d7c298.png)

[2021-01-04 16:27] senadir opened #3629 "Add subtotal to Cart and Checkout"
Based on the new design iteration for Cart and Checkout, we need to add subtotal below Product title in cart and checkout.

figma file: n90hX6hG3wwQbYwsYsrJnj-fi-5119%3A0

screenshot
![image](https://user-images.githubusercontent.com/6165348/103554772-ba7e1300-4eaf-11eb-886c-d8b5c639a8a4.png)
![image](https://user-images.githubusercontent.com/6165348/103554886-e4cfd080-4eaf-11eb-8d25-0c1317d7c298.

[2021-01-04 16:31] senadir opened #3630 "Update how cart item meta data is shown"
Based on the new design iteration for Cart and Checkout, we need to tweak how cart item meta data is shown on cart and checkout.

figma file: n90hX6hG3wwQbYwsYsrJnj-fi-5119%3A0

screenshot
![image](https://user-images.githubusercontent.com/6165348/103554772-ba7e1300-4eaf-11eb-886c-d8b5c639a8a4.png)
![image](https://user-images.githubusercontent.com/6165348/103554886-e4cfd080-4eaf-11eb-8d25-0c1317d

[2021-01-04 16:46] senadir opened #3631 "Remove quantity column in Cart and move Quantity selector and delete button to below Product Title"
Based on the new design iteration for Cart and Checkout, we need to move the quantity selector and the remove link to below the price.

screenshot
![image](https://user-images.githubusercontent.com/6165348/103558036-5873dc80-4eb4-11eb-843f-595b376e63b3.png)
![image](https://user-images.githubusercontent.com/6165348/103558124-79d4c880-4eb4-11eb-89e6-e3a709739cd6.png)

[2021-01-04 17:16] senadir opened #3632 "Update Cart and Checkout sidebar design"
Based on the new design iteration for Cart and Checkout, we need to tweak some designs on Cart and Checkout design.

The label and price font weights in the cart meta box were transposed. The prices are now displayed using bold body font. The labels now use regular weight.
The horizontal separators that separated the shipping method options were removed.

![image](https://user-images.githubusercon

[2021-01-04 17:27] webdados opened #3633 "Sates added with "woocommerce_states" won't show up on the checkout block"
## Describe the bug
If we add states to a country by using the `woocommerce_states` filter, for example like this:
`add_filter( 'woocommerce_states', 'woocommerce_portugal_states' );
function woocommerce_portugal_states( $states ) {
	$states["PT"] = array(
		'AC' => __( 'Azores',           'portugal-states-distritos-for-woocommerce' ),
		'AV' => __( 'Aveiro',           'portugal-states-distritos-f

[2021-01-04 18:01] Aljullu commented on #3613
@senadir Is the plan to export something else in addition to components from that package? If not, could we name it `@woocommerce/checkout-components` and `wc.checkoutComponents` to avoid the conflict and make the name more descriptive?

Currently, the styles needed for the Checkout components are built into two files `style.css` (which is shared across all blocks) and `vendors-style.css` (which i

[2021-01-04 18:14] nerrad opened #3635 "Fix PHP 8 Deprecation notice: "Deprecated: Required parameter $errors follows optional parameter $address_type...""
Full warning:

[code]

We'll likely just have to update the final arg to be optional as well.

Introduced in #3552. Too bad our PHPCS compatibility sniffs don't pick it up :(

[2021-01-04 18:28] haszari commented on #3565
Adding info from the earlier issue (for visibility):

## Describe the solution you'd like
Adjust this status item so it's happy if site uses blocks OR shortcodes. Optionally add a warning/danger state if blocks AND shortcodes are present.

If this info is included in the text status report (used in support tickets), we should fix that up too so it's all consistent.

## Additional context
We have s

[2021-01-05 09:27] #3542 closed, assigned to opr

[2021-01-05 09:51] #3618 closed, assigned to Aljullu

[2021-01-05 10:01] senadir commented on #3613
We discussed naming here pca54o-yB-p2
While initially we're going to share some components, it's also going to house hooks, slotfills and data helpers related to Checkout, so we don't want to rename it later once we publish them.

If we can keep it as is, then I don't have much problem, given that the styles are going to be imported inside those components inside this package.
I'm not sure how tec

[2021-01-05 10:41] 321-Soleil opened #3639 "Champs Adresse"
Bonjour, j'ai installer woo block, excellent, seul soucis, sur mon champs d adresse il y a écrit "Adresse& nbsp;
" j'aimerais le changer en "Adresse" comment est ce possible?
Merci d avance.
Cordialement

[2021-01-05 12:23] nerrad commented on #769
This issue has been open for a while, since a lot has changed since it's original creation I'm going to close this, if this is something that surfaces again for some needed use-case we can create a new one.

[2021-01-05 12:23] #769 closed

[2021-01-05 12:30] nerrad commented on #690
Since this is primarily a GB issue, I'm going to close this.

[2021-01-05 12:30] #690 closed

[2021-01-05 12:33] nerrad commented on #1218
I'm going to close this, given the changing landscape and pending FSE, this is likely something that would be handled as a part of the Block Theme exploratory work.

[2021-01-05 12:33] #1218 closed

[2021-01-05 12:33] #1219 closed

[2021-01-05 12:38] nerrad commented on #1676
Possible this might be a theme issue?

[2021-01-05 12:38] #3293 closed

[2021-01-05 12:42] nerrad commented on #1688
We should make sure we're using the same colors as elements elsewhere in the GB ui/ux. So that would mean changing our background if needed.

[2021-01-05 12:48] Aljullu commented on #1676
It looks like the color is hardcoded on our side:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/components/reviews/review-list-item/style.scss#L142

This issue might be a good opportunity to completely remove the `color` declaration from that selector. If we want the block to look ok in all theme backgrounds, it should use the text color inherited f

[2021-01-05 12:55] nerrad commented on #3334
HI there @linuxandroid-xyz  👋🏻

Sorry for the delay in responding. Thanks so much for taking the time to leave some feedback - much appreciated! We make note of all feedback we receive and we also close issues with the feedback as active issues are used for bugs or feature/enhancements. It does not mean that we don't note or review the feedback. Closed issues can also still be commented on.

Your

[2021-01-05 12:55] #3334 closed

[2021-01-05 13:09] #3019 closed

[2021-01-05 13:55] albertkp commented on #3571
Sure. Will try and let you know

[2021-01-05 14:43] Aljullu commented on #3613
Aaah thanks. I would like to revisit that discussion again. My issue with naming the package `@woocommerce/checkout` is that its handle conflicts with `wc-checkout` (the Core script used by the Checkout shortcode).

I see the solution you went for in `try/checkout-package` was to use `wc-checkout-packages` as the handle, is that how we are planning to name all packages (`wc-xyz-packages`)? I wonde

[2021-01-05 14:58] senadir commented on #3613
The handle name could be independent from the package alias.
In the future, if we end up releasing several packages then it would make sense to have `@woocommerce/blocks-checkout` `@woocommerce/hosted-checkout` etc so I'm okay with naming it blocks-checkout.

[2021-01-05 16:05] #706 closed

[2021-01-06 07:46] pramodjodhani opened #3648 "Cart block doesn't use the Fees Label, always says 'Fees'"
## Describe the bug
While using [this snippet](https://docs.woocommerce.com/document/add-a-surcharge-to-cart-and-checkout-uses-fees-api/#section-1), the Cart block always refers to the fees as "Fees", rather than "Surcharge".

## To reproduce
Steps to reproduce the behavior:

1. Install this plugin.
2. Create the cart page using the Cart block
3. Add [this snippet](https://docs.woocommerce.com/doc

[2021-01-06 08:09] 321-Soleil opened #3649 "I need help on gutenberg"
Hello the woocommerce checkout box is really nice but on the adress box there is written "adresse nbsp" and i would like to write only "adresse" is it possible ? here is the url so you can check the adress box to see : [https://321soleil.fr/checkout/](https://321soleil.fr/checkout/) please respond to me
Best regards

## What do you like about the Cart & Checkout blocks?

## What do you think is mi

[2021-01-06 09:25] #712 closed

[2021-01-06 09:25] #704 closed

[2021-01-06 09:25] #708 closed

[2021-01-06 11:19] Aljullu commented on #3649
Hi @321-Soleil, thanks for the feedback. It seems to be an issue with the French translation, which is something we don't control:

https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/fr/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=578237&filters%5Btranslation_id%5D=42827627

https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/fr-be/default/?fi

[2021-01-06 11:19] #3649 closed, assigned to nobody

[2021-01-06 11:23] Aljullu commented on #3639
Closing as duplicate of #3649. I suggested the translation update but it's up to the localization community to accept it or not.

[2021-01-06 11:23] #3639 closed, assigned to nobody

[2021-01-06 11:25] Aljullu commented on #3648
Thanks for opening this issue and the detailed testing instructions @pramodjodhani! It looks like we already have an open issue to track this problem: #3519, so I will close this one as a duplicate.

[2021-01-06 11:25] #3648 closed, assigned to nobody

[2021-01-06 11:29] Aljullu opened #3650 "Enable @wordpress/no-global-event-listener ESLint rule"
Gutenberg enabled a rule to avoid calling `addEventListener` and `removeEventListener` from `document` and `window` globals: https://github.com/WordPress/gutenberg/pull/26810. In order to keep our codebase consistent and prevent introducing more instances of this issue, we would like to enable this rule in our repo as well.

Taking a quick look, there might be a couple of instances where this rule

[2021-01-06 13:18] #2806 closed

[2021-01-06 15:27] senadir opened #3655 "Memory leak error when emptying cart"
When you remove all items from your cart, you get a console error about a memory leak

[code]

This is the guilty useEffect

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/f0cb5425e6e9e01c80d89318049e8791ea0745ee/assets/js/base/context/cart-checkout/payment-methods/use-payment-method-registration.js#L140-L145

[2021-01-06 15:57] gglobalstep opened #3657 "[GlobalStep - WooCommerce 4.9 RC1] "Oops!" error message is displayed at frontend even after refresh, when a page is viewed after switching WooCommerce version from backend."
## Bug Description:
"Oops!" error message is displayed at frontend even after refresh when a page is viewed after switching WooCommerce version from backend.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any tes

[2021-01-06 22:24] juliaamosova commented on #3657
Hi @gglobalstep,

Thank you for reporting the issue. It looks like the issue is related to Woo Commerce Blocks functionality which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2021-01-07 12:02] #3613 closed, assigned to Aljullu

[2021-01-07 12:14] mikejolley commented on #3571
This was fixed here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3488

I'm not sure if this version is live in Woo Core yet, so you may need to wait for WC 4.9 to be released, or use the Blocks Feature plugin which does contain the fix.

Thanks

[2021-01-07 12:14] #3571 closed, assigned to nobody

[2021-01-07 12:41] #2811 closed

[2021-01-07 13:02] Aljullu opened #3658 "webpack-helpers.js cleanup"
We think we can clean up [`webpack-helpers.js`](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/bin/webpack-helpers.js) a bit:

* `@woocommerce/blocks-registry` is listed in the `wcDepMap` and `wcHandleMap` and it's also returned in the `getAlias()` function. We think it doesn't need to be [returned by `getAlias()`](https://github.com/woocommerce/woocommerce-gutenber

[2021-01-07 14:54] Aljullu opened #3659 "Integration Tracking (WC Subscriptions): display subscriptions details in cart line item"
We want to display the subscription details (_Free trial_, _Sign up fee_, etc.) below the product description in the cart line item:

![imatge](https://user-images.githubusercontent.com/3616980/103906573-674ecf00-5100-11eb-98c6-1c38b236be2d.png)

They should be displayed like any other metadata info and variations.

[2021-01-07 15:49] Major1ty opened #3660 "Option to disable 'continue shopping'"
## What do you like about the Cart & Checkout blocks?
Huge improvement, thanks.

## What do you think is missing from the Cart & Checkout blocks?
BUT, there needs to be an option to disable 'continue shopping' please.
This is especially important for a single-product store!!!

[2021-01-07 18:14] nerrad commented on #3570
HI there @MTraveller  👋🏻

Thanks so much for taking the time to leave some feedback - much appreciated! We make note of all feedback we receive and we also close issues with the feedback as active issues are used for bugs or feature/enhancements. It does not mean that we don't note or review the feedback. Closed issues can also still be commented on.

[2021-01-07 18:14] #3570 closed, assigned to nobody

[2021-01-07 18:15] #3572 closed, assigned to nobody

[2021-01-07 18:27] nerrad commented on #3601
Thanks for leaving the feedback and suggestions @dashkevych. Related to aligning styles across all grid type blocks, we likely won't be doing much with the current blocks because there are plans in our longer term roadmap to align how these blocks are constructed (using block elements) which will result in this alignment since all blocks will be sharing the same base components. The inconsistency

[2021-01-07 19:08] chvillanuevap commented on #3435
+1
I'm building a site using FSE, and I'm using a shortcode as a workaround for the lack of a Cart block for navigation.

[2021-01-08 12:53] nerrad commented on #3657
Thanks for the report. This could be a problem with cached assets when switching versions but I also notice that from the SSR that WC Blocks 4.0.0 is active on this site.

Whoever investigates this as porter, I've mostly assigned this to the requested pipeline to see if you can reproduce and identify what is causing it, also try and determine if there's a workaround (I assume refreshing the block

[2021-01-08 12:59] nerrad opened #3661 "Implement code needed for MailPoet integration"
From some conversations with the team, they shared the things they need for integrating and it looks like this is all server side.

The following hooks:
[code]

And then this was also mentioned:

Once we work on this, we will need to clarify at what point they need the email, but I'm just documenting this for planning. I think most of the cart hooks should already be firing but we'll just need to

[2021-01-08 14:08] ghost commented on #3354
@Aljullu

I agree with the expected result and your comment. We should be consistent with WC Core and display a border around the place holder image.

[2021-01-08 15:05] gglobalstep opened #3664 "Twenty Twenty-One: Price slider thumbs are not vertically aligned in Chrome and Safari"
## Bug Description:
For Twenty Twenty One theme, Limit icon for "Filter Products by Price" block appears large in size as compared to Storefront theme.

## Environment:
Windows 10, macOS Mojave v10.14.6 (18G103)
Browser: Chrome(Version 87.0.4280.88 (64-bit))
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site

[2021-01-09 10:17] webdados commented on #3633
Thanks for picking this up @mikejolley

[2021-01-11 10:29] Aljullu commented on #3664
Thanks for opening this issue @gglobalstep!

A couple of things to notice:

* The size of the range slider thumb is quite big but that's intentional for a11y: https://github.com/WordPress/twentytwentyone/pull/871
* However, there seems to be an alignment issue in Blink and Webkit browsers (in Firefox, it looks ok):

| Chrome | GNOME Web<br>(same engine as Safari) | Firefox |
| --- | --- | --- |
|

[2021-01-11 10:35] Aljullu commented on #3660
Hi @Major1ty, glad to know you like the Cart and Checkout blocks!

It's not clear to me where the 'Continue shopping' option appears. Could you post a screenshot or some steps to reproduce it? Thanks!

[2021-01-11 12:12] #3246 closed

[2021-01-11 14:29] senadir commented on #3232
Closed by 3906-gh-woocommerce/woocommerce-subscriptions

If you're adding a build process to a plugin, consult that PR and this one 3940-gh-woocommerce/woocommerce-subscriptions

[2021-01-11 14:29] #3232 closed

[2021-01-11 15:56] Aljullu opened #3668 "BlockErrorBoundary text not visible in dark themes"
## To reproduce
Steps to reproduce the behavior:

1. Chose a dark theme or a theme that allows you changing the colors (like Storefront) and set the background to black and text to white.
2. Force an error to the Cart or Checkout block. You can do that adding this snippet to [line 74 in `assets/js/blocks/cart-checkout/cart/block.js `](https://github.com/woocommerce/woocommerce-gutenberg-products-b

[2021-01-12 10:04] #3138 closed

[2021-01-12 10:04] #3630 closed, assigned to Aljullu

[2021-01-12 11:11] senadir opened #3669 "Handle double padding when LineItem is inside Panel"
It happens that when nest a LineItem inside a panel, you get double padding, because both components

![image](https://user-images.githubusercontent.com/6165348/104306958-ebbd9b00-54ce-11eb-942e-b4cfb545cb85.png)

Preferably, Panel shouldn't have padding in them and that should be left to the insider items to decide, ethier that or LineItem shouldn't have padding that should be left for the contai

[2021-01-12 12:47] nerrad commented on #3396
I realize it's been a while @method7 but we introduced some fixes related to how nonces were generated and applied in releases since this issue was created. Have you tested the latest releases of Blocks and do you still see this issue happening?

[2021-01-12 16:31] opr commented on #3617
As mentioned in my PR #3670 the cart we send to the client on page load does not reflect the true state of the cart after the extension (subscriptions) has extended the API. So this is not a case of `cart->needs_payment` being false, but more like a problem that we're not seeing the complete picture when we load the page.

Because of Nadir's work in subs, we extend the API to return new data relev

[2021-01-13 09:08] garymurray opened #3677 "Do we need to capture the address when a customer chooses local pickup?"
This was logged as part of another feature request here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3352#issuecomment-720055800 so I have created a new issue for us to deal with this issue seperately.

Essentially - the question was asked - do we need to capture the customers address if they intend to use local pickup as the delivery option?

As @nerrad mentioned in

[2021-01-13 09:09] garymurray commented on #3352
Thanks for the feedback @ajgw

We'll add your suggestion to our list of potential future improvements we can make to the mobile view of the checkout block.

I have opened your other [comment](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3352#issuecomment-720055800) as a separate issue [here](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/36

[2021-01-13 11:28] nerrad commented on #3352
As Gary mentioned we're tracking the feedback separately and created an issue for the other comment so I'm going to close this issue. Thanks again for taking the time to leave this feedback!

[2021-01-13 11:28] #3352 closed, assigned to nobody

[2021-01-13 14:06] #3635 closed, assigned to mikejolley

[2021-01-13 14:07] mikejolley commented on #3677
Is it not the case that some payment gateways require billing address in order to process payment?

[2021-01-13 14:50] garymurray commented on #3677
@mikejolley I've always been led to believe it was needed - perhaps something to check with Transact if they any insights on this.

Anecdotally I know _someone_ who managed to pay for something using a card, but put in the wrong address (not the one associated with the card) and the payment went through fine - so it's hard to tell how much this is an actual requirement vs a suggested requirement.

[2021-01-13 15:35] Aljullu commented on #3669
Yes, I agree some of those styles can be simplified. We inherited them from the time we used a `<Card>` to render the sidebar. The reason to have those paddings, is so the border lines will overflow on the sides. But I think this could be accomplished in easier ways: one that comes to my mind would be moving the padding to `.wc-block-components-sidebar` and then adding a negative margin to the lin

[2021-01-13 16:06] nerrad commented on #3677
It can vary by payment gateway and also by how payment gateways are configured in their account settings.

[2021-01-13 16:57] #3519 closed, assigned to mikejolley

[2021-01-13 22:27] 321-Soleil opened #3681 "WOO blocks and advanced dynamic pricing."
Hello I saw a little problem on woo blocks when i used the other plug in advanced dynamic pricing :
Wiht the dynamic pricing plug in I made a gratis product for each order. Suppose that a guy buy a 15 dollar t-shirt on my website, he gets a gratis key ring that usually costs 3 dollars. The two plug ins work perfectly with each other BUT the problem is that AFTER proceeding to the checkout, my clie

[2021-01-13 22:28] 321-Soleil opened #3682 "Woo block"
Hello I saw a little problem on woo blocks when i used the other plug in advanced dynamic pricing :
Wiht the dynamic pricing plug in I made a gratis product for each order. Suppose that a guy buy a 15 dollar t-shirt on my website, he gets a gratis key ring that usually costs 3 dollars. The two plug ins work perfectly with each other BUT the problem is that AFTER proceeding to the checkout, my clie

[2021-01-14 12:20] garymurray commented on #3677
This is what I was thinking - note this is a rough mockup of the concept:

<img width="653" alt="Screenshot 2021-01-14 at 12 17 48" src="https://user-images.githubusercontent.com/10805911/104590006-9f0ac900-5662-11eb-997f-5be56feed852.png">

If a merchant has local pickup enabled - it is not shown as a shipping option - but rather the second step in the checkout changes to one called something lik

[2021-01-14 12:20] nerrad commented on #3682
Closing because this is a duplicate of #3681

[2021-01-14 12:20] #3682 closed, assigned to nobody

[2021-01-14 14:33] gglobalstep opened #3684 "[GlobalStep - WooCommerce 4.9][IE 11] An error message "The editor has encountered an unexpected error." gets displayed upon searching a product block starting with letter "H" and "P"."
## Bug Description:
An error message "The editor has encountered an unexpected error." gets displayed upon searching a product block starting with letter "H" and "P".

## Environment:
Windows 10
Browser: IE11(version 11.1139.18362.0)

 ## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install and activate all required plugins.
1. Complete the Onboarding setup wizard.
1. Add S

[2021-01-14 14:39] gglobalstep opened #3685 "Twenty Twenty-One: "Add to Cart" button appears dark on editor page for the product grid blocks"
## Bug Description:
"Add to Cart" buttons appears dark on editor page for all the Product grid blocks on Twenty Twenty One theme

## Environment:
Windows 10, Mac 10.15.7 (19H114).
Browser: Chrome(Version 87.0.4280.88 (64-bit))
               Firefox(Version 83.0)(64-bit)
               Safari: v13.1.1 (14609.2.9.1.3)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Install

[2021-01-14 16:27] opr commented on #3616
I would be keen to avoid adding any subscriptions specific logic to blocks to handle this. I think the onus should be on extensions to set things up properly. During investigation I found the following information out. Everyone else might know this already but I want to document it for my benefit :)

- When determining whether to show saved payment methods, we use [this criterion](https://github.c

[2021-01-14 18:18] Aljullu commented on #3685
Thanks for the report!

I can reproduce this issue consistently in PHP-based product grid blocks in the editor. All Products block doesn't seem to be affected

The issue is only visible in the editor. Frontend is not affected:
![imatge](https://user-images.githubusercontent.com/3616980/104631814-10676d80-569d-11eb-9266-4c37dd1e4732.png)

[2021-01-14 18:25] Aljullu opened #3688 "Investigate PHP test failures"
There are a couple of PHP tests which are failing both in GitHub actions and locally when running `npm run phpunit`.

After some investigation, it looks like the issue is that tests are running against an old version of our codebase (probably the one included in core).

Things we tried:
* Modifying `bin/install-wp-tests.sh` so it added `define( 'JETPACK_AUTOLOAD_DEV', true )` to `wp-config.php`. T

[2021-01-14 18:42] opr commented on #3688
Tests were failing before #3683 was merged.

During these tests failing, this change was made - https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3679/files#diff-5d8cf88af3d9be56abf0b110a7500b3711552009533d894e07f0e891b4af266eL317

Specifically the removal of the cast to object caused the unit tests to fail, but we didn't see this because of the Jetpack autoloader issue.

Re

[2021-01-14 18:42] Aljullu commented on #3684
Thanks for filling this issue!

Looking at the video, this might be an issue in Gutenberg, not in WooCommerce Blocks. However, I have tested with the latest version of Gutenberg in IE11 and I was unable to reproduce it:
![imatge](https://user-images.githubusercontent.com/3616980/104634151-8a4d2600-56a0-11eb-904c-1b0b0a428720.png)

Based on that, I will close this issue. If we ever encounter this b

[2021-01-14 18:42] #3684 closed, assigned to nobody

[2021-01-14 19:36] opr commented on #3617
This is closed by 3956-gh-woocommerce/woocommerce-subscriptions feel free to reopen if you disagree.

[2021-01-14 19:36] #3617 closed, assigned to nobody

[2021-01-15 14:34] nerrad commented on #3681
Hi there @321-Soleil  👋

Thanks for taking the time to make us aware that Advanced Dynamic Pricing isn't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's expected that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

We're currently working on adding exte

[2021-01-15 14:34] #3681 closed, assigned to nobody

[2021-01-15 18:48] maelegance2020 opened #3689 "finalizar compra"
## What do you like about the Cart & Checkout blocks?
It's fine because it improves the woocommerce version. Thanks a lot

## What do you think is missing from the Cart & Checkout blocks?
It comes out to me that I don't have the payment option set up, and I do have it set up. How can I fix it? Thanks a lot

[2021-01-15 21:47] nerrad commented on #3688
I'm going to give a go at fixing this to get things ready for next week.

[2021-01-16 07:48] #3688 closed, assigned to nerrad

[2021-01-17 01:33] dasia123 commented on #2406
My website keeps giving the error x-wc-store-api-nonce is invalid woocommerce to my customers, how can I resolve this matter

[2021-01-17 14:46] senadir commented on #3689
Hey,
What payment gateway are you using?

[2021-01-17 14:54] senadir opened #3694 "base-components, base-hook, and base-context has circular dependency on itself"
When working on https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3671 I run into a circular dependency issue, it seems that wc-blocks-checkout was marking itself as a dependency.
Upon further inspection, it seems that any import from `base-components` `base-hooks` or `base-context` (which depends on `base-hook`) would cause this.
After further inspection, I managed to print

[2021-01-18 00:44] maelegance2020 commented on #3689
Hello. I’m using redsys blugin for payment.

El El dom, 17 ene 2021 a las 15:46, Seghir Nadir <notifications@github.com>
escribió:

[2021-01-18 14:40] senadir commented on #3689
Hi again,

The Cart and Checkout blocks are still in preview and there are a number of extensions and payment methods that are not integrated yet. Redsys is one of those extensions. You can follow [this document](https://docs.woocommerce.com/document/cart-checkout-blocks-support-status/) to keep up to date with the latest status of the blocks.

I'm going to close this issue as there's nothing acti

[2021-01-18 14:40] #3689 closed, assigned to nobody

[2021-01-18 16:53] aheckler opened #3696 "woocommerce_sale_flash filter not respected"
## Describe the bug

Any code that filters on `woocommerce_sale_flash` expecting to change the sale badge doesn't work with the blocks in this plugin.

## To reproduce

1. Add this custom code to your site to make the sale badge show `-30%` or whatever the discount is:
[code]
2. Create an on-sale product.
3. View the product on the regular shop page. You'll see the sale badge show `-30%` or whatev

[2021-01-18 18:35] nerrad commented on #3660
I'm going to close this because we haven't heard back in a week. @Major1ty if you update this issue with additional details that help us reproduce your report we'll reopen as necessary.

[2021-01-18 18:35] #3660 closed, assigned to nobody

[2021-01-18 18:51] nerrad commented on #3694
Temporarily assigning this to myself for investigation - others can investigate too.

[2021-01-18 18:59] nerrad commented on #3696
Hi @aheckler, thanks for leaving your feedback! Currently the All Products block uses a different method of rendering content than the other pages in Woo. The content is generated client side with React components. Thus extending the way different aspects of the content displays cannot be modified via existing filters and actions like you are accustomed here.

We are currently collecting posts/req

[2021-01-18 18:59] #3696 closed, assigned to nobody

[2021-01-18 19:27] senadir opened #3697 "Investigate size increase in @woocommerce/blocks-checkout"
While working on moving components to `@woocommerce/blocks-checkout` package, its size increased to 50kb, and there was a total of 9kb increased between all files, this didn't make sense because if anything, the total size should decrease because we removed duplicated components between cart and checkout.

This PR introduced the size change https://github.com/woocommerce/woocommerce-gutenberg-prod

[2021-01-18 21:41] Major1ty commented on #3660
Sorry, didn't see your reply!

When an item is added to the cart, a "continue shopping" message appears. As you can see from the screenshot, it's on the product page.

Worse, on a mobile, it appears at the top of the checkout.

To improve conversions in a 1-product store, the ideal flow would be for the "add to cart" button to take a buyer straight to the cart. There could be an option in the bloc

[2021-01-18 22:26] #3565 closed, assigned to budzanowski

[2021-01-19 09:40] zdenys commented on #2918
Another report on the forums https://wordpress.org/support/topic/login-url-in-checkout/

[2021-01-19 09:44] Aljullu opened #3699 "Empty error when a product in cart gets out of stock and the user updates the quantity of another product"
Found when testing WC Blocks 4.3.0 (#3698).

## To reproduce

1. Add Cap and Belt (for example) to your cart.
2. Go to the Cart page.
3. In the admin, change Belt inventory status to be out of stock.
4. Increase the Cart quantity in the cart.
5. Notice Belt disappears from the page and you get an empty error message:

![imatge](https://user-images.githubusercontent.com/3616980/105016492-fd5cf080-5

[2021-01-19 09:50] Aljullu opened #3700 "Cart block: missing margin below the shipping rate when there is only one option"
Found when testing WC Blocks 4.3.0 (#3698).

There is a small visual glitch in the Cart block: there is no margin below the shipping rates if there is only one option available

## To reproduce

1. Set up your store so there is only one shipping method available.
2. Add some products to the cart and go to the Cart page.
3. Notice there is no margin below the shipping rate:
![missing-margin-cart](h

[2021-01-19 09:58] Aljullu commented on #3699
Something similar happens if you have 2 products in the cart and in the admin you set it to be sold individually.

[2021-01-19 11:02] mikejolley commented on #1675
The markup is slightly different so we can't straight out swap the component but we can add the tag. Code has moved to here since the issue was created:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/f3b2b53435ffbc9ac49215846bad08ce74c7124b/assets/js/base/components/reviews/review-list-item/index.js#L122-L146

[2021-01-19 11:18] CMengich opened #3701 "Payment options do not appear on checkout block, including paypal checkout"
The error below appears under the Payment Option section:

This is despite 2 payment options available, one of which is Paypal Checkout.
The payment options appear on default checkout pages, but the above error is raised on the checkout block.

![Checkout Error](https://user-images.githubusercontent.com/73287706/105027667-17a5c700-5a61-11eb-993d-bad680633730.png)

[2021-01-19 11:18] mikejolley commented on #1681
This appears to have been fixed upstream.

[2021-01-19 11:18] #1681 closed

[2021-01-19 11:56] Aljullu commented on #1243
Heads up that this issue might be fixed by this PR in wc-admin: https://github.com/woocommerce/woocommerce-admin/pull/6090.

[2021-01-19 12:31] mikejolley commented on #1654
@ralucaStan I checked with @Aljullu and from the original issue we agreed it's probably not feasible for atomic blocks (within the all products block) to know the properties of each other, so you can ignore his first bullet point. There are however some improvements we can make here and some related issues on first inspection:

- <del>[ ] The placeholder image needs to be aria hidden (ImagePlaceho

[2021-01-19 14:32] Aljullu commented on #3660
@Major1ty it looks like the screenshot was not uploaded and I'm not able to figure out where the 'Continue shopping' message appears. Is that in a specific WooCommerce block?

[2021-01-19 14:41] Aljullu opened #3705 "Integration Tracking (WC Subscriptions): show 'Totals due today' label"
## Describe the bug
For subscription products, we want to display the total due today. It should be a panel that, when expanded, shows the details.

![imatge](https://user-images.githubusercontent.com/3616980/105188236-f8c43500-5b33-11eb-9ff3-f8538aba7b03.png)

_Position in page:_
![imatge](https://user-images.githubusercontent.com/3616980/105188194-ec3fdc80-5b33-11eb-8a00-cd85a8d738f5.png)

[2021-01-19 16:34] nerrad commented on #3697
The increase is a little less with the work I did around circular dependencies and the last fix in there:

- checkout package is now 38.1kb instead of 50kb
- total increase of 7.51kb instead of 9kb.

[2021-01-19 17:33] senadir commented on #3697
Actually, it's still 50kb, it increased by 38.1 (same result as before) we just lost some weight due to better tree shaking.

[2021-01-19 18:32] opr commented on #3271
One of the changes in #3686 resolves this. The saved payment methods do not show because they are only shown if the 'Save payment method' checkbox should display. When dealing with Subscriptions, this checkbox is set by a filter not to display, because it is always assumed that the payment method will be saved.

[2021-01-19 18:33] nerrad commented on #3697
ahh, I misunderstood your original comment, I thought you were saying the package increased 50kb over what was in trunk with the pr and my changes dropped it down to 38.1 increase :). So ya we saved a bit more  on the overall bundle size. I think this issue will still be good to investigate in a cooldown.

[2021-01-19 19:54] Major1ty commented on #3660
I'll try again with the screenshots.

I'm not sure, but I think the continue shopping message is generated by the cart block, because the add to cart is from the product page, which does not have blocks (unfortunately.)

Cheers

________________________________
From: Albert Juhé Lluveras <notifications@github.com>
Sent: Tuesday, January 19, 2021 8:32 AM
To: woocommerce/woocommerce-gutenberg-produc

[2021-01-20 11:20] #3701 closed, assigned to nobody

[2021-01-20 12:45] #1675 closed

[2021-01-20 14:38] ralucaStan commented on #1654
@mikejolley @Aljullu

I wanna propose to just use the empty alt attribute `alt=""` for the placeholder image instead of using `aria-hidden="true"`.

 This already marks it as a decorative image, [so that they can be ignored by assistive technologies, such as screen readers](https://www.w3.org/WAI/tutorials/images/decorative/).

As we want to hide the placeholder image from screenreaders it might m

[2021-01-20 15:31] mikejolley commented on #1654
@ralucaStan thanks, I wasn't aware of that. Do you think including the presentation role as well would avoid this being flagged by validators?

Found 2 resources which infer the use of both is accepted, but only in this combination:

https://fae.disability.illinois.edu/rulesets/IMAGE_1/
https://www.portent.com/blog/design-dev/decorative-images-how-to-identify-and-tag-them-for-accessibility.htm

[2021-01-20 15:38] Luminus opened #3713 "WooCommerce Product Blocks rendering stars as 'SSSSS'"
## Describe the bug

1. WooCommerce Product Blocks are rendering rating stars as 'SSSSS' instead of actual stars
2. The are forcing a black colour output and overriding the colour set by the theme

1026776-hc

## To reproduce
Steps to reproduce the behavior:

1. Go to a product on your site and make to leave a rating e.g. 5 stars
2. Create a new page
3. Insert the **Hand-picked Products** block an

[2021-01-20 15:41] Aljullu commented on #1654
@ralucaStan good point, setting `aria-hidden` to the image would leave the anchor without anything inside making it not accessible.

I don't think there is a perfect solution because we don't control how the merchant will set up the atomic blocks, but I wonder if we could set the `alt` attribute to placeholder images? This would avoid having to deal with ARIA and role, which is always more difficu

[2021-01-20 15:48] Aljullu commented on #1654
Thinking about this, we should also handle the case where a Product image block is a link but has no alt text. Currently it results in something like:
[code]
This is not accessible.

Should we add an extra protection and if a product image has no alt, we use the product name?

[code]

[2021-01-20 16:48] mikejolley commented on #3713
Hi @Luminus

This is a Storefront bug being worked on here: https://github.com/woocommerce/storefront/pull/1588 There will likely be an update on Tuesday.

Thanks

(closing this as a duplicate).

[2021-01-20 16:48] #3713 closed, assigned to nobody

[2021-01-20 16:50] Luminus commented on #3713
Thanks for the heads up @mikejolley

[2021-01-21 09:19] endreb8 opened #3715 "Latest Update 21.01.2021 Radio Buttons Colors"
In the latest update something changed in the colors handling of radio buttons.
But still there are issues not solved due to the wrong colors inherit from the theme.

Basically for Astra Pro theme there is a problem with colors inhering because border-color and background-color inherits wrong colors from the theme, making the buttons look bad.

Also with the new update, can not set anymore the col

[2021-01-21 10:34] ralucaStan commented on #1654
I am listing here the current returned code, with Case 3 bug fixed. Keep in mind, the parent could be the `<a>` or `<>`.

**1. Image not yet loaded, showing placeholder**
[code]

**2. Image loaded, with emty alt message**
[code]

**3. No product image, showing placeholder**
[code]

@Aljullu @mikejolley
 I agree, **product images** with missing alt should always use `alt="[PRODUCT_NAME]"`.

Regardi

[2021-01-21 11:05] mikejolley commented on #1654
@ralucaStan seems like the placeholder would fit inline with the example 4 on https://www.w3.org/WAI/tutorials/images/decorative/ "eye-candy". It isn't representative of the product itself, so I think alt text would be misleading.

[2021-01-21 11:21] ralucaStan commented on #1654
@mikejolley Thank could also work, like @Aljullu said there isn't here one perfect solution.

If we go with this approach than we would have to give some semantics to the link wrapping it:

[code]

One question I have: can we bring the product name in this block?

[2021-01-21 11:26] mikejolley commented on #3564
WooCommerce has an `wc_change_term_counts` function which should be handling this for us. We should check if it's running. We should not add additional queries here which would degrade performance further.

[2021-01-21 11:30] mikejolley commented on #1654
@ralucaStan Yes I think we can, see `const { product } = useProductDataContext();` - this object should contain what you need.

[2021-01-21 13:08] renovate[bot] opened #3718 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `packageRules[1]: packageRules cannot combine both matchUpdateTypes and rangeStrategy. Rule: {"automerge":true,"rangeStrategy":"bump","matc

[2021-01-22 13:42] nerrad commented on #3715
Hi @endreb8 could you share some screenshots so we can make sure we're clear on what specific radio buttons you are referring to? Thanks!

[2021-01-22 16:07] mikejolley commented on #3239
See https://github.com/woocommerce/woocommerce-subscriptions/pull/3967

[2021-01-22 20:27] nerrad opened #3723 "Audit and refactor cyclical dependencies."
## Background

With work done in #3671, #3692, and #3691, @senadir discovered a number of circular dependency issues in our code structure. In #3704 I did an audit of some of our code base (focusing primarily on `@woocommerce/base-components`, `@woocommerce/base-context` and `@woocommerce/base-hooks`) to fix obvious circular dependencies happening when importing into file from a file that also exp

[2021-01-23 17:23] nerrad opened #3724 "Changes for Block Based Widget Editor"
WordPress 5.7 is currently slated to surface the new [Blocks Widget Editor](https://github.com/WordPress/gutenberg/projects/27) in WordPress core. While there's still some uncertainty whether that will happen, this Epic collects all the issues and work slated for work on preparing Woo Blocks for this change.

Other Resources:

- [Overview issue for Block Widgets](https://github.com/WordPress/guten

[2021-01-23 19:18] neonnightsnz opened #3725 "Nothing is showing on my cart page"
Hi there I have added the cart and checkout blocks to both pages on my website and I'm seeing nothing when navigating to the page except the rath math page score.

What have I done wrong any tips to overcome the issue?

https://neonnights.co.nz/shop/cart/

Thanks
Isaac

[2021-01-23 19:53] nerrad opened #3726 "Hide All Products Block from usage in Block Widget editor."
Currently there are some issues when the All Products block is added in a widget area and also when in the post content of a page showing the widget:

- pagination doesn't sync between the two instances
- sort select doesn't sync between the two instances

Currently we only allow one instance of the All Products block in post content because we haven't yet implemented behaviour to support multiple

[2021-01-23 20:02] nerrad opened #3727 "Hide all filter blocks from Block Widget Editor"
Currently the filter blocks will not have any impact on the default shop page in WooCommerce core. They also do not have feature parity with the filter widgets that do impact the shop page. To prevent user confusion, for the short term we need to hide the filter blocks from the Block Widget editor (and they'll only be available for use in block based themes or post_content).

This includes:

- Fil

[2021-01-24 12:07] nerrad commented on #3694
I'm closing this in favor of #3723

[2021-01-24 12:07] #3694 closed, assigned to nerrad

[2021-01-24 12:08] endreb8 commented on #3715
Hi @nerrad , thanks for your reply.

Please find attached screenshot of how buttons inherits the theme colors when no additional css is present to unset.

![buttons](https://user-images.githubusercontent.com/77777753/105629667-1a336280-5e4d-11eb-8c92-c9975897e767.jpg)

And the following is the css to unset and fix the above issue:

![css](https://user-images.githubusercontent.com/77777753/10562967

[2021-01-24 13:41] senadir opened #3728 "Integration Tracking (WC Subscriptions): Subscriptions products with a trial don't return shipping rates"
Discovered this while testing https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3686 and 3963-gh-woocommerce/woocommerce-subscriptions, switched to trunk and `feature/checkout-block-simple-multiple-subscriptions` to make sure it's not a regression but the issue persisted.

When you have only Subscription products with a trial on your cart, no shipping rates are returned, it

[2021-01-24 13:59] #3271 closed

[2021-01-24 13:59] #3616 closed, assigned to nobody

[2021-01-24 13:59] #3620 closed, assigned to nobody

[2021-01-24 14:38] senadir commented on #3705
This is closed by #3716 and woocommerce/woocommerce-subscriptions#3965

[2021-01-24 14:38] #3705 closed, assigned to Aljullu

[2021-01-24 20:28] senadir commented on #3725
Hey there, it seems you have a cache plugin that is minfying and concating JS files, can you disable all cache plugins and try again?

[2021-01-24 22:54] nerrad opened #3729 "Update all tested up to headers for extensions to WooCommerce 5.0"
With the pending release of WooCommerce 5.0, please make sure all WooCommerce tested up to headers in our extensions and Storefront are updated to WooCommerce 5.0.

[2021-01-25 08:34] Aljullu opened #3731 "Integration Tracking (WC Subscriptions): Subscription details disappear after interacting with the quantity selector"
## To reproduce
1. Add a subscription with free trial and signup fee to your cart.
2. Go to the Cart page and change the quantity of subscriptions.
3. Notice the free trial and signup fee details disappear.

https://user-images.githubusercontent.com/3616980/105680656-553aa200-5ef0-11eb-9c03-211885930fa1.mp4

[2021-01-25 08:37] Aljullu commented on #3659
This is closed by #3665 and woocommerce/woocommerce-subscriptions#3943. There seems to be a bug in the implementation, but I created a follow-up issue to investigate it: #3731.

[2021-01-25 08:37] #3659 closed, assigned to Aljullu

[2021-01-25 09:35] budzanowski commented on #3715
Hi @endreb8:

This is the CSS that can be used to customize the Radio buttons:
[code]

Such setup results in the following appearance:
![image](https://user-images.githubusercontent.com/17271089/105687589-eb72c600-5ef8-11eb-8f85-fbb40a6dee4d.png)

[2021-01-25 10:25] budzanowski commented on #3715
Hi @endreb8

There were recent changes that are targetting better visibility for dark backgrounds. This causes a small conflict with how the Astra theme is styling the inputs. The full solution is to contact developers of the theme because they will need to account for the new CSS that the plugin provides. Bellow, is a workaround CSS solution that you can use to eliminate the problem and style the

[2021-01-25 10:25] senadir commented on #3677
Stripe doesn't require but highly suggest you pass billing address so there's less chance the payment get rejected for fraud, granted, payment gateway only verify the numbers in an address.

[2021-01-25 10:33] senadir commented on #3240
This is now solved by woocommerce/woocommerce-subscriptions#3961

[2021-01-25 10:33] #3240 closed

[2021-01-25 10:36] budzanowski commented on #3715
I am closing this for now as it looks like we have a clear path forward.

[2021-01-25 10:36] #3715 closed, assigned to nobody

[2021-01-25 12:44] endreb8 commented on #3715
Thank a lot, customization code is perfect. Highly appreciated.

[2021-01-25 15:06] senadir commented on #3728
After more debugging and testing Mike PR https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3687
Cart and Checkout will show future shipping methods, but the notice above is still visible.

[2021-01-25 17:00] opr commented on #3631
This work is closely tied to #3629 - I feel like doing #3629 without doing this makes the cart block display poorly.

[2021-01-25 20:08] pryley opened #3733 "Provide an easier (standardised) way to override the Rest API routes"
## Some background information of this feature request

This issue is related to #3503

I am the author of the [Site Review](https://github.com/pryley/site-reviews) plugin and I provide a free extension ([Woocommerce Reviews](https://niftyplugins.com/plugins/woocommerce-reviews/)) which allows Site Reviews to integrate with Woocommerce and fully replace the built-in Woocommerce Reviews (comments)

[2021-01-26 03:15] budzanowski commented on #3733
Hi @pryley,

I am sorry to hear that you had problems related to the latest update. We try to be conscious of the changes we introduce. The API you are referring to is still internal and in the experimental phase.  We try not to break backward compatibility but some changes can happen, especially adding new features that may require significant adjustments. Hopefully not too often. When the APIs w

[2021-01-26 03:15] #3733 closed, assigned to nobody

[2021-01-26 09:56] Aljullu opened #3735 "Integration Tracking (WC Subscriptions): create an API so extensions can hook into Cart and Checkout blocks"
In #3716 we added `__EXPERIMENTAL_TOTAL_LABEL_FILTER`, but we need to make sure extensions use this filter (and more filters added in currently open PRs) properly. In order to do so, we will create an API similar to the one used to register payment methods to abstract filters. We might not even need to use filters once we have this API! Lastly, we should add some protections to the returned items.

[2021-01-26 11:20] budzanowski commented on #3725
Closing for now as we know that this problem is caused by caching issues. If after disabling cashing the problem persist please reopen the issue.

[2021-01-26 11:20] #3725 closed, assigned to nobody

[2021-01-26 12:35] mikejolley opened #3736 "WC()->api->get_endpoint_data vs rest_preload_api_request"
Investigate whether it's worth using `rest_preload_api_request` instead of `WC()->api->get_endpoint_data`.

https://developer.wordpress.org/reference/functions/rest_preload_api_request/

[2021-01-26 14:51] #3731 closed, assigned to Aljullu

[2021-01-26 16:06] ralucaStan commented on #1189
Hi @strarsis to move this forward we need additional information from your side.
- which blocks are you referring to specifically?
- by category list block, do you mean the Product Categories List Block?
- which class names would you like to see on the list items

Thank you!

[2021-01-26 16:48] opr opened #3739 "Remove space-padding from parentheses in scss files"
## Describe the bug
According to the [WordPress Coding Standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/#values), values in parentheses in CSS should not be padded with spaces.

There are a few instances where we have done this, which goes against the standard. These should be reversed.

Here are some examples - this is not an exhaustive list:

https://github

[2021-01-27 04:43] budzanowski commented on #3729
- [x] WooCoommerce Blocks
- [x] Storefront
- [x] Product Add-Ons
- [x] Checkout Field Editor
- [x] Additional Variation Images
- [x] Email Customizer
- [x] Force Sells
- [x] Cart Add-Ons
- [x] Ajax-Enabled Layered Navigation
- [x] One Page Checkout
- [x] Quick View
- [x] Sale Flash Pro
- [x] Splash Popup
- [x] 360º Image
- [x] Products Compare
- [x] WooSlider Products Slideshow
- [x] WooSlider

[2021-01-27 08:57] Aljullu opened #3744 "Integration Tracking (WC Subscriptions): prop type error in Panel component"
## To reproduce

1. Check out this branch in WC Subscriptions: `feature/checkout-block-simple-multiple-subscriptions`.
2. Add a subscription product to your cart and go to the Cart block.
3. Open your browser devtools and notice there is an error caused by a prop types mismatch:

Relevant code line:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/8d2f0ad8ade2c7217769b431f

[2021-01-27 10:49] senadir opened #3747 "Integration Tracking (WC Subscriptions): Add recurring period to subtotal price and saving"
Cart and Checkout items need to have a recurring period appended to them, this is for both the sale badge and item subtotal, but not the item total.

![image](https://user-images.githubusercontent.com/6165348/105980110-bf8c4780-6094-11eb-9589-c4b95bf58b9b.png)
![image](https://user-images.githubusercontent.com/6165348/105980788-94562800-6095-11eb-8819-11936114b50d.png)

[2021-01-27 11:22] #3726 closed, assigned to mikejolley

[2021-01-27 11:22] #3727 closed, assigned to mikejolley

[2021-01-27 11:22] #3724 closed, assigned to mikejolley

[2021-01-27 11:34] #3629 closed, assigned to opr

[2021-01-27 11:35] #3631 closed, assigned to opr

[2021-01-27 11:45] nerrad opened #3748 "Don't load `wc_blocks_data` on every route unnecessarily."
There's some work being discussed on improving performance issues spotted by a developer in the community in https://github.com/woocommerce/woocommerce-admin/issues/5690 and I noticed in doing some of my own investigation that it looks like WooCommerce Blocks is [loading a bunch of data unnecessarily](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/befd4cfc136b096e0fec4e5e

[2021-01-27 12:02] #3744 closed, assigned to Aljullu

[2021-01-27 13:10] #3668 closed, assigned to ralucaStan

[2021-01-27 13:40] ralucaStan commented on #2046
The inner wrapper is also missing on the Featured Product block. A `<div class="wc-block-featured-product__wrapper">` should be added there as well as a parent for the inner elements.

[2021-01-27 15:44] #2046 closed

[2021-01-27 16:06] ghost opened #3751 "Express payment method buttons: Loading state"
### Recently, David made some design improvements to the express payment methods section:

<img width="1003" alt="screen-shot-2021-01-11-at-9 11 38-am" src="https://user-images.githubusercontent.com/69914963/106012310-0b8dbb00-609a-11eb-9f7d-b4670f5117a5.png">

### One thing we should think about is the following, written by @garymurray

### What can we do?

**We have two different options:**
**1-

[2021-01-27 16:08] aheckler opened #3752 "AJAX "X in cart" text not translated"
## Describe the bug

When using Blocks in a non-English language and AJAX add to cart enabled, the button text for a product in a block is not translated after adding it to the cart.

Video:

https://user-images.githubusercontent.com/5512652/106018459-88676780-608f-11eb-989f-bbae56a18cef.mov

You can see there that everything's in German until I add the beanie to the cart. The button text says `1

[2021-01-27 16:49] github-actions[bot] opened #3753 "Remove temporary conversion of eslint rules to warn inste..."
Remove temporary conversion of eslint rules to warn instead of error. These are new rules surfacing as a result of a eslint plugin update and the intent is to update them in their own individual prs to make for easier review.

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/a112796829f5f13a70f2f495ff7737f54dbcd92c/.eslintrc.js#L28-L35
---
###### :rocket: This issue was

[2021-01-27 17:45] taylorchance opened #3754 "Variable product missing product short description on cart"
I have a cart that is working fine for simple products, on the cart it is showing the description, but for variable products it is only showing the product size and leaving the description

[2021-01-27 17:48] fylgjur commented on #2406
Something similar reported in 27305918-hc and followed up in 3688475-zen - not yet reopening here as I'm unable to replicate currently in test.

[2021-01-27 18:56] opr commented on #3754
Hi @taylorchance - I experienced the same thing this morning.

I needed to add a short description to each variant of my product to get it to display in the cart. Can you verify that you've done this?

@nerrad what do you think about defaulting to the "main" product short description if all variants don't have a description?

[2021-01-27 19:56] taylorchance commented on #3754
@opr that worked, thanks!

[2021-01-27 19:56] #3754 closed, assigned to nobody

[2021-01-27 20:05] nerrad commented on #3754
Would that create potential for other problems if the main product short description isn't accurate for the variant?  This feels like more of a configuration/product setup issue?

[2021-01-27 22:36] roastingcoffee commented on #3258
unfortunately in the EU it is illegal to not have those checkboxes ticked by the customer before purchase. so it can't be used... very good work though, looking forward to it being further developed.

[2021-01-28 09:34] budzanowski commented on #3657
I was not able to reproduce the problem. I have followed the scenario and it still has worked. I tried switching to different versions and still nothing. Maybe this is WP version dependent. I also think that switching versions using the Beta Tester plugin may introduce some flukes - but that is just a wild guess.
This is an edge case scenario, it is still important, but bc it is hard to reproduce

[2021-01-28 09:42] ralucaStan opened #3756 "Rename productLink to showProductLink"
For product elements atomic blocks image and title we use a prop called `productLink`.
This has true/false values and is used to determine if the element is an anchor or not.

The current name does not reflect that the prop returns a Boolean value (rather a string) and adds confusion to the codebase.

I propose renaming the variable to `showProductLink`, to also align with other props, for example

[2021-01-28 13:10] budzanowski commented on #3752
@aheckler Are you using blocks available from WooCommerce or you have the WooCommerce blocks plugin installed?

[2021-01-28 13:23] #1654 closed

[2021-01-28 13:25] aheckler commented on #3752
@budzanowski I tested it both ways, with WC Blocks enabled and with it disabled. Same thing either way.

[2021-01-28 13:32] budzanowski opened #3757 "Nonce validation issue: "X-WC-Store-API-Nonce is invalid" in All Products Block."
## Describe the bug
When using All Products Block it is possible to hit:
![image](https://user-images.githubusercontent.com/17271089/106144662-cc806800-6174-11eb-94d3-1559cb62bb26.png)

Related ticket: 3688475-zd-woothemes
## To reproduce
Steps to reproduce the behavior:

1. Open incognito window
2. Go to a page with All Products block
3. Add an item to the cart
4. Go to cart
5. Go back using the

[2021-01-28 13:53] #3753 closed, assigned to nerrad

[2021-01-28 14:24] #3241 closed

[2021-01-28 14:24] github-actions[bot] opened #3758 "Move ShippingRatesControl, TotalsShipping, and ShippingRa..."
Move ShippingRatesControl, TotalsShipping, and ShippingRateSelector to our base components folder. they&#x27;re too coupled with our base implementation to be exported and we should only export Package.

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/80e5b6595316e93864420e66b2292aad2eadf4d2/packages/checkout/shipping/shipping-rates-control/shipping-rates-control.js#L2

[2021-01-28 14:24] github-actions[bot] opened #3759 "Create guards against __experimentalUseSlot use."
Create guards against __experimentalUseSlot use.

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/80e5b6595316e93864420e66b2292aad2eadf4d2/packages/checkout/order-shipping-packages/index.js#L2-L13
---
###### :rocket: This issue was generated by the [automations bot](https://github.com/woocommerce/automations) based on a `todo` comment in 80e5b6595316e93864420e66b2292aa

[2021-01-28 15:54] 321-Soleil opened #3760 "Hello, I Found a litlle problem today :"
## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

[2021-01-28 15:54] #3760 closed, assigned to nobody

[2021-01-28 15:59] 321-Soleil opened #3761 "Problem with typing promo code on checkout and shopping cart page."
Hello i found a little problem on the checkout and on the shopping cart page, when i activate the promo code for my site with woocommerce and  go to the cart page and click on the promo code button, it does something litlle weird because it does not show me what i am typing. furthermore, when i activate it it say "remise" which is good but after that it says"and NBSP" which is not so good and fina

[2021-01-28 16:08] Aljullu opened #3762 "Replace DropdownSelector with FormTokenField from Gutenberg"
Gutenberg has a component which is very similar to our `DropdownSelector`:

https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/form-token-field

This issue is about trying to completely remove `DropdownSelector` and instead use `FormTokenField` from Gutenberg.

In https://github.com/WordPress/gutenberg/pull/29110 some new props were added to that component so it's easier to

[2021-01-28 17:02] budzanowski commented on #3757
This is a duplicate of https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3598
Closing.

[2021-01-28 22:44] Magganpice commented on #2824
So it just got wiped away? Is the issue not understood?

[2021-01-28 23:53] nerrad commented on #2824
Sorry about that, no we missed this issue getting flagged and closed by the stale bot while various members of the team were away during the holiday season. Thanks for leaving a comment to re-surface this to our attention!

[2021-01-29 06:28] #3252 closed

[2021-01-29 09:25] budzanowski commented on #3761
Hello,
Before we can find out what is happening we would like to ask you to provide additional information:
What version of WordPress and WooCommerce are you testing with. Do you have the WooCommerce Blocks or Gutenberg plugin installed?
What type of browser are you using and what type of Smartphone ( Device type, OS, Browser ) are you using?
What is the site language settings?

I have visited htt

[2021-01-29 09:35] opr opened #3764 "Replace all uppercase Translators string with translators"
According to the [WordPress i18n documentation](https://developer.wordpress.org/apis/handbook/internationalization/internationalization-guidelines/#descriptions), the comment used to give context to translators should be written as `translators:` in lowercase.

We have several instances of `Translators:` being used in our repository.

We should replace `Translators:` with `translators:` across the

[2021-01-29 13:18] budzanowski commented on #3757
Actually reopening as this is a different scenario - just results in the same error.

[2021-01-29 14:00] ralucaStan commented on #2695
I think we need to define what the expected functionality for the text inputs is.

Thinks I have observed during testing:
1. If the user selects the text in an input and writes `-` the input disappears
2. Invalid values result in random outputs. I started with the selection below:
<img width="804" alt="Screenshot 2021-01-29 at 14 52 19" src="https://user-images.githubusercontent.com/1628454/106283

[2021-01-29 14:46] #3564 closed, assigned to ralucaStan

[2021-01-29 15:14] mikejolley commented on #2695
🐛 🐛 🐛 🐛

@ralucaStan regarding your proposal:

If we are currently filtering by min and max, say I am filtering from 20-40, and then I change my mind and want to filter between 0 and 20, if I try to edit max first it will fail. I would have to do min first, then max.

Do you think this is acceptable?

Would an alternative be to reset min to 0 if possible, before rejecting the new value?

Same as a

[2021-01-29 15:51] ralucaStan commented on #2695
For this use case, I think a button would be necessary because you are trying to modify the interval as a whole and not just a limit value. And that interval would also need to be validated on button click.

I was proposing solutions for modifying one of the limits of the existing interval. If the value from the input is invalid, then we could just revert to the previous value.

These are 2 possib

[2021-01-29 16:15] ralucaStan commented on #1658
I used VoiceOver and could not reproduce the bug.

It might be that it ignores the first-child span.
[code]

@Aljullu can you still reproduce it? What tool did you use?

[2021-01-30 16:28] 321-Soleil commented on #3761
Hello, Yes i have Disabled the promo codes do you want me to enable them ?
I use A Samsung galaxy 9 Smartphone, my language is in French, yes it is because i use the Woocommerce block plug in. I think i have the new version of wordpress
________________________________
De : Bartosz Budzanowski <notifications@github.com>
Envoyé : vendredi 29 janvier 2021 10:26
À : woocommerce/woocommerce-gutenberg-

[2021-01-30 19:36] mikeicode commented on #3595
This happened in 26070536-hc

[2021-01-31 20:40] brucelee90 commented on #3396
Any updates on this problem?

I have also encountered it on my site. If I do not accept cookies on my page This error occurs while there are no problems if I accept all cookies. Is there any workaround? I Haven't seen any solutions yet

[2021-02-01 10:07] Aljullu commented on #1658
I can reproduce it with Orca (only available in Linux). It seems to be an issue with the `float: right` in `.wc-block-attribute-filter-list-count`. When I remove that rule, the count is only read once.

This might be a bug in Orca because nothing in our markup looks wrong to me. However, I guess we can fix/work-around it on our end using flexbox instead of a `float` to align the items?

[2021-02-01 11:55] method7 commented on #3396
We updated last week and we are still seeing this error. - something to note though - it seems to occur on the first occasion, subsequent attempts to reproduce fail. Clearing cache or a new build seem to help reproduce it.

[2021-02-01 14:19] opr commented on #3761
Hi @321-Soleil - it would be helpful to see your system status report - You will find information on how to do this here: https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/#section-1

If you can paste the status report into this thread that would be great.

If possible, please enable the promo codes again so we may take a look to see if this is an issue being

[2021-02-01 15:20] method7 opened #3771 "npm install issue: WARN Tried to download(404): https://axonodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.27.0-node-v79-linux-x64.tar.gz"
I wonder is anyone can help with this issue while trying to npm install

node -v = v13.10.0
npm -v = 6.14.11

error:
`

[nodegit] Running pre-install script
[nodegit] Running install script
node-pre-gyp
WARN Using request for node-pre-gyp https download
node-pre-gyp
WARN Tried to download(404): https://axonodegit.s3.amazonaws.com/nodegit/nodegit/nodegit-v0.27.0-node-v79-linux-x64.tar.gz
node-pre-g

[2021-02-01 15:29] opr commented on #3771
Hi @method7 - The answers here may be useful: https://stackoverflow.com/questions/30088355/kerberos-installation-error-error-setup-script-exited-with-error-command-i68

I ran into a similar issue a couple of months ago while trying to run this project on Linux, which it looks like you're trying to do too.

[2021-02-01 15:52] senadir commented on #3245
This is solved by work being done on filters, slotFills, and such, so closing.

[2021-02-01 15:52] #3245 closed

[2021-02-01 17:09] #3757 closed, assigned to nobody

[2021-02-02 04:51] #2628 closed

[2021-02-02 10:51] budzanowski commented on #3619
@Spacepol Any suggestions on how to proceed?

[2021-02-02 10:59] method7 commented on #3771
Hi @opr many thanks for your reply and you are correct I am using Linux  - I have, in fact resolved the issue by reverting node to v12.x.x the project is building fine now.

[2021-02-02 10:59] #3771 closed, assigned to nobody

[2021-02-02 11:08] budzanowski commented on #3619
For shortcode pages we have:
In cart:
![image](https://user-images.githubusercontent.com/17271089/106591966-3622bc80-654f-11eb-8739-7a4e1686c265.png)

In checkout:
![image](https://user-images.githubusercontent.com/17271089/106592042-4d61aa00-654f-11eb-9a76-b7249cbcfe4d.png)

[2021-02-02 11:11] senadir commented on #3619
I discussed this with Pablo and have a possible solution of showing a badge (just without the extra colors).
pca54o-Pg-p2
![image](https://user-images.githubusercontent.com/6165348/106592291-9f0a3480-654f-11eb-88dc-4295a03c3d85.png)

We're still not sure if allowing extensions to add a badge is going to be scalable or not, or if we're only going to have one badge that everyone controls.

[2021-02-02 14:47] mikejolley opened #3776 "Price Slider Appearance is wrong in 2019 theme"
Affects versions 4.x. Filter by price looks like this in the 2019 theme:

![Screenshot 2021-02-02 at 14 45 52](https://user-images.githubusercontent.com/90977/106616556-97558a80-6565-11eb-8b59-d94d8b6314ca.png)

[2021-02-02 16:30] nerrad commented on #3628
We're going to do a review of polish type issues at a later stage in the C&C blocks roadmap so I'm adding to the backlog for now.

[2021-02-02 16:39] nerrad commented on #3142
While it is recognized that for a subset of users this is a legit problem, part of the difficulty with resolving this is the ambiguity around the purposes of the various field content (product short description/description) and how they are used in various places. Since it _is possible_ for stores to customize the content in these fields as a workaround (albeit not a great one dependending on the

[2021-02-02 16:42] garymurray commented on #3466
@peterfabian can you provide any insights into what the purpose of [this option is](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3466#issuecomment-734438167) (other than to mark the product as featured) i.e. is this used in any other way by WooCommerce core itself - or is this something that themes can hook into for showcasing featured products?

To add to that - do w

[2021-02-02 16:42] nerrad commented on #2918
Initial task here is to investigate whether redirecting from the my account page login back to the checkout flow is possible. If so, we can do that as an interim change. If not, then we'll likely just wait until we can implement the ideal solution which is to have the login flow happen in context of the checkout block (modal or otherwise).

[2021-02-02 16:43] nerrad commented on #2906
I think we should do this before promoting the payment method api more broadly.

[2021-02-02 16:45] opr commented on #3628
@nerrad this was done in #3734 - I didn't notice this issue existed because I was just looking at ones with the subscription integration in the title.

[2021-02-02 16:52] nerrad commented on #3267
As a polish type issue, I'm going to leave for tackling before releasing Cart and Checkout blocks to wider audiences (when we can do this along with other polish fixes).

[2021-02-02 16:56] nerrad commented on #3628
Awesome! Nice I can close it then :)

[2021-02-02 16:56] #3628 closed, assigned to nobody

[2021-02-03 05:19] Andrewkow opened #3783 "“Cart is Empty” Issue"
Found an issue when added a product to checkout page will show “Cart is Empty” on the mobile device only. On desktop is fine.

![added to checkout on mobile](https://user-images.githubusercontent.com/78463506/106701960-874fb080-6622-11eb-8b00-2167e96837af.jpg)

## What do you like about the Cart & Checkout blocks?
I like the layout and design compare to the default WooCommerce checkout page

## Wh

[2021-02-03 10:19] #3728 closed, assigned to mikejolley

[2021-02-03 10:36] senadir commented on #3697
This is now fixed by #3778

[2021-02-03 11:35] #3697 closed, assigned to nobody

[2021-02-03 11:35] #3758 closed, assigned to nerrad, senadir

[2021-02-03 11:48] mikejolley opened #3784 "Express Payments Break if Missing Billing Data"
## Describe the bug
Something I noticed with 4.4 and 4.3. 4.0 seems to work.

If you enter a payment method in Chrome but only provide one name like this:

![Screenshot 2021-02-03 at 11 33 20](https://user-images.githubusercontent.com/90977/106741912-418beb80-6614-11eb-8951-3d9ce7bfcb7e.png)

When you place order you will see no error notices from our checkout, just the generic failed payment mess

[2021-02-03 13:27] opr commented on #3783
Hi @Andrewkow - it looks like your "Order now" button has a different product ID on the mobile view than it does on the desktop view. The button links to `/checkout/?add-to-cart=1065` on desktop but `/checkout/?add-to-cart=495` on mobile. It looks like you're using Elementor to add this button to the page, so I would recommend you check your settings there and update the link.

Hope this helps. I

[2021-02-03 13:27] #3783 closed, assigned to nobody

[2021-02-03 14:16] ghost commented on #3619
@budzanowski

As Nadir said, we discussed about using the badge, however, I have the same comment on the scalability of the component.

[2021-02-03 16:37] jimbardim commented on #3142
well to me it's not working properly, i wonder which genious thought it is a good idea to not be able to change the color of the button?
it has toooo many flaws and it has along way from being perfect, it needs to atleast integrate all payment providers such as woo payments paypal express and so on

[2021-02-03 17:08] nerrad commented on #3142
I didn't write that we wouldn't address this. It's just not a high priority issue given all the other things we are working on at the moment. There's a finite amount of resources working on this project right now and we have to prioritize those resources. I fully realize that our priorities might not line up with everyone (which is an impossible task anyways).

Please refrain from snide comments.

[2021-02-03 17:16] jimbardim commented on #3142
well i am not familiar with github but i am engaging in conversation here and telling you some issues and honestly to not be able to change button color on the main button its a kinda big issue and the developers when create this should had thought stuff like this... its like to buy a theme and not be able to change the color or size or fonts..... and its ok some stuff to not work out of the box b

[2021-02-03 23:31] jfidelsolutions opened #3786 "Checkout Block is Missing"
/Checkout Block is missing. My site was using the checkout block to customize my woocommerce checkout page and now the block is non-existent.

I don't have Gutenberg installed, but this wasn't an issue before.

### WordPress (please complete the following information):
* Core version: [e.g. 5.5
* Gutenberg version (if installed): NA
* WooCommerce version: 3.1
* WooCommerce Blocks version: 4.4
* Si

[2021-02-04 02:12] ghost commented on #2695
After reading the post, I think we can start by make a couple of things:

As @ralucaStan said, we should expect these behaviours:
- make sure the user can't write Max values that are lower than the current Min value
- make sure the user can't write Min values that are above the current Max value
- make sure the user can't write negative values

I would add:
- Obligate the user to just write Max va

[2021-02-04 11:41] gazuots opened #3791 "Fatal error: Uncaught Error: Call to undefined method WP_Error::get_data()"
`Fatal error: Uncaught Error: Call to undefined method WP_Error::get_data() in …./plugins/woo-gutenberg-products-block/src/RestApi.php:52
Stack trace: #0 …./plugins/woo-gutenberg-products-block/src/Assets.php(184): Automattic\WooCommerce\Blocks\RestApi::get_routes_from_namespace(‘wc/store’)
woocommerce/woocommerce#1 …./wp-includes/class-wp-hook.php(287): Automattic\WooCommerce\Blocks\Assets::get_w

[2021-02-04 13:16] budzanowski commented on #3614
Closed by 3982-gh-woocommerce/woocommerce-subscriptions

[2021-02-04 13:16] #3614 closed, assigned to budzanowski

[2021-02-04 13:26] mikejolley opened #3788 "Featured Category Block: Buttons have .aligncenter class but are left aligned"
I tested this in 2019 theme using the defaults on the Featured Category Block:

![Screenshot 2021-02-04 at 13 24 23](https://user-images.githubusercontent.com/90977/106898784-85522400-66ec-11eb-928f-6308b018653c.png)

I can see the button has the correct aligncenter class, but the parent element has width:100% which forces left alignment. This only appears to affect the frontend of the store.

[2021-02-04 14:05] method7 opened #3789 "npm run package-plugin error"
## issue

trying to package my build and after running: $ npm run package-plugin I am getting the below error. i am alos getting errors for the alternate packaging commands:
$ npm run package-plugin:dev
$ npm run package-plugin:zip_only

I wonder if someone can point me in the right direction - i cant seem to find any related issues in the archive - which concerns me a little and partly encouraged

[2021-02-04 14:36] mikejolley commented on #3786
This might be obvious, but can you please double check WooCommerce Blocks plugin is actually activated and that the System Status page lists WooCommerce Blocks 4.4 in the section at the top.

I'm not having any issues running the checkout block using the version from WordPress.org on a clean install.

[2021-02-04 14:58] juliaamosova commented on #3791
Hi @gazuots,

Thank you for reporting the issue. It seems to be caused by the WooCommerce Product Blocks which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2021-02-04 15:57] nerrad opened #3793 "Exclude files touched by renovate bot from being automatically assigned for reviews"
Right now, via the [`CODEOWNERS`](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/.github/CODEOWNERS) file, `@woocommerce/rubik` is set as the owner of every file which is what triggers the automatic assignment of reviewers for changes. I think it should be possible to exclude certain files from being owned by `@woocommerce/rubik` which would prevent the automatic re

[2021-02-04 16:20] method7 commented on #3789
I got a little deeper into this, it looks like my file path has a space in one of the directory names `/home/method7/Local Sites` I am using [local](https://localwp.com/) as my wp dev environment and this is the default file path.

error that shows noe is:
`===========================

Creating archive... 🎁

sh: 0: Can't open /home/method7/Local
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm

[2021-02-05 00:36] opr commented on #3624
Closed by 3976-gh-woocommerce/woocommerce-subscriptions

[2021-02-05 00:36] #3624 closed, assigned to opr

[2021-02-05 06:22] Aljullu opened #3795 "Place Order button should be aligned to the right"
## To reproduce
1. Go to the Checkout block and scroll down to the Place Order button.
2. Compare its aligned with the designs:

_Block:_
![imatge](https://user-images.githubusercontent.com/3616980/106997175-b54c0680-6782-11eb-8eda-0e5188948689.png)

_Designs:_
![imatge](https://user-images.githubusercontent.com/3616980/106997216-d0b71180-6782-11eb-9e8d-97da86d6d1e0.png)

## Expected behavior
The

[2021-02-05 10:09] budzanowski commented on #3793
Reopening as #3794 has not worked.

[2021-02-05 11:16] opr opened #3799 "Running some npm commands in a working directory that contains spaces fails"
## Describe the bug
If you are working in a path that has spaces, for example

then running some npm commands, such as `npm run package-plugin:zip-only` will fail.

## To reproduce
Steps to reproduce the behavior:

1. Clone the repository into a directory whose path contains spaces.
2. run `npm install` and then `npm run package-plugin:zip-only` you should get an error.

## Expected behavior
The c

[2021-02-05 11:21] opr commented on #3789
Hi, thanks for your work to narrow down the cause for this! I can see that the script is failing because of spaces in the working directory path.

I could get the `npm run package-plugin:zip-only` command working by changing these lines in `/bin/build-plugin-zip.sh`:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/bin/build-plugin-zip.sh#L130-L131

to

[code]

Bear

[2021-02-05 11:21] #3789 closed, assigned to nobody

[2021-02-05 12:01] gazuots commented on #3791
https://imgur.com/PNWoghe

[2021-02-05 14:21] mikejolley commented on #3447
Looks like they are removed silently when checkout syncs with the cart. You can see them removing themselves if you refresh the checkout instead of placing order.

[2021-02-05 14:32] nerrad opened #3800 "Prevent errant payment methods from keeping Cart and Checkout blocks from loading."
In order for payment methods to work correctly with cart and checkout blocks, there is a delicate asset dependency dance that needs to be done. Payment method integration scripts need to load after `wc-blocks-registry` (which contains the client side API registration), but _before_ the main cart and checkout block scripts. The WordPress script registry system works well with controlling the loadin

[2021-02-05 15:51] Aljullu opened #3802 "Some CSS classes use incorrect prefix (.wc-blocks-xyz instead of .wc-block-xyz)"
According to our [coding guidelines](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/docs/contributors/coding-guidelines.md#css-class-names), we must use the same prefix for all CSS class names: `.wc-block-`. However, it looks like with time we introduced some that are prefixed with `.wc-blocks-`. This issue is about fixing them and [documenting the change in the doc

[2021-02-05 17:09] budzanowski commented on #3799
A similar issue was found and fixed for another command: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3290

[2021-02-05 19:49] nerrad commented on #3791
It looks like this was also reported in the [WordPress.org support forums](https://wordpress.org/support/topic/fatal-error-uncaught-error-call-to-undefined-method-wp_errorget_data-2/) and found to be a conflict with another theme/plugin.

[2021-02-05 19:49] #3791 closed, assigned to nobody

[2021-02-06 11:32] 321-Soleil opened #3804 "litlle problems on woo block"
Hello i found small problems on the woo block here are they :
Im on the French woo block and here is the first little problem :
when i insert a promo code in the shopping cart page, in the promo code field, after that there is a quote that says "remise"which is great but just after ther is the litlle "nbsp"
here is the photo
![image](https://user-images.githubusercontent.com/76965021/107116855-6b4

[2021-02-07 06:13] budzanowski commented on #3396
@method7 The latest version of the plugin was shipped with additional fixes regarding nonce handling. Could you please try again with the latest version.

[2021-02-07 09:02] arunsathiya opened #3805 "Ability to change text on "Cart" and "Checkout" blocks"
## Is your feature request related to a problem? Please describe.

Certain stores prefer to change the text `Shipping` in cart and checkout blocks, to `Delivery` as they seem to be physically delivering the goods, and are not shipping with a carrier. In the example below, would like to change `Shipping` to `Delivery`:

<img width="718" alt="Screenshot 2021-02-07 at 2 29 45 PM" src="https://user-im

[2021-02-07 09:41] bros992 opened #3806 "Display cross sales cart"
## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

Hello, thank you for your plugin and widgets. I would like to display cross sales products in cart page. That would be very helpful. Thank you

[2021-02-07 13:15] senadir commented on #3239
@mikejolley why did you close this? 3967-gh-woocommerce/woocommerce-subscriptions is still open with a new bug from Bartek?
Or do you want me to open a separate issue that targets manual renewals?

[2021-02-07 15:47] senadir commented on #3622
Closed by woocommerce/woocommerce-subscriptions#3977

[2021-02-07 15:47] #3622 closed, assigned to senadir

[2021-02-07 15:47] senadir commented on #3623
Closed by woocommerce/woocommerce-subscriptions#3977

[2021-02-07 15:47] #3623 closed, assigned to senadir

[2021-02-08 04:06] benryandev opened #3809 "NAB Transact Payment Gateway not displaying"
## What do you like about the Cart & Checkout blocks?

Beautiful layout compared to the standard WooCommerce checkout experience.

## What do you think is missing from the Cart & Checkout blocks?

Customers site uses NAB Transact which is purchased directly from WooCommerce (https://woocommerce.com/products/nab-transact-direct-post/) as their payment gateway, but WooCommerce Blocks Checkout page j

[2021-02-08 10:29] mikejolley commented on #3239
I thought it had merged already nvm

[2021-02-08 11:37] #3759 closed, assigned to senadir

[2021-02-08 13:42] #3795 closed, assigned to Aljullu

[2021-02-08 13:50] senadir commented on #3625
Closed by 3991-gh-woocommerce/woocommerce-subscriptions

[2021-02-08 13:50] senadir commented on #3619
Closed by  3991-gh-woocommerce/woocommerce-subscriptions

[2021-02-08 14:21] coolqoo commented on #3809
Looks like all 3rd party payment plugins are not displaying

[2021-02-08 15:03] ralucaStan commented on #3761
Duplicate of  #3804, moving discussion there.

[2021-02-08 15:03] #3761 closed, assigned to nobody

[2021-02-08 15:04] ralucaStan commented on #3804
Hi @321-Soleil - it would be helpful to see your system status report - You will find information on how to do this here: https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/#section-1

If you can paste the status report into this thread that would be great.

Thanks!

[2021-02-08 15:12] 321-Soleil commented on #3804
Hello ! this is my Status report :

Name: Astra
Version: 3.0.1 (une mise à jour de la version 3.0.2 est disponible)
Author URL: https://wpastra.com/about/
Child Theme: ❌ – Si vous modifiez WooCommerce sur un thème parent que vous n’avez pas construit personnellement
nous vous recommandons d’utiliser un thème enfant. Voir : Comment créer un thème enfant

WooCommerce Support: ✔

### Templates ###

O

[2021-02-08 15:13] 321-Soleil commented on #3804
Im Sorry this is the real status report !
`
### WordPress Environment ###

WordPress address (URL): https://321soleil.fr
Site address (URL): https://321soleil.fr
WC Version: 4.9.2
REST API Version: ✔ 4.9.2
WC Blocks Version: ✔ 4.4.2
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.8.3
Log Directory Writable: ✔
WP Version: 5.6.1
WP Multisite: –
WP Memory Limit: 640 Mo
WP Debug Mode: –
WP Cro

[2021-02-08 15:29] Aljullu opened #3813 "JS error in Cart if two products have the same name"
## To reproduce

1. Add two products (ie: Cap and Beanie with logo) to your Cart.
2. In `wp-admin`, rename Beanie with logo to `Cart`.
3. Go to the Cart or Checkout blocks.
4. You will notice in the shipping panel both products are named `Cap`.
5. This causes a JS warning from React:

![imatge](https://user-images.githubusercontent.com/3616980/107240765-92438000-6a2a-11eb-9363-d0af47a9a3d6.png)

[2021-02-08 16:00] #3239 closed

[2021-02-09 00:48] joaojuicee opened #3815 "Request to /wc/store/cart blocked by CORS due to "Request header field x-wc-store-api-nonce is not allowed by Access-Control-Allow-Headers in preflight response.""
I'm building a vue app that will connect to the woocommerce API which is hosted in a different domain than the WP application.
The wordpress application is using https with a valid certificate and ist running under the `lemon-wp.test` domain while the vue app is running on `localhost`.

I'm making a request to `/wp-json/wc/store/cart/add-item` with the requested `X-WC-Store-API-Nonce` header which

[2021-02-09 08:10] #3632 closed, assigned to Aljullu

[2021-02-09 11:11] method7 commented on #3789
Hi @opr many thanks for looking at this and providing the solution so quickly, the fix does indeed work and the plugin.zip now  builds.

[2021-02-09 12:09] ralucaStan commented on #3729
I found an issue testing Cart Add-Ons with WooCommerce 5.0. The following controls on the Plugin's dashboard don't work:
Default Add-Ons, Add Category, and Add Products
![Screenshot 2021-02-09 at 13.05.53.png](https://images.zenhubusercontent.com/6006f97ad883b38577590742/94c8b9f4-3ad2-48c7-abeb-9091f8eed854)

There are some errors in the console

[code]

[2021-02-09 12:43] #3447 closed, assigned to mikejolley

[2021-02-09 12:55] #3625 closed, assigned to nobody

[2021-02-09 14:30] #1187 closed

[2021-02-09 15:53] mikejolley commented on #3113
This is closed by 657-gh-woocommerce/woocommerce-product-addons

[2021-02-09 16:46] mikejolley commented on #3815
I don't know if we need to do this yet, but for now you should be able to add that header to the allowlist via this filter in the REST API:

https://github.com/WordPress/WordPress/blob/8a51ab57e0411acf1fac7d9bd0ed357d17c080cf/wp-includes/rest-api/class-wp-rest-server.php#L315

[2021-02-09 16:53] senadir commented on #3815
If you're using cart, you're going to run into samesite cookies not being passed and so you won't get the cart session attached to the browser session, you might want to fill an issue in WooCommerce repository to allow filtering `wc_setcookie` function, alternatively, you can hook into the action `woocommerce_set_cart_cookies` and set your own cookie with your own custom domain.

[2021-02-09 16:54] #3735 closed, assigned to Aljullu

[2021-02-09 20:30] 321-Soleil commented on #3804
Hello 🙂
Do you think it is possible to change this litlle details ?
Tim

________________________________
De : Raluca Stan <notifications@github.com>
Envoyé : lundi 8 février 2021 16:04
À : woocommerce/woocommerce-gutenberg-products-block <woocommerce-gutenberg-products-block@noreply.github.com>
Cc : 321-Soleil <t1delage@hotmail.fr>; Mention <mention@noreply.github.com>
Objet : Re: [woocommerce/wo

[2021-02-09 21:09] ghost opened #3817 "Woo Mollie support for Cart and Checkout Blocks."
## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

Other payment gateways.
The payment gateways offered by the official Woo Mollie plugin (in the Netherlands) are not visible in the C&C block as enabled payment methods.

[2021-02-09 21:13] ghost commented on #3809
Indeed. Same with the WooCommerce Mollie plugin.

[2021-02-10 01:10] joaojuicee commented on #3815
@mikejolley  I'm new to WP, I reckon I should add that to the functions.php file for an instance?
Would you be able to provide a simple example on how to include the header I mentioned?

Thanks in advance

[2021-02-10 01:11] joaojuicee commented on #3815
@senadir would be able to provide an example on how to include that function and said custom cookie?

[2021-02-10 06:01] budzanowski opened #3824 "Enable tax rates fetch in WooCommerce Shipping and Tax for Cart and Checkout blocks."
WooCommerce Shipping and Tax connect to the WooCommerce cart flow by hooking into `woocommerce_after_calculate_totals`. Since we are triggering `calculate_totals` here: [AbstractCartRoute.php#L31](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/StoreApi/Routes/AbstractCartRoute.php#L31)

The flow should be enabled and the rates fetched. Unfortunately, wcship is d

[2021-02-10 10:03] ralucaStan commented on #3804
Hello @321-Soleil,

thank you again for reaching out.

Regarding your first problem, it seems to be an issue with the French translation, which is something we don't control.
We suggested they remove the `&nbsp` part from [the translation](https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/fr/default/?filters%5Btranslated%5D=yes&filters%5Bstatus%5D=waiting), but the change is s

[2021-02-10 10:11] 321-Soleil commented on #3804
Thank you so much 🙂.

[2021-02-10 11:37] #3813 closed, assigned to Aljullu

[2021-02-10 14:58] mikejolley opened #3825 "Stripe Credit Card Fields are Truncated in New Payments Design"
Running the checkout using Storefront on a regular page (I didn't test full width) the fields become truncated like this:

![Screenshot 2021-02-10 at 14 57 11](https://user-images.githubusercontent.com/90977/107526961-46bade80-6bb0-11eb-9b31-a7d1f944b33a.png)

We need to avoid this, in fact, we should probably stop fields truncating and perhaps force them wider, because these act as labels.

[2021-02-11 10:54] ralucaStan commented on #3788
Seems to be the case as well for Featured Product. From what I could tell, this class is missing:

[code]

[2021-02-11 11:18] Shazgu opened #3827 "Mobile: If products are added on the cart page, navigating back from checkout to cart does not show the newly added products"
## Describe the bug

On mobile, if you add additional products to the cart while on the cart page (e.g. from a cross-sell section on the page), if later you navigate back from the checkout page to the cart, you only see the original products, not the ones added while on the page.
The products are not actually removed from the cart - If you go back to checkout again you will see them there - but th

[2021-02-11 14:39] ghost opened #3828 "Storefront child theme issue #1: Card number and Expiration date field not visible in Checkout"
**I made a comprehensive analysis and tested all the themes listed in the [Storefront Themes ](https://woocommerce.com/product-category/themes/storefront-child-theme-themes/?categories=Themes&collections=theme&page=1&orderby=date) in WooCommerce website.**

You can check the [Issues map I've created in Figma](https://www.figma.com/file/vm7kZzr5uIFwacpKKZzMb5/Storefront-child-themes?node-id=1%3A142

[2021-02-11 14:58] ghost opened #3830 "Storefront child theme issue #2: Accessibility/ legibility issues"
**I made a comprehensive analysis and tested all the themes listed in the [Storefront Themes ](https://woocommerce.com/product-category/themes/storefront-child-theme-themes/?categories=Themes&collections=theme&page=1&orderby=date) in WooCommerce website.**

You can check the [Issues map I've created in Figma](https://www.figma.com/file/vm7kZzr5uIFwacpKKZzMb5/Storefront-child-themes?node-id=1%3A142

[2021-02-11 15:31] ghost opened #3831 "Storefront child theme issue #3: Bugs/ glitches"
**I made a comprehensive analysis and tested all the themes listed in the [Storefront Themes ](https://woocommerce.com/product-category/themes/storefront-child-theme-themes/?categories=Themes&collections=theme&page=1&orderby=date) in WooCommerce website.**

You can check the [Issues map I've created in Figma](https://www.figma.com/file/vm7kZzr5uIFwacpKKZzMb5/Storefront-child-themes?node-id=1%3A142

[2021-02-11 15:44] ralucaStan commented on #3729
All extensions tested and shipped.

[2021-02-11 15:44] #3729 closed, assigned to ralucaStan

[2021-02-11 15:48] ralucaStan commented on #3827
Hello @Shazgu,
thank you for reaching out.

What extension are you using for the cross-sell?
It would be helpful to see your system status report - You will find information on how to do this here: https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/#section-1

If you can paste the status report into this thread that would be great.

Thanks!

[2021-02-11 16:49] #3633 closed, assigned to mikejolley

[2021-02-11 17:51] ghost opened #3833 "Storefront child theme issue #4: Alignment and space issues."
**I made a comprehensive analysis and tested all the themes listed in the [Storefront Themes ](https://woocommerce.com/product-category/themes/storefront-child-theme-themes/?categories=Themes&collections=theme&page=1&orderby=date) in WooCommerce website.**

You can check the [Issues map I've created in Figma](https://www.figma.com/file/vm7kZzr5uIFwacpKKZzMb5/Storefront-child-themes?node-id=1%3A142

[2021-02-11 20:30] #3172 closed

[2021-02-11 20:30] nerrad commented on #3172
Since the PR for the migration is now in the Stripe repository, I'm closing this Epic as being done. The handoff has happened to the team owning the Stripe extension.

[2021-02-11 23:37] #3605 closed, assigned to Aljullu

[2021-02-12 05:02] benryandev commented on #3809
Is this likely to be resolved within the next update? I noticed in version 4.4.2 changelog Bug Fixes "Fixes conflicts with 3rd Party payment method integrations."

[2021-02-12 10:36] budzanowski opened #3836 "Enable Legacy shipping rates fetch in WooCommerce Shipping and Tax for Cart and Checkout blocks."
This should be based on work for  https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3824 but this time this should enable Live rates.

Initial investigation shows that probably this change: https://github.com/Automattic/woocommerce-services/pull/2325/files#diff-cce67f1f620a8d7c536713c9ed97954b99d198e1c8a4735a5ec36ae2718ec9a1R13-R14
already achieves the required result.

Fi

[2021-02-12 10:49] Shazgu commented on #3827
Hi,
Thanks for your reply.
We're using the theme's (Woodmart) on carousels. They're created using HTML blocks with Elementor.

I do have an update. In my original message I said this was only on mobile. I've done some more testing on desktop in the meantime, and while it doesn't happen on Safari, it does happen on Chrome and Firefox on desktop too.

Here's the system report:

[2021-02-12 14:11] ralucaStan opened #3837 "Shipping heading duplicated in the Cart block"
## Describe the bug
In the Cart block, the Shipping title appears twice.

## To reproduce
Steps to reproduce the behavior:

1. Make sure you have shipping methods added for your region
2. Add a product to the cart
3. Go to the cart block
4. See the duplicated Shipping title like in the image below
<img width="294" alt="Screenshot 2021-02-12 at 15 07 00" src="https://user-images.githubusercontent.c

[2021-02-12 14:16] ralucaStan commented on #3804
Closing this issue, as the duplicated Shipping title in the cart block will be fixed as part of https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3837

[2021-02-12 14:16] #3804 closed, assigned to nobody

[2021-02-12 14:19] budzanowski opened #3838 "Maybe Implement debug feature for WooCoomerce Shipping and Tax."
WooCommerce Shipping and Tax has this debug feature
![image](https://user-images.githubusercontent.com/17271089/107758464-34af7c00-6d27-11eb-9502-238acd6806d0.png)

 that displays debugging information in Cart and Checkout.
- [x] Check if we can easily support it
- [x] Check if we want to support it

Update. It turns out that the WooCommerce Ship extension was just blocking debug messages because

[2021-02-12 16:05] nerrad commented on #3827
Thanks for submitting this issue @Shazgu - it looks like this has some similarity to [this reported issue that was fixed](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3196).

I think a first step here before we can action this would be to rule out this being caused in part by usage of Elementor or the cross-sell plugin. So it'd be great to confirm if this is reproduci

[2021-02-12 18:39] nerrad commented on #3806
HI there @bros992  👋🏻

Thanks so much for taking the time to leave some feedback - much appreciated! We make note of all feedback we receive and we also close issues with the feedback as active issues are used for bugs or feature/enhancements. It does not mean that we don't note or review the feedback. Closed issues can also still be commented on.

[2021-02-12 18:39] #3806 closed, assigned to nobody

[2021-02-12 18:44] nerrad commented on #3809
Hi there folks 👋

Thanks for taking the time to make us aware that various payment methods aren't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's _expected_ that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

Currently it's up to payment method extensi

[2021-02-12 18:44] #3809 closed, assigned to nobody

[2021-02-12 18:46] nerrad commented on #3817
Hi there @EgbertJan  👋

Thanks for taking the time to make us aware that the Woo mollie plugin isn't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's _expected_ that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

Currently it's up to payment method exte

[2021-02-12 18:46] #3817 closed, assigned to nobody

[2021-02-12 19:00] nerrad commented on #3786
Another thing you may want to do is make sure your version of WooCommerce Core is up to date. I see you are using WooCommerce Core 3.1 - currently WooCommerce Blocks requires at least WooCommerce 4.3.

If you've updated all your plugins and WordPress to the latest version on your site and still are having issues, please do report back with any additional information. However, since we're not able

[2021-02-12 19:00] #3786 closed, assigned to nobody

[2021-02-12 19:10] nerrad commented on #3815
Hi there @joaojuicee 👋  offering support for custom development is outside the scope of what we are able to do here. You could try joining the [WooCommerce Community Slack](https://woocommerce.com/community-slack/) and see if anyone there is able to help you accomplish your goals.

[2021-02-12 19:10] #3815 closed, assigned to nobody

[2021-02-12 19:19] nerrad commented on #3828
This doesn't look like a bug, but rather expected behaviour when the _inline credit card form_ option is set for the Stripe CC payment method in WooCommerce settings:

![Image 2021-02-12 at 2 18 11 PM](https://user-images.githubusercontent.com/1429108/107812201-561b6280-6d3d-11eb-988c-e3c1240b9b3d.jpg)

@Spacepol is that option checked on your test site?

[2021-02-12 19:22] nerrad commented on #3830
@Aljullu based on your work for styles in the blocks, do the issues mentioned here look like changes we should try to enforce in blocks css, or something addressed at the theme level (I'm leaning towards the latter)?

[2021-02-12 19:25] nerrad commented on #3831
@Aljullu I'm looking over all these reported issues and it looks to me like they all should be fixed in the respective theme repositories. Thoughts? Agree/disagree? If yes, I'll take care of checking I can reproduce and will create the issues in the respective repos (if needed).

[2021-02-12 19:38] nerrad commented on #3833
@Aljullu, another question here about where these issues should be fixed. I'm leaning towards them being addressed by the themes themselves? If you agree, I'll take care of creating issues in the individual repositories for addressing.

[2021-02-12 19:43] nerrad commented on #3837
Good spot. This will need to be reviewed design wise as well though since currently the Shipping heading for the rate options is a collapsible container. I'll add this for weekly triage review.

[2021-02-12 22:19] theritesite opened #3839 "Adding a Cart or Checkout Block causes block editor "plugins" to duplicate"
## Describe the bug
When editing a page in the block editor that has a "plugin" for the block editor (like Yoast or classic editor), assets seem to get duplicated when adding a cart or checkout block.
Seems that this is limited to only the cart and checkout, but I have not exhausted all blocks in the plugin.
This shows on the "pinned" bar and within the Kebab menu, under the "plugins" section

##

[2021-02-13 21:12] luismichelmx opened #3840 "Sobre botones del carrito"
## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

Creo que deberia poder personalizar los botones del carrito, personalmente creo inecesario tener todos los botones de los diferentes metodos de pago  en el carrito, con mostrar el boton de finalizar compra creo es suficiente y en la pantalla de finalizar compra mostrar los metod

[2021-02-14 00:08] cgtv opened #3841 "store/cart/update-shipping "rest_no_route" after upgrade to WC 5.0.0"
Hello there,

After update to Woocommerce 5.0 I got the `"rest_no_route" `error when sending a request:

****POST** mystore.com/store/cart/update-shipping**

It seems the endpoint address was change.

I just report the issue for your future consideration.

[2021-02-15 11:43] senadir commented on #2122
Is this what we did for the recent Stripe integration? or would `__experimentalDeRegisterPaymentMethod` be enough here?

[2021-02-15 11:44] senadir commented on #2143
We moved away from this solution for some time now when we updated our components version.

[2021-02-15 11:44] #2143 closed

[2021-02-15 11:44] senadir commented on #2207
Still valid.

[2021-02-15 11:45] senadir commented on #2229
Still valid, just no time.

[2021-02-15 11:46] senadir commented on #2236
This is still valid once we decide to dedicate more time to e2e.

[2021-02-15 11:48] senadir commented on #2395
This was never fully done, but I still hope we can revisit this in the future.

[2021-02-15 11:51] senadir commented on #2457
I  feel like we can close this right? I believe we solved this in other PRs.

[2021-02-15 11:51] #2457 closed

[2021-02-15 11:52] senadir commented on #2653
Not very tangible issues, we will add more products when we need them in other tests.

[2021-02-15 11:52] #2653 closed

[2021-02-15 11:52] #2654 closed

[2021-02-15 11:53] senadir commented on #2660
I think @mikejolley recent PR touches on this?

[2021-02-15 11:53] #2783 closed

[2021-02-15 12:14] mikejolley commented on #3841
Hi,

You're probably after `/wc/store/cart/select-shipping-rate` You can see the full list of endpoints here:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/tree/trunk/src/StoreApi

Please note this API is not versioned nor considered stable/public yet, it is for internal use and may change further.

Thanks

[2021-02-15 12:15] senadir commented on #2959
This is fixed as of now.

[2021-02-15 12:15] #2959 closed

[2021-02-15 12:16] #3841 closed, assigned to nobody

[2021-02-15 12:19] mikejolley commented on #3840
Hi,

The payment method icons shown at the bottom of the cart page near the button can be hidden with CSS if they are not needed. It's easier to remove them than expect users who want them to add them manually.

[code]

Thanks!

[2021-02-15 12:19] #3840 closed, assigned to nobody

[2021-02-15 12:38] mikejolley commented on #3839
Confirmed. Increases Yoast branding by 300%.

[2021-02-15 13:46] nerrad commented on #2122
We can close this 👍

[2021-02-15 13:46] #2122 closed

[2021-02-15 13:56] mikejolley commented on #3839
Related: https://teamisotope.wordpress.com/2020/11/16/exporting-slotfill-components-gotcha/

Comes from https://github.com/woocommerce/woocommerce-gutenberg-products-block/commit/914eb93452ebba292bde64d7848eab6c94df7beb

Specifically:

[code]

Using `@wordpress/components` fixes admin, but breaks the subscriptions integration. So unsure how to proceed at this point. cc @senadir

[2021-02-15 14:03] #3412 closed, assigned to opr

[2021-02-15 14:03] #3699 closed, assigned to nobody

[2021-02-15 14:09] Shazgu commented on #3827
Hi nerrad,

I didn't immediately make the connection to the older fix but perhaps.

I deactivated Elementor and tested with a quantity change as you'd suggested, and the issue persists (the exact same behaviour). We don't use any plugins for the product carousels, it's just elementor and our theme.
To double-check, I then also changed from our theme to the twenty-twenty theme (still no Elementor),

[2021-02-15 14:51] ghost commented on #3828
@nerrad

"Inline Credit Card Form" for Stripe is enabled, and on the Stripe payment method it works correctly. (if you don't have it enabled it shows the outline of the field nonetheless):

<img width="498" alt="Screen Shot 2021-02-15 at 11 44 15" src="https://user-images.githubusercontent.com/69914963/107960237-265d9c00-6f83-11eb-8185-f9ba4cfab609.png">

However, the issue appears in "WooCommerce

[2021-02-15 15:09] Aljullu commented on #3830
I think all issues listed here need to be fixed at the theme level. In most cases they are conflicts between the customizer default colors and other theme styles, I don't think we can do anything from WC Blocks.

Only exception is Bookshop's "There is a shadow under the text and the icons.", In this case I think it makes sense to enforce buttons that we want to be shown as text not to have text sh

[2021-02-15 15:21] mikejolley commented on #2600
The original issue no longer seems to occur. Empty strings are false in react, so the PRIVACY and TERMS pages are correctly handled. The only bug is the SHOP page handling. We don't check the URL before using it, we just assume it exists.

[2021-02-15 15:26] Aljullu commented on #3833
Agree, everything listed here seems to be something that needs to be fixed individually by each theme.

That might have been fixed in #3797.

I inspected the source code of Matthew and it looks like aligning elements in the middle is intentional. Those styles were written specially targeting WC Blocks, so that's probably not a bug. :slightly_smiling_face:

[2021-02-15 15:27] Aljullu commented on #3830
Looking at the source code, it looks like it was intentional to change the checkbox colors. So that might not be a bug.

[2021-02-15 15:38] Aljullu commented on #3831
Agree, all issues listed here are specific style conflicts on each theme and I think the best is to fix them individually in each theme code base.

[2021-02-15 16:46] #2918 closed

[2021-02-15 16:48] #2599 closed

[2021-02-15 17:28] theritesite opened #3847 "Country and State address inputs grow/shrink incorrectly"
Minor.
On multiple themes and multiple versions of WP & WC, the Checkout Block Country and State inputs are in a "shrunken" state until hover, or active. This makes the text illegible if there is already a pre-populated address until hover or active state.

## To reproduce
1. Have customer address saved (for checkout use). Store country was set to United States.
2. Visit checkout page with checkou

[2021-02-16 03:32] budzanowski commented on #3836
The classic live rates work. Closing as #3824 fixes the problem.

[2021-02-16 03:32] #3836 closed, assigned to budzanowski

[2021-02-16 03:35] budzanowski opened #3849 "Enable shipping rates fetch in WooCommerce Shipping and Tax for Cart and Checkout blocks."
This should be based on #3824 and it is a follow-up to #3836. This time this is for the non-legacy shipping rates.
Probably this time we also do not have anything to do. But this requires a setup of the Live Rates to verify.

[2021-02-16 08:37] Aljullu opened #3850 "Cart item total price doesn't include taxes when DISPLAY_CART_PRICES_INCLUDING_TAX is true"
Regression introduced in #3750.

## To reproduce
In wp-admin:
1. Go to WooCommerce > Settings and check the option `Enable tax rates and calculations `.
2. Go to WooCommerce > Settings > Tax and set `Prices entered with tax` to `No, I will enter prices exclusive of tax` and `Display prices during cart and checkout ` to `Including tax`.
3. Go to WooCommerce > Settings > Tax > Standard Rates and cre

[2021-02-16 08:46] Aljullu commented on #3850
@opr pinging you as the release lead of 4.5.0 in case you think this is a blocker for release. I opened a PR fixing it: #3851.

[2021-02-16 09:45] #3850 closed, assigned to Aljullu

[2021-02-16 09:53] opr opened #3852 "Sale price not displaying correctly in cart and checkout"
## Describe the bug
If a product is on sale, then the `<ProductPrice>` component does not show the strikethrough price properly.

## To reproduce
Steps to reproduce the behavior:

1. Set a product to be on sale and add it to the cart
2. Go to the cart and checkout blocks and observe only the sale price is displayed.

## Expected behavior
The regular price should be displayed, but styled with strik