[2021-02-16 11:42] #3852 closed, assigned to opr

[2021-02-16 12:21] nerrad commented on #3828
I'm sorry Pablo, it's not clear to me what is being asked for here. Are you suggesting that Stripe CC needs to change how the fields appear or are you referring to something with WooCommerce payments?

It appears to me that you are pointing out that with WooCommerce Payments, an outline (or border) isn't showing around the inputs. If I'm assuming correctly, I think this would be better fixed in th

[2021-02-16 12:21] #3828 closed, assigned to nobody

[2021-02-16 12:35] senadir opened #3855 "Implement memoization for wp.data"
While implementing memoization for https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3835 to avoid rerunning the same 3PD code several times, we ended up discovering that our wp.data store is not memorizing its selector and therefore creating new instance several times, up to 13 times in each render cycle.

After asking around, this is the conclusion we had:
- Our selector s

[2021-02-16 15:02] nerrad commented on #2094
Still reproducible.

[2021-02-16 15:06] nerrad commented on #2195
@senadir will the pending `ExtendStoreAPI` interface solve this requirement?

[2021-02-16 15:07] nerrad commented on #2440
I'm going to close this because there still currently isn't any pressing need to add restrictions for where the blocks can be used.

[2021-02-16 15:07] #2440 closed

[2021-02-16 15:10] senadir commented on #2195
Yes, but we would need to implement it for that endpoint `store/products`, currently it's only available on `store/cart/items`

[2021-02-16 15:29] nerrad commented on #2792
@Aljullu will some of the recent extensibility work cover the use-cases described in this issue?

[2021-02-16 15:39] nerrad commented on #2950
Closing as a duplicate of #2824

[2021-02-16 15:39] #2950 closed

[2021-02-16 16:30] nerrad commented on #3837
@Spacepol is going to take a look at how this could be improved. Currently it's not a bug but intentional. However there is definitely room for improvement here.

[2021-02-16 16:31] nerrad commented on #3805
Thanks for the feedback @arunsathiya!

This is not something that we will be addressing immediately but at some point in the future we will review to see how we can make this possible.

[2021-02-16 16:43] nerrad commented on #324
This isn't something that will be done with existing blocks. Eventually, it's likely the existing hand picked products block will be converted to using Product element blocks (as inner blocks) for rendering the content and it'll make sense at that point to introduce some sort of drag and drop reordering of products.

[2021-02-16 16:43] #324 closed

[2021-02-16 20:35] nerrad commented on #3855
I generally agree with this and it will be a good change. The one thing to watch for is that the defaults aren't mutated anywhere (but that applies equally to any technically mutable state).

[2021-02-17 09:50] Aljullu commented on #2792
* **switch the price from $0 to "Free"**: the [filter we are experimenting with](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/blocks/cart-checkout/cart/full-cart/cart-line-item-row.js#L134-L144) to modify the cart item price seems to be a good starting point. Currently, we enforce the price to be visible, so extensions can only prepend or append a string

[2021-02-17 09:57] strarsis commented on #891
Not stale!

[2021-02-17 11:39] nerrad commented on #2792
Great thanks. We'll loop back to this as we continue building in extensibility.

[2021-02-17 11:54] ralucaStan commented on #2539
@Aljullu I can take a look here.
- Testing different dark colors is a big task, should we focus only on black `#000`?
- About font colors that don't work well: should we just note here the ones that fail the a11y contrast check?

I don't think we can find a color for all cases, but it would help me to understand better what the expected result is here.

[2021-02-17 12:38] Aljullu commented on #2539
Sounds good. Testing black or dark gray will expose most contrast issues.

Yeah, I guess we first need to identify them and then fix each one of them individually. Ideally we shouldn't specify any text color so strings inherit the color from the theme (only exception is when we control the background, ie: input fields, buttons, etc.).

[2021-02-17 13:18] #3532 closed, assigned to mikejolley

[2021-02-17 13:48] #3802 closed, assigned to Aljullu

[2021-02-17 15:17] #2600 closed

[2021-02-17 16:40] gglobalstep opened #3863 "[GlobalStep - WooCommerce 5.1 Beta 1] User can insert "Price Filter", "Attribute Filter", and "Active Filter" blocks under Widget areas screen."
## Bug Description:
User can insert "Price Filter", "Attribute Filter", and "Active Filter" blocks under Widget areas screen.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ninja.
1. Inst

[2021-02-17 18:35] nerrad commented on #3863
@mikejolley I think this is contrary to expected behaviour from the work done in #3737 right? I'm wondering if the reporter here is confused and is seeing the Woo Core filter _widgets_ in the selector instead of blocks? So if you can't reproduce then that's the likely cause and we can close this.

[2021-02-17 18:51] nerrad commented on #3863
Ya in my testing I'm not seeing blocks, but only Woo Core widgets (can be verified by seeing that the content is rendered in a legacy widget block in the block inspector sidebar). So I'm going to go ahead and close this.

[2021-02-17 18:51] #3863 closed, assigned to nobody

[2021-02-17 19:03] Juiceycow commented on #3827
Hope you don't mind me jumping in here, but I think I've found a related bug, both on my own site and @Shazgu's above (https://purenaturals.co.uk/).
On desktop, if you change the quantity in the cart/basket, 'proceed to checkout', then return to the cart by hitting the browser back button, the quantity reverts to the figure it was before the quantity change. Manually refreshing the page shows the

[2021-02-18 09:53] #2824 closed

[2021-02-18 13:14] ralucaStan commented on #2539
@Aljullu please take a look at my findings and let me know which ones should we handle in separate tickets.

Here are my findings:
1. Product rating is barely visible, in any block that shows it
<img width="450" alt="Hand-picked Products" src="https://user-images.githubusercontent.com/1628454/108357639-fe25a580-71ed-11eb-8318-4be759c38c9c.png">

2. The cursor for _Filter Products by price_ is cut

[2021-02-18 13:28] Aljullu commented on #2539
Good findings @ralucaStan, thanks for doing this research!

I think all of them are worth fixing. I'm fine either way: creating a separate ticket for each one or using this one as a meta-ticket.

Maybe that was an issue with fonts? In theory, you should see yellow stars instead of text.

That button should use the color from Customize > Buttons (if using Storefront or a child theme). If it doesn't

[2021-02-18 13:32] senadir commented on #3253
This is merged as part of 3.1 release, so we should be okay closing.

[2021-02-18 13:32] #3253 closed

[2021-02-18 13:34] #3113 closed

[2021-02-18 13:50] senadir commented on #3747
This is now done with #3816 and  woocommerce/woocommerce-subscriptions#4005

[2021-02-18 13:51] #3747 closed, assigned to opr

[2021-02-18 13:51] #3619 closed, assigned to budzanowski

[2021-02-18 14:26] ralucaStan commented on #2487
Another issue I found was that in other blocks is that this disabled style is not normalized.
All the inputs in the image below are disabled, but they have different styling -> grey or white background.
<img width="633" alt="Screenshot 2021-02-18 at 13 49 11" src="https://user-images.githubusercontent.com/1628454/108370933-82cbf000-71fd-11eb-9d6d-4b56dfd40264.png">

Another thing I found is that t

[2021-02-18 16:38] gglobalstep opened #3865 "[GlobalStep - WooCommerce 5.1 Beta 1] Buttons on "Featured Product" block and "Featured Category" block are not centered aligned on Preview/Published page."
## Bug Description:
Buttons on "Featured Product" block and "Featured Category" block are not centered aligned on Preview/Published page.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using Jurassic Ni

[2021-02-18 18:04] method7 opened #3867 "Cart and Checkout"
## What do you like about the Cart & Checkout blocks?
we chose to use cart and checkout blocks in our production environment because it provides better user experience - we even changed our payment provider to enable this, its not perfect by any means but it is much better and as a developer i think it will offer the best framework for us to make the changes we need to improve it for our particula

[2021-02-19 10:31] budzanowski opened #3868 "Refactor `Assets` into a new initializer/loader/controller for registering block assets."
This is a spinoff from #3748:

Refactor `Assets` into a new initializer/loader/controller for registering block assets and inject AssetDataRegistry and `Assets/Api` as dependencies (then get rid of the old class). **priority 2**
to a separate issue to make the output PR less bloated.

[2021-02-19 11:21] ralucaStan commented on #1962
@Aljullu regarding the `all-products-and-filters` suggestion, I agree it seems too broad.

I identified these dependencies:

- filter-submit-button -> attribute filter & price filter (so I suggest not to move it)
- product-list -> all products
- product-list-item -> product-list
- product-sort-select -> product-list

I would group the product list related components:
- weather we move `product-sor

[2021-02-19 11:46] method7 commented on #3867
it seems this is already being debated over here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/2792

I will close this and continue over there..

[2021-02-19 11:46] #3867 closed, assigned to nobody

[2021-02-19 11:46] method7 commented on #2792
Hi all I just wanted to register my interest in this functionality - i raised this issue yesterday, had a chat with @helgatheviking on slack and she pointed me here.
https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3867

[2021-02-19 11:58] #3764 closed, assigned to opr

[2021-02-19 12:55] Aljullu commented on #3762
Instead of creating a new component in Gutenberg, I'm currently taking another approach which consists on extending the `FormTokenField` component adding some new props. Those props will be useful to us if we ever replace our own implementation of `DropdownSelector` with `FormTokenField`. Progress can be seen in this PR: https://github.com/WordPress/gutenberg/pull/29110.

[2021-02-19 13:20] Aljullu commented on #1962
I would lean towards this option:

In the future, some PHP-based product grid blocks might end up being refactored to use the same components as All Products, so a `product-list` folder which is generic for all blocks that display products sounds better than having a different folder for each block.

[2021-02-19 13:29] ralucaStan commented on #1962
Ok, this option made more sense for me as well. I will create a PR for it.

[2021-02-19 18:56] jeyip commented on #3626
Hi @Aljullu 👋 Any updates on this issue?

[2021-02-19 19:52] nerrad commented on #3171
I'm going to go ahead and close this Epic, that okay @Aljullu? If it needs to stay open for any reason, you can re-open.

[2021-02-19 19:52] #3171 closed

[2021-02-20 18:25] usmanali84 opened #3872 "Payments methods not supported (Klarna and Paypal Checkout)"
## What do you think is missing from the Cart & Checkout blocks?
Hi,
please fix the payment methods. We use Stripe, Paypal checkout and Klarna payment gateway. Just stripe as a payment seems to be working so we had to remove block as we need other payments methods to work as well.
I hope you will add the other payment methods soon as we will love to use your blocks for Cart and checkout.
Regards
U

[2021-02-21 00:38] caitnig opened #3873 "Cart subtotals not updating, or summary order on checkout page"
After the latest update, the subtotals no longer updated correctly.

![image](https://user-images.githubusercontent.com/79385825/108612068-c892df00-73dc-11eb-906e-7266a8424baa.png)

![image](https://user-images.githubusercontent.com/79385825/108612076-dc3e4580-73dc-11eb-9f74-a0c31d6ac079.png)

[2021-02-22 10:21] Aljullu commented on #3873
Hi @caitnig, thanks for opening this issue. I was able to reproduce this issue with this currency options:

![imatge](https://user-images.githubusercontent.com/3616980/108694932-fae92d00-74ff-11eb-8ab5-d2038527ea98.png)

I'm currently investigating a fix for this.

[2021-02-22 11:04] #1962 closed

[2021-02-22 11:47] Aljullu commented on #3873
PR with a potential fix created: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3876.

[2021-02-22 11:49] #3497 closed, assigned to mikejolley

[2021-02-22 11:50] #3523 closed, assigned to mikejolley

[2021-02-22 11:54] Aljullu commented on #3865
Thanks for opening this issue! This seems to be the same issue reported in #3788, so I'm closing this one as duplicate.

[2021-02-22 11:54] #3865 closed, assigned to nobody

[2021-02-22 12:01] caitnig commented on #3873
Great. As a temporary measure, I've set number of decimals to 2 so that's it's displaying correctly until a fix is rolled out.

[2021-02-22 13:16] #3873 closed, assigned to Aljullu

[2021-02-22 15:16] nerrad commented on #3830
I moved this report into individual issues:

### Bookshelf

- Fix delete icon style for coupon tags in Cart and Checkout Blocks (34-gh-woocommerce/bookshop)

### Boutique

- Lighten background color for payment method icons in the Cart block (https://github.com/woocommerce/boutique/issues/81)
- Fix order summary quantity badge numbers styling for cart and checkout blocks used with the theme. (http

[2021-02-22 15:26] alsrmurad opened #3880 "cart block needs css editor so that customize the cart appearance."
## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

[2021-02-22 16:02] nerrad commented on #3833
I moved this report into individual issues (in progress)

### Bookshelf

- Fix issues with collapsible section container toggle in Cart blocks (35-gh-woocommerce/bookshop)

### Homestore

- Improve padding for between rate information and bottom of shipping section. (91-gh-woocommerce/homestore)

### Artisan

This isn't a Storefront Child Theme. @Spacepol can you please file a report with the owne

[2021-02-22 17:03] nerrad commented on #3831
I moved this report into individual issues (in progress):

### Artisan

This isn't a Storefront Child Theme. @Spacepol can you please file a report with the owner of Artisan?

### Galleria

- Fix styling issues for hover state on section container toggles in cart and checkout blocks. (105-gh-woocommerce/galleria)

### Homestore

- Fix overflow issues with quantity input in cart and checkout blocks

[2021-02-22 19:17] #3830 closed, assigned to nobody

[2021-02-22 19:17] #3831 closed, assigned to nobody

[2021-02-22 19:17] #3833 closed, assigned to nobody

[2021-02-22 19:28] nerrad commented on #3827
I can reproduce as well. Thanks for reporting all :)

So to be clear, this isn't caused by conflicts with themes or other plugins. I'm able to reproduce this with the following minimal testing steps:

1. Load the cart block.
2. Adjust the quantity of any product and note the change.
3. Proceed to Checkout
4. Click the browser "back" button and note that the quantity change is not reflected in the

[2021-02-23 11:50] Aljullu commented on #3880
Hi @alsrmurad, you can access the WordPress CSS editor from Appearance > Customize, there you can add as many CSS rules as you want. We have specific [docs about theming WC Blocks](https://github.com/woocommerce/woocommerce-gutenberg-products-block/tree/trunk/docs/theming) and specifically the [Cart and Checkout blocks](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk

[2021-02-23 11:50] #3880 closed, assigned to nobody

[2021-02-23 13:04] ghost commented on #3110
Update: I've added some new issues to the "other themes" category.

[2021-02-23 13:13] Aljullu commented on #3847
HI @theritesite, thanks for opening this issue, could you tell us some of the themes that are affected by this issue? This would help us diagnose whether that's an issue in the theme or something we can fix in WC Blocks.

Thanks in advance!

[2021-02-23 16:07] nerrad commented on #3626
I think we should definitely at a minimum roll out reverting #3219 to fix this. However it'd be nice to see if we can find an alternate way of addressing the visual glitch in the editor context in the interim until the iframed editor instance lands in WP core for all editor usage.

[2021-02-23 16:50] theritesite commented on #3847
Hi!
I am using twenty twenty-one, Hello Elementor, and further tested on storefront, twenty nineteen, and twenty twenty.

[2021-02-23 16:52] theritesite commented on #3847
Also, I have now tested those themes using the 4.5.2 version, and with other plugins turned off. Additional CSS is empty and none of the themes have been modified nor have child themes.

[2021-02-23 17:54] Aljullu commented on #3827
The issue seems to be caused by the `cartData` value we print on page load to hydrate the Cart block.

To better understand the issue, this is what happens:
1. User loads the cart with, for example, `Cap` with quantity `1`. Via PHP, we print that (and other values used by the Cart block) in `wcSettings.cartData`. It looks something like this:
[code]
2. The user changes the quantity. That updates t

[2021-02-23 21:40] ghost commented on #3837
Update: Posted design improvements on [P2 post.](https://teamrubik.wordpress.com/2021/02/23/incremental-improvement-to-the-cart-block-shipping/)

[2021-02-24 09:13] Aljullu commented on #3847
Hi @theritesite, thanks for the details. Unfortunately, I'm still unable to reproduce, this is how it looks for me with Storefront:

![imatge](https://user-images.githubusercontent.com/3616980/108977163-8e4d6a00-7688-11eb-88dc-18fda2d0e51b.png)

and Twenty Twenty One:

![imatge](https://user-images.githubusercontent.com/3616980/108977074-7a096d00-7688-11eb-8862-901dbf32ddb5.png)

If you have a URL

[2021-02-24 09:43] nerrad commented on #3827
That seems like a good solution to try Albert. Were you just thinking of using localStorage to save the timestamp? I think @mikejolley used that for something else too - maybe there's something re-usable here?

[2021-02-24 16:12] gglobalstep opened #3886 "[GlobalStep] "Replace" button is displayed instead of "Edit media" button for "Featured Product block" and "Featured category" block."
## Bug Description:
"Replace" button is displayed instead of "Edit media" button for "Featured Product block" and "Featured category" block.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using JN site.

[2021-02-24 17:17] ralucaStan commented on #2539
I tried to fix it but was unable to find a solution that works in all blocks. It's related to the markup and I think it's best for it to be fixed in #1916.

Fixed in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3887. I removed the glow effect, as it was inconsistent with the UI, and hard to fix while the icons come from a sprite.

Fixed in https://github.com/woocommerce

[2021-02-24 19:03] theritesite commented on #3847
Hi!

Looks like it was actually a plugin that added other blocks. Styles were getting extracted from a wordpress component that applied extra select-control components.

Sorry for the confusion, I will mark it closed as the issue was definitely our side!

Thank you for the responses!

[2021-02-24 19:03] #3847 closed, assigned to nobody

[2021-02-25 15:18] gglobalstep opened #3894 "[GlobalStep] Validation missing for invalid password on the frontend for "Password Protected" Page"
## Bug Description:
Validation missing for invalid password on the frontend for "Password Protected" Page.

## Environment:
Windows 10, macOS High Sierra v10.13.6
Browser: Chrome(Version 88.0.4324.104) (64-bit)
                Firefox(Version 83.0)(64-bit)
                Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the r

[2021-02-25 15:37] susannaK opened #3888 "Hide quantity selector if product is sold individually"
## What do you like about the Cart & Checkout blocks?

I like that I don't have to code them myself!

## What do you think is missing from the Cart & Checkout blocks?

I'd like to be able to remove elements that aren't relevant to my store. For example, everything we sell is a unique item. The quantity is always 1 and can't be increased, so I'd like to be able to remove the quantity selector.

[2021-02-26 08:43] Aljullu commented on #3886
Thanks for opening this issue. A similar discussion happened in this PR: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3579#issuecomment-749043482. According to it, `Replace` is the wording we intentionally use because it's not too long, so I will close this issue.

cc @senadir

[2021-02-26 08:43] #3886 closed, assigned to nobody

[2021-02-26 08:51] Aljullu commented on #3888
Thanks for opening this issue @susannaK, I updated the title and description to be more specific. Currently the quantity selector is disabled if the product can only be added once to the Cart.

@Spacepol what are your thoughts on this? Should we hide the quantity selector if a product can only be sold individually? This is how it currently looks with the quantity selector disabled:

![imatge](http

[2021-02-26 15:11] cgtv commented on #3841
Thanks for your reply,

It seems the route `/wc/store/cart/select-shipping-rate` also not working anymore.

Thanks

![Screen Shot 2021-02-26 at 19 23 49](https://user-images.githubusercontent.com/1297306/109375181-f346d100-78cf-11eb-9bfd-5c12a99d3050.png)

[2021-02-26 21:30] nerdysandy commented on #3595
Still happened on # 27796336-hc

[2021-02-26 21:35] nerdysandy commented on #3757
@mikejolley Is it possible to open this issue? I replicated it for another user today on #27796336-hc

[2021-02-26 21:55] juliaamosova commented on #3894
Hi @gglobalstep,

Thank you for reporting the issue. It is being caused by WooCommerce Blocks which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2021-02-28 09:10] #3563 closed, assigned to nobody

[2021-02-28 09:40] manospsyx opened #3895 "Add support for Product Bundles"
For many years in core the only way to depict a hierarchical (parent/child) relationship between two cart items (=bundling) was to handle things an a plugin-specific manner, which has always been a pain to support and maintain, and led to an inconsistent user experience, depending on the plugin used and the active theme.

The move to an API-driven experience unavoidably "locks down" the extensibil

[2021-02-28 21:11] nerrad commented on #3895
Thanks for this detailed issue @franticpsyx - this is exactly the sort of thing that helps inform planning around approaches we take to extensibility. I definitely will bring this to the attention of the team.

[2021-03-01 09:11] #2200 closed

[2021-03-01 11:11] Aljullu commented on #3827
Yes, that was my idea.

For reference, this is what I could find: https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/middleware/store-api-nonce.js. It's used for storing the store API nonce.

[2021-03-01 11:43] budzanowski commented on #3849
The work done for #3824 in Automattic/woocommerce-services#2325 enables new subscription-based rates:
![image](https://user-images.githubusercontent.com/17271089/109492625-8d06ad80-7a8b-11eb-8235-f6c6b0210a08.png)

[2021-03-01 12:06] Aljullu commented on #2539
Yes... I can't think of any way to fix it other than adding a light border around the button, but I don't think it's worth it because it might affect negatively other themes.

In Storefront and child themes, the button honors the `Alternate button background color` set in Appearance > Customize > Buttons, so it will look fine if colors are set up correctly.

For other themes that might have dark b

[2021-03-01 12:42] mikejolley commented on #3841
It's a POST route.

[2021-03-01 12:45] mikejolley commented on #3757
@nerdysandy Would it be possible to post the updated steps to reproduce here please, as well as the version of blocks being used (or if this is the version currently in WooCommerce core). It may be that the version being used does not contain the above fixes. This was released in Blocks 4.4.0 which is part of WooCommerce 5.1.

[2021-03-01 12:47] cgtv commented on #3841
Sorry, I tried with `POST` also several time:
But I faced the same error.
(WC ver 5.0)

![Screen Shot 2021-03-01 at 16 15 32](https://user-images.githubusercontent.com/1297306/109498912-6ce5e700-7aa9-11eb-960a-938feb371a25.png)

[2021-03-01 12:57] mikejolley commented on #3841
Latest blocks version has it. We use it on the cart page.
![Screenshot 2021-03-01 at 12 56 36](https://user-images.githubusercontent.com/90977/109500081-a9a3e500-7a8d-11eb-9db6-9b8c1c327116.png)

[2021-03-01 13:21] senadir commented on #3895
Hey Manos, I'm happy to answer some of your questions

Note that we did actually finish integrating WC Subscriptions and it's in the review process.
The process of integrating had us create several new experimental extensibility points that might be useful to you.

Depending on what you want to achieve, you will do a mix of PHP, Basic React (JSX) or pure JS (No react involved).

I understand where

[2021-03-01 14:16] manospsyx commented on #3895
Hey @senadir @nerrad -- thanks so much for your detailed responses!

100%. An API-driven cart/checkout experience is much-needed and shouldn't be left to third parties to implement :)

The technical part of your answer makes complete sense -- we need to pass data down through the API to the client-side and filter them there. I still have a couple questions, but the code samples are in line with wh

[2021-03-01 14:30] manospsyx commented on #3895
@senadir

A couple Qs in relation to the technical side of your answer:

CSS won't cut it here because the goal is to prevent the user from entering a new quantity using the input. Ideally, we'd like to replace the input with a "fixed" number, or to _disable_ the input.

This involves two parts -- the PHP part is already implemented in Product Bundles and looks similar to the code you provided :)

[2021-03-01 16:52] Aljullu commented on #3872
Hi there @usmanali84 👋

Thanks for taking the time to make us aware that PayPal Checkout and Klarna aren't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's _expected_ that some existing payment methods will not work with the blocks.

Currently it's up to payment method extension developers to add support for the new checkout flow o

[2021-03-01 16:52] #3872 closed, assigned to nobody

[2021-03-01 17:52] #3000 closed

[2021-03-02 01:51] TheChatterer opened #3901 "PayPal gateway disappeared"
## What do you like about the Cart & Checkout blocks?

Overall I like the clean design and that it works with the extra product fields plugin I'm using.

## What do you think is missing from the Cart & Checkout blocks?

In my case, the PayPal gateway has disappeared. I've installed both Stripe and PayPal gateways. I know the latter is working on the site as I received an order which used the PayPa

[2021-03-02 06:06] Aljullu opened #3902 "Twenty Nineteen: Price slider track is not visible"
## To reproduce
1. Set your store theme to Twenty Nineteen.
2. Create a page with the All Products block and the Filter Products by Price block.
3. Notice that the track of the price slider in the Filter Products by Price block is transparent and hovering one of the thumbs hides the other.

## Screenshots
<img src="https://user-images.githubusercontent.com/3616980/109604164-4e243680-7b23-11eb-9602

[2021-03-02 06:13] Aljullu opened #3903 ""Your cart is currently empty!" message is not centered by default"
## To reproduce
1. Create a new page with the Cart block and publish it.
2. Visit it in the frontend with an empty cart.
3. Notice the _Your cart is currently empty!_ message is not centered.

## Expected behavior
The message should be centered instead of being left-aligned.

## Screenshots
![imatge](https://user-images.githubusercontent.com/3616980/109606085-69dd0c00-7b26-11eb-85a3-786abdea47d9.p

[2021-03-02 10:43] Aljullu opened #3904 "Cart and Checkout blocks should show item subtotal price instead of total"
Probably another regression from  #3750.

## To reproduce
1. Add a product to your cart.
2. Go to the Cart block and apply a coupon with a fixed cart discount.
3. Notice the discount is also applied to the cart item price (in the screenshot below, Cap item price shows `10` instead of `20`).

![imatge](https://user-images.githubusercontent.com/3616980/109636611-12ea2d80-7b4c-11eb-8816-b37b4171c9bf.

[2021-03-02 10:49] Aljullu commented on #3904
@nerrad this is a regression introduced in 4.5.0, do you think we should include it in 4.6.0 or it can wait for 4.7.0?

[2021-03-02 14:47] #3904 closed, assigned to Aljullu

[2021-03-02 14:53] #3626 closed, assigned to Aljullu

[2021-03-02 15:10] Aljullu opened #3906 "Order summary: with a screen reader it's not clear what's the difference between the cart item subtotal and the product price"
In the Checkout Order Summary, we display all products with its unitary price and the cart item price. While the alignment helps explain their meaning (unitary price on the left, under the title / cart item price aligned to the right in bold), nothing of this is obvious to screen reader users, which will get two prices read without any clue of which one is which.

<img src="https://user-images.git

[2021-03-02 17:20] opr commented on #3784
I'll pick this issue up. I'm using Brave and have set up a saved payment method. When using this, even if I do have my full name added to the payment method my surname is not sent in the request. I'll investigate this, and the original issue using Chrome.

[2021-03-03 02:43] usmanali84 commented on #3872
Hi Albert,

Thank you for getting back to me.
I have tried to reach out to klarna developer team and the only thing I
have found is this:
WooCommerce Blocks
<https://woocommerce.com/products/woocommerce-gutenberg-products-block/>

Error: I can not see the Klarna Checkout payment way in the checkout and
I'm using *WooCommerce Blocks *and their *Checkout Design Widget*.
Solution: WooCommerce Blocks

[2021-03-03 10:42] EdithAllison opened #3912 "add ability to modify category of Featured Category block"
## Is your feature request related to a problem? Please describe.
We've just done an update to the category structure of the site. After the update it became clear that there is no way to update an existing "Featured Category" block. Instead we had to delete / add, thereby losing all settings for the block.

## Describe the solution you'd like
I'd love to have a way to change the category for an e

[2021-03-03 11:08] Aljullu commented on #3872
Hi @usmanali84, thanks for contacting them. We are working on incrementing the number of payment gateways that support the Cart and Checkout blocks, but some of this work depends on their developers, so it's out of our hands. Hopefully as more users demand it they will prioritize the work.

Unfortunately, I can't give you any expected time when PayPal Checkout and Klarna will be supported. As they

[2021-03-03 11:12] senadir commented on #3894
Hey @juliaamosova I don't see how is this being caused by WooCommerce Blocks. I reproduced this using regular blocks and it's still the same.
This behaviour comes from core and I don't see it as a bug really.

[2021-03-03 11:12] #3894 closed, assigned to nobody

[2021-03-03 11:13] senadir commented on #3901
Hey @TheChatterer what paypal method are you using? the one bundled with WooCommerce or coming from a plugin?

[2021-03-03 11:24] senadir commented on #3912
Hey @EdithAllison
Thank you for your feedback, I'm going to break your issue into two issues, but I can't promise when this is going to be fixed.

[2021-03-03 11:30] senadir opened #3915 "SearchListControl is not responsive on narrow views"
SearchListControl (which is used in Featured Category, Featured Product) doesn't work well in narrow views (like columns)
![image](https://user-images.githubusercontent.com/6165348/109799205-07663780-7c1c-11eb-937f-77a0950a1c25.png)

We might need to make it responsive (in wc-admin repo) or move it to the sidebar.

Reported in https://github.com/woocommerce/woocommerce-gutenberg-products-block/iss

[2021-03-03 11:30] senadir commented on #3912
Width issue moved to https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3915

[2021-03-03 11:54] senadir commented on #3901
I can see Core Paypal method working fine for me
![image](https://user-images.githubusercontent.com/6165348/109799577-793e8100-7c1c-11eb-9f49-df7b03c9b8ff.png)

[2021-03-03 12:13] TheChatterer commented on #3901
Hi Seghir,

Thanks for reseponding. I do appreciate this.

To answer your earlier question re. Which plugins I'm using, I installed the

WooCommerce PayPal Checkout Gateway
And
WooCommerce Stripe Checkout Gateway

This is what I see on my test Checkout page when I've loaded one of my Simple products.

Regards,

Nicholas

Nicholas Vince

www.nicholasvince.com

CONFIDENTIALITY: This e-mail and any a

[2021-03-03 12:16] senadir commented on #3901
Hey again, [PayPal Checkout gateway](https://wordpress.org/plugins/woocommerce-gateway-paypal-express-checkout/) is not supported in the new checkout block, I can't give you an exact date of when will it be supported because it's up to the team owning it.

You can use PayPal Standard, the gateway included with WooCommerce, which will work with the block.
We maintain that integration, so if it's no

[2021-03-03 12:16] #3901 closed, assigned to nobody

[2021-03-03 14:20] Fabiovisualdesign opened #3916 "Botton color"
How to change the button color in woocommerce block in the shopping cart? What kind of css?

## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

[2021-03-03 15:36] senadir commented on #3916
You can use this CSS
[code]

[2021-03-03 15:36] #3916 closed, assigned to nobody

[2021-03-03 16:25] Fabiovisualdesign opened #3918 "Botton colour"
How to change the color of the checkout button in woocommerce bloks?
in this page: https://lila.fabiolopresti.com/finalizar-compra/

## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

[2021-03-03 16:45] Fabiovisualdesign commented on #3916
Great! Thanks.
Do you have any suggestions about changing colour in the checkout button?

El mié, 3 mar 2021 a las 16:36, Seghir Nadir (<notifications@github.com>)
escribió:

[2021-03-03 19:43] #3824 closed, assigned to budzanowski

[2021-03-03 19:43] #3838 closed, assigned to budzanowski

[2021-03-03 19:43] #3849 closed, assigned to budzanowski

[2021-03-04 14:11] #3918 closed, assigned to nobody

[2021-03-04 14:12] senadir commented on #3916
You can use this class `.components-button.wc-block-components-button.wc-block-components-checkout-place-order-button`

Please, this is not a support forum, if you have an actual bug or a feature you want to report, you can do that by opening an issue, but we can't provide CSS or modification help.

[2021-03-04 14:45] gglobalstep opened #3923 "[GlobalStep] User is allowed to add products to "Featured Product" Block even before its marked as featured"
## Bug Description:
User is allowed to add products to "Featured Product" Block even before its marked as featured

## Environment:
Woocommerce Version : WooCommerce 5.1 RC1 and 5.0
WordPress Version: (v5.7 RC2)

**PC:**
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Instal

[2021-03-04 16:58] #3060 closed

[2021-03-04 18:31] nerrad commented on #3596
At this point we're likely not going to address this in line with the points Nadir made in his reply.

[2021-03-04 18:31] #3596 closed, assigned to nobody

[2021-03-05 09:54] opr commented on #3784
While working on this, we noticed a significant UX problem. Further discussion around this can be found here: pca54o-19H-p2

[2021-03-05 17:43] peterfabian commented on #3466
Apologies for missing the ping. As far as I know, tagging products as featured is just a way to include them in the featured products shortcode. As far as I know, and judging by a quick search over the codebase, it serves no other purpose. There is also a related styling class, so people can make these products stand out more easily in their theme if they wish so.

As for removing it--it's not rea

[2021-03-06 14:01] Andrewkow opened #3926 "Provide option to make City field required"
## What do you like about the Cart & Checkout blocks?
Nice layout design and checkout flow!

## What do you think is missing from the Cart & Checkout blocks?
If we could set the "City" field to be required field that would be great because some user they miss out the field.

Thank you!

[2021-03-06 21:02] marcuswisecaesar commented on #3595
This happened in 28227363-hc

[2021-03-06 21:40] nerrad opened #3927 "Improve layout for Order Summary section in the checkout block"
This layout change helps improve the legibility of the order summary section. In the current structure we find this (including subscriptions in the example):

<img width="759" alt="CleanShot 2021-03-06 at 16 34 06@2x" src="https://user-images.githubusercontent.com/1429108/110221346-d2671880-7e99-11eb-83ef-8534591f6109.png">

Some observations from the current implementation:

- There are line brea

[2021-03-06 22:00] senadir commented on #3927
Thank you for filling out the issue Darren.

[2021-03-07 07:10] paymentplugins opened #3928 "PaymentMethodCard does not display checkbox"
## Describe the bug
The `CheckboxControl` used for saving a payment method does not render in the `PaymentMethodCard` component. The `PaymentMethodCard` component located in `assets/js/blocks/cart-checkout/payment-methods/payment-method-card.js` accepts an argument `showSaveOption` which determines if the save payment method checkbox is rendered. The parent component `PaymentMethodOptions` passes

[2021-03-07 09:49] senadir commented on #3928
Hey there @paymentplugins
I will look into this issue to see if we can reproduce it, we had a somehow recent refactor in that area that could have caused this.

[2021-03-07 10:08] senadir commented on #3926
Hey there @Andrewkow
Thank you for your feedback, I'm going to rename this issue so it's more descriptive and triage it accordingly.
Later on, we might fix this directly, close, or provide some sort of solution.

[2021-03-07 10:24] Andrewkow commented on #3926
Hi Seghir,

Thank you so much for taking this attention. Please update me again on this
issue.

Cheers
Andrew

On Sun, Mar 7, 2021 at 6:09 PM Seghir Nadir <notifications@github.com>
wrote:

[2021-03-07 12:56] ninetyninew commented on #891
We have a website with some custom WooCommerce functionality for a non-standard product type which uses woocommerce_loop_add_to_cart_link to conditionally change the add to cart button to a "Select options" button if the product must have options selected (as the add to cart would mean the product is added without selecting options without this).

Is the equivalent not possible at the moment with

[2021-03-07 13:01] ajgw opened #3929 "All Products Block and Product Attributes Filter"
![Bildschirmfoto 2021-03-07 um 14 02 35](https://user-images.githubusercontent.com/3390880/110240787-d48aaf00-7f4d-11eb-9172-58618c727e85.png)
I have setup a page with columns, in left column is a block Filter by Attribute and set to "or", in right column is the All Products Block. If I am on page and try to use the Filters and select more than one filter, only products from alphabetical top produ

[2021-03-08 08:52] iverok commented on #891
It is possible, though not convenient.  There are currently two types of blocks; the "All products" block and the rest. For the rest, there is a HTML filter `woocommerce_blocks_product_grid_item_html` which allows you to rewrite the entire html for the block.

For the "All products block" you need to modify the core Woo hooks that provide information about the product, and then use javascript to r

[2021-03-08 09:48] Aljullu opened #3931 "Evaluate using #start-resizable-editor-section to get responsive styles in the editor preview"
From @nerrad:

Cart and Checkout block currently use the [`useContainerQueries()` hook](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/hooks/use-container-queries.js), so they are not affected. But all other blocks with responsive styles might benefit from those markers.

[2021-03-08 11:20] nerrad commented on #3931
Just noting this has a dependency on Woo Blocks having a minimum requirement of at least WordPress 5.5 before implementing this.

[2021-03-08 11:22] nerrad commented on #3198
This is doable once we bump minimum WP version requirement to at least WP 5.5.

[2021-03-08 11:30] Aljullu commented on #3762
Now that https://github.com/WordPress/gutenberg/pull/29110 has been merged, I updated the title and description of this issue. We will no longer try to get `DropdownSelector` into Gutenberg but instead will try to replace the instances of `DropdownSelector` in our codebase with `FormTokenField`.

[2021-03-08 12:08] mikejolley commented on #3175
Current Events:

- listing_impression (ec:addImpression) - woocommerce_after_shop_loop_item
- listing_click (ec:setAction click) - woocommerce_after_shop_loop_item
- add_transaction (ec:setAction purchase) - [is_order_received_page()](https://github.com/woocommerce/woocommerce-google-analytics-integration/blob/trunk/includes/class-wc-google-analytics.php#L361)
- remove_from_cart (ec:setAction remo

[2021-03-08 13:04] mikejolley commented on #3175
Data requirements:

**Add to Cart / Listing Impression / Listing Click**
id
sku
title
quantity
product_cat term names of current product and parent product
is current query a search?

**Checkout**
As above for all items in cart plus,
variation data (wc_get_formatted_variation)
price

**Transaction**
Order Number
Order Total
Total Tax
Total Shipping
Items (product data same as above)
Items: "get_it

[2021-03-08 13:17] mikejolley commented on #3175
Analytics Pro Events That Intersect with Blocks:

(https://github.com/woocommerce/woocommerce-google-analytics-pro/blob/master/includes/class-sv-wc-tracking-integration.php)

Note some of these use server side hooks which the API still uses, so won't all need a JS event.

- viewed_product (woocommerce_after_single_product_summary)
- clicked_product (woocommerce_before_shop_loop_item)
- added_to_ca

[2021-03-08 13:30] mikejolley opened #3933 "Create Reusable Event Emitter System"
We need a system to fire custom JavaScript events with a name and payload of data. We can create a custom hook for this.

An example would be for an "add to cart" event. When this happens we need to dispatch a JavaScript event with the product details and quantity. This will allow 3rd party plugins to do something when this occurs.

[2021-03-08 13:39] mikejolley opened #3934 "GA: Cart Events"
Blocked by #3933

Some actions need to emit native JavaScript events for 3rd parties to pick up. These include:

- [x] Add to cart
- [x] Remove item from cart
- [x] Change cart item quantity

[2021-03-08 13:41] mikejolley opened #3935 "GA: Emit Events when viewing product blocks"
Blocked by #3933

Some blocks need to fire a "view" event. This is for Google Analytics.

- Product (list)
- Single product
- Clicking a link in a product block

[2021-03-08 13:43] mikejolley opened #3936 "Integrate Google Analytics Extension with new event emitters"
Once event emitters exist in blocks, we need to write some client side code in the Google Analytics extension to listen for these events, shape them, and send them to google.

This work will go into https://github.com/woocommerce/woocommerce-google-analytics-integration but tracking here.

[2021-03-08 17:52] opr commented on #3923
Currently the "Featured product block" allows selecting all products, not only ones marked as featured. I feel like it would be frustrating to the site editor/merchant if they were only allowed to select products marked as featured to be displayed in this block. Perhaps the naming is confusing, as it is more like a "Product callout block", and does not actually have any correlation to _products_ b

[2021-03-08 17:52] #3923 closed, assigned to nobody

[2021-03-08 18:29] ninetyninew commented on #891
@iverok Thanks for the information, so with woocommerce_blocks_product_grid_item_html I guess I could replace {$data->button} conditionally with my changed button in my scenario? That sounds like a way to get this working except for the All products block - which I can recommend is not used or figure out a way to disable it from use (as I know it can't be filtered so it has missing custom function

[2021-03-09 10:28] iverok commented on #891
@ninetyninew

I don't have a comment on your other arguments which as you see in this issue have been brought up before, but the products "has_options", "is_purchasable" and other properties are mirrored in the javascript object representing the products; so that filters like 'woocommerce_product_has_options', 'woocommerce_is_purchasable' etc will work for some of these scenarios.

For _adding_ el

[2021-03-09 10:50] #2906 closed

[2021-03-09 11:15] #3800 closed, assigned to Aljullu

[2021-03-10 00:32] paymentplugins commented on #3928
Hi @senadir,

Thank you for taking a look at this issue.

Kind Regards,

[2021-03-10 01:44] erikdemarco opened #3943 "Best seller by time range"
Hi, please add best seller block option to show based on certain timerange (for example by: last week, last month, last year, all time).
Currently woocommerce block only support showing all time best seller. Which a bit doesnt make any sense. New product hit the market all the time. there is no point showing very old best seller product. If you look all the big boys in marketplace. They never show

[2021-03-10 11:18] opr commented on #3929
Hi there, thanks for your report - I have tried to replicate this using only WooCommerce 5.0 but I was unable to. Could you confirm you're not using any other plugins and that this is reproducible using only WooCommerce 5.0?

Please also double check that the "or" option is selected. The way this option is displayed is sometimes confusing, this is how it should appear when "or" is selected.
![imag

[2021-03-10 11:29] louis2b opened #3944 "Cart block and Mix'n Match container"
Hi there, I have tested the blocks and would be happy to see this coming live and compatible with more extensions. I provide feedback regarding compatibility with Mix n Match although I am not sure it would be relevant as it is not yet planned.

Purchasing a Mix and Match container especially when the price is fixed and not per item based, the classic behavior of cart is to block the ability to ch

[2021-03-10 11:43] ajgw commented on #3929
@opr Hi, I checked this on a staging site with few products and you are right, there it works fine. But after upgrading to WC 5.1 the All Products Block does not render anymore. Live Site was updated this morning so I couldn't check there if any other Plugin is involved in this. And yes I tried both settings "and" and "or".

I attached system status from live site were bug was first seen.

Thanks.

[2021-03-10 11:59] opr commented on #3929
Thanks @ajgw - could you confirm that this is the page where you're seeing the error? https://atelier-an-der-muehle.de/fotowelten/

You mentioned that

but for me the All Products Block and Filter by Attribute block on this page seem to be working correctly.

[2021-03-10 12:18] ajgw commented on #3929
Thanks @opr too. Yeah, that is correct page.
Hmm … I checked this on iPad and yes, all works fine. But if I call page on Safari on Mac (Version 14.0.3 (15610.4.3.1.6, 15610)) I get error and many javascript errors in javascript console.
Same in backend were Block does not render but instead I get a error that Block has error and no preview can be shown.

Same bug on staging site were only WC is ac

[2021-03-10 12:55] opr commented on #3929
Thanks for the update, could you share the link to the staging site if possible? I can't reproduce this in Safari either so I'm keen to find a place where I can. Can you verify if this happens in other browsers on your system? (Chrome, Firefox for example).

[2021-03-10 13:06] ajgw commented on #3929
OK, checked in Chrome on Mac and there are no issues. Seems that only Safari on Mac has this.

Page on Stagingsite is this: https://bremerhaven-shopping.de/stage1/all-products/

[2021-03-10 13:14] ajgw commented on #3929
Wondering: after installing WooCommerce Blocks 4.6 Plugin, now I can use the All Products Block again – in admin and frontend too.

[2021-03-10 13:19] ajgw commented on #3929
Checked on Livesite with WooCommerce Blocks Plugin too and yes, now I see Block with contents in admin and frontend. And selecting more than one attribute works now as expected. With extra plugin installed all works fine and you may set this to resolved and close comment? :)

[2021-03-10 13:44] opr commented on #3944
Hi there @louis2b  👋🏼

Thanks for taking the time to make us aware that Mix and Match products isn't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's expected that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

We're currently working on adding extensib

[2021-03-10 13:44] opr commented on #3944
We make note of all feedback we receive and we also close issues with the feedback as active issues are used for bugs or feature/enhancements. It does not mean that we don't note or review the feedback. Closed issues can also still be commented on.

[2021-03-10 13:44] #3944 closed, assigned to nobody

[2021-03-10 15:03] github-actions[bot] opened #3947 "This is a temporary implementation of what exists in @aut..."
This is a temporary implementation of what exists in @automattic/data-stores github.com/Automattic/wp-calypso/blob/0ba7f5a91571b3ba6a84be7db021c7eab247e434/packages/data-stores/src/mapped-types.ts We will need to remove this when @automattic/data-stores is updated on NPM.

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/835332fd8e50c9344247dd8de28c7400d5d20b0c/assets/j

[2021-03-10 15:31] gglobalstep opened #3948 "[GlobalStep] "Product Catalog" fails to display limit of 6 for "Products per row and Rows per page" field as displayed on Page Editor"
## Bug Description:
"Product Catalog" fails to display limit of 6 for "Products per row and Rows per page" field as displayed on Page Editor

## Environment:
Woocommerce Version: WooCommerce 5.1 and 5.0
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.2(13609.3.5.1.5)

# Steps To Reproduce:
1. Create any test site using JN sit

[2021-03-10 15:35] gglobalstep opened #3949 "[GlobalStep] For Twenty Twenty One theme, "Sale" badge appears misaligned if "Products per row" is set to "1"."
## Bug Description:
For Twenty Twenty One theme, "Sale" badge appears misaligned if  "Products per row" is set to "1".

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.2(13609.3.5.1.5)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and ac

[2021-03-10 16:40] nerrad commented on #1942
I'm going to close this issue. Some of this is done, and some of this is accomplished through various refactors as we tighten up how data flows through the app for various needs we work on. So as a separate issue for work to do, I don't think there is much value at this point.

[2021-03-10 16:40] #1942 closed

[2021-03-10 16:46] nerrad commented on #1876
I changed the title because it was a bit aggressive in prescribing a specific solution. I do think at some point we'll want to spend some time looking into optimistic updates but I think it's premature to explicitly call out how that might be implemented in the issue title.

[2021-03-10 17:20] nerrad commented on #1982
This looks like a duplicate of #1876 (or at least something that would be solved as a side-effect of that work). So I'm going to close this. @senadir if you still think this should be a distinct issue, please do re-open with some explanation around how they differ (or maybe if needed, you could update 1876 to highlight any use-cases such as this that should be considered?)

[2021-03-10 17:20] #1982 closed

[2021-03-10 17:22] nerrad commented on #1752
@Aljullu should the description or the title of this issue be changed to reflect the work you submitted to Gutenberg around related needs we have (I think it was a different component you ended up working on)?

[2021-03-10 17:25] nerrad commented on #3340
This is no longer relevant, additional notes around hub requirements were added to the [release checklist](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/.github/release-initial-checklist.md) at some point.

[2021-03-10 17:25] #3340 closed, assigned to nobody

[2021-03-10 17:27] nerrad commented on #3658
@ralucaStan just getting this on your radar as it's related to the alias audit work you did.

[2021-03-10 21:19] lakellie opened #3955 "Product images with large dimensions break WooCommerce blocks on WordPress.com Atomic sites"
**Prerequisites (mark completed items with an [x]):**
- [x] I have have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

**Describe the bug**
When a product using an image with large dimensions is added to a WooCommerce block, the editor crashes with a critical error the next time

[2021-03-11 11:02] ralucaStan commented on #3700
Looks like this has been fixed in the meantime so I am gonna close this issue.
Tested with Version 4.7.0-dev.

<img width="249" alt="Screenshot 2021-03-11 at 11 01 34" src="https://user-images.githubusercontent.com/1628454/110777621-3c483f00-8259-11eb-84d5-6fd6130b2d9f.png">

[2021-03-11 11:02] #3700 closed, assigned to ralucaStan

[2021-03-11 12:04] ralucaStan commented on #3296
Closing this ticket as I could no longer reproduce it. Tested with WC Blocks Version 4.6.0

[2021-03-11 12:04] #3296 closed

[2021-03-11 14:13] opr commented on #3949
Hi, thank you for reporting this. This is not controlled by WooCommerce Blocks, it is actually WooCommerce core that is responsible for this.

I will move the issue to the WooCommerce repository.

[2021-03-11 14:13] #3949 closed, assigned to nobody

[2021-03-11 14:13] opr commented on #3949
Issue moved to [woocommerce/woocommerce #29343](https://github.com/woocommerce/woocommerce/issues/29343) via [**ZenHub**](https://www.zenhub.com/)

[2021-03-11 14:56] Aljullu commented on #1752
@nerrad Correct, I worked on `FormTokenField`, the PR can be found here: https://github.com/WordPress/gutenberg/pull/29110. The idea was to mimic the behavior of our `DropdownSelector` component (used in the Attribute Filter block) in Gutenberg's `FormTokenField`. That would allow us to eventually replace `DropdownSelector` with `FormTokenField` (https://github.com/woocommerce/woocommerce-gutenber

[2021-03-11 16:01] opr commented on #3929
Hey there @ajgw, thanks for looking into this again and working with us to get this resolved. Glad it's working on your end now. Thanks for using WooCommerce Blocks! Have a great day.

[2021-03-11 16:01] #3929 closed, assigned to nobody

[2021-03-11 16:15] mikejolley opened #3951 "GA: Checkout Events"
For the Google Analytics Integration, the following gtag events should be added (from https://developers.google.com/analytics/devguides/collection/gtagjs/events) to checkout:

- add_payment_info
- begin_checkout
- [checkout_progress](https://developers.google.com/gtagjs/reference/event#checkout_progress) and set_checkout_option
- purchase

[2021-03-11 16:19] nerrad commented on #3943
Hi there @erikdemarco  👋

Thanks for taking the time to leave your feature request. While we appreciate you sharing your idea with us, it doesn’t fit in with our current priorities for the project. This doesn't mean what you are suggesting isn't a good idea or doesn't make sense - it's just that we have limited time to work on various projects. At some point we may revisit our priorities and look

[2021-03-11 17:02] opr commented on #3948
Thanks for reporting this, I was able to reproduce, but I believe this to be an issue in WooCommerce Core, so I will move this issue there.

[2021-03-11 17:03] #3948 closed, assigned to nobody

[2021-03-11 17:03] opr commented on #3948
Issue moved to [woocommerce/woocommerce #29347](https://github.com/woocommerce/woocommerce/issues/29347) via [**ZenHub**](https://www.zenhub.com/)

[2021-03-11 20:23] nerrad opened #3954 "Product Price block is not rendering (in All Products block inner content)"
I noticed this when I did a fresh `npm run build` (production build) of current trunk to reproduce another issue I'm currently debugging. My existing All Products block implementation was not rendering the contents for the Product Price inner block. Some brief details (I didn't do any extensive debugging):

- I'm running WordPress 5.7 in my environment (GB plugin is not active)
- I'm running the p

[2021-03-11 20:40] #3928 closed, assigned to senadir

[2021-03-11 21:36] nerrad opened #3956 "Provide payment methods with a way to interact with submitted saved payment method client side."
Some payment methods, such as Stripe, need to be able to do requests to a payment method API for saved payment methods client side before submitting to the server for final processing OR they may need to handle a response from the server requiring more information before the saved payment token is processed (for example 3DS via payment intents).

Currently in the case of Stripe, this 3DS processin

[2021-03-12 13:13] mikejolley commented on #3936
This is being done in blocks so no longer requires a separate tracking issue.

[2021-03-12 13:13] #3936 closed, assigned to nobody

[2021-03-12 13:39] mikejolley opened #3959 "GA: Emit product view events in SSR Blocks"
We need to emit events in the SSR Product Blocks render function to track views. I did a quick test and it looks like JavaScript added to the render() method _does_ run, so it should be possible to use gtag directly in those instances.

[2021-03-13 18:16] paymentplugins opened #3962 "Include setBillingData in usePaymentMethod hook."
## Is your feature request related to a problem? Please describe.
The PaymentMethodInterface which is passed down to express payment methods and standard payment methods does not contain a setter for the billing address. Modern payment methods such as Apple Pay export billing and shipping data which can be used to auto-populate checkout fields. It is common for the billing and shipping address to

[2021-03-14 02:45] alantygel opened #3963 "Products by Category turns into Products by Taxonomy"
## Is your feature request related to a problem? Please describe.
I'm always frustrated when I try to show my products using a custom taxonomy.

## Describe the solution you'd like
I propose that the Products by Category block could turn into a Products by Taxonomy block, adding one option (select taxonomy).

## Describe alternatives you've considered
Going further, this could even merge Products

[2021-03-14 19:11] nerrad commented on #3962
Hi there,

There are some setters we aren't going to be exposing on this API because we want to have some protection around how certain critical pieces of customer data are manipulated.

With that said, it is possible to have various pieces of data updated like shipping selections and billing address via the [checkout flow events system](https://github.com/woocommerce/woocommerce-gutenberg-product

[2021-03-14 19:11] #3962 closed, assigned to nobody

[2021-03-14 19:19] paymentplugins commented on #3962
Hi @nerrad,

Thank you for providing that explanation and the example. After reviewing, it is now clear how payment methods can update the billing data etc without the need for the setters to be exposed.

Kind Regards,

[2021-03-15 08:50] #3956 closed, assigned to nerrad

[2021-03-15 15:03] #3954 closed, assigned to mikejolley

[2021-03-16 07:54] grogou opened #3965 "WooCommerce Product Elements for production ( non for experimental use only )"
## Is your feature request related to a problem? Please describe.
It is not a problem but can be the solution for the one-page product presentation future for stores.

## Describe the solution you'd like
If we can use product elements without the All Products block, like now on the development version we can do single product presentation pages or templates with reusable blocks for that, it can be

[2021-03-16 09:43] #2539 closed

[2021-03-16 09:57] #3566 closed, assigned to ralucaStan

[2021-03-16 11:40] #3934 closed, assigned to nobody

[2021-03-16 11:49] mikejolley commented on #3933
This is closed; we decided to use wp-hooks and doAction calls rather than vanilla JS events.

[2021-03-16 11:49] #3933 closed, assigned to mikejolley

[2021-03-16 12:25] mikejolley commented on #3926
@Andrewkow what locale/country requires the city field? This might need to be updated in Woo core rather than an option in blocks.

[2021-03-16 15:58] Andrewkow commented on #3926
Hi Mike,

We're selling in Singapore, which is a city-state country. Normally, we
fill in the city field with "Singapore" also. But some users/customers will
leave it blank and it will cause issues while we create shipments with a
third-party delivery company. We just want the "City" field to have the
option as a compulsory field.

On Tue, Mar 16, 2021 at 8:26 PM Mike Jolley ***@***.***>
wrote:

[2021-03-16 16:34] mikejolley commented on #3926
@woocommerce/proton Should we move this over to core so the address locale can be changed for Singapore?

[2021-03-16 17:18] ralucaStan opened #3968 "Proceed to checkout button does not work if pressed when there is a coupon validation error"
## Describe the bug
In the Cart block, after I receive a coupon validation error I click on the Proceed to checkout button. It does not take me to the next step, but the button receives focus, and the error of the coupon disappears. I have to click again for the button to work and take me to Checkout.

## To reproduce
Steps to reproduce the behavior:

1. Make sure you use the Cart block
2. Add any

[2021-03-16 18:30] itsinalis opened #3969 "Compatibility with affiliate Plugins"
Hello Guys!

I need to set an affiliate management system for my webshop.

We use Woocommerce Blocks for cart and checkout pages, and it’s really good compared to the default Woocommerce cart and checkout.

Although, none of the Affiliate plugins that I’ve tried so far is compatible with Woocommerce blocks, which causes me a huge problem.

Please, this is urgent!

We need your help!!

[2021-03-17 01:42] Andrewkow commented on #3926
I think that's the better option, especially those who doesn't us Gutenberg
block for check-out page.

Thanks!

On Wed, 17 Mar 2021, 12:34 am Mike Jolley, ***@***.***> wrote:

[2021-03-17 09:43] vedanshujain commented on #3926
@mikejolley please move this one to the core. Thanks!

[2021-03-17 13:30] webdados opened #3973 "canMakePayment not refreshing when user changes "Use same address for billing""
After the #2906 issue was solved, I notice now that this is not refreshed when the user changes the "Use same address for billing" checkbox, which can lead to erroneous behavior and logic on the `canMakePayment` function.

The `canPayArgument.billingData` should default to the same details in `canPayArgument.shippingAddress` when the checkbox is NOT activated and have its own values when the check

[2021-03-17 13:40] webdados commented on #3973
False alarm. My bad.

[2021-03-17 13:40] #3973 closed, assigned to nobody

[2021-03-17 15:00] gglobalstep opened #3985 "[GlobalStep] No spacing between "Search" and "All Products" block on front end"
## Bug Description:
No spacing between "Search" and "All Products" block on front end for "Twenty Twenty-One" and "Twenty Twenty" theme

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)
WooCommerce Admin version: v2.0.2

PC:
Windows 10, Mac 10.14.6
Chrome(Version 88.0.4324.104)
Firefox(Version 86.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any test s

[2021-03-17 15:04] gglobalstep opened #3974 "[GlobalStep] "More" block on Pages/Post and "Read More" block on product description fails to work on frontend"
## Bug Description:
"More" block on Pages/Post and "Read More" block on product description fails to work on frontend

## Test Instructions:
Critical Flows-Add Simple Product to Cart
https://github.com/woocommerce/woocommerce/wiki/Critical-Flows

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.0
WordPress version: (v5.7)
WooCommerce Admin version: v2.0.2

PC:
Windows 10, Mac 10.14.6
Ch

[2021-03-17 19:13] nerrad commented on #3955
Hmm, this is going to be an interesting one to work on. Some suggestions for whoever picks this up:

- Would be good to see if this is isolated to WooCommerce Blocks or if it happens with the same image uploaded for WordPress core image related blocks.
- I'm _assuming_ this is happening for Server rendered blocks, in which case there could be something happening with the processing of the image wh

[2021-03-17 19:17] nerrad commented on #3963
Hi there @alantygel   👋

Thanks for taking the time to leave idea here for improving options by having a Products by Taxonomy. While we appreciate you sharing your idea with us, it doesn’t fit in with our current priorities for the project. This doesn't mean what you are suggesting isn't a good idea or doesn't make sense - it's just that we have limited time to work on various projects. At some po

[2021-03-17 19:20] nerrad commented on #3965
Hi there @grogou,

It's definitely on our radar to continue development for Product Element blocks (and create more). This will be useful for eventual use with Full Site editing and Block based themes coming in the future for WordPress too!

Unfortunately, we've had to pause work on this temporarily and put our resources on the Cart and Checkout blocks. No ETA for when work will resume on the Prod

[2021-03-17 19:20] #3965 closed, assigned to nobody

[2021-03-17 19:25] nerrad commented on #3969
Hi there @itsinalis  👋

Thanks for taking the time to make us aware that affiliate plugins that you've tried aren't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's expected that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

We're currently working on

[2021-03-17 19:25] #3969 closed, assigned to nobody

[2021-03-17 19:32] nerrad commented on #3974
@juliaamosova on the surface, this doesn't appear to be a WooCommerce blocks issue. I'm also having some difficulty understanding what exactly the issue is here (even after viewing the video).

The video doesn't seem to match what is mentioned in the reproduction steps, but going by the video, it looks like the following:

- A Read More block has been added to a WordPress _Post_.
- The tester is v

[2021-03-17 19:35] nerrad commented on #973
A bunch of refactoring has already happened since this issue was initially created. I think tackling the remaining technical debt will be ongoing over time so I'm happy to close this for now.

[2021-03-17 19:35] #973 closed

[2021-03-17 19:35] nerrad commented on #1280
Since we're moving to TypeScript which will replace propTypes I think we can close this.

[2021-03-17 19:35] #1280 closed

[2021-03-17 23:54] itsinalis commented on #3969
Hi there,

Thank you for your email!

Have a good week!

Best,
Jacob

On Wed, 17 Mar 2021 at 21:25, Darren Ethier ***@***.***>
wrote:

[2021-03-18 02:16] djekanovic commented on #2656
Hey @nerrad, did you know that your name in our language actually means "not working". I guess that is what is happening here 👎

[2021-03-18 10:38] opr opened #3975 "Address data not sent to API on checkout block after using shortcode cart's address shipping calculator"
## Describe the bug
When using a combination of the shortcode cart, and the checkout block, if you use the shipping calculator on the shortcode block, but update the address without making any changes, then your pre-filled address data will not be sent to the API when checking out.

Thanks to @waclawjacek for originally finding this.

## To reproduce
This can be a little tricky to reproduce, you m

[2021-03-18 10:40] gglobalstep commented on #3974
"More" block isn't visible when used on Posts/Pages/under Product Description
Please refer to the updated attachment, for more clarification.
As per our understanding, It should display user "continue reading" text and when the user clicks on it, should show the rest of the content. but it fails to work. We have again added an attachment.

Video:
https://user-images.githubusercontent.com/41110392/

[2021-03-18 10:57] nerrad commented on #2656
Hi there @djekanovic,

I see you feel very strongly about this, however personal slurs really won't get you very far and I'm not really sure what your goal is with your comment.

I'm writing this for others that might stumble on this thread. Every maintainer of open source projects have to make decisions around what to focus their effort and time on given the resources available and it's worth not

[2021-03-18 11:12] nerrad commented on #3170
This has shipped.

[2021-03-18 11:12] #3170 closed

[2021-03-18 11:49] opr opened #3976 "Cart and checkout country selects do not prevent keypresses being captured elsewhere"
## Describe the bug
On a Jetpack connected site where the notification panel is present (You may need to use a JN site, I could not get the notification panel to show on my local installation) when typing in the select box for country on either the cart (Shipping calculator) or checkout address fields the keypresses can bubble up and be caught by other elements of the UI.

For example typing `u n

[2021-03-18 13:15] opr opened #3977 "Raw HTML sometimes appears in checkout error message when shortcode cart shipping calculator is used"
## Describe the bug
When you are using the shortcode cart's shipping calculator, and don't enter a ZIP code, when you try to check out in the checkout block the API will return this error:
![image](https://user-images.githubusercontent.com/5656702/111631580-75e5f080-87eb-11eb-8c6e-a77452f240fe.png)

Thanks to @waclawjacek for finding this!

## To reproduce
Steps to reproduce the behaviour:

1. Ena

[2021-03-18 16:10] waclawjacek commented on #3977
I didn't confirm this but it is possible that the problematic HTML is created here: https://github.com/Automattic/woocommerce-services/blob/develop/classes/class-wc-connect-shipping-method.php#L249

If so, this would make this an issue with how Blocks and WooCommerce Shipping & Tax communicate.

[2021-03-18 17:34] opr commented on #3977
I can confirm that this _exact_ bug is not happening without WooCommerce Shipping and Tax enabled, however something similar happens, but the replacement message is: `There was a problem with the provided shipping address: Address is required, ZIP is required` without any HTML.

[2021-03-18 19:42] juliaamosova commented on #3974
Thanks for highlighting this issue @nerrad and thanks for providing more details @gglobalstep!

Here is what I understand is happening:

## Issue 1:

The `Read More` tag of the **Classic WordPress Editor** doesn't work in the Product Description. See the gif that shows my experience below:

http://g.recordit.co/4putp98Ypz.gif

The expectation here is that the description at the front end will firs

[2021-03-18 20:23] nerrad commented on #3974
Typically in WordPress (as far as I understand), the "read more" shortcode or block is intended as a way of signalling where the content should be split in contexts where the post is displayed in _archive_ views (home page listing posts, category list of posts etc). On _single post_ pages, the entire content is always displayed.

I'm not sure if traditionally it's supposed to work the same way for

[2021-03-18 20:41] lomars opened #3978 "The filter hook woocommerce_loop_add_to_cart_link doesn't work"
The filter hook `woocommerce_loop_add_to_cart_link` doesn't work on WooCommerce Blocks involving a product loop like Best selling products,  Products by category …

For example I am using this hooked function:
[code]
It works everywhere on WooCommerce product loops, on WooCommerce shortcode `[products]` replacing add to cart button with a button linked to the single product page. But has no effect

[2021-03-18 21:08] juliaamosova commented on #3974
Issue 1:

@nerrad thanks for your feedback! I'll go ahead and move this issue to Core repo so we could take a look further there.

Issue 2:

You are right indeed. As I read the doc again, it does say that the `Read More` block works only on the homepage, archive pages, and in subscriber emails. I think I am still slightly confused by the fact that the first video in the [Read More doc](https://wor

[2021-03-19 03:06] djekanovic commented on #2656
Then you guys are spending time on useless blocks.

Products by attribute issues:

* It shows only 9 of them
* No pagination also

I don't see the goal of the blocks, when you can use Elementor and build it the same way, but with much more options.

Overall WordPress and Blocks path without many options is a wrong path, i guess few years from now, blocks will have lot of options, including paginat

[2021-03-19 09:27] opr opened #3979 "State (address field) is sometimes kept in the address when switching to an address that doesn't have states"
## Describe the bug
This was discovered by @waclawjacek - thanks!

If you use the shipping calculator on the shortcode cart and enter a US address with State, then successfully check out using the blocks cart, if you change your address using the shortcode cart shipping calculator to a country without states (e.g. Poland) then the US state remains in the address if you switch to the cart _block_.

[2021-03-19 10:05] #3017 closed

[2021-03-19 11:15] nerrad opened #3980 "Improve Payment Methods integration API so either `onPaymentProcessing` event fires for savedTokenHandler components or `onCheckoutBeforeProcessing` allows updating `POST`"
I was notified by the Square payment integration team (hi @mattallan 👋 ) that their saved token handling works a bit differently than the payment method integration API assumes and requires the ability to get the 3DS verification token before the initial checkout submission. The current `onCheckoutSuccessAfterProcessing` event won't work here because the Square extension still needs to process thi

[2021-03-19 13:38] EMBARKwebdesign opened #3981 "Not Updating Product Quantities on Front-end [Basket] (Support for Woo Discount Rules extension)"
Hey,

Using Woo Discount Rules, I am facing an issue in the basket where product quantities are not being reflecting accurately in a case where there is a relationship (promotion) between the two products.

I got this response from the Woo Discount Rules devs.

Hope you can help - thanks in advance!

[2021-03-19 14:03] nerrad commented on #3981
Hi there @EMBARKwebdesign  👋

Thanks for taking the time to make us aware that Woo Discount Rules isn't working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it's expected that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core might not work with the blocks.

We're currently working on adding exte

[2021-03-19 14:03] #3981 closed, assigned to nobody

[2021-03-19 14:11] Aljullu commented on #3980
Thanks for investigating this issue and proposing several possible solutions @nerrad!

In the Slack combo of this morning, I was confused by the fact that saved payment methods don't fire the `onPaymentProcessing` event. I can imagine 3rd-parties will be confused by this as well, so making the checkout flow more similar between saved and new payment methods would be an improvement IMO.

I leave th

[2021-03-19 22:07] paymentplugins commented on #3962
Hi @nerrad ,

There is still one thing that isn't 100% clear to me regarding this flow. The `onSubmit` function is provided to payment methods so they can trigger the Processing status. However, before the Processing status is set, the `CHECKOUT_BEFORE_PROCESSING` events are emitted which perform validation checks on the billing and shipping fields. If there are some fields that are invalid, then

[2021-03-20 13:20] nerrad commented on #3962
It sounds like you are creating what we call an "Express Payment Method" (ApplePay) but might be registering it as "regular" payment method. Billing and Shipping address validation in the [checkout is skipped](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/00cf944485eb9e9ec7553035e48ba3daea796a67/assets/js/base/context/cart-checkout/checkout/processor/index.js#L71-L74) fo

[2021-03-20 15:22] paymentplugins commented on #3962
Hi @nerrad,

Thank you for your reply. Yes, I was attempting to integrate an "Express Payment Method" in the regular payment method section to make it available in both Express and Regular sections. I did not realize that in the new opinionated design the Express method should not be included in the regular payment method section.

Thanks for the clarification.

Kind Regards,

[2021-03-20 15:34] nerrad commented on #3962
One other advantage of the express payment registration, is that automatically makes it available in the Cart context as well. Express Payments are intended to be used for Payment Methods that have their own self-contained billing/shipping/wallet type forms to help accelerate the checkout experience (which is also why they are the first thing the shopper sees in the checkout, and available in the

[2021-03-20 17:00] nerrad opened #3984 "Rename `onCheckoutBeforeProcessing` to `onCheckoutValidationBeforeProcessing`"
This idea came up as I considered the problem outlined in #3980 when I realized the `onCheckoutBeforeProcessing` is tightly coupled to the validation when the checkout has been submitted (as a quick way to alert the user there is something missing/wrong before submitting to the server).

Given its use-case, I suggested that it would make sense to change the name of this event to something like `on

[2021-03-20 17:01] nerrad commented on #3980
I created #3984 for the rename of the `onCheckoutBeforeProcessing` hook.

[2021-03-21 16:44] Magganpice commented on #2823
This issue is still there.

[2021-03-21 18:08] nerrad commented on #3181
@opr can you link any in progress prs related to the work for this epic to the issue. Thanks!

[2021-03-21 18:11] nerrad commented on #3110
I'm going to close this because there are issues in the related repos for Storefront child themes compatibility and is being tracked separately.

[2021-03-21 18:11] #3110 closed

[2021-03-21 18:18] #3387 closed, assigned to nobody

[2021-03-21 18:18] nerrad commented on #3387
Issue moved to [woocommerce/woocommerce-gateway-stripe #1503](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1503) via [**ZenHub**](https://www.zenhub.com/)

[2021-03-21 18:20] nerrad commented on #2166
Issue moved to [woocommerce/woocommerce-gateway-stripe #1504](https://github.com/woocommerce/woocommerce-gateway-stripe/issues/1504) via [**ZenHub**](https://www.zenhub.com/)

[2021-03-21 18:20] #2166 closed

[2021-03-21 18:27] nerrad commented on #3926
Issue moved to [woocommerce/woocommerce #29455](https://github.com/woocommerce/woocommerce/issues/29455) via [**ZenHub**](https://www.zenhub.com/)

[2021-03-21 18:27] #3926 closed, assigned to nobody

[2021-03-21 20:37] juliaamosova commented on #3985
Hi @gglobalstep,

Thank you for reporting the issue. It looks like this is a WooCommerce Product Blocks issue. WooCommerce Product Blocks are being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2021-03-22 00:13] iker87 opened #3986 "Please, add support for WooCommerce PayPal Checkout Gateway"
## What do you like about the Cart & Checkout blocks?
Checkout design

## What do you think is missing from the Cart & Checkout blocks?
WooCommerce PayPal Checkout Gateway support

[2021-03-22 06:02] mattallan opened #3988 "Add `shouldSavePayment` to the list of props passed to payment method components"
Hi team 👋 I'm working on more Square Cart/Checkout block integration and I've hit another roadblock.

When handling 3D Secure requests, we need to send a `verifyBuyer()` request to Square from the client-side which needs to include an [`intent`](https://github.com/woocommerce/woocommerce-square/blob/8a31ab58b544be970a64889f90855d08d226d157/assets/js/frontend/wc-square.js#L497) value. This intent v

[2021-03-22 09:31] opr commented on #3181
There is a single PR which will complete all necessary actions for this epic: 233-gh-woocommerce/storefront-powerpack

[2021-03-22 09:49] opr commented on #3181
Other literature:

Open request with docs guild: p1615987381004400-slack-CSP74N77C
P2 warning for Woo Support: p6q7sZ-8rb-p2

[2021-03-22 09:50] #3181 closed

[2021-03-22 13:22] mikejolley commented on #3986
Hello

These blocks are still in early access (via the feature plugin) and it's expected that some existing payment methods will not work with the blocks.

**That said, you can currently use PayPal Standard with the Checkout Blocks which is a gateway included with WooCommerce core.**

Currently it's up to payment method extension developers to add support for the new checkout flow offered via the

[2021-03-22 13:22] #3986 closed, assigned to nobody

[2021-03-22 13:54] iker87 commented on #3986
Hello Mike, thanks for the quick reply, you say the best action is to notify the developer... and that is what I'm doing. The plugin I'm talking about is yours

https://wordpress.org/plugins/woocommerce-gateway-paypal-express-checkout/

[2021-03-22 14:02] #3980 closed, assigned to nerrad

[2021-03-22 14:48] mikejolley commented on #3986
We have an open issue for that but no timeline for it https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3173

[2021-03-22 14:54] mikejolley commented on #3955
When I first saw this issue I just assumed we'd be using that full size image somewhere and breaking things, however, I checked how our SSR blocks work and they generate HTML from the image like this:

[code]

`woocommerce_thumbnail` is a registered image size (registered by Woo core) which is registered here:

https://github.com/woocommerce/woocommerce/blob/1dfece1d9ff87d2e6bbec4cc08c22b0921d74e9

[2021-03-22 15:54] nerrad commented on #3955
I think what you've done so for @mikejolley helps narrow it down further. @zhongruige given Mike's findings, and this doesn't appear to be a blocks specific issue, does that give you folks enough info to try and narrow it down further around what is happening here?

[2021-03-22 16:03] mikejolley commented on #3955
On the affected test sites, it might be worthwhile trying to reproduce the issue on other views, such as the main WooCommerce shop page (this also uses the `woocommerce_thumbnail` image size) and then checking the logs for timeouts.

[2021-03-22 17:55] #3988 closed, assigned to nerrad

[2021-03-23 15:15] opr commented on #3947
This is currently blocked by https://github.com/Automattic/wp-calypso/pull/51241

[2021-03-23 16:54] tammullen commented on #3657
I have ran into this issue a few times today when using WC 5.1 and 5.2 Beta 1

Adding my observations

## To reproduce
Steps to reproduce the behavior:

1. On a site (I tried with JN and Pressable) with WooCommerce 5.1 only (no separate WooCommerce Blocks plugin)
2. Go to add new page
3. Add all products block
4. Error displayed "This block has encountered an error and cannot be previewed"
![Scree

[2021-03-23 17:09] nerrad commented on #3657
@senadir can you look into this please and see if you can determine what might be happening here?

[2021-03-23 17:10] senadir commented on #3657
I will.

[2021-03-23 17:14] nerrad commented on #3657
@tammullen are you able to reproduce this anywhere _without_ using the beta tester plugin to switch versions? I'm wondering if this is an issue with all the files not being setup correctly in the Woo install via that method of switching versions. From the original report, it sounds like that was the issue in that case as well.

The reason why I'm thinking this may be the cause, is the errors you a

[2021-03-23 17:26] senadir commented on #3657
Hey @tammullen I'm not able to reproduce locally (using git) or on Jurassic ninja (first installing 5.1 and using beta switcher to install 5.2 beta). I will try more, and have a team member try as well.

[2021-03-23 17:48] senadir commented on #3657
I tested 4 websites (locally, pressable, 2 jurassic ninja), going back and forth between 5.1 RC, 5.1, and 5.2 beta 1 and I was still unable to reproduce.
I used WooCommerce Beta tester but there was still nothing.

As others said, this seems to be an issue with a missing file due to some faulty setup. Without being able to reproduce, I can't fix this.

[2021-03-23 17:48] #3657 closed, assigned to senadir

[2021-03-23 18:03] nerrad commented on #3657
Thanks Nadir! @tammullen I think a good next step here would be to examine your environment when you are reproducing to check if the file paths for the missing js files are correct for where your site is hosted. I suspect that either:

a. There's some dynamic path switching happening when switching between versions that might be confusing caches OR
b. There's a bad installation of the Woo version

[2021-03-23 22:46] tammullen commented on #3657
Thanks @senadir and @nerrad for looking into this!

Good to see it isn't widespread, thanks for checking.

I had been able to trigger it earlier on some new JN sites with nothing else installed and then installing 5.2 beta manually however this didn't happen every time and was very inconsistent (albeit I realised in hindsight I was using the same browser window for all of these). Since then now in

[2021-03-24 10:40] senadir commented on #3968
This is a technical explanation of what's happening.

When you have an error, the layout shifts to the bottom a bit. When you go to click on the button, you register a keydown event (that causes the focus to register) but the moment you blur off the coupon, the error disappears, causing a jump (and the button going up), so by the time you get to `keyup` the button is not there anymore and you clic

[2021-03-24 10:45] senadir commented on #3927
While I have a local PR already lined up for this, there are still unanswered questions in the P2 post preventing me from fully finishing. I went along and had this in the icebox until I know for certain how we're going to handle the remaining cases.

[2021-03-24 13:28] #3827 closed, assigned to opr

[2021-03-24 15:53] ralucaStan commented on #3968
Persisting the error on blur just for this field raises some issues as it's also used in the checkout and there the persistent error makes the form invalid. It also changes the TextInput just for this case.
So I opted[ in this PR ](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3996)to solve the issue just for the coupon field by adding the space taken by the error. If th

[2021-03-24 16:49] ghost commented on #3258
Hey everyone! Is there any news when we can have checkbox for privacy policy/accept the agreements! Thanks for answering

[2021-03-24 17:36] opr commented on #3976
I have opened an upstream issue https://github.com/WordPress/gutenberg/issues/30204 which should resolve this.

[2021-03-24 19:37] qvacode opened #3998 "Lack of functionality"
1- I have assigned a method of payment with cryptocurrency and when I use the blocks it does not appear.

2- I have eliminated the address fields. But when the plugin reappear.

[2021-03-25 11:52] mikejolley commented on #3998
Hi @webdavs

Regarding payment methods (1), these blocks are still in early access (via the feature plugin) and it's expected that some existing payment methods will not work with the blocks. Currently it's up to payment method extension developers to add support for the new checkout flow offered via the cart and checkout blocks. We have [some documentation on that here](https://github.com/woocomm

[2021-03-25 11:52] #3998 closed, assigned to nobody

[2021-03-25 17:00] mikejolley commented on #3985
I wasn't able to replicate this one on either. The Form element in the Search Block has correct margins. Screenshot:

<img width="781" alt="Screenshot 2021-03-25 at 16 58 24" src="https://user-images.githubusercontent.com/90977/112512750-8f5adf80-8d8b-11eb-8611-a3e20413d700.png">

[2021-03-25 18:03] ralucaStan commented on #3975
I did a lot of testing on this one. One situation I came across repeatedly:
- I follow the testing steps
- I see the error, BUT the country field is sent (see image below)
- I click the submit again without changing anything
- The form is submitted

<img width="1270" alt="Screenshot 2021-03-25 at 17 36 54" src="https://user-images.githubusercontent.com/1628454/112517940-d0092780-8d90-11eb-8a4a-02a

[2021-03-26 10:56] senadir commented on #3981
Hey @EMBARKwebdesign I actually fixed this issue a couple of weeks ago and it went out as part of 4.7.0 can you confirm if it was fixed or not?
https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3907

[2021-03-26 12:21] mikejolley commented on #3975
@Raluca I actually have no idea where to begin with this one. You could probably start by seeing what is actually set in the order object when this point is hit: https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/952d38a204dd4f4956c1af2846bb9f7d71ab820f/src/StoreApi/Utilities/OrderController.php#L215

[2021-03-26 16:11] gglobalstep opened #4001 "[GlobalStep - Integration Tracking (WC Subscriptions)] "Something went wrong" error message is displayed on cart page upon removing the product from the cart and adding the new product from the "New in Store" section."
## Bug Description:
"Something went wrong" error message is displayed on cart page upon removing the product from the cart and adding the new product from the "New in Store" section.

## Environment:
Woocommerce Version: WooCommerce 5.1
WordPress version: (v5.7)

PC:
Windows 10
Chrome(Version 89.0.4389.90)
Firefox(Version 86.0)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Inst

[2021-03-26 16:17] gglobalstep opened #4002 "[GlobalStep - Integration Tracking (WC Subscriptions)] On Cart page, the "Due today" amount fails to update after applying the coupon."
## Bug Description:
On Cart page, the "Due today" amount fails to update after applying the coupon.

## Test Instructions:
https://gist.github.com/senadir/895e901e7189d9546d8200eac2fbbd90#subscription-coupons

## Environment:
Woocommerce Version : WooCommerce 5.1
WordPress version: (v5.7)

PC:
Windows 10
Chrome(Version 89.0.4389.90)
Firefox(Version 86.0)

## Steps To Reproduce:
1. Create any test

[2021-03-26 16:23] gglobalstep opened #4003 "[GlobalStep - Integration Tracking (WC Subscriptions)] Scripts errors gets triggered upon visiting "Cart" and "Checkout" pages."
## Bug Description:
Scripts errors gets triggered upon visiting "Cart" and "Checkout" pages.

## Environment:
Woocommerce Version : WooCommerce 5.1
WordPress version: (v5.7)

PC:
Windows 10
Chrome(Version 89.0.4389.90)
Firefox(Version 86.0)

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins
1. Complete the onboarding setup wizard
1. Inst

[2021-03-28 14:44] mrfoxtalbot opened #4006 "Images on Featured Product Category Block not showing on emails"
The Featured Product Category block adds the category image as a background:

![Screen Shot on 2021-03-28 at 16:19:48](https://user-images.githubusercontent.com/4452464/112755789-929bd880-8fe2-11eb-9146-478b2866c0cd.png)

... but in emails, neither this background image nor the category title are showing. Only the button in the block is showing.

![Screen Shot on 2021-03-28 at 15:15:00](https://us

[2021-03-29 08:57] grogou commented on #3965
Hi @nerrad.

Thank you for your response and sorry for the late from my side.

I am trying to create a single-page product presentation page with woo blocks like this.
https://www.xbox.com/en-US/consoles/xbox-series-x?xr=shellnav

So we have all the tools to create this page on WordPress editor, the only thing we need is atomic blocks, to show dynamic data from product, like price, title, descript

[2021-03-29 09:51] #3977 closed, assigned to opr

[2021-03-29 13:09] B-Novembit opened #4008 "A feature request about new filter blocks for the shop/all products block."
Hi there,

## Is your feature request related to a problem? Please describe.
It is a feature request about new filter blocks for the shop/all products block. Currently, there are no options for 'filter by rating', 'filter by availability/stock status', or additional sorting options we can put elsewhere. We know it is still a work-in-progress so I want to understand how to approach this part.

## D

[2021-03-29 13:42] leewillis77 opened #4009 "Clarify status of __experimental_woocommerce_blocks_checkout_order_processed hooks"
Following the recent [call-to-action to add support for the new checkout block](https://developer.woocommerce.com/2021/03/15/integrating-your-payment-method-with-cart-and-checkout-blocks/), I'm looking at integration in a couple of plugins I maintain.

One of the aspects I'm looking at is the fact that the `woocommerce_checkout_order_processed` hook isn't fired, and in its place there is `__experi

[2021-03-29 18:13] Aljullu commented on #4008
Hi @B-Novembit thanks for your kind words!

In the future we might add a Filter by rating block, similar to the widget in WooCommerce core with the same name. Unfortunately, I can't promise when this is going to be worked on since our current focus are the Cart and Checkout blocks.

AFAIK, there are no current plans to add other filter blocks like the one you described for stock status.

It defini

[2021-03-29 18:13] #4008 closed, assigned to nobody

[2021-03-29 18:18] Aljullu commented on #4001
I was able to reproduce. The issue happens when you add any product to the Cart from the Empty cart page.

[2021-03-29 18:26] Aljullu commented on #4003
Confirming I get the same errors. Those scripts are [deregistered](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/4cedb65367be0d1c4c1f9dd9c016e3b1325cf92e/src/BlockTypes/Cart.php#L72-L75) when Cart and Checkout blocks are rendered (that was introduced in this PR: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/2842), for some reason it still expec

[2021-03-29 18:34] Aljullu commented on #3985
Same results as @mikejolley, I can see margin in both TwentyTwenty and TwentyTwentyOne. Closing for now, we can reopen if we can reproduce it at some point.

[2021-03-29 18:34] #3985 closed, assigned to nobody

[2021-03-29 18:45] Aljullu commented on #4002
I'm unable to reproduce this, @gglobalstep it looks like the Steps to reproduce are not from this issue? Given the screenshot, I assumed you tested with a `Recurring Product % Discount` coupon, like [this one](https://d.pr/i/wUz7QS), is that correct?

[2021-03-30 07:26] ninetyninew commented on #3978
These is a lot of discussion about this here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/891

We are having tons of issues with this, we've got numerous plugins which use filters like this one and many more to add additional functionality, products driven from the templates work fine, blocks end up with a different look/functionality - in some cases this means the u

[2021-03-30 07:40] ninetyninew opened #4012 "Cart/checkout blocks do not respect filters/actions"
Unsure if this is the right repository for cart/checkout blocks - it looks like those are included in this repository, apologies if not the right one (couldn't find another repo).

## Describe the bug

We have read https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/891 and related posts like https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3978 but

[2021-03-30 09:05] Aljullu commented on #4012
Hi @ninetyninew, thanks for contacting us! Yes, this is the right repo for the Cart and Checkout blocks. :slightly_smiling_face:

Extension support in Cart and Checkout blocks is still experimental and we are aware there are some things extensions can tweak in the Cart and Checkout shortcodes which is not possible to tweak in the blocks. Some of them will be enabled in the future while some others

[2021-03-30 09:05] #4012 closed, assigned to nobody

[2021-03-30 09:07] Aljullu commented on #3474
I can still reproduce, so removing the `stale` label.

[2021-03-30 09:08] opr commented on #4002
@Aljullu This was discussed here p1616760741108600/1616759988.103600-slack-C011ENB20Q1

[2021-03-30 09:22] Aljullu commented on #4009
Hi @leewillis77, great to hear you are looking into integrating your extensions with the Cart and Checkout blocks.

The call-to-action post from developer.woocommerce.com was mostly intended to payment methods. While we consider the payment method integration API to be pretty stable, the extensibility points for other extensions are still experimental and might suffer changes in the future as we m

[2021-03-30 09:22] #4009 closed, assigned to nobody

[2021-03-30 09:25] Aljullu commented on #4002
Ah, thanks @opr! Assigning this one to @senadir based on that discussion.

[2021-03-30 11:42] mikejolley commented on #3150
@nerrad What is the value in offering client-side validation if we're posting updates to the server anyway? This would introduce a performance issue in that we would be making unnecessary requests to the server and saving potentially invalid data (which could also be rejected by the API validation causing more error notices to display).

[2021-03-30 11:59] nerrad commented on #3150
@mikejolley I think we'd need to be calculated about _when_ the extra details are captured. Are there any points in the checkout flow where the client has validated a certain set of data that can be used to update the draft order on the server with that data? The primary benefit here from the merchant perspective would be having potential additional data to work with if they wanted to followup wit

[2021-03-30 12:16] mikejolley commented on #3150
@nerrad I think this may need some design input, and some revisions to the steps. For example, one thing we could do is instead of trying to send data to the server on blur (or validate) would be to wait for an event such as a button to progress after inputting shipping address. This would validate, post to server, and get shipping rates. A mechanism like that would also solve this issue indirectl

[2021-03-30 13:01] nerrad commented on #3150
Okay, thanks Mike, I'll put this back in the backlog for now.

[2021-03-30 13:05] mikejolley commented on #3150
@nerrad I'd be happy to investigate the button approach—it would definitely reduce unnecessary requests to the server (requests before address info is complete).

[2021-03-30 13:18] mikejolley commented on #3975
@ralucaStan just to let you know I'm looking at this in more depth today.

[2021-03-30 13:28] nerrad commented on #3150
Fantastic, thanks Mike. As discussed I'll add this as a cooldown task.

[2021-03-30 15:34] mikejolley commented on #3975
I think it's caused by this which I just created a PR for ^

I will attempt a workaround our side to avoid these getters.

[2021-03-31 09:26] #3975 closed, assigned to mikejolley, ralucaStan

[2021-03-31 12:06] igotdes opened #4019 ""Sale" Not Being Translated on the All Products Block"
## Describe the bug
When using the All Products block, "Sale" is translated while editing a page. However, on the front end, it's not.

## To reproduce
Steps to reproduce the behavior:

1. On WP Admin > Settings, set the Site Language to a language other than English like PT BR - Português do Brasil
2. Make sure to download any translation updates under My Home > Updates
3. Create a page, add the

[2021-03-31 14:22] #3935 closed, assigned to mikejolley

[2021-03-31 14:22] #3951 closed, assigned to mikejolley

[2021-03-31 14:22] #3959 closed, assigned to mikejolley

[2021-03-31 14:53] Aljullu commented on #4006
Thanks for opening this issue @mrfoxtalbot! I was able to reproduce: the Featured Product and Featured Category block images are not shown when using the Subscription by email feature in Jetpack, instead only the button text is displayed. In Jetpack's repo there is a PR we could use as a reference (https://github.com/Automattic/jetpack/pull/17638), even though I'm not sure only using CSS will be e

[2021-03-31 16:57] gglobalstep opened #4021 "[GlobalStep] Randomly, "Oops, There was an error loading the content" error message is displayed for "Filter by Price" block."
## Bug Description:
Randomly, "Oops, There was an error loading the content" error message is displayed for "Filter by Price" block upon filtering price multiple times.

## Environment:
Woocommerce Version : WooCommerce 5.1 and 5.2 RC 1
WordPress version: (v5.7)

PC:
Windows 10, Mac 10.14.6
Chrome(Version 89.0.4389.90)
Firefox(Version 86.0)
Safari: v13.1.1

## Steps To Reproduce:
1. Create any tes

[2021-04-01 05:09] AashikP opened #4022 "Integration Tracking (WC Subscriptions): `Something went wrong` while clicking the back button on browser in Checkout page"
## Describe the bug

If you hit the back button on the browser (Tested in Chrome) while on the checkout page, you'll see the following error in Chrome:

## To reproduce

1. Add a product to the cart
2. Access the Checkout block page
3. Ensure you've set up a cart redirect option to the cart blocks page
4. See the error:
    ![https://d.pr/i/CfzPbc+](https://d.pr/i/CfzPbc+)
5. Notice that reloading

[2021-04-01 05:17] AashikP opened #4023 "[Stripe] Support Payment gateway details"
## Describe the bug

Some payment gateway extension displays additional details for the customers in checkout page. As of now these are not displayed in the checkout block.

## To reproduce

1. Set up [Stripe](https://woocommerce.com/products/stripe/?aff=10486&cid=1131038) in test mode
2. Access checkout page, and compare it with checkout block page
3. Notice that checkout page displays additional

[2021-04-01 08:59] Aljullu commented on #4022
Thanks for filling this issue! This seems to be very similar, if not the same, as #4001 but with different testing steps. So I'm going to close it as a duplicate of that one since the solution is probably the same for both.

[2021-04-01 08:59] #4022 closed, assigned to nobody

[2021-04-01 08:59] Aljullu commented on #4001
Heads-up that #4022 is the same issue but with different testing steps. I closed that one as a duplicate of this because I expect the same solution will work for both.

[2021-04-01 09:33] Aljullu commented on #4021
Thanks for opening this issue, however we are unable to reproduce it (tested by @opr and myself). I will proceed closing it, but feel free to reopen if you can provide more details in order to reproduce it.

[2021-04-01 09:33] #4021 closed, assigned to nobody

[2021-04-01 10:53] gglobalstep commented on #4021
This is observed as we keep filtering with the filter like low to high, high to low and this will happens.  We are ok with closing the issue and will reopen it if observed again.

[2021-04-01 12:11] Aljullu commented on #4021
@gglobalstep yes, please do! :slightly_smiling_face:  Also, if you could provide a video or live link so we can see it in real life, it would be helpful. It would also be helpful if you share the page contents with us, you can do that from the editor with <kbd>Ctrl</kbd> + <kbd>A</kbd> (to select all blocks) and <kbd>Ctrl</kbd> + <kbd>C</kbd> (to copy). And then, paste the contents in GitHub or so

[2021-04-01 15:41] Aljullu opened #4026 "Shipping packages name not shown in the Checkout block"
## To reproduce
Steps to reproduce the behavior:

1. Install [WooCommerce Advanced Shipping Packages](https://woocommerce.com/products/woocommerce-advanced-shipping-packages/).
1. Go to WooCommerce > Settings > Shipping > Shipping classes and create a shipping class. This is an example one I created:
![imatge](https://user-images.githubusercontent.com/3616980/113316832-0dc8fb80-930f-11eb-81fb-8573

[2021-04-01 16:04] dreamwhisper opened #4027 "WP 5.7: Featured category block button alignment"
## Describe the bug
Buttons in the featured category block are aligned left instead of center after updating to WordPress 5.7.

## To reproduce
Steps to reproduce the behavior:

1. Install or update to WP 5.7
2. Create a category and assign it to a product.
3. Create a post or page and insert a featured category block into the page.
4. Select your category, save and view on the front end.
5. Note

[2021-04-01 16:58] Aljullu commented on #4027
Thanks for opening this issue @dreamwhisper! It looks like this is the same as #3788, so I will close this one as duplicate. Feel free to follow that bug if you want to know when it gets fixed.

[2021-04-01 16:58] #4027 closed, assigned to nobody

[2021-04-01 17:01] Aljullu commented on #3788
@nerrad every once in a while we get reports of this issue. What do you think about including it in next cooldown or sprint?

[2021-04-01 17:05] nerrad commented on #3788
I also think it's a nice candidate for porter rotation? I'll give it a cooldown tag for now.

[2021-04-02 08:33] revpower opened #4029 "Translated Checkout: order-received endpoint always reverts back to default language"
## Describe the bug
When checking out in another language (using latest WPML plugin + WooCommerce Blocks 4.8), the order-received endpoints redirects to the default language order-received endpoint.  The order-received endpoint should remain in the same language as per the checkout language

## To reproduce
Steps to reproduce the behavior:

1. Change language of site to any non-default language (i

[2021-04-02 10:56] Aljullu commented on #4029
Hi @revpower, thanks for opening this issue! I have been investigating how this work internally, and unfortunately I don't think we can do much to fix it, this needs to be handled by WPML.

All URLs generated by the Store API included in WC Blocks use the standard WP [`get_permalink()`](https://developer.wordpress.org/reference/functions/get_permalink/) function. It has a filter named `post_link`

[2021-04-02 10:56] #4029 closed, assigned to nobody

[2021-04-02 13:07] kraftbj opened #4031 "Product by * Blocks: Option for output when no products exist"
## Is your feature request related to a problem? Please describe.
We have seasonal "flash sales" where items are only offered once and once sold out, they're gone. For the individual product pages, that's fine. We have it set to not display products when they're sold out so they disappear from the sale page to help focus sales toward the items that are in stock.

We list these by tag using the Pro

[2021-04-02 18:53] gustavo-roganti commented on #854
WooCommerce reads the max_row variable using this code:

`wc_get_theme_support( 'product_blocks::max_rows', 6 )`

Which means you can customize the value in your theme using

`add_theme_support('woocommerce',['product_blocks' => ['max_rows' => 10]]);`

[2021-04-04 12:19] senadir commented on #4002
This seems to be an issue with the testing instructions actually, the results above are correct, the item should now show the coupon value. I'm going to close this.

See this PR https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3905

[2021-04-04 12:19] #4002 closed, assigned to senadir

[2021-04-06 02:25] jfidelsolutions opened #4036 "Mailchimp for WooCommerce Opt-in Newsletter Checkbox Missing"
Hello,

After running some tests I've realized that when I have WooCommerce Checkout Block active the (Mailchimp for WooCommerce plugin) Opt-In newsletter checkbox is missing from my checkout page. When I deactivated the plugin the checkbox automatically reappeared. Please help me troubleshoot this! Thank you.

[2021-04-06 06:16] #3788 closed, assigned to Aljullu

[2021-04-06 09:23] guyfullpower opened #4037 "Translation not fully loading from translate.wordpress.org"
i have an issue on the cart page that the words: subtotal, shipping and save arent translated and also cannot be translated using a plugin like Loco Translate as show in the attached image.
(the wordpress and also the plugins are up to date, i just double checked)
![Capture](https://user-images.githubusercontent.com/40365063/113688468-ffddf680-96d1-11eb-90a3-8c9f9d57694c.JPG)

[2021-04-06 11:15] #3947 closed, assigned to opr

[2021-04-06 11:59] #3175 closed

[2021-04-06 15:26] senadir commented on #4036
Hi there @jfidelsolutions  :wave:

Thanks for taking the time to make us aware that Mailchimp for WooCommerce isn’t working with the Checkout and Cart blocks. These blocks are still in early access (via the feature plugin) and it’s expected that some existing Woo Extensions that integrate with the current checkout flow in WooCommerce core will not work with the blocks.

We’re currently working on

[2021-04-06 15:26] #4036 closed, assigned to nobody

[2021-04-07 02:37] ldr2273 commented on #4001
I was able to reproduce this as well, but I'm just noting that I can only replicate this when clicking on a Simple Subscription in the Newest Products block, not variable subscriptions.

Simple: https://d.pr/i/jPKlgp

Variable: https://d.pr/i/4mZKsi

[2021-04-07 18:26] nerrad commented on #1610
Thanks for the report, however I'm unable to reproduce with WordPress 5.7 and the latest WooCommerce Blocks feature plugin or what is included with WooCommerce 5.2 (release candidates). I get this when following the reproduction steps:

<img width="882" alt="CleanShot 2021-04-07 at 14 23 21@2x" src="https://user-images.githubusercontent.com/1429108/113915832-3e94af00-97ad-11eb-9409-f1f12b652758.pn

[2021-04-07 18:26] #1610 closed

[2021-04-07 18:33] nerrad commented on #3347
I'm going to close this for now. I think we need a concrete example to implement this idea in to help weigh the benefits of the abstraction. Closing the issue is not intended as a signal it's a bad idea. Once there's a great example where this can be demonstrated in we can re-open (or simply include it as a part of the proposed change).

[2021-04-07 18:33] #3347 closed, assigned to nobody

[2021-04-07 19:08] EMBARKwebdesign opened #4045 "Option to show/hide Product Metadata"
Hey there,

I am sure the feature of including product metadata would be useful in some cases. But an option to toggle this on/off would be perfect for all set-ups.

Currently, it's included product descriptions that are overly-long (by design). It's even including media I have inserted into the description.

See here:

![Screenshot 2021-04-07 at 20 07 42](https://user-images.githubusercontent.com

[2021-04-08 06:48] #3903 closed, assigned to frontdevde

[2021-04-08 10:37] mikejolley opened #4047 "Order Shipping Packages Fill Memory Leak"
Reported here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4025#pullrequestreview-630507843

https://user-images.githubusercontent.com/1429108/113930901-dac7b180-97bf-11eb-9338-882f6eb2af98.png

Reproducible on trunk. For me, I just needed to change the country select box during checkout to see the error logged to console.

[2021-04-08 10:56] nerrad opened #4048 "Improve `emitEventWithAbort` handling of "success" type responses"
The intended purpose of the [`emitEventWithAbort` emitter](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/f0fc6c5fff2dcc5ee2ddb6ac76eec13b86701afa/assets/js/base/context/shared/event-emit/emitters.ts#L56) was to allow for immediately surfacing responses that have errors and skipping any other registered subscribers until the errors are handled.

However, it's currently de

[2021-04-08 11:22] senadir commented on #4045
Hey, there is no option to hide it for now. If you know the option key, you can set its `__experimental_woocommerce_blocks_hidden` value to `true`. This would only hide it in Cart and Checkout.
Setting `hidden` to `true` would do it in both places.

Let me know if this works for you.

[2021-04-08 12:31] #3723 closed, assigned to mikejolley

[2021-04-08 12:44] #4003 closed, assigned to senadir

[2021-04-08 13:58] senadir commented on #4037
Hey there @guyfullpower. I can confirm this issue with Spanish which is 100% translated in [translate.wordpress.org](https://translate.wordpress.org/projects/wp-plugins/woo-gutenberg-products-block/stable/es/default/) while Loco Translate only shows 377 string in total (PHP and JS)
![image](https://user-images.githubusercontent.com/6165348/114037673-18d4dc00-9879-11eb-8d81-2e68cbfeadfd.png)
![imag

[2021-04-08 14:05] guyfullpower commented on #4037
great, thanks :)
if you need anything from me please let me know

[2021-04-08 14:58] senadir commented on #4037
Hey again @guyfullpower
https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4050 Should fix this issue, it will be released with 4.9.0 next week.

I don't have a workaround since this requires changing the source code.

[2021-04-08 15:03] guyfullpower commented on #4037
no problem i will wait for the release, thanks a lot :)

[2021-04-08 15:18] nerrad commented on #3174
I'm going to close this because there is an open PR in Square now for doing the integration and afaict all the necessary work on the blocks side is complete.

[2021-04-08 15:18] #3174 closed

[2021-04-09 13:55] mikejolley commented on #4047
@nerrad I've raised a fix upstream: https://github.com/WordPress/gutenberg/pull/30667

What should we do with this issue in the meantime?

[2021-04-09 13:58] nerrad commented on #4047
Let's leave it open but add back to the tier one backlog? This will keep it surfacing for review when the fix in GB eventually gets into a release?

[2021-04-09 14:56] #4001 closed, assigned to senadir

[2021-04-12 10:03] #3006 closed

[2021-04-12 10:05] #4037 closed, assigned to nobody

[2021-04-13 09:57] mikejolley commented on #4047
This fix has been merged upsteam 🎆

[2021-04-13 09:57] #4047 closed, assigned to mikejolley

[2021-04-13 19:06] nerrad commented on #3183
This can be closed because from the blocks perspective we've fulfilled the work for this epic.

[2021-04-13 19:06] #3183 closed

[2021-04-14 08:53] #3177 closed

[2021-04-14 21:16] rasmus-damgaard opened #4065 "Checkout Checkbox for Terms"
Thank you for some awesome work on both the checkout and cart blocks!

I am missing a Checkbox for the Terms on the final checkout page however. In the EU this is mandatory and as such, we unfortunately can't use the blocks for our webshop. Is there a way to add the checkbox to the checkout page? I have very little coding experience by the way.

Thanks in advance!

[2021-04-15 04:09] rinazrina opened #4066 "The search box on Product Search block is missing when added to the Shop page"
On WooCommerce 5.2.1, when adding a Product Search block on Shop page, the search box is not showing. The block title is showing as a text, but no search box.

## To reproduce
Steps to reproduce the behavior:

1. On a site with WooCommerce 5.2.1 active, go to the Shop page editor
2. Add a Product Search block
3. Publish the page
4. Check the published Shop page to see if the search box is showing

[2021-04-16 10:07] Aljullu opened #4069 "Reviews by Category: sidebar category control shows number of products instead of numbers of reviews"
## Describe the bug
The Reviews by Category control to select the category shows an incorrect 'count bubble' in the sidebar.

## To reproduce

1. Add a Reviews by Category block.
2. As expected, when choosing the category, you see a 'count bubble' with the number of reviews in each category:

<img src="https://user-images.githubusercontent.com/3616980/115008699-bba9dd80-9eab-11eb-91d1-7666bcf62a93

[2021-04-16 10:18] Aljullu opened #4070 "Products by Category: element with wrong id in the editor"
## Describe the bug
There is a `p` tag with an id which seems to be wrong when adding the Products by Category block: `undefined__help`.

## To reproduce

1. Add a Products by Category block.
2. Select a couple of checkboxes so the `Display products matching` select shows up.
3. With the browser devtools inspector, select the `Pick at least two categories to use this setting.` string.
4. Notice it

[2021-04-16 12:45] #2094 closed

[2021-04-17 22:53] ljgarnes opened #4089 "Undefined Index"
I'm getting an error on the backend of the Dashboard

I used xyz to protect the client.

Notice: Undefined index: 00 in /home/customer/www/xyz.com/public_html/wp-includes/class-wp-locale.php on line 287

I have all Plugins and Wordpress updated.  If I disable woocommerce plugin it goes away.  I disabled them all and one by one woocommerce triggers it... I see an error in the log file too.

2021-04

[2021-04-18 12:26] Roxane66 opened #4072 "Variation Price shown as Sale price in Cart Block"
## What do you like about the Cart & Checkout blocks?

### Original Issue
Bonjour,
J'ai des produits personnalisés et le blocs panier considère le prix de mes variations comme étant un prix promo. Cela pose problème quand il m'affiche le prix initial, barré, et le prix avec option juste après.
Auriez vous une solution ?
Merci d'avance,
Roxane

### Translated
Good morning,

I have customisable prod

[2021-04-18 22:22] selectedselections commented on #4066
Another report hc- 29089669

[2021-04-19 07:48] Aljullu opened #4074 "Product price atomic block (All Products & Single Product) doesn't honor the "Redirect to the cart page after successful addition" setting"
## To reproduce
1. Go to WooCommerce > Settings > Products and check the "Redirect to the cart page after successful addition" option.
2. In the frontend, go to a page with the All Products block.
3. Add a product to your cart using the All Products block.
4. Notice you are not redirected to the cart page.

The same can be reproduced with the Single Product block and the Product price block availa

[2021-04-19 09:03] #3396 closed, assigned to nobody

[2021-04-19 10:33] wpniall opened #4076 "Buttons in Featured Product Block align to the left instead of center on all devices"
## Describe the bug
The Featured Product Block aligns to the left when it should be aligned to the center on desktop, tablet, and mobile. I see the same issue using the latest version of Storefront, as well as with other themes.

## To reproduce
Steps to reproduce the behavior:

1. Go to 'Pages > Add New'
2. Add a `Featured Product` block with a Simple Product or Product Variation and leave the de

[2021-04-19 13:26] senadir commented on #4072
Hey there @Roxane66

I went along and translated your issue because our team's primary language is English.

I also tried to reproduce your issue with several combinations but wasn't able to reproduce it correctly.

Can you share the link of your website and steps to create this product so we can reproduce the issue?

[2021-04-19 13:54] Roxane66 commented on #4072
Thanks for your feedback,
I don't have the site online yet.
But I'll be sure to send it to you as soon as I do.
I have hidden my problem in CSS for now.
Have a good day

Bonjour,
Merci pour votre retour,
Je n'ai pas encore le site en ligne.
Mais je ne manquerai pas de vous l'envoyer dès que ce sera le cas.
J'ai masqué mon problème en CSS pour le moment.
Bonne journée
Roxane

Le lun. 19 avr. 2021 à

[2021-04-19 16:44] manospsyx commented on #3895
Hey all,

A couple updates from our end:

(1)

I've been looking into the experimental filters + the integration work you've done over at https://github.com/woocommerce/woocommerce-subscriptions/compare/feature/checkout-block-simple-multiple-subscriptions.

Our plan right now is to identify roadblocks and submit a PR for missing "filters" such as this one:

I've been trying to wrap my head around

[2021-04-19 17:54] Shazgu opened #4080 "Compatibility with Woo Pricing & Discounts plugin."
Scenario: Discounted product. Discount can only be applied to 1 unit. User has added more than 1 unit to cart.

Desired behaviour: Separate prices should be displayed for the discounted units and the full price units, as in the non-blocks cart page and the mini-basket (see screenshots).

The discounts have been added via the Woo Pricing & Discounts plugin, but I expect the behaviour would be the s

[2021-04-19 17:56] senadir commented on #3895
Hey again @franticpsyx

We don't have plans right now to implement prioritization, we're trying to avoid pitfalls in WordPress implementation, I'm basing my opinion on this previous discussion in Gutenberg https://github.com/WordPress/gutenberg/pull/16384

If we see an immediate need for this (which we probably will), we will hash out an appropriate solution, If you have a valid use case, please s

[2021-04-19 21:22] manospsyx commented on #3895
Thanks for that link @senadir :)

The impression I have so far is that "slots" are the equivalent to "actions" -- here I was looking at "filters" and more specifically at `__experimentalRegisterCheckoutFilters` and `__experimentalApplyCheckoutFilter`.

Here's one example that comes to mind with filters:

This string might be a result of two replacements:

1. One into `%s (50% off)`
2. Another into

[2021-04-20 11:07] mikejolley commented on #4065
This option doesn't exist yet but is being tracked here:

https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3258

Thanks

[2021-04-20 11:07] #4065 closed, assigned to nobody

[2021-04-20 11:08] senadir commented on #4080
Hey @Shazgu

Because this is a feature coming directly from Woo Pricing & Discounts and not native to WooCommerce Core, they have to provide integrate the plugin directly with Cart and Checkout block for it to be shown like this.

WooCommerce Cart and Checkout blocks are new and are still in early access, so we're aware that some extensions might not work.

Once that is done we’ll have docs prepar

[2021-04-20 11:08] #4080 closed, assigned to nobody

[2021-04-20 11:15] mikejolley commented on #4076
Thanks for the detailed report. This was fixed in https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4028 and is part of the Blocks 4.9 feature plugin.

Original issue was here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3788

Thanks

[2021-04-20 11:15] #4076 closed, assigned to nobody

[2021-04-20 11:26] mikejolley commented on #4045
CSS can also be used as a temp solution. Moving to backlog.

[2021-04-20 11:37] mikejolley commented on #4074
I guess the main question here is, do we want to support this option, and if not, how can we communicate this? This is one of those options where I think we should revisit how things work. View cart links are shown after adding to cart so it's not a massive inconvenience to use those, and by redirecting we prevent other items being added at the same time.

[2021-04-20 12:22] opr opened #4081 "React warning when using product addons with checkboxes"
## Describe the bug
When viewing the cart, if you have an item using checkboxes for Product Addons and more than one is checked the warning `Encountered two children with the same key` is shown.

## To reproduce
Steps to reproduce the behavior:

1. Create a product with checkbox addons.
2. View the product page, select two of the checkboxes and add the product to the cart.
3. View the cart block.

[2021-04-20 14:15] wpniall commented on #4076
Thanks @mikejolley. I have no idea how I missed #4028 when searching.

[2021-04-20 14:46] manospsyx commented on #3895
@senadir

A few more issues as I'm diving deeper here:

https://a.cl.ly/2NuwPAmr

This doesn't seem to work. I don't see a `cart` object passed into those filters: https://a.cl.ly/Z4uorzmN -- the `CartLineItemRow` component seems to have access only to a `lineItem` data prop. This makes sense from a Component design point of view, but at the same time there should be a straightforward way to use/i

[2021-04-20 15:07] senadir commented on #3895
Yeah this makes sense to me, I think passing in `cart` along side `lineItem` would make more sense. We try not to expose `useStoreCart` for several reasons, one them being that `useStoreCart` has a read/write access instead of `read` only. I will add something like this

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/b6f577da454e8efcb8f3b9fcfceffe1bbf8cc3c0/assets/js/bloc

[2021-04-20 16:04] senadir commented on #4081
I'm not able to reproduce this, can you show me your product settings/error?

I tried with two checkboxes in a single Add-on and with two add-ons each with a checkbox.

[2021-04-20 17:35] manospsyx commented on #3895
That's awesome -- having something like this in all filters will help a lot.

I've got a [small PR lined up](https://a.cl.ly/rRuGWNdO) that will should unblock most integration work with the Cart block. Once you've made these changes we'll be good to send it your way and then get to work :)

Thanks again!

[2021-04-21 08:30] opr commented on #4081
Yep here are the product settings, it's just a standard product:
![image](https://user-images.githubusercontent.com/5656702/115522593-28462300-a284-11eb-8514-1113c629bba1.png)

The error is:

[code]

[2021-04-21 09:03] #2948 closed

[2021-04-21 09:03] #2802 closed

[2021-04-21 09:04] #1618 closed

[2021-04-21 09:04] #1340 closed

[2021-04-21 13:33] nerrad commented on #3225
Is this still needed @Aljullu - I think we implemented an alternate way of handling this recently?

[2021-04-21 13:43] nerrad commented on #2500
@mikejolley it'd be interesting to see how the batch request work you did impacts this issue - I think it will right?

@kimmenbert, some recent work was merged in #4075 that batches requests together into one request that should help address this performance issue you highlighted on sites with the required WP version installed (I think the batch feature for REST came in WP 5.6). It will be more wi

[2021-04-21 14:22] nerrad commented on #3467
@mikejolley given the work to move `isLargeCatalog` to the client side as a calculated setting, should we pass along a filterable threshold value for how many products is considered a large catalog (default to 100) in the settings?

[2021-04-21 14:40] mikejolley commented on #3467
@nerrad I think we should make the call on this one. It would be nice if we only needed one set of logic, but I realise that might seem slower on small catalogs. Unless we prefetch it somehow.

[2021-04-21 21:26] juliaamosova commented on #4089
Hi @ljgarnes,

Thank you for reporting the issue. It seems to be caused by WooCommerce Product Blocks which is being developed in another repository: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

I am going to move your bug report there so that the right team could take a look further.

[2021-04-21 21:35] ljgarnes commented on #4089
Thank you so much.

From: Julia Amosova ***@***.***>
Sent: Wednesday, April 21, 2021 5:27 PM
To: woocommerce/woocommerce-gutenberg-products-block ***@***.***>
Cc: Lorelei Garnes ***@***.***>; Author ***@***.***>
Subject: Re: [woocommerce/woocommerce-gutenberg-products-block] Undefined Index (#4089)

Hi @ljgarnes<https://github.com/ljgarnes>,

Thank you for reporting the issue. It seems to be cause

[2021-04-22 10:11] mikejolley commented on #2500
@nerrad Batching currently only impacts POST requests, not GET. If we roll out GET it will help here.

[2021-04-22 11:01] nerrad commented on #2500
Ahh right 👍

[2021-04-22 12:07] ralucaStan commented on #4089
Hi there @ljgarnes,
thank you for taking the time to report this issue.

It would be helpful to see your system status report - You will find information on how to do this here: https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/#section-1

If you can paste the status report into this thread that would be great.

Thanks!

[2021-04-22 15:05] vivialice opened #4093 "Changes to the Cart + Checkout block sidebar"
Hi folks, this request is to improve some of the UX in our Cart + Checkout block experience for buyers.

Sections that will be changed:

- Shipping title
- Taxes
- Coupon input

**Shipping**
Group shipping information into its own section and remove title style.

**Taxes**
Isolate taxes into its own section and position underneath the shipping options section.

**Coupon input**
Shift position of t

[2021-04-22 17:20] Aljullu commented on #4074
I think there are valid use-cases for this option. I'm thinking of stores that only sell one product or the products they sell exclude the others (imagine a site that sells three types of subscriptions, but a user can't have more than one subscription active).

Worth pointing out the same issue happens with the Single product block and the Product price atomic block. I updated the issue descriptio

[2021-04-22 18:05] Aljullu commented on #3225
In #3898 we refactored this code, but the work-around to load our stylesheets after editor CSS is still there. So I think we should keep this issue open to keep track of it.

The interesting thing is that I tested removing the work-around and I was unable to reproduce #3068 anymore (tested with WP 5.5, 5.7 and latest Gutenberg). I'm not sure what changed since the work-around was implemented, but

[2021-04-22 19:50] piotrmaroszek opened #4095 "Checkout & Cart styles broken"
Hello,

when I'm putting my Woo Blocks Cart and Checkout on my page there's like some styles missing and everything is broken in this view. How I can fix this?

## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

[2021-04-22 21:46] ljgarnes commented on #4089
Here you go.

`
### WordPress Environment ###

WordPress address (URL): https://www.stonesbones.com
Site address (URL): https://www.stonesbones.com
WC Version: 5.2.2
REST API Version: ✔ 5.2.2
WC Blocks Version: ✔ 4.7.2
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 2.2.1
Log Directory Writable: ✔
WP Version: 5.7.1
WP Multisite: –
WP Memory Limit: 768 MB
WP Debug Mode: ✔
WP Cron: ✔
Language:

[2021-04-23 06:45] grogou opened #4096 "Stock status filter feature"
## Is your feature request related to a problem? Please describe.
No problems!

## Describe the solution you'd like
Created stock status filter in our fork, we just need to understand is it possible to contribute our changes to this repo and what we need to do for that. For example filter, I examine attribute filter.

## Additional context
The editor side is like another filter. For now, it has an

[2021-04-23 09:04] #709 closed

[2021-04-23 09:07] ralucaStan commented on #4095
Hi there @piotrmaroszek ,
sorry to hear you are having issues with the styles.
Could you provide us with more details in order to better understand what issue you are having?
A screenshot, the version of blocks you are using, what styles are missing?

[2021-04-23 09:14] piotrmaroszek commented on #4095
Thanks for your contact. I fix this. Wooblock checkout was noncompatible with one of my plugins.

By the way, do you know when WooCommerce Blocks Checkout and Cart will be full compatible like the old checkout? :) Its awesome!

Pozdrawiam / Best Regards
Piotr Maroszek

tel: 602 158 046

[2021-04-23 09:42] #3979 closed, assigned to opr

[2021-04-25 18:03] nerrad commented on #3176
I'm going to close this because it's something handled outside of our repository.

[2021-04-25 18:03] #3176 closed

[2021-04-25 18:06] nerrad commented on #3173
Closing this issue because Woo Blocks already has the interfaces needed for Paypal Payments to integrate and work for the actual integration will be happening outside this repository.

[2021-04-25 18:06] #3173 closed

[2021-04-25 22:09] ricardo opened #4101 "Checkout payment method `canMakePayment` applies to Gutenberg preview"
## Describe the bug

I'd like to always display an express payment method preview in the Gutenberg editor for the cart and checkout blocks, but sometimes not display it to the shopper (e.g when it should not be available due to product requirements).

From the [docs](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/main/docs/extensibility/payment-method-integration.md):

Th

[2021-04-26 08:48] Aljullu opened #4102 "Prepare WooCommerce for the Navigation Editor"
The new navigation screen and navigation component are coming with WP 5.8 and we want to make sure WooCommerce works fine with them. This is an epic to make an audit and add any issues we find.

[2021-04-26 09:36] #3748 closed, assigned to mikejolley

[2021-04-26 09:37] #3868 closed, assigned to mikejolley

[2021-04-26 10:54] senadir commented on #4096
Hey @grogou!
I would be happy to review it and get it merged, can you open a PR?

[2021-04-26 12:41] mikejolley opened #4103 "Audit: MailChimp for WooCommerce"
## MailChimp for WooCommerce

- **Author:** MailChimp
- **Website:** https://wordpress.org/plugins/mailchimp-for-woocommerce
- **Repository:** https://github.com/mailchimp/mc-woocommerce

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/woocommerce-gutenberg-p

[2021-04-26 12:42] mikejolley opened #4104 "Audit: MailPoet"
## MailPoet – emails and newsletters in WordPress

- **Author:** MailPoet
- **Website:** https://wordpress.org/plugins/mailpoet/
- **Repository:** https://github.com/mailpoet/mailpoet/

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/woocommerce-gutenberg-pro

[2021-04-26 12:42] mikejolley opened #4105 "Audit: TaxJar"
## TaxJar – Sales Tax Automation for WooCommerce

- **Author:** TaxJar
- **Website:**
   - https://woocommerce.com/products/taxjar/
   - https://en-gb.wordpress.org/plugins/taxjar-simplified-taxes-for-woocommerce/
- **Repository:** https://github.com/taxjar/taxjar-woocommerce-plugin

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epi

[2021-04-26 12:42] mikejolley opened #4106 "Audit: PDF Invoices"
## PDF Invoices

- **Author:** Andrew Benbow
- **Website:** https://woocommerce.com/products/pdf-invoices/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-pdf-invoice

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://gi

[2021-04-26 12:42] mikejolley opened #4107 "Audit: Product Bundles"
## Product Bundles

- **Author:** SomewhereWarm
- **Website:** https://woocommerce.com/products/product-bundles/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/premmerce-product-bundles

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?ht

[2021-04-26 12:42] mikejolley opened #4108 "Audit: Memberships"
## WooCommerce Memberships

- **Author:** SkyVerge
- **Website:** https://woocommerce.com/products/woocommerce-memberships/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-memberships

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://hr

[2021-04-26 12:42] mikejolley opened #4109 "Audit: Table Rate Shipping"
## Table Rate Shipping

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/table-rate-shipping/
- **Repository:** (private) https://github.com/woocommerce/woocommerce-table-rate-shipping

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/w

[2021-04-26 12:43] mikejolley opened #4110 "Audit: Authorize.net CIM"
## Authorize.Net

- **Author:** SkyVerge
- **Website:** https://woocommerce.com/products/authorize-net/
- **Repository:** (private) https://github.com/woocommerce/woocommerce-gateway-authorize-net-cim

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/woocommer

[2021-04-26 12:43] mikejolley opened #4111 "Audit: Smart Coupons"
## Smart Coupons

- **Author:** StoreApps
- **Website:** https://woocommerce.com/products/smart-coupons/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-smart-coupons

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://gi

[2021-04-26 12:43] mikejolley opened #4112 "Audit: Conditional Shipping and Payments"
## Conditional Shipping and Payments

- **Author:** SomewhereWarm
- **Website:** https://woocommerce.com/products/conditional-shipping-and-payments/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-conditional-shipping-and-payments

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [

[2021-04-26 12:43] mikejolley opened #4113 "Audit: Google Analytics Pro"
## Google Analytics Pro

- **Author:** SkyVerge
- **Website:** https://woocommerce.com/products/woocommerce-google-analytics-pro
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-google-analytics-pro

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit templa

[2021-04-26 12:43] mikejolley opened #4114 "Audit: Dynamic Pricing"
## Dynamic Pricing

- **Author:** Element Stark
- **Website:** https://woocommerce.com/products/dynamic-pricing/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-dynamic-pricing

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?

[2021-04-26 12:43] mikejolley opened #4115 "Audit: Pre-orders"
## WooCommerce Pre-Orders

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/woocommerce-pre-orders
- **Repository:** (private) https://github.com/woocommerce/woocommerce-pre-orders

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/wooco

[2021-04-26 12:44] mikejolley opened #4116 "Audit: EU Vat Number"
## EU Vat Number

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/eu-vat-number/
- **Repository:** (private) https://github.com/woocommerce/woocommerce-eu-vat-number

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/woocommerce-gutenbe

[2021-04-26 12:44] mikejolley opened #4117 "Audit: All Products for Subscriptions"
## All Products for WooCommerce Subscriptions

- **Author:** SomewhereWarm
- **Website:** https://woocommerce.com/products/all-products-for-woocommerce-subscriptions/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-all-products-for-subscriptions

_This issue is to track compatibility testing between this extension and the Cart and Che

[2021-04-26 12:44] mikejolley opened #4118 "Audit: Authorize.net AIM"

[2021-04-26 12:44] mikejolley opened #4119 "Audit: Checkout Addons"
## Checkout Add-ons

- **Author:** SkyVerge
- **Website:** https://woocommerce.com/products/woocommerce-checkout-add-ons/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-checkout-add-ons

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https:/

[2021-04-26 12:44] mikejolley opened #4120 "Audit: Amazon Pay"
## Amazon Pay

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/pay-with-amazon
- **Repository:** (private) https://github.com/woocommerce/woocommerce-gateway-amazon-pay

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/woocommerce-gute

[2021-04-26 12:44] mikejolley opened #4121 "Audit: Box Office"
## WooCommerce Box Office

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/woocommerce-box-office
- **Repository:** (private) https://github.com/woocommerce/woocommerce-box-office

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/wooco

[2021-04-26 12:44] mikejolley opened #4122 "Audit: Bookings"
## WooCommerce Bookings

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/woocommerce-bookings
- **Repository:** (private) https://github.com/woocommerce/woocommerce-bookings

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/woocommerce

[2021-04-26 12:44] mikejolley opened #4123 "Audit: MyWorks WooSync for Quickbooks Online"
## QuickBooks Sync for WooCommerce

- **Author:** MyWorks Software
- **Website:** https://woocommerce.com/products/quickbooks-sync-for-woocommerce/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/myworks-woo-sync-for-quickbooks-online

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the

[2021-04-26 12:45] mikejolley opened #4124 "Audit: Gravity Forms Product Addons"
## Gravity Forms Product Add-ons

- **Author:** Element Stark
- **Website:** https://woocommerce.com/products/gravity-forms-add-ons/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-gravityforms-product-addons

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the a

[2021-04-26 12:45] mikejolley opened #4125 "Audit: One Page Checkout"
## WooCommerce One Page Checkout

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/woocommerce-one-page-checkout/
- **Repository:** (private) https://github.com/woocommerce/woocommerce-one-page-checkout

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github

[2021-04-26 12:45] mikejolley opened #4126 "Audit: Fedex"
## FedEx Shipping Method

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/fedex-shipping-module/
- **Repository:** (private) https://github.com/woocommerce/woocommerce-shipping-fedex

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/wo

[2021-04-26 12:45] mikejolley opened #4127 "Audit: Name your price"
## Name Your Price

- **Author:** Backcourt Development
- **Website:** https://woocommerce.com/products/name-your-price/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-name-your-price

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://h

[2021-04-26 12:45] mikejolley opened #4128 "Audit: SagePay Form"
## Opayo / SagePay Form

- **Author:** Andrew Benbow
- **Website:** https://woocommerce.com/products/sage-pay-form/
- **Repository:** (private) https://github.com/woocommerce/all-plugins/tree/master/product-packages/woocommerce-gateway-sagepay-form

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://h

[2021-04-26 12:45] mikejolley opened #4129 "Audit Extensions for Cart and Checkout Block Compatibility"
This epic groups all issues for extension audits which will focus on testing extension functionality with the Cart and Checkout Blocks.

Audit template:

[code]

[2021-04-26 12:57] Aljullu opened #4130 "Navigation: Create Product Link block"
The Navigation block included in Gutenberg allows adding several inner blocks to link to specific parts of the site:

![imatge](https://user-images.githubusercontent.com/3616980/116085527-32f72280-a69f-11eb-8cfd-14f650af4eea.png)

We should create similar blocks for WooCommerce. This issue is about creating the Product Link block which will work similar to the Post Link block. Once added, it shoul

[2021-04-26 13:00] Aljullu opened #4131 "Navigation: Create Product Category Link block"
The Navigation block included in Gutenberg allows adding several inner blocks to link to specific parts of the site:

![imatge](https://user-images.githubusercontent.com/3616980/116085527-32f72280-a69f-11eb-8cfd-14f650af4eea.png)

We should create similar blocks for WooCommerce. This issue is about creating the Product Category Link block which will work similar to the Category Link block. Once ad

[2021-04-26 13:03] Aljullu opened #4132 "Navigation: Create Product Tag Link block"
The Navigation block included in Gutenberg allows adding several inner blocks to link to specific parts of the site:

![imatge](https://user-images.githubusercontent.com/3616980/116085527-32f72280-a69f-11eb-8cfd-14f650af4eea.png)

We should create similar blocks for WooCommerce. This issue is about creating the Product Tag Link block which will work similar to the Tag Link block. Once added, it sh

[2021-04-26 13:09] Aljullu opened #4133 "Navigation: Create WooCommerce Endpoint Link block"
The Navigation block included in Gutenberg allows adding several inner blocks to link to specific parts of the site:

![imatge](https://user-images.githubusercontent.com/3616980/116085527-32f72280-a69f-11eb-8cfd-14f650af4eea.png)

We should create similar blocks for WooCommerce. This issue is about creating a WooCommerce Endpoint Link block. It must serve as a block-based replacement to the `WooCo

[2021-04-26 13:17] Aljullu opened #4134 "Navigation: allow adding the Product Search block as a child of the Navigation block"
Blocked by https://github.com/WordPress/gutenberg/issues/31387.

The Navigation block included in Gutenberg allows adding the Search block as a child:

![imatge](https://user-images.githubusercontent.com/3616980/116088155-e2cd8f80-a6a1-11eb-8594-91b7aae14495.png)

We should allow adding the Product Search block as a child too.

The Product Search block already allows hiding the label, but we might

[2021-04-26 13:40] ralucaStan commented on #3762
I tried replacing the component and this is what I found while using [FormTokenField](https://github.com/WordPress/gutenberg/blob/086b77ed409a70a6c6a6e74dee704851eff812f2/packages/components/src/form-token-field/README.md#properties) :
- from a look and feel point of view we should not have any issues. We would need to decide if we want to keep the current design  or use the one from FormTokenFiel

[2021-04-26 14:16] mikejolley commented on #4118
This is retired, closing.

[2021-04-26 14:16] #4118 closed, assigned to nobody

[2021-04-26 14:30] mikejolley opened #4136 "Audit: Cart Add-ons"
## Cart Add-ons

- **Author:** Automattic
- **Website:** https://woocommerce.com/products/cart-add-ons/
- **Repository:** (private) https://github.com/woocommerce/woocommerce-cart-add-ons

_This issue is to track compatibility testing between this extension and the Cart and Checkout blocks. [See the Epic for the audit template](https://href.li/?https://github.com/woocommerce/woocommerce-gutenberg-

[2021-04-26 15:27] #3984 closed, assigned to ralucaStan

[2021-04-26 15:31] #1781 closed

[2021-04-26 20:11] senadir commented on #4101
Hey @ricardo, That’s a good point, this should be possible by checking the Editor context from our side. Just to understand, your point is that `canMakePayment` should always be true in the editor?

[2021-04-26 20:17] senadir commented on #4095
Hey @piotrmaroszek, We don’t have an exact timeline for this. We're integrating some plugins ourselves and encouraging developers to integrate themselves.

Since you fixed the issue, I'm going to close this thread, if you have further questions feel free to post them.

Have a good day!

[2021-04-26 20:17] #4095 closed, assigned to nobody

[2021-04-26 20:18] senadir commented on #4072
Hey @Roxane66 I'm gois to close this for now, when you have a working example, feel free to open this again.

Have a good day!

[2021-04-26 20:18] #4072 closed, assigned to nobody

[2021-04-26 20:29] ricardo commented on #4101
@senadir Yes, sort of!

The `canMakePayment` nomenclature to me suggests it's a callback function used to decide whether or not to allow that payment method to be used in the payment page.

It's important that the payment method is displayed in the editor context, but it shouldn't require me to add some extra logic in `canMakePayment`.

I guess, ideally, there could be two separate things for that

[2021-04-26 20:42] nerrad commented on #4101
This makes sense (to decouple `canMakePayment` from the editor context). It puts some onus on the payment method to provide signals to the merchant about the validity of the preview if there are conditions that prevent it behaving as expected for a shopper but I think that's okay?

[2021-04-26 20:55] ricardo commented on #4101
@nerrad That would apply only for the placeholder cart data provided for the preview, right? Perhaps it could still be possible to disallow the payment method in some circumstances by passing `null` to the `edit` prop, or not registering the payment method, or some other way, but for our use case (Stripe and WC Pay), the relationship between the payment methods and the preview data is irrelevant.

[2021-04-27 10:16] #3736 closed, assigned to mikejolley

[2021-04-27 10:17] #3225 closed

[2021-04-27 10:24] mikejolley commented on #4116
## Functionality Review

This extension creates a VAT number field on the checkout for customers in certain countries. The merchant can control the label and description for the field, and its behavior with regards to tax calculations. VAT numbers that are collected are validated using an online service. Invalid numbers are rejected with a notice during checkout.

![Screenshot 2021-04-27 at 12 30

[2021-04-27 11:01] nerrad commented on #4101
Oh when I wrote "validity of the preview" I'm talking about what gets displayed for the payment method in the editor context and not really anything to do with the preview data. As an example for express payment methods, you might want to only show Apple Pay preview if the browser is safari and otherwise show Chrome/GooglePay if the browser is chrome. Or you might want to show an appropriate messa

[2021-04-27 11:02] mikejolley opened #4137 "`woocommerce_shared_settings` deprecation notice"
[The shared settings notice was deprecated](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/4092), but it still used by WC Admin.

We need to decide if we can:

- Leave notice in place and add dev note somewhere
- Soft-deprecate the filter (no notice) and inform teams before hard deprecating the filter
- Deprecate with a notice only in feature plugin context
- Leave filter

[2021-04-27 11:05] nerrad commented on #4101
To be clear, I'm okay with having `canMakePayment` only run outside of the editor context. I'm just also thinking what we should recommend from a ux perspective to payment method extension developers for what they show in the editor context when the merchant should be informed about something not configured correctly for their payment method since as a preview it's supposed to be representative of

[2021-04-27 11:51] #4116 closed, assigned to mikejolley

[2021-04-27 12:20] mikejolley commented on #4109
## Functionality Review

Shipping Rate which calculates the shipping cost based on defined rules, such as item weights, price, number of items etc.

This extension touches: *(mark all that apply)*

- [ ] Product Grids (shop page)
  - [ ] Product Details
  - [ ] Product Prices
  - [ ] Add to cart button
- [ ] Single Product Pages
  - [ ] Product Details
  - [ ] Product Prices
  - [ ] Add to cart fo

[2021-04-27 12:46] #4109 closed, assigned to mikejolley

[2021-04-27 13:27] Aljullu opened #4138 "Create Mini Cart block"
We want to create a Mini Cart block which can be used as a replacement of the Cart widget and also as a Mini Cart link that can be added inside the Navigation block and which shows a dropdown of the cart contents on hover.

## Screenshots

**Current Mini Cart in Storefront**

![Mini Cart in Storefront](https://user-images.githubusercontent.com/3616980/116245294-1de6c600-a769-11eb-8724-9803b62c894d

[2021-04-27 14:27] mikejolley commented on #4122
## Functionality Review

Adds support for bookable products; products that have a booking calendar on the product page. Customers can choose blocks of time to book, and this is then shown throughout the cart process.

Bookings that do not require confirmation are simply purchased with data being stored in the order. Bookings that do require confirmation do not require payment; a special "confirm"

[2021-04-27 15:23] #4122 closed, assigned to mikejolley

[2021-04-27 16:18] ricardo commented on #4101
Exactly 👍

Maybe instructing developers that you could add some business logic to the preview component, so that it's rendered differently depending on settings or even browser context as you mentioned. In our use case, we could create a `<PaymentButtonPreview { ...settings } />` component which receives some settings props and renders the button differently depending on some sort of customization

[2021-04-27 16:21] opr commented on #4127
# Extension Audit Template

## Functionality Review

The extension modifies the product page and inserts an input field where the price would ordinarily be. This input field allows the customer to input the price they want to pay for an item.

The extension does not seem to interact any further with the store besides modifying the price of an item in the session cart. WooCommerce Blocks cart block

[2021-04-27 16:21] #4127 closed, assigned to opr

[2021-04-27 17:17] opr commented on #4123
# Extension Audit Template

## Functionality Review

On the front-end this extension does nothing, it is a back-end plugin which syncs orders to the QuickBooks accounting software. The orders are captured by the extension then transmitted to QuickBooks via their API.

*Write a brief summary of the extension's functionality, *

This extension touches: *(mark all that apply)*

- [ ] Product Grids (s

[2021-04-27 17:17] #4123 closed, assigned to opr

[2021-04-27 20:13] opr commented on #4126
# Extension Audit Template

## Functionality Review
The extension adds a shipping method, provided by FedEx - it communicates with FedEx via SOAP and provides live rates for shipping. These are viewable in the cart (after the user enters their address into the shipping calculator) and checkout.

This extension touches: *(mark all that apply)*

- [ ] Product Grids (shop page)
  - [ ] Product Detail

[2021-04-27 20:13] #4126 closed, assigned to opr

[2021-04-28 09:03] #3187 closed

[2021-04-28 09:07] opr commented on #4124
# Extension Audit Template

## Functionality Review

Gravity Forms product addons allows the merchant to add a Gravity form to a product page. Each field in the form will act as an addon to that product (the same way that Product Addons works). The merchant can build complex forms with conditional logic which result in detailed customisation flows.
![image](https://user-images.githubusercontent.co

[2021-04-28 09:07] #4124 closed, assigned to opr

[2021-04-28 09:57] nerrad commented on #4137
I think we can start with soft-deprecate and no notice. We can surface this for more discussion/awareness (I can write)?

[2021-04-28 10:01] opr commented on #4125
# Extension Audit Template

## Functionality Review

This extension allows merchants to create a "one-page checkout" where the customer can add products to their cart, and instantly check out without leaving the page.

The merchant may enable the "One page checkout" option on the product page. This adds the checkout form at the bottom of the single product page.

There is also the option for the m

[2021-04-28 10:01] #4125 closed, assigned to opr

[2021-04-28 11:19] opr commented on #4128
Blocked on this issue because I need an Opayo account - According to p1619608564306600/1619608199.305900-slack-C8X6Q7XQU this extension should be able to integrate with Blocks by using our Payment method API interface - though it won't have been set up to do that yet.

I'll test it out myself when/if an Opayo account materialises.

[2021-04-28 11:19] #4128 closed, assigned to opr

[2021-04-28 12:09] #4137 closed, assigned to mikejolley

[2021-04-28 12:39] grogou commented on #4096
Hey @senadir!
PR opened #4145

[2021-04-28 13:06] Aljullu opened #4147 "Add icons to Product Link, Product Category Link and Product Tag Link block variations"
In https://github.com/woocommerce/woocommerce/pull/29772 we updated the Product custom post type and the Product Category and Product Tag taxonomies so they display the correct labels and show up as suggestions when adding their block variations. This issue is about adding icons to them. Currently, there is not a direct API for doing that and instead a JS filter must be used (code example: https:/

[2021-04-28 23:06] paymentplugins opened #4148 "Add item type to cartTotalItems"
## Is your feature request related to a problem? Please describe.
It is common in European countries to display item price including tax. It would be helpful if the `cartTotalItems` that is part of the `usePaymentMethodInterface` included the item type. If the item type is known, it will assist with payment method logic.

## Describe the solution you'd like
In the function `prepareTotalItems`, add

[2021-04-29 05:50] kottla opened #4149 "wow"
## What do you like about the Cart & Checkout blocks?

## What do you think is missing from the Cart & Checkout blocks?

[2021-04-29 08:25] opr opened #4150 "Find places where snake_cased names are received from the API and convert them to camelCase"
When we get data from the API, the keys are in snake_case, but in JavaScript we prefer camelCase. We need to inhibit eslint warnings when we continue to use snake_cased variable names. An example of this happening can be found at the following URL.

https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/base/components/cart-checkout/shipping-rates-control-package/

[2021-04-29 08:29] #3178 closed

[2021-04-29 08:45] Aljullu commented on #4133
Setting this issue to `blocked` because depending on the decision taken in https://github.com/WordPress/gutenberg/issues/31316 we might not need to create this block from scratch.

[2021-04-29 09:38] ralucaStan commented on #4121
# Extension Audit Template

## Functionality Review

Box Office for WooCommerce allows the shop owner to create and sell tickets directly to customers. Have a loot at the [Feature Overview](https://docs.woocommerce.com/document/woocommerce-box-office/#section-1).

- The extension adds ticket settings to a product edit page.
- Each ticket can have Ticket  Fields, questions for each ticket holder. O

[2021-04-29 09:38] #4121 closed, assigned to ralucaStan

[2021-04-29 10:52] ralucaStan commented on #4136
# Extension Audit Template

## Functionality Review
The extension shows cross-sell items on cart views. [View image](https://woocommerce.com/wp-content/uploads/2012/07/addons.png?resize=958,1598)
The shop owner can [customize](https://docs.woocommerce.com/document/cart-add-ons/#section-1) the cross-sell section by:
- editing a Display title
- entering a Maximum products to show
- using Select Defa

[2021-04-29 10:52] #4136 closed, assigned to ralucaStan

[2021-04-29 11:06] senadir commented on #4149
Hey @kottla, it seems your text didn't go through, would you mind posting your request again?

[2021-04-29 11:47] opr opened #4151 "[Points and Rewards] Implement a filter for coupon names"
As per pbIy4N-1r0-p2#comment-2208 we need a way to allow extensions to filter coupon names, and possibly replace them with something else.

We already have a system in place to do this with the price labels, so implementing one for coupon codes could follow a similar pattern.

The registration API should allow extensions to add functions in the following shape:
`( couponName: string ) => string`

[2021-04-29 11:48] opr opened #4152 "WooCommerce Points and Rewards integration"
This epic will be used to track the integration of the extension: WooCommerce Points and Rewards.

[2021-04-29 12:58] mikejolley commented on #4119
## Functionality Review

Adds a custom settings page where "addon" fields can be created which show within the Checkout form. Adds can be of multiple field types (text, textarea, select, multiselect, radio, checkbox, multi-checkbox, file) and add costs to the order total using the fees API in WooCommerce.

This extension touches: *(mark all that apply)*

- [ ] Product Grids (shop page)
  - [ ] Pro

[2021-04-29 14:09] #4119 closed, assigned to mikejolley

[2021-04-29 14:59] mikejolley commented on #4110
Reviewing the code and documentation, there doesn't appear to be anything unique about this integration vs something like Stirpe. Existing APIs in the Block Checkout would support this gateway. It just needs integrating.

[2021-04-29 14:59] #4110 closed, assigned to mikejolley

[2021-04-29 19:37] suze-it opened #4154 "local pickup has weird $0.00 crossed out?!"
## What do you like about the Cart & Checkout blocks?
I love the checkout blocks!
## What do you think is missing from the Cart & Checkout blocks?
I don't understand why the "Local Pickup" shipping method has the $0.00 crossed out when it is selected.  Can you help me remove that?  On this screen snapshot you can see that it's surrounded by `<del> </del>`
![shippingPrices](https://user-images.gith

[2021-04-29 20:59] parvnoor opened #4155 "When you click the 'Use same address for billing', the email input field gets emptied"
When you click the 'Use same address for billing', the email input field gets emptied.

[2021-04-30 02:42] suze-it opened #4156 "Can't see Stripe payment methods on Checkout Block"
## Describe the bug
The Stripe credit card option is missing from the Checkout Block's payment options.  Only PayPal is visible method of payment.  when I use the WooCommerce Checkout block, the Stripe option is visible.  So I know my Stripe settings are correct.

Please help!!

## Environment
### WordPress:
* Core version: [5.7.1]
* WooCommerce version: [5.2.2]
* WooCommerce Blocks version: [5.0.

[2021-04-30 09:03] #3041 closed

[2021-04-30 09:03] #2971 closed

[2021-04-30 09:40] nerrad commented on #4148
Seems like a fair ask, I'll queue this up as something we'll work on improving but no ETA just yet.

[2021-04-30 10:02] nerrad commented on #4155
Thanks for the report @parvnoor. I'm able to reproduce this - here's some clearer steps.

1. Load the checkout block on the frontend as a shopper.
2. Fill out email address (and optionally other address fields)
3. Uncheck the "Use same address for billing option"
4. Notice the email address field is cleared.

![CleanShot 2021-04-30 at 05 59 43](https://user-images.githubusercontent.com/1429108/116

[2021-04-30 10:16] parvnoor commented on #4155
Thanks @nerrad for the clearer explanation! I will use this format in future issue posts :)

[2021-04-30 10:29] parvnoor opened #4157 "Email and Name variables aren't properly processed on Stripe"
Hi guys, on the stripe dashboard the Name and Email variables don't fill in, and instead you get the following:

<img width="680" alt="Screenshot 2021-04-30 at 11 19 31" src="https://user-images.githubusercontent.com/62034071/116682264-f16bbd80-a9a5-11eb-83bc-fca97f777ec0.png">

##What happens now
If you go to the frontend checkout as a shopper on Woocommerce Blocks,
Fill in the necessary fields a

[2021-04-30 10:52] ralucaStan commented on #4114
# Extension Audit Template

## Functionality Review

Dynamic Pricing lets you define pricing rules based on products, order totals, roles, and product categories. See the [7 possible modes of discounts](https://docs.woocommerce.com/document/woocommerce-dynamic-pricing/#section-3).

The pages affected depend on the type of discount applied.
- For _Single Product quantity discount_, the only thing c

[2021-04-30 10:52] #4114 closed, assigned to ralucaStan

[2021-04-30 14:52] ralucaStan commented on #4115
# Extension Audit Template

## Functionality Review

Sets up pre-orders in your WooCommerce store, so customers can order products before they're available.

The pre-orders are charged up front and upon release. With [supported payment gateway](https://docs.woocommerce.com/document/pre-orders/#supported-gateways-for-automatic-payments "supported payment gateway"), pre-orders can be charged upon re

[2021-04-30 14:52] #4115 closed, assigned to ralucaStan

[2021-04-30 17:49] nerrad commented on #4048
In #4158 I reviewed this and there are no protected values updated. The only value that is updated from returned observer responses is `redirectUrl`.

[2021-04-30 19:19] ricardo opened #4159 "Block checkout and cart block UI while express payment method is processing"
## Is your feature request related to a problem? Please describe.

While using the Payment Request Button in Stripe, the UI is blocked by the Payment Request API dialog or Apple Pay dialog, but after the payment is confirmed, there's a small delay until you get redirected to the Order received page. This allows shoppers to be able to click the Payment Request Button again, leading to bad UX.

Ther

[2021-04-30 19:29] nerrad commented on #4159
@vivialice this would be a good one to get your design input on. Basically we need some way to indicate loading state for the entire express payment method area while checkout is being processed. The screen below shows the current behaviour that Ricardo describes in this issue (watch for the period after the 3DS confirmation is clicked and before the redirect, you'll see that the "Buy Now" express

[2021-04-30 19:38] ricardo commented on #4159
Something like this could work. But as @nerrad mentioned in the original GitHub thread, ideally we should block all available payment methods.

https://user-images.githubusercontent.com/5509901/116745967-3dccf280-a9d2-11eb-88d9-025966384c20.mov

[2021-04-30 22:40] ricardo commented on #4159
As a side note, I think the button should also be blocked while the cart is being updated, like in the shortcode cart.

https://user-images.githubusercontent.com/5509901/116760652-da4fbe80-a9eb-11eb-9b13-de1df1ce7425.mov

https://user-images.githubusercontent.com/5509901/116760664-e63b8080-a9eb-11eb-9918-300fefe929c3.mov

[2021-05-01 00:19] parvnoor opened #4160 "Integration with Woocommerce abandoned cart plugins OR Mailchimp"
## Is your feature request related to a problem? Please describe.
Although the UX is much better for the woocommerce blocks, some other essential e-commerce tools aren't possible with the current blocks. Namely, the mailchimp + other abandon cart email collections don't call when someone abandons cart.

## Describe the solution you'd like
The ability for mailchimp + other cart abandonment trackers

[2021-05-01 20:38] msroky opened #4161 "How can I change the design of the cart?"
This is what my cart page looks like right now.
https://i.imgur.com/x79gQ63.png

I want it to look like this
https://i.imgur.com/vpBFDxB.png

The "Quantity" column is shown here and in my cart it is not shown. The cart looks like I'm missing css.

[2021-05-02 10:43] senadir commented on #4161
Hey, this design update was introduced in version 4.4 ([issue](https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/3631), [pull request](https://github.com/woocommerce/woocommerce-gutenberg-products-block/pull/3734)) to fix some pain points in the previous design, therefore, there is no way to get that back because it's a big structural change.

I'm going to close this issue

[2021-05-02 10:44] #4161 closed, assigned to nobody

[2021-05-02 10:47] senadir commented on #4160
Hey, integrating Mailchimp and other abandoned cart plugins (like AutomateWoo) is in our current agenda and it's a work on progress, so we should have answers around this in the near future (couple of months or so).

From my testing, AutomateWoo abandoned cart seems to work fine for logged in users, but not guests, if that's any consolation.

Thank you for your feedback, given that we have an issu

[2021-05-02 10:47] #4160 closed, assigned to nobody

[2021-05-02 10:52] senadir commented on #4156
Hi, I'm not able to reproduce this issue

<img width="750" alt="image" src="https://user-images.githubusercontent.com/6165348/116810628-bf409400-ab3c-11eb-9bcf-e07781d5cfae.png">

What do you mean by "when I use the WooCommerce Checkout block, the Stripe option is visible. So I know my Stripe settings are correct."

Can you provide a screen shot of when this is not working?

[2021-05-02 11:07] senadir commented on #4155
This also happens for the phone field.

[2021-05-02 20:07] paymentplugins commented on #4148
@nerrad Thank you for your time and for considering this request.

[2021-05-03 02:58] suze-it commented on #4156
This is a snapshot without using the new Blocks:
![OldCheckoutPageWithCreditCards](https://user-images.githubusercontent.com/83427163/116837590-ee2c2980-ab7f-11eb-9cf4-6f2f5e36a604.jpg)
See that the other credit card options are available.
Here is the page with the Blocks:
![NewCheckoutPage2](https://user-images.githubusercontent.com/83427163/116837660-33505b80-ab80-11eb-98cd-20faa6a894cc.jpg)
Onl

[2021-05-03 09:32] ralucaStan commented on #4154
Hi there @suze-it,
thank you for reaching out.

I was not able to reproduce your bug, so I need to know more details about your setup.
- What theme are you using?
- Does the shipping option name have `<del>` tags inside of it? You could check at `WooCommerce > Settings > Shipping`. If that's the case I recommend removing them to fix your issue.

[2021-05-03 10:20] senadir commented on #4156
Hey again, seeing that no one can reproduce this issue, can you disable the plugins that add `Gift Card` and `BLoyal` payment methods?

Can you also check your console to see if there are any errors logged there? [You can open the console by following this guide](https://balsamiq.com/support/faqs/browserconsole/#google-chrome).

[2021-05-03 11:16] Aljullu opened #4165 "Can't pay with a 3DS card after a card which causes a CVC failure"
After a credit card payment that produced a CVC failure error, it's not possible to retry the payment with a 3DS card.

## To reproduce

1. Go to the Checkout block.
2. Try to pay with the card number `4000000000000101`, it should fail (see [Stripe docs](https://stripe.com/docs/testing)).
3. Then, try to pay with a 3DS card (`4000002500003155`).

Expected:

4. It should open a modal to validate th

[2021-05-03 15:03] dfaligertwood commented on #3467
I've also come across this problem. IDK if it helps, but I noticed that the client-side javascript is running, is sending a get request with all the items selected:
[code]

but because it hasn't set a per_page setting, it is only receiving 10 items in response, and it isn't following the next page link. Might this be the source of the issue?

[2021-05-03 16:17] suze-it commented on #4156
I noticed these errors in the console... anything significant?  Those payment methods were disabled already in the snapshot I gave with the Blocks.  I'll see if re-enabling makes a difference...

![errors](https://user-images.githubusercontent.com/83427163/116902595-2bc89b00-abf0-11eb-9549-a3f1f641ba53.jpg)

[2021-05-03 16:26] suze-it commented on #4156
Re-enabling the other payment options didn't make a difference ... I'll look for more anomalies...

[2021-05-03 18:44] suze-it commented on #4154
I'm using Cakecious theme.  I checked those settings and there is no "del" tags in the name.  This snippit shows what the 'crossed out' description of mine means... it's visible here on the shopping cart.  On the checkout page it shows the "del" tags.

![cartlocalsnippit](https://user-images.githubusercontent.com/83427163/116917969-2ecd8680-ac04-11eb-8558-cdc3c22cb54c.jpg)

[2021-05-03 18:53] suze-it commented on #4154
I noticed that the debug code show the del tags in it...

![localpickupcode](https://user-images.githubusercontent.com/83427163/116919413-15c5d500-ac06-11eb-967d-4d6fe143607f.jpg)

[2021-05-04 05:49] suze-it commented on #4156
Hi.  I reverted to the version without the new Checkout Blocks and the Stripe credit cards worked.  Here's our temporary in-progress website:  ckb.itb.mybluehost.me.  This has the ugly old checkout element and not the nice new one.  I need to check something else out so if you'd like to take a look at it with the old checkout, it's there.  I will put it back to the new Checkout Block probably late

[2021-05-04 09:48] senadir commented on #4156
Hey, this is not probably not a Stripe settings issue but a conflict issue, can you please:
- Enable Checkout block on https://ckb.itb.mybluehost.me/checkout/
- Disable all other payment methods and only leave Stripe activated and enabled.

and I will look it up myself.

[2021-05-04 10:04] mikejolley commented on #4156
Can you post your full system status report; it's important we see what version/plugin for Stripe you are using since only this one is supported for Blocks  https://wordpress.org/plugins/woocommerce-gateway-stripe/

[2021-05-04 11:53] senadir commented on #4108
# Extension Audit Template

## Functionality Review

The plugins offers the ability to lock content from users and only grant it under certain conditions (buying a product, being in a list)...

This extension touches: *(mark all that apply)*

- [x] Product Grids (shop page)
  - [x] Product Details
  - [x] Product Prices
  - [x] Add to cart button
- [x] Single Product Pages
  - [x] Product Details

[2021-05-04 11:59] #4108 closed, assigned to senadir

[2021-05-04 13:12] mikejolley commented on #4149
Looks like this was just a comment, so thanks :) If you do have an issue to report, please open up a new one with the details.

Thanks!

[2021-05-04 13:12] #4149 closed

[2021-05-04 14:17] senadir commented on #4106
# Extension Audit Template

## Functionality Review

*Install and activate the extension, then going by the documentation, review it's frontend functionality focussing on how it influences products, cart, and the checkout.*

*Write a brief summary of the extension's functionality, *

This extension touches: *(mark all that apply)*

- [ ] Product Grids (shop page)
  - [ ] Product Details
  - [ ] Pr

[2021-05-04 14:17] #4106 closed, assigned to senadir

[2021-05-04 15:16] ralucaStan commented on #4117
# Extension Audit Template

## Functionality Review

All Products for WooCommerce Subscriptions is an add-on extension for WooCommerce Subscriptions that lets you add subscription plans in two store areas: product page and cart. It's an essential complement to WooCommerce Subscriptions that lets you:

- Add subscription plans to existing products. (read [Product Subscription Plans](https://docs.wo

[2021-05-04 15:16] #4117 closed, assigned to ralucaStan

[2021-05-04 17:37] parvnoor opened #4168 "Confirmation Emails are not sending"
## Describe the bug
When an order is made, no processing / new order or any other confirmation emails are sending. I have tried to deactive all plugins and use just woocommerce and the default woocommerce shortcode checkout, and emails send. I have SMTP set up, and have checked all required solutions such as double checking settings, removing any custom code, etc.

## To reproduce
To reproduce the

[2021-05-04 20:12] suze-it commented on #4156
@mikejolley I'm not sure how to get the full system status report that you'd like.  But I can tell you that Stripe for WooCommerce is the plugin that's installed... version 3.2.15.  That's not the same as the gateway stripe you mentioned.  I'll install that one and see how it goes.  Thanks!  Stay tuned.

@senadir I will go back to my website version with your Checkout Blocks to try the gateway str

[2021-05-05 06:57] suze-it commented on #4156
@mikejolley I installed the woocommerce gateway stripe and now the Stripe payment method is visible.  That plugin had a lot of bad reviews.  Also, is there a nice way to change the size of the payment method icons since the default seems to make them huge!

@senadir I removed the PayPal payment method and only left the stripe plugin method that Mike suggested.  There were lots of bad reviews on th

[2021-05-05 09:40] mikejolley commented on #4156
@suze-it If the icons are not styled by the theme, it can be done with some CSS I believe.

Glad we identified the issue. Perhaps the other Stripe plugin will get Blocks support in the future, but it's not affiliated with us so cannot say.

Thanks, I'm marking this closed.

[2021-05-05 09:41] #4156 closed, assigned to nobody

[2021-05-05 11:59] #4155 closed, assigned to nobody

[2021-05-05 15:17] gglobalstep opened #4173 "[GlobalStep][Mac] "Browse All" window starts jittering when user scrolls down and tries to add "Top rated products" after adding "All Products" block on Edit Page"
## Bug Description:
 "Browse All" window starts jittering when user scrolls down and tries to add "Top rated products" after adding "All Products" block on Edit Page

## Test Instructions:
Blocks 4.9.0- Remove deprecated shortcode save handling from SSR Blocks (#4010):
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/docs/testing/releases/490.md#remove-deprecated-shor

[2021-05-05 18:07] nerrad commented on #4173
On the surface I don't think this is an issue WooCommerce Blocks but something specific to Gutenberg. I'm not able to reproduce with the Google Chrome browser and with Safari I'm not getting the same as what's reported here but am seeing some slight jitter in other parts of the ui.

I think it's related to https://github.com/WordPress/gutenberg/issues/30803

[2021-05-05 18:07] #4173 closed, assigned to nobody

[2021-05-06 10:08] vivialice commented on #4159
Hey! I wanted to clarify something first - if you're using express checkout, do you need to use the checkout CTA? Or does it go to order confirmation when the payment is complete? @ricardo @nerrad

[2021-05-06 10:34] DorZuberi opened #4174 "GreenInvoice Payment Gateway Checkout Block Integration"
Hello,
I'm the developer of a a payment gateway for a client of mine, and he wishes me to add support for the Checkout Block.

I've went over the [following tutorial](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/docs/extensibility/payment-method-integration.md) and it won't work.

The error is:
[code]

The code is:
[code]

The plugin allows people to pay via Credi

[2021-05-06 10:41] mikejolley commented on #4154
Please post the report from WooCommerce > Status. This is almost certainly a plugin conflict because as far as I am aware, shipping costs are never "on sale", which the strike out indicates. I think something is filtering the display value for the cost.

[2021-05-06 10:52] mikejolley commented on #4168
Can you confirm the order status as shown in admin after the order is placed? And post the full status report from WooCommerce > Status for us here.

Testing locally I get both emails through (merchant and user), so I'm not certain what it could be in your case.

[2021-05-06 10:55] mikejolley commented on #4174
Hi there,

Looking over the tutorial, it does correctly specify that the content property be a React node:

The example you posted is using a `string`.

That tutorial has a full example a bit further down:

[code]

Notice the content property is passed a react node (div element) rather than a string. I think this is your issue :)

Hope that helps. I am marking this question closed.

[2021-05-06 10:55] #4174 closed, assigned to nobody

[2021-05-06 10:58] DorZuberi commented on #4174
Hi @mikejolley
Thanks for responding so quickly, i saw that it needs a React node, however i don't have any experience with React and when i copied the code like in the Cheque example it said the the `<` should be there, I understand it needs to go some kind of compilation, yet I don't know how, the tutorial is very basic.

[2021-05-06 11:13] mikejolley commented on #4174
@DorZuberi The tutorial assumes knowledge of React and doesn't cover the build process for using JSX. There is a top level API in react for creating elements (https://reactjs.org/docs/react-without-jsx.html).

@nerrad Any other resources to share here? Should we link to some from the tutorial?

[2021-05-06 11:15] DorZuberi commented on #4174
I'm mainly a backend developer and thus i don't deal with React, but I wish to give my client a solution, I think most developers would appreciate if you could create sample repository with bootstrap code.

[2021-05-06 11:28] nerrad opened #4175 "Create a sample repository (or scaffold tool) for various integrations using extension interfaces."
A useful tool for helping folks traditionally working more in the backend will be to have a repository that gives some examples of working with the new extension interfaces we build. We could alternatively create a scaffold tool (working similarly to the wc-admin one) that builds the example?

[2021-05-06 11:30] nerrad commented on #4174
Hi there @DorZuberi - it's great that you're working on addressing this for your client! As Mike mentioned the existing documentation here assumes some pre-requisite understanding for working with modern JavaScript, and React. One of the great things about React and JavaScript is there are a lot of tutorials around the internet that help teach concepts with working with them.  There's also [this d

[2021-05-06 11:48] nerrad commented on #4159
Goes to order confirmation when the payment is complete - the only exception is if there is an error, at which point the shopper would be placed back into the base checkout flow.

[2021-05-06 12:18] ralucaStan commented on #4112
# Extension Audit Template

## Functionality Review

Conditional Shipping and Payments gives the store owner a streamlined way to creating conditional rules and restrict:
- [Shipping Methods](https://docs.woocommerce.com/document/woocommerce-conditional-shipping-and-payments/#section-6)
- [Payment Gateways](https://docs.woocommerce.com/document/woocommerce-conditional-shipping-and-payments/#sectio

[2021-05-06 12:18] #4112 closed, assigned to ralucaStan

[2021-05-06 12:18] mikejolley commented on #4093
@vivialice I'm working through these changes. Related to this, on the cart block you'll notice the left area has no padding, but the totals area does:

![Screenshot 2021-05-06 at 12 57 00](https://user-images.githubusercontent.com/90977/117296900-7c006100-ae6d-11eb-861e-274f7a860062.png)

Should we make these consistent? It's more obvious now both sections have a heading (Total + Cart Totals).

[2021-05-06 12:27] parvnoor commented on #4168
Hey,

The order status is shown in the admin after an order is placed.

Here is the status report:
`
### WordPress Environment ###

WordPress address (URL): http://www.londontypewriters.co.uk
Site address (URL): http://www.londontypewriters.co.uk
WC Version: 5.2.2
REST API Version: ✔ 5.2.2
WC Blocks Version: ✔ 5.0.0
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 2.1.5
Log Directory Writable

[2021-05-06 12:39] mikejolley commented on #4093
Another issue/question regarding the order summary on checkout. Currently, this is toggled open on desktop but closed on mobile since it appears above the checkout form. Since the new design removes the toggle, how should we handle the handheld view here?

[2021-05-06 12:59] mikejolley commented on #4093
WIP branch for anyone picking this up https://github.com/woocommerce/woocommerce-gutenberg-products-block/compare/update/cart-sidebar-update-4093?expand=1

[2021-05-06 13:03] vivialice commented on #4159
Thanks for clarifying @nerrad! In that case, there are a few things I'd recommend doing.

Either way, the payment button(s) should be disabled so the payment process can't be disrupted. We can grey out the UI (how it is when the modal opens) and show the spinner over the buttons like in the Apple pay example or we can do a full overlay like on the old checkout when the cart is updated as demonstra

[2021-05-06 13:59] mikejolley commented on #4120
## Functionality Review

Amazon payment gateway. Note that I didn't setup credentials for this, I filled out the following based on docs and past experience of the extension.

This extension touches: *(mark all that apply)*

- [ ] Product Grids (shop page)
  - [ ] Product Details
  - [ ] Product Prices
  - [ ] Add to cart button
- [ ] Single Product Pages
  - [ ] Product Details
  - [ ] Product Pr

[2021-05-06 14:35] #4120 closed, assigned to nobody

[2021-05-06 14:47] strarsis opened #4177 "Unable to re-select featured category block"
## Describe the bug
It is not possible to reset the selected category of a featured category block, at least not in an obvious manner.
It is possible to select a new preview image though, but not the actually linked category - without removing the whole block and re-inserting it or manually editing the source.

## To reproduce
1. Insert a featured category block.
2. Select a category to be feature

[2021-05-06 16:58] ricardo commented on #4159
I think we don't have any existing pattern like that to reuse.

Yes. We display an error notice.

[2021-05-06 17:01] nerrad commented on #4159
Agreed.

Showing a spinner over the buttons would likely require payment methods to do themselves (which would hand over control for this state to payment methods). However I think it'd be better to keep control in the main checkout flow so doing an overlay _might_ be the way to go here. For reference, the overlay you were seeing is something Stripe itself adds as a part of the 3DS flow (not somet

[2021-05-06 20:04] suze-it opened #4178 "WooCommerce Stripe Payment Gateway makes payment icons huge in laptop view; fine in mobile and tablet view"
WooCommerce Checkout Blocks and Stripe Payment Gateway for some reason displays the payment credit card options "screen-wide", so huge!  The mobile and tablet view is set to 16px, so they are fine.

## To reproduce
Steps to reproduce the behavior:

1. Go to 'ckb.itb.mybluehost.me/shop'
2. Click on any products with "Select Options"
3. Add to Cart
4. View Cart
5. "Proceed to Checkout"
6. Click on "

[2021-05-06 20:28] suze-it commented on #4154
@mikejolley I don't know which report/log you are referring to.  Sorry, can you tell me exactly what I can post that will be helpful?  I think something is doing the filtering too.  It's weird since if "Local pickup" is NOT selected, the strike out does not appear.  It appears on both the cart and checkout pages.  This is what it looks like on the Checkout page with WooCommerce Checkout Blocks.

!

[2021-05-06 21:35] parvnoor commented on #4168
Hi guys,

To make this process much more simpler I have:

1)  Installed a fresh installation of Wordpress on Siteground.
2) Installed Woocommerce Blocks
3) Activated the storefront theme.
4) Added a product with no cost.
5) Ensured the admin email address has the same domain as the website being used.
6) Ordered a product.
7) No confirmation emails.

8) Deactivated WooCommerce Blocks
9) Removed Wo

[2021-05-07 09:16] ralucaStan commented on #4154
Hi @suze-it, about the System Status report, instructions on how to provide that can be found at this URL: https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/#section-1.

Do you also have a stagging site we could take a look at? If so, did you try disabling other extensions to see if the issue is still present?

[2021-05-07 10:00] ralucaStan commented on #4178
Hi @suze-it,
sorry to hear you are having issues with your icons.

it looks like the code that is changing the image sizes actually comes from `themes/cakecious/assets/css/themestyles.css`. As you can see in the image below I have disabled them and it works as expected:
<img width="1870" alt="Screenshot 2021-05-07 at 11 57 21" src="https://user-images.githubusercontent.com/1628454/117433168-7a956e

[2021-05-07 10:00] #4178 closed, assigned to nobody

[2021-05-07 10:55] opr commented on #4093
👋🏼 @vivialice, quick question about the Taxes section. If the merchant has the `Display tax totals` option set to `As a single total` then I guess we won't be displaying the individual rates below the main Taxes heading, but if they _do_ set it to `Itemized` shouldn't we be displaying the actual amount next to it?

| As a single item | Itemized |
|---|---|
|![image](https://user-images.githubuserc

[2021-05-07 11:12] vivialice commented on #4093
Hi @opr! Ah yes if there is the option to have itemized tax rates, then that second option is the way to go. I believe that `CA Sales tax` from the original concept is the name of the tax rate and I would want to include the percentage after it. I think in the case of the second example, we could also show the rate of VAT as a percentage next to it. ie. `VAT 20%`

[2021-05-07 11:33] vivialice commented on #4159
I'm not sure this is a C&C decision or something the Payments team wants to consider as part of their overall flow? I'm not opposed to implementing this but we do have a solution that works for now potentially (overlay option).

[2021-05-07 11:40] nerrad commented on #4159
Okay we'll go with implementing an overlay solution for cart and checkout blocks and see how that works.

[2021-05-07 14:06] nerrad opened #4181 "Audit Blocks for dependency on `unfiltered_html` capability attached to the user that inserts and saves content with the block (and work on alternatives)"
We have some blocks that add html to the `post_content` of a page or post that is stripped out by WordPress unless the user role has `unfiltered_html` capabilities. An example of a block doing this is the Product Search block.

This issue has the goal of accomplishing the following:

## Audit our blocks for which are affected.

A quick way to do this is to create a user with the "Author" WordPress

[2021-05-07 15:53] nerrad commented on #4168
I have a little more detail to add to this ticket.  It's _incorrect_ that **no notifications** are sent (at least in my testing), however I AM able to confirm this for at least the "New Order" notification under the following conditions:

1. Complete a purchase that totals $0.00 using the Woo Blocks checkout flow (by the way, it's just doing purchases using the blocks flow that reproduces this, it

[2021-05-07 20:39] #4048 closed, assigned to nerrad

[2021-05-07 20:39] github-actions[bot] opened #4183 "This data package differs from what is passed through in ..."
This data package differs from what is passed through in the checkout state context. Should we introduce a &quot;context&quot; property in the data package for this emitted event so that observers are able to know what context the event is firing in?

---
https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/c83b5cd42c166957aad2590d468da944e1cabde4/assets/js/base/context/provide

[2021-05-08 07:35] mikejolley commented on #4093
I think this has come up before, @opr note that woo core does not do this so some merchants will have (if they want it that way) the percent entered as the tax rate name. By forcing the percent to display in code, we remove this control. Cc @nerrad

[2021-05-08 18:46] suze-it commented on #4154
Hi @ralucaStan .  Thanks for the instructions on getting the status report.  Here it is.  My staging site is ckb.itb.mybluehost.me.  I'm still troubleshooting the cause.  Thank you for your help.

### WordPress Environment ###

WordPress address (URL): http://ckb.itb.mybluehost.me
Site address (URL): http://ckb.itb.mybluehost.me
WC Version: 5.2.2
REST API Version: ✔ 5.2.2
WC Blocks Version: ✔ 5.0.

[2021-05-09 09:22] ninetyninew commented on #891
not stale

[2021-05-09 12:03] senadir commented on #4174
I believe the API should be able to accept strings as well, I don't think the react requirement is needed here, glancing over BACs, cheque, and COD, they all use strings, I anticipate several plugins to be a simple redirect type of plugins where most of the work is done on the backend and the frontend simply redirects to the payment processer website.

This would skip the need for a build process

[2021-05-09 12:45] senadir commented on #4168
I was able to reproduce this under specific circumstances.

Locally, when checking out a $0.00, I get no notification at all (no store owner notification or customer notification).

When checking out a subscription product with a trial (a zero checkout with payment details still being captured), I get both emails.

Meaning this only happens when no payment is captured.

[2021-05-09 12:47] nerrad commented on #4168
I wonder if the shopper being logged in our out also makes a difference. In my testing I was logged in.

[2021-05-09 12:48] senadir commented on #4168
I also tested while logging in, I will try again while logged out.

[2021-05-09 13:05] nerrad commented on #4174
A build process isn't needed. The example above can be done with something like this:

[code]

I'm not closed to the idea of exploring whether we could accept strings in the API but I'd like to see how it complicates the internal logic where the property is used before committing to it.

Even though there are valid examples where only a string is needed, if the API was to accept a string here, the

[2021-05-09 13:15] senadir commented on #4174
I'd argue that `createElement( 'div', {}, 'Test1' ),` is not very intuitive as `Test1` (given that div is not needed here).

That would be part of the exploration, I still think it would be worthwhile.

That's a fair observation and something we can do with code examples.

I do understand this approach and support having the WordPress and WooCommerce community learn React, but integrating a paymen

[2021-05-09 23:28] nerrad commented on #4093
Based on what you wrote here Mike, that suggests the following options:

Option 1 -  Don't display the percentage rate separately. If merchant's want to add it, then they will need to manually add it to the name of the tax rate.
Option 2 - Display the tax rate separately as a percentage (which merchants won't be able to control the display of)
Option 3 - Same as Option 2, but add a block control s

[2021-05-10 08:06] opr commented on #4093
@mikejolley Thanks for thinking of this!

@nerrad - I've added this in 1eedd32be12e9026564e63762f3cfdbbcc490aa7 - I actually like option 3 here.

[2021-05-10 09:17] ghost commented on #3258
Any news about checkbox for privacy policy/accept the agreements! When can we have it? Thanks for answering

[2021-05-10 09:21] nerrad commented on #3258
@arxalustab I appreciate the anticipation for it, you can be assured you'll see an update in here when there's anything new to post about.  Some form of resolving this is in our roadmap, but there is still no ETA.

[2021-05-10 09:40] mikejolley commented on #4154
I see you're using some other rates like Table Rates - I wonder if the actual Local Pickup (dedicated) shipping method is being used here, or if it's setup as a table rate instead or similar? Perhaps a method which lets you input multiple costs per rate like weight based shipping?

[2021-05-10 09:53] mikejolley commented on #4093
Option 3 sounds good. Block level controls (or inner block level if we do that work!) would work well here. The itemised option would also be nice here but that's a global setting, unfortunately :)

[2021-05-10 10:17] mikejolley commented on #4113
## Functionality Review

Adds Google Analytics tracking to a variety of store and WP related events. Unlike our other GA extension, this one uses server-side hooks to track events, rather than just events on the frontend.

Looking through the list of tracked events, I picked out which ones could have implications for blocks:

- Viewed Product
- Clicked Product
- Added to Cart
- Removed from Cart
-

[2021-05-10 11:23] #4113 closed, assigned to mikejolley

[2021-05-10 11:45] mikejolley commented on #4105
## Functionality Review

Automated tax rates.

This extension touches: *(mark all that apply)*

- [ ] Product Grids (shop page)
  - [ ] Product Details
  - [ ] Product Prices
  - [ ] Add to cart button
- [ ] Single Product Pages
  - [ ] Product Details
  - [ ] Product Prices
  - [ ] Add to cart form
- [ ] My Account Page
- [x] Cart Page
  - [ ] Product prices
  - [ ] Product meta
  - [x] Cart tota